<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * @var \Magento\Payment\Block\Info $block
 * @see \Magento\Payment\Block\Info
 */
$specificInfo = $block->getSpecificInformation();
$title = $block->escapeHtml($block->getMethod()->getTitle());
$additional = $block->getInfo()->getOrder()->getPayment()->getAdditionalInformation(); 
$bank = (isset($additional["raw_details_info"])) ? $additional["raw_details_info"]["BANK"] : "";
?>
<dl class="payment-method">
    <dt class="title">
        <?php /* @noEscape */ echo $title; ?>
        <span class="bank-name"><?php echo $bank ?></span>
    </dt>
<?php if ($specificInfo):?>
    <dd class="content">
        <table class="data table">
            <caption class="table-caption"><?php /* @noEscape */ echo $title; ?></caption>
            <?php foreach ($specificInfo as $label => $value):?>
                <tr>
                    <th scope="row"><?php echo $block->escapeHtml($label)?></th>
                    <td>
                        <?php /* @noEscape */ echo nl2br($block->escapeHtml(implode("\n", $block->getValueAsArray($value, true))));?>
                    </td>
                </tr>
            <?php endforeach; ?>
        </table>
    </dd>
<?php endif;?>
</dl>
<?php echo $block->getChildHtml()?>
