<script>
    require([
        'jquery',
        'prototype',
    ], function(jQuery){

        jQuery('#<?php echo $block->getBlockId() ?>').click(function () {
            new Ajax.Request('<?php echo $block->getAjaxUrl() ?>', {
                // parameters: params,
                loaderArea: false,
                asynchronous: true,
                onCreate: function() {
                    //show loader
                    jQuery('.loading-mask').show();
                },
                onSuccess: function(response) {
                	require([
					    'Magento_Ui/js/modal/alert'
					], function(alert) {
                        if (response.responseJSON != null) {
                            alert({
                               title: response.responseJSON.status,
                               content: response.responseJSON.message,
                               autoOpen: true,
                               actions: {
                                   always: function(){}
                               }
                           });
                        }
					});

                	//hide loader
                	//show success message
                	jQuery('.loading-mask').hide();

                    // if error do not opening new tab
                    if (response.responseJSON == null) {
                        window.open('<?php echo $block->getAjaxUrl();?>', '_blank' );
                    }
                },
                onError: function() {
                    console.log('Export Error!');

                	jQuery('.loading-mask').hide();
                	alert({
                		title: 'Error',
		            	content: 'Something wrong happened. Please try again',
		            	actions: {
		            		always: function(){}
		            	}
		            });
                }
            });
        });

    });
</script>

<?php echo $block->getButtonHtml() ?>

<div class="loading-mask" data-role="loader" style="display: none">
   <div class="loader">
		<p><?php echo __('Please Wait..') ?></p>
   </div>
</div>
