<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<!-- ko if: (isVisible()) -->
<div class="shipping-information">
    <div class="ship-to">
        <div class="shipping-information-title">
            <span data-bind="i18n: 'Ship To:'"></span>
            <button class="action action-edit" data-bind="click: back">
                <span data-bind="i18n: 'edit'"></span>
            </button>
        </div>
        <div class="shipping-information-content">
            <!-- ko foreach: getRegion('ship-to') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
    </div>
    <div class="ship-via">
        <div class="shipping-information-title">
            <span data-bind="i18n: 'Shipping Method:'"></span>
            <button class="action action-edit" data-bind="click: backToShippingMethod">
                <span data-bind="i18n: 'edit'"></span>
            </button>
        </div>
        <div class="shipping-information-content">
            <i class="fa fa-truck"></i> <span class="value" data-bind="text: getShippingMethodTitle()"></span>
        </div>

        <div class="shipping-shopping-list">
            <!-- placeholder -->
           <!--  <div class="item">
                <div class="row">
                    <div class="col-md-4">
                        <div class="product-image">
                            <img src="http://placehold.it/150x150" alt="Product Name">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="product-details">
                            <div class="product-name">
                                <span>Product Name</span>
                            </div>
                            <div class="sku">
                                <span>SKU: 1112345BCD</span>
                            </div>
                            <div class="estimation-time">
                                <label>Quantity &amp; Estimasi Pengiriman</label>
                                <table class="table">
                                    <tr>
                                        <td>
                                            <span class="qty">70</span>
                                        </td>
                                        <td>
                                            <span class="time">2-3 hari kerja</span>
                                        </td>
                                        <td>
                                            <span class="notes">(Tambahan)</span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- placeholder -->
        </div>

    </div>
</div>


<!--/ko-->
