<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<li id="shipping" class="checkout-shipping-address" data-bind="fadeVisible: visible()">
    <div class="step-title" data-bind="i18n: 'Shipping Address'" data-role="title"></div>
    <div id="checkout-step-shipping"
         class="step-content"
         data-role="content">

        <!-- ko if: (!quoteIsVirtual) -->
            <!-- ko foreach: getRegion('customer-email') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        <!--/ko-->

        <!-- ko foreach: getRegion('address-list') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <!-- ko foreach: getRegion('address-list-additional-addresses') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <!-- Address form pop up -->
        <!-- ko if: (!isFormInline) -->
        <button type="button"
                data-bind="click: showFormPopUp, visible: !isNewAddressAdded()"
                class="button action primary action-show-popup">
            <span data-bind="i18n: 'New Address'"></span></button>


        <div id="opc-new-shipping-address" data-bind="visible: isFormPopUpVisible()">
            <!-- ko template: 'Magento_Checkout/shipping-address/form' --><!-- /ko -->
        </div>
        <!-- /ko -->

        <!-- ko foreach: getRegion('before-form') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <!-- Inline address form -->
        <!-- ko if: (isFormInline) -->
        <!-- ko template: 'Magento_Checkout/shipping-address/form' --><!-- /ko -->
        <!-- /ko -->
    </div>
</li>


<!--Shipping method template-->
<li id="opc-shipping_method"
    class="checkout-shipping-method"
    data-bind="fadeVisible: visible(), blockLoader: isLoading"
    role="presentation">
    <div class="checkout-shipping-method">

        <a href="" class="edit-cart-from-checkout">
            <i class="fa fa-edit" aria-hidden="true"></i> <span data-bind="i18n: 'Update Shopping Cart'"></span>
        </a>

        <div class="step-title" data-bind="i18n: 'Shipping Methods'" data-role="title"></div>
        <!-- ko foreach: getRegion('before-shipping-method-form') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->

        <!-- ko if: rates().length  >= 2 -->
        <div class="with-additional">
            <div class="notification">
                <div class="block-notification info">
                    <p>Jumlah stock untuk beberapa barang yang Anda pesan memerlukan waktu dan biaya pengiriman tambahan</p>
                </div>
            </div>

            <div class="additional-shipping">
                <p>Silahkan pilih dari detail berikut:</p>
                <div class="additional-shipping-details">
                    <div class="radio additional-items" dataval="withAdditional">
                        <input type="radio" name="additional_shipping">
                        <label>
                            <strong data-bind="i18n: 'Dengan Pengiriman Tambahan'"></strong><br>
                            <span data-bind="i18n: 'You will be charged for additional shipping fee, product shipped from different city.'"></span>
                        </label>
                    </div>
                    <div class="radio additional-items" dataval="noAdditional">
                        <input type="radio" name="additional_shipping" checked>
                        <label>
                            <strong data-bind="i18n: 'Tanpa Pengiriman Tambahan'"></strong><br>
                            <span data-bind="i18n: 'Product will be shipped in limited stock, you will NOT be charged for additional shipping fee.'"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <!-- /ko -->

        <div class="shipping-method-items">
            <div class="item">
                <div class="shipping">
                    <div id="checkout-step-shipping_method"
                         class="step-content"
                         data-role="content"
                         role="tabpanel"
                         aria-hidden="false">
                        <!-- ko if: rates().length  -->
                        <form class="form methods-shipping" id="co-shipping-method-form" data-bind="submit: setShippingInformation" novalidate="novalidate">
                            <div id="checkout-shipping-method-load">
                                <div class="table-checkout-shipping-method">
                                    <!--ko foreach: { data: rates(), as: 'method', afterRender: renderedFunc}-->
                                    <div class="shipping-options row" data-bind="click: $parent.selectShippingMethod">

                                            <div class="col-method col-md-4 pull-right">
                                                <div class="shipping-method">

                                                    <!-- ko ifnot: method.error_message -->
                                                        <!-- ko if: $parent.rates().length == 1 -->
                                                        <input class="radio selectMethod"
                                                               type="radio"
                                                               data-bind="attr: {
                                                                            checked: $parent.rates().length == 1,
                                                                            'value' : method.carrier_code + '_' + method.method_code,
                                                                            'id': 's_method_' + method.method_code,
                                                                            'aria-labelledby': 'label_method_' + method.method_code + '_' + method.carrier_code + ' ' + 'label_carrier_' + method.method_code + '_' + method.carrier_code
                                                                         }" />
                                                        <!-- /ko -->
                                                        <!--ko ifnot: ($parent.rates().length == 1)-->
                                                        <input type="radio"
                                                               data-bind="
                                                                        value: method.carrier_code + '_' + method.method_code,
                                                                        checked: $parent.isSelected,
                                                                        attr: {
                                                                            'id': 's_method_' + method.carrier_code + '_' + method.method_code,
                                                                            'dataval': method.carrier_code,
                                                                            'aria-labelledby': 'label_method_' + method.method_code + '_' + method.carrier_code + ' ' + 'label_carrier_' + method.method_code + '_' + method.carrier_code
                                                                        },
                                                                        click: $parent.selectShippingMethod"
                                                               class="radio selectMethod"/>
                                                        <!--/ko-->
                                                        <!-- /ko -->

                                                        <span data-bind="text: method.method_title, attr: {'id': 'label_method_' + method.method_code + '_' + method.carrier_code}"></span>
                                                        <span>
                                                            <!-- ko foreach: $parent.getRegion('price') -->
                                                            <!-- ko template: getTemplate() --><!-- /ko -->
                                                            <!-- /ko -->
                                                        </span>

                                                </div>
                                            </div>

                                            <div class="col-product col-md-8 pull-left">
                                            <!-- ko if: (method.carrier_code == 'acommerce') || (method.carrier_code == 'acommultiwarehouseshipping') -->
                                                <!--ko foreach: $parent.extractProduct(method.method_description) -->
                                                    <div class="product">
                                                        <div class="product-image">
                                                            <img data-bind="attr: {'src': product.image}" alt="" />
                                                        </div>
                                                        <div class="product-details">
                                                            <div class="product-name">
                                                                <span data-bind="text: product.name"></span>
                                                            </div>
                                                            <div class="sku">
                                                                <span data-bind="i18n: 'SKU: '"></span><span data-bind="text: product.sku"></span>
                                                            </div>
                                                            <div class="estimation-time">
                                                                <label data-bind="i18n: 'Quantity & Shipping Estimated'"></label>
                                                                <table class="table">
                                                                    <tbody>
                                                                        <!--ko foreach: infos -->
                                                                        <tr>
                                                                            <td>
                                                                                <span class="qty">
                                                                                    <span data-bind="i18n: 'Qty:'"> </span>
                                                                                    <span data-bind="text: qty"></span>
                                                                                </span>
                                                                            </td>
                                                                            <td>
                                                                                <span data-bind="i18n: 'Shipping Estimation'"> </span>
                                                                                <span class="time" data-bind="text: estimate"></span><span data-bind="i18n: 'day(s)'"></span>
                                                                            </td>
                                                                        </tr>
                                                                        <!-- /ko -->
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <!-- /ko -->
                                            <!-- /ko -->
                                            </div>


                                        </div>

                                        <!-- ko if:  method.error_message -->
                                        <div class="row row-error">
                                            <div class="col col-error" colspan="4">
                                                <div class="message error">
                                                    <div data-bind="text: method.error_message"></div>
                                                </div>
                                                <span class="no-display">
                                                    <input type="radio" data-bind="attr: {'value' : method.method_code, 'id': 's_method_' + method.method_code}"/>
                                                </span>
                                            </div>
                                        </div>
                                        <!-- /ko -->

                                    <!-- /ko -->

                                </div>
                            </div>

                            <div id="onepage-checkout-shipping-method-additional-load">
                                <!-- ko foreach: getRegion('shippingAdditional') -->
                                <!-- ko template: getTemplate() --><!-- /ko -->
                                <!-- /ko -->
                            </div>
                            <!-- ko if: errorValidationMessage().length > 0 -->
                            <div class="message notice">
                                <span><!-- ko text: errorValidationMessage()--><!-- /ko --></span>
                            </div>
                            <!-- /ko -->

                            <div class="actions-toolbar" id="shipping-method-buttons-container">
                                <div class="primary">
                                    <button data-role="opc-continue" type="submit" class="button action continue primary">
                                        <span><!-- ko i18n: 'Next'--><!-- /ko --></span>
                                    </button>
                                </div>
                            </div>

                        </form>
                        <!-- /ko -->
                        <!-- ko ifnot: rates().length > 0 --><div class="no-quotes-block"><!-- ko i18n: 'Sorry, no quotes are available for this order at this time'--><!-- /ko --></div><!-- /ko -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>
