<?php 
    $store = $block->getStore();
?>
<h3 class="appointment-title"><?php /* @escapeNotVerified */ echo __('Merchant Account Information') ?></h3>
<div class="wrp-accountinfo">
    <div class="row">
        <div class="col-md-12">
            <div class="iteminfo">
                <label><?php /* @escapeNotVerified */ echo __('Home Service') ?></label>
                <div class="">
                    <form action="?home_service_update=1" method="post">
                        <?php 
                        $isHomeService0 = (int)$this->getWarehouseAccount()->getHomeService() == 0 ? 'checked' : '';
                        $isHomeService1 = (int)$this->getWarehouseAccount()->getHomeService() == 1 ? 'checked' : '';

                        echo $block->getBlockHtml('formkey'); 
                        ?>
                        <input type="radio" name="home_service" value="0" <?php echo $isHomeService0; ?>> No
                        <input type="radio" name="home_service" value="1" <?php echo $isHomeService1; ?>> Yes
                        <button type="submit" name="save_home_service" class="btn btn-sm action primary" style="margin-left:20px">
                            <span><?php /* @escapeNotVerified */ echo __('Save Change') ?></span>
                        </button>
                    </form>
                </div>
            </div>
            <hr/>
        </div>
        <div class="col-md-6">
            <h4><?php /* @escapeNotVerified */ echo __('Account Information') ?></h4>
            <div class="iteminfo">
                <label><?php /* @escapeNotVerified */ echo __('Warehouse Name') ?></label>
                <div class="info-account">
                    <?php echo $this->getWarehouseAccount()->getTitle(); ?>
                </div>
            </div>
            <div class="iteminfo">
                <label><?php /* @escapeNotVerified */ echo __('Username(for login)') ?></label>
                <div class="info-account">
                    <?php echo $this->getWarehouseAccount()->getCode();?>
                </div>
            </div>
            <div class="iteminfo">
                <label><?php /* @escapeNotVerified */ echo __('Address') ?></label>
                <div class="info-account">
                    <?php echo $this->getWarehouseAccount()->getAddress();?>
                </div>
            </div>
            <div class="iteminfo">
                <label><?php /* @escapeNotVerified */ echo __('Zip/Postal Code') ?></label>
                <div class="info-account">
                    <?php echo $this->getWarehouseAccount()->getZip();?>
                </div>
            </div>
            <div class="iteminfo">
                <label><?php /* @escapeNotVerified */ echo __('City') ?></label>
                <div class="info-account">
                    <?php echo $this->getWarehouseAccount()->getCity();?>
                </div>
            </div>
            <div class="iteminfo">
                <label><?php /* @escapeNotVerified */ echo __('State') ?></label>
                <div class="info-account">
                    <?php echo $this->getWarehouseAccount()->getState();?>
                </div>
            </div>
            <div class="iteminfo">
                <label><?php /* @escapeNotVerified */ echo __('Country') ?></label>
                <div class="info-account">
                    <?php echo $this->getWarehouseAccount()->getCountry();?>
                </div>
            </div>
            <div class="iteminfo">
                <label><?php /* @escapeNotVerified */ echo __('Phone') ?></label>
                <div class="info-account">
                    <?php echo $this->getWarehouseAccount()->getPhone();?>
                </div>
            </div>
            <div class="iteminfo">
                <label><?php /* @escapeNotVerified */ echo __('Description') ?></label>
                <div class="info-account">
                    <?php echo $this->getWarehouseAccount()->getDescription();?>
                </div>
            </div>
        </div>
        <form action="<?php echo $store->getBaseUrl() . 'merchant/account/changepassword' ?>" method="POST">
            <div class="col-md-6">
                <p><strong></strong></p>
                <h4><?php /* @escapeNotVerified */ echo __('Change Email and Password') ?></h4>
                <div class="iteminfo">
                    <label><?php /* @escapeNotVerified */ echo __('Email') ?></label>
                    <div class="info-account">
                        <input type="text" name="email">
                    </div>
                </div>
                <div class="iteminfo">
                    <label><?php /* @escapeNotVerified */ echo __('Current Password') ?></label>
                    <div class="info-account">
                        <input type="password" name="current_password">
                    </div>
                </div>
                <div class="iteminfo">
                    <label><?php /* @escapeNotVerified */ echo __('New Password') ?></label>
                    <div class="info-account">
                        <input type="password" name="new_password">
                    </div>
                </div>
                <div class="iteminfo">
                    <label><?php /* @escapeNotVerified */ echo __('Confirm Password') ?></label>
                    <div class="info-account">
                        <input type="password" name="confirm_password">
                    </div>
                </div>               
            </div>
            <p><button type="submit" name="save" class="action submit primary"><span>
                <?php /* @escapeNotVerified */ echo __('Save') ?></span>
            </button></p>
        </form>
    </div>
</div>

