<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="block items-in-cart" data-bind="mageInit: {'collapsible':{'openedState': 'active', 'active': isItemsBlockExpanded()}}">
    <div class="title" data-role="title">
        <strong role="heading">
            <!-- ko if: maxCartItemsToDisplay < getCartLineItemsCount() -->
                <!-- ko text: maxCartItemsToDisplay --><!-- /ko -->
                <!-- ko i18n: 'of' --><!-- /ko -->
            <!-- /ko -->
            <span data-bind="text: getItemsQty()"></span>
            <!-- ko if: getCartLineItemsCount() == 1 -->
                <!-- ko i18n: 'Item in Cart' --><!-- /ko -->
            <!-- /ko -->
            <!-- ko if: getCartLineItemsCount() > 1 -->
                <!-- ko i18n: 'Items in Cart' --><!-- /ko -->
            <!-- /ko -->
        </strong>
    </div>
    <div class="content minicart-items" >
        <div class="minicart-items-wrapper overflowed">
            <ol class="minicart-items">
                <!-- ko foreach: items() -->
                <li class="product-item">
                    <div class="product">
                        <!-- ko foreach: $parent.elems() -->
                        <!-- ko template: getTemplate() --><!-- /ko -->
                        <!-- /ko -->
                    </div>
                </li>
                <!-- /ko -->
            </ol>
        </div>
    </div>
    <!-- ko if: maxCartItemsToDisplay < getCartLineItemsCount() -->
    <div class="actions-toolbar">
        <div class="secondary">
            <a class="action viewcart" data-bind="attr: {href: cartUrl}">
                <span data-bind="i18n: 'View and Edit Cart'"></span>
            </a>
        </div>
    </div>
    <!-- /ko -->
</div>
