<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2017 Amasty (https://www.amasty.com)
 * @package Amasty_Shopby
 */
?>
<?php /** @var \Amasty\Shopby\Block\Navigation\State $block */?>
<?php $_filters = $block->getActiveFilters() ?>
<?php if (!empty($_filters)): ?>
    <div class="filter-current" data-mage-init='{"collapsible":{"openedState": "active", "collapsible": true, "active": false }}'>
        <div class="filter-options-title"><?php /* @escapeNotVerified */ echo __('Your Filter') ?></div>
        <ol class="items">
            <?php foreach ($_filters as $_filter): ?>
                <?php $_filterSetting = $block->getFilterSetting($_filter->getFilter());?>
                <li class="item am_shopby_state_container">
                    <?php
                    $clearLinkUrl = $_filter->getClearLinkUrl();
                    $currentFilterName = $block->escapeHtml(__($_filter->getName())) . " " . $block->stripTags($_filter->getLabel());
                    if ($clearLinkUrl):
                        ?>
                        <a class="action previous" href="<?php /* @escapeNotVerified */ echo $_filter->getRemoveUrl() ?>"
                           title="<?php /* @escapeNotVerified */ echo __('Previous') ?>">
                            <span><?php /* @escapeNotVerified */ echo __('Previous') ?></span>
                        </a>
                        <a class="action remove"
                           title="<?php echo $block->escapeHtml($_filter->getFilter()->getClearLinkText()) ?>"
                           href="<?php /* @escapeNotVerified */ echo $clearLinkUrl ?>">
                            <span><?php echo $block->escapeHtml($_filter->getFilter()->getClearLinkText()) ?></span>
                        </a>
                    <?php else: ?>
                        <a class="action remove" href="<?php /* @escapeNotVerified */ echo $_filter->getRemoveUrl() ?>"
                           title="<?php /* @escapeNotVerified */ echo $block->escapeHtml(__('Remove')) . " " . $currentFilterName;?>">
                            <span><?php /* @escapeNotVerified */ echo __('Remove') ?></span>
                        </a>
                    <?php endif; ?>
                    <span class="filter-label"><?php echo $block->escapeHtml(__($_filter->getName())); ?></span>
                    <span class="filter-value"><?php /* @escapeNotVerified */

                        switch($_filterSetting->getDisplayMode())
                        {
                            case \Amasty\Shopby\Model\Source\DisplayMode::MODE_IMAGES:
                                echo $block->getSwatchHtml($_filter);
                                break;
                            case \Amasty\Shopby\Model\Source\DisplayMode::MODE_IMAGES_LABELS:
                                echo $block->getSwatchHtml($_filter, true);
                                break;
                            default:
                                echo $block->stripTags($_filter->getLabel());
                                break;
                        }
                    ?></span>
                </li>
            <?php endforeach; ?>
        </ol>
    </div>
<?php endif; ?>
