<div class="wrp-categoryname-search">
	<h4><?php /* @escapeNotVerified */ echo __('Your Current Choice') ?></h4>
	<a href="javascript:;" class="searchsparepart-link" data-fancybox="" data-src="#searchSparePart">
                            Change Options                        </a>
	<div class="categoryname-search">
	    <?php echo $this->getLayout()->getBlock('breadcrumbs')->toHtml(); ?>
	</div>
</div>