<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>

<div class="columns"><div class="column main"><input name="form_key" type="hidden" value="WNo5lo8oRzQv5Tt3"><div id="authenticationPopup" data-bind="scope:'authenticationPopup'" style="display: none;">
    <script>
        window.authenticationPopup = {"customerRegisterUrl":"http:\/\/a.astra.local\/customer\/account\/create\/","customerForgotPasswordUrl":"http:\/\/a.astra.local\/customer\/account\/forgotpassword\/","baseUrl":"http:\/\/a.astra.local\/"};
    </script>
    <!-- ko template: getTemplate() -->



<!-- /ko -->
    
</div>




<i class="fa fa-exclamation-circle fa-5x" aria-hidden="true" style="color: #ed1b24"></i>
<h1 class="page-title">
    MAAF..<br>
    HALAMAN TIDAK DITEMUKAN
</h1>
<p>
    Halaman yang Anda cari tidak ditemukan atau telah dihapus.<br>
    Periksa kembali link yang anda ketik, atau kembali ke <a href="/" style="font-weight: 500;">halaman home</a>
</p>

<style type="text/css">

    body .columns .column.main {
        text-align: center;
        margin-top: 20px;
        padding-top: 40px;
    }

</style>
</div>
</div>

<div class="checkout-success failure">
    <div class="success-section">
        <div class="success-section-content center">
            <div class="span-container">
                <!-- <span class="icon"><i class="fa fa-frown-o"></i></span> -->
                <h2><?php echo __('Sorry, something went wrong');?></h2>
            </div>
            <span class="content">
				
				<p><?php echo __("We couldn't process your order due to something happen while processing your order.");?></p>


            	<?php if ($error = $block->getErrorMessage()) : ?><p><?php /* @escapeNotVerified */ echo $error ?></p><?php endif ?>
            	<p><?php /* @escapeNotVerified */ echo __('<a href="%1">Click here to continue shopping</a>', $block->escapeUrl($block->getContinueShoppingUrl())) ?> <i class="fa fa-caret-right"></i></p>
            </span>
        </div>
    </div>
</div>



