<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2017 Amasty (https://www.amasty.com)
 * @package Amasty_MultiInventory
 */
?>
<?php

/** @var \Amasty\MultiInventory\Block\Adminhtml\Warehouse\AssignWarehouses $block */

/** @var \Amasty\MultiInventory\Block\Adminhtml\Warehouse\Tab\Warehouse $blockGrid */
$blockGrid = $block->getBlockGrid();
$gridJsObjectName = $blockGrid->getJsObjectName();
?>
<?php  echo $block->getGridHtml(); ?>
<input type="hidden" name="product[warehouses]" id="in_warehouses" data-form-part="product_form" value="" />
<script type="text/x-magento-init">
    {
        "*": {
            "Amasty_MultiInventory/js/warehouse/product/assign-warehouses": {
                "selectedWarehouses": <?php /* @escapeNotVerified */ echo $block->getProductsJson(); ?>,
                "gridJsObjectName": <?php /* @escapeNotVerified */ echo '"' . $gridJsObjectName . '"' ?: '{}'; ?>,
                   "disableId": <?php /* @escapeNotVerified */ echo  $block->helper->getDefaultId() ?>,
                   "available" : <?php /* @escapeNotVerified */ echo  $block->isAvailable() ?>
            }
        }
    }
</script>
<!-- @todo remove when "UI components" will support such initialization -->
<script>
    require('mage/apply/main').apply();
</script>
