<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title><?php echo $this->pageTitle?></title>
    <base href="<?php echo $this->getViewFileUrl()?>" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="robots" content="*"/>
    <link rel="stylesheet" href="/pub/errors/aop/css/styles.css" type="text/css" />
    <link rel="icon" href="/pub/errors/aop/images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/pub/errors/aop/images/favicon.ico" type="image/x-icon" />
</head>
<body>
    <main class="page-main">
        <?php require_once $contentTemplate; ?>
    </main>
</body>
</html>
