<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/* @var \Magento\Wishlist\Model\Item $item */
$item = $block->getItem();
$product = $item->getProduct();
$id = $product->getEntityId();
$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$data = $objectManager->create('Magento\Catalog\Model\Product')->load($id);

?>
<div class="product-item-description">
    <?php if ($templateType): ?>
        <?php echo $block->getReviewsSummaryHtml($product, $templateType, true) ?>
    <?php endif; ?>
    <div class="product-description">
		<?php echo $data->getData('short_description'); ?>
	</div>
</div>