
<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()" />
        <label data-bind="attr: {'for': getCode()}" class="label"><span data-bind="text: getTitle()"></span></label>
    </div>

    <div class="payment-method-content rk1">

        <div class="payment-instruction">
            <div data-bind="html: getPaymentInstruction()"></div>
        </div>

        <div id="isntallment" data-bind="if: issActiveInstallment">
            <form id="installment-form" action="" method="post">
                <div class="field">
                    <label for="customer_bank" class="label" id="customer-bank-label"><span data-bind="i18n: 'Please select bank for installment'"></span></label>
                    <div if="getInstallmentBankList"
                         class="control-option">
                        <div id="customer-bank-virtual"></div>
                        <select class="select" id="customer_bank" name="customer_bank" data-bind="event: {change : getTennorList}">
                            <option value="" selected="selected" data-bind="i18n: '-- Please select bank --'"></option>
                            <!-- ko foreach: getInstallmentBankList() -->
                            <option data-bind="value: $data, text: $data"></option>
                            <!--/ko-->
                        </select>
                        <ul if="getInstallmentBankList"
                            class="customer-bank-options-virtual">
                            <!-- ko foreach: getInstallmentBankList() -->
                            <li data-bind="'css' : $data, text: $data"></li>
                            <!--/ko-->
                        </ul>
                    </div>
                </div>
                <div class="field" id="tennor">
                    <label for="tennor_list" class="label" id="tennor-list-label"><span data-bind="i18n: 'Please select tennor'"></span></label>
                </div>
            </form>
        </div>

        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="checkout-agreements-block">
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout dokuhosted-submit-payment"
                        type="submit"
                        data-bind="click: placeOrder, enable: (getCode() == isChecked())">
                    <span data-bind="i18n: 'Place Order & Pay'">Place Order & Pay</span>
                </button>
            </div>
        </div>
    </div>
</div>