<?php
$form = $this->getFormData();
$isMobile = $form['ISMOBILE'];
unset($form['ISMOBILE']);
?>

<?php if ($isMobile): ?>
    <style type="text/css" scoped>
        header { 
            display : none; 
        } 
        footer {
            display : none; 
        }
        p { 
            text-align: center;
        }
    </style>
<?php endif; ?>

<?php if (count($form) > 0): ?>
    <br>
        <p>
            <b>Please wait, Loading secure payment page ... </b>
        </p>
    <br>
    <form name="onecheckout" id="onecheckout_place_form" action="<?php echo $form['URL']; ?>" method="POST">
        <?php foreach ($form as $name => $value): ?>
            <?php if ($name !== 'URL'): ?>
                <input type="hidden" name="<?php echo $name; ?>" value="<?php echo $value; ?>"/>
            <?php endif; ?>
        <?php endforeach; ?>
    </form>

    <script type="text/javascript">
        var paymentform = document.getElementById('onecheckout_place_form');
        window.onload = paymentform.submit();
    </script>

<?php else: ?>
    <br>
        <p>
            <b>Sorry, Payment error </b>
        </p>
    <br>
<?php endif; ?>