<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Catalog\Block\Product\View */
?>
<?php
$_product = $block->getProduct();
$help = $this->helper('Acommerce\AppointmentFrontend\Helper\Data');
$services = $help->getProductAppointment($_product->getId());

$om = \Magento\Framework\App\ObjectManager::getInstance();
$storeUrl = $om->get('\Magento\Store\Model\StoreManagerInterface')->getStore()->getBaseUrl();
$regionsOption = '';
$cityOption = '';
$addressOption = '';
$regionNames = [];
$hoursOption = '';
$count = $services->count();
$qty = (int)$services->getFirstItem()->getAvailableQty();// total qty per-warehouse
foreach ($services as $val) {
    $regionNames[] = $om->create('Magento\Directory\Model\Region')->loadByName($val->getState(), $val->getCountry())->getDefaultName();
}
$regionNames = array_unique($regionNames);

foreach ($regionNames as $regionName) {
    if (empty($regionName)) continue;

    $regionsOption .= sprintf('<option value="%s">%s</option>', $regionName, $regionName);
}

foreach ($services as $service) {
    if (empty($service->getCity())) continue;
    if (empty($service->getAddress())) continue;

    $cityOption .= sprintf('<option value="%s">%s</option>', $service->getCity(), $service->getCity());
    $addressOption .= sprintf('<option value="%s">%s</option>', $service->getAddress(), $service->getAddress());

    if (!empty($service->getFromHour()) || empty(!$service->getToHour())) {
        $hours = $service->getFromHour().' - '.$service->getToHour();
        $hoursOption .= sprintf('<option value="%s">%s</option>', $hours, $hours);
    }
}
?>

<script>
require(['jquery', 'jquery/ui'], function($){
    var maxQty = <?php echo (int)$qty; ?>;
    var availableQty = <?php echo (int)$qty; ?>;
    var hitAppend = 2;

    var ap_region = '';
    var ap_city = '';
    var ap_address = '';
    var ap_hours = '';
    var ap_slot = '';
    var ap_mechanic_come_to_home = 0;
    var home_service = 0;

    $("#qty").keypress(function (evt) {
        evt.preventDefault();
    });

    $(document).keydown(function(e) {
        var elid = $(document.activeElement).hasClass('input-text qty');
        console.log(e.keyCode + ' && ' + elid);
        if (e.keyCode === 8 && !elid) {
            return false;
        };
    });

    $('#append-ap-book').click(function(){
        //if (hitAppend >= maxQty) return;
        $('.append-1 select').each(function() {
            if($(this).hasClass('select2-hidden-accessible')) {
                $(this).select2('destroy'); // Remove select2 before append
            }
        })

        var addAppointment = $("<div class='appointment-book-qty append-"+hitAppend+"'><p><strong><?php echo __('Tentukan Tempat dan Jadwal #') ?>"+hitAppend+"</strong></p>"+$( "#appointment-book-qty" ).html()+"</div>");

        $('#available-qty').val(hitAppend);
        $("#appointment-book").append(addAppointment).each(function() {
            $('.appointment-where').on('change', function() {
                var parentClass = $(this).closest('.appointment-book-qty');
                var selectClass = parentClass.find('.appointment-where');
                if (! parentClass.hasClass('append-1')) {
                    selectClass.prop('checked', true);
                    selectClass.closest('li').addClass('active');
                    selectClass.not(this).prop('checked', false);
                    selectClass.not(this).closest('li').removeClass('active');
                }
            });

            $('.append-'+hitAppend+' input[name="slot_name[]"]').val('');
            $('.append-'+hitAppend+' input[name="whs_id[]"]').val('');

            $('.append-'+hitAppend+' .ap-region').select2({
                placeholder: "<?php echo __('Please select region') ?>"
            });
        });

        // Apply select2 again after append
        $('.append-1 select').each(function() {
            if($(this).is(':visible')) {
                if($(this).hasClass('ap-region')) {
                    $(this).select2({
                        placeholder: "<?php echo __('Please select region') ?>"
                    });
                } else if ($(this).hasClass('ap-city')) {
                    $(this).select2({
                        placeholder: "<?php echo __('Please select city') ?>"
                    });
                } else if ($(this).hasClass('ap-address')) {
                    $(this).select2({
                        minimumResultsForSearch: Infinity,
                        placeholder: "<?php echo __('Please select address') ?>"
                    });
                } else if ($(this).hasClass('ap-hours')) {
                    $(this).select2({
                        minimumResultsForSearch: Infinity,
                        placeholder: "<?php echo __('Please select hour') ?>"
                    });
                }
            }
        })

        $('.append-'+hitAppend+' .ap-city, .append-'+hitAppend+' .ap-address, .append-'+hitAppend+' .ap-date, .append-'+hitAppend+' .ap-hours').hide();

        hitAppend++;
    });

    $('#remove-ap-book').click(function(){
        //console.log('remove append-'+hitAppend);
        hitAppend--;
        // reset
        if (hitAppend <= 1) hitAppend = 2;
        $('.appointment-book-qty.append-'+hitAppend).remove();
    });

    $('body').on('change','#appointment-book select[name="region[]"]',function(){
        var el = $(this).closest('.appointment-book-qty');
        $('.mage-error').remove();
        loadByRegion(el);
    });
    $('body').on('change','#appointment-book select[name="city[]"]',function(){
        var el = $(this).closest('.appointment-book-qty');
        loadByCity(el);
    });

    $('body').on('change','#appointment-book select[name="address[]"]',function(){
        var el = $(this).closest('.appointment-book-qty');
        $('.mage-error').remove();
        loadByAddress(el);
        loadBySlot(el);
        loadByHoliday(el);
    });
    $('body').on('change','#appointment-book select[name="ap_hours[]"]',function(){
        var el = $(this).closest('.appointment-book-qty');
        $('.mage-error').remove();
        loadBySlot(el);
    });
    // e:onchange option location

    // change tab home service or not
    $('body').on('click','#appointment-book input[name="mechanic_come_to_home[]"]',function(){
        var el = $(this).closest('.appointment-book-qty');
        home_service = $(this).val();
        $('.mage-error').remove();
        $(el).find('input[name="home_service[]"]').val(home_service);
        loadByRegion(el);
    });

    function loadByRegion(el) {
        ap_region = $(el).find('.ap-region').val();
        ap_city = $(el).find('.ap-city').val();
        ap_address = $(el).find('.ap-address').val();
        home_service = $(el).find('input[name="home_service[]"]').val();

        $.ajax({
            type: 'post',
            url: '<?php echo $storeUrl;?>pdp/appointment/byregion',
            data: { product_id: <?php echo $_product->getId(); ?>, region: ap_region , city: ap_city, address: ap_address,home_service: home_service },
            showLoader: true
        }).done(function(resp){
            $(el).find('.ap-city').html(resp);
            $(el).find('.ap-city').fadeIn();
            $(el).find('.ap-city').select2({
                placeholder: "<?php echo __('Please select city') ?>"
            });
            if($(el).find('.ap-address').hasClass('select2-hidden-accessible')) {
                $(el).find('.ap-address').select2('destroy');
            }
            if($(el).find('.ap-hours').hasClass('select2-hidden-accessible')) {
                $(el).find('.ap-hours').select2('destroy');
            }
            $(el).find('.ap-address').html('');
            $(el).find('.ap-address').hide();
            $(el).find('.ap-date').hide();
            $(el).find('.ap-hours').html('');
            $(el).find('.ap-hours').hide();
        }).fail(function(e) {
            alert( "error: please try again. ");
        }).always(function() {
            //alert( "complete" );
        });
    }

    function loadByCity(el) {
        ap_region = $(el).find('.ap-region').val();
        ap_city = $(el).find('.ap-city').val();
        ap_address = $(el).find('.ap-address').val();
        home_service = $(el).find('input[name="home_service[]"]').val();

        $.ajax({
            type: 'post',
            url: '<?php echo $storeUrl;?>pdp/appointment/bycity',
            data: {
                product_id: <?php echo $_product->getId(); ?>,
                region: ap_region,
                city: ap_city,
                address: ap_address,
                home_service: home_service
            },
            showLoader: true
        }).done(function(resp){
            $(el).find('.ap-address').html(resp);
            $(el).find('.ap-address').fadeIn();
            $(el).find('.ap-address').select2({
                placeholder: "<?php echo __('Please select address') ?>"
            });
            if($(el).find('.ap-hours').hasClass('select2-hidden-accessible')) {
                $(el).find('.ap-hours').select2('destroy');
            }
            $(el).find('.ap-date').hide();
            $(el).find('.ap-hours').hide();
        }).fail(function(e) {
            alert( "error: please try again.");
        }).always(function() {
            //alert( "complete" );
        });
    }

    function loadByAddress(el) {
        ap_region = $(el).find('.ap-region').val();
        ap_city = $(el).find('.ap-city').val();
        ap_address = $(el).find('.ap-address').val();
        home_service = $(el).find('input[name="home_service[]"]').val();

        $.ajax({
            type: 'post',
            url: '<?php echo $storeUrl;?>pdp/appointment/byaddress',
            data: { product_id: <?php echo $_product->getId(); ?>, region: ap_region , city: ap_city, address: ap_address, home_service: home_service },
            showLoader: true
        }).done(function(resp){
            $(el).find('.ap-date').fadeIn();
            $(el).find('.ap-hours').html(resp);
            $(el).find('.ap-hours').fadeIn();
            $(el).find('.ap-hours').select2({
                placeholder: "<?php echo __('Please select hour') ?>"
            });
        }).fail(function(e) {
            alert( "error: please try again.");
        }).always(function() {
            //alert( "complete" );
        });
    }
    function loadBySlot(el) {
        ap_region = $(el).find('.ap-region').val();
        ap_city = $(el).find('.ap-city').val();
        ap_address = $(el).find('.ap-address').val();
        ap_hours = $(el).find('.ap-hours').val();
        home_service = $(el).find('input[name="home_service[]"]').val();

        $.ajax({
            type: 'post',
            url: '<?php echo $storeUrl;?>pdp/appointment/byslot',
            data: { product_id: <?php echo $_product->getId(); ?>, region: ap_region , city: ap_city, address: ap_address, hours: ap_hours, home_service: home_service },
            dataType: 'json',
            showLoader: true
        }).done(function(resp){
            $.each(resp, function(respkey, respval) {
                $(el).find('input[name="slot_name[]"]').val(respval.slot_name);
                $(el).find('input[name="whs_id[]"]').val(respval.whs_id);
            });
            // $('#appointment-hidden').append(resp);
        }).fail(function(e) {
            alert( "error: please try again.");
        }).always(function() {
            //alert( "complete" );
        });
    }
    function loadByHoliday(el) {
        var whs_id = $(el).find('input[name="whs_id[]"]').val();

        $.ajax({
            type: 'post',
            url: '<?php echo $storeUrl;?>pdp/appointment/byholiday',
            data: { product_id: <?php echo $_product->getId(); ?>, whs_id: whs_id },
            showLoader: true
        }).done(function(resp){
            //response
            console.log(resp);
        }).fail(function(e) {
            alert( "error: please try again. ");
        }).always(function() {
            //alert( "complete" );
        });
    }
    availableQty = availableQty - hitAppend;
});
</script>

<?php $buttonTitle = __('Add to Cart'); ?>
<?php if ($_product->isSaleable()): ?>
<div class="box-tocart">
    <div class="fieldset">
        <?php if ($block->shouldRenderQuantity()): ?>
        <div class="field qty">
            <div class="control">
                <span class="increment-qty left increment">-</span>
                <input type="number"
                       name="qty"
                       id="qty"
                       maxlength="12"
                       readonly
                       value="<?php /* @escapeNotVerified */ echo $block->getProductDefaultQty() * 1 ?>"
                       title="<?php /* @escapeNotVerified */ echo __('Qty') ?>" class="input-text qty"
                       data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"
                       />
                <span class="increment-qty right increment">+</span>
            </div>

            <script type="text/javascript">
                require([ 'jquery', 'jquery/ui'], function($){ $(document).ready(function($) {

                    jQuery('.increment-qty').click(function(){
                        oldVal = jQuery(this).parent().find('input').val();

                        if (jQuery(this).text() == '+') {
                            var newVal = parseFloat(oldVal) + 1;
                        } else {
                            if (oldVal > 1) {
                                var newVal = parseFloat(oldVal) - 1;
                            } else {
                                newVal = 1;
                            }
                        }
                        jQuery(this).parent().find('input').val(newVal);
                    });
                }); });
            </script>
        </div>
        <?php endif; ?>

        <div class="actions">
            <button type="submit"
                    title="<?php /* @escapeNotVerified */ echo $buttonTitle ?>"
                    class="action primary tocart"
                    id="product-addtocart-button">
                <span><?php /* @escapeNotVerified */ echo $buttonTitle ?></span>
            </button>
            <?php echo $block->getChildHtml('', true) ?>
        </div>
    </div>

</div>

<?php endif; ?>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/product/view/validation": {
                "radioCheckboxClosest": ".nested"
            }
        }
    }
</script>
<?php if (!$block->isRedirectToCartEnabled()) : ?>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "catalogAddToCart": {
                "bindSubmit": false
            }
        }
    }
</script>
<?php endif; ?>
