<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product view template
 *
 * @var $block \Magento\Catalog\Block\Product\View
 */
?>
<?php $_helper = $this->helper('Magento\Catalog\Helper\Output'); ?>
<?php
$_product = $block->getProduct();
$om = \Magento\Framework\App\ObjectManager::getInstance();
$res = $om->create('Magento\Checkout\Model\Session');
?>

<div class="product-add-form">
    <form action="<?php /* @escapeNotVerified */ echo $block->getSubmitUrl($_product) ?>" method="post"
          id="product_addtocart_form"<?php if ($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
        <input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $_product->getId() ?>" />
        <input type="hidden" name="selected_configurable_option" value="" />
        <input type="hidden" name="related_product" id="related-products-field" value="" />
        <?php echo $block->getBlockHtml('formkey')?>
        <?php echo $block->getChildHtml('form_top'); ?>
        <?php if (!$block->hasOptions()):?>
            <?php echo $block->getChildHtml('product_info_form_content'); ?>
        <?php else:?>
            <?php if ($_product->isSaleable() && $block->getOptionsContainer() == 'container1'):?>
                <?php echo $block->getChildChildHtml('options_container') ?>
            <?php endif;?>
        <?php endif; ?>

        <?php if ($_product->isSaleable() && $block->hasOptions() && $block->getOptionsContainer() == 'container2'):?>
            <?php echo $block->getChildChildHtml('options_container') ?>
        <?php endif;?>
        <?php echo $block->getChildHtml('form_bottom'); ?>

        <?php
        $help = $this->helper('Acommerce\AppointmentFrontend\Helper\Data');
        $services = $help->getProductAppointment($_product->getId());

        $om = \Magento\Framework\App\ObjectManager::getInstance();
        $regionsOption = '';
        $cityOption = '';
        $addressOption = '';
        $regionNames = [];
        $hoursOption = '';
        $count = $services->count();
        $qty = (int)$services->getFirstItem()->getAvailableQty();// total qty per-warehouse
        foreach ($services as $val) {
            $regionNames[] = $om->create('Magento\Directory\Model\Region')->loadByName($val->getState(), $val->getCountry())->getDefaultName();
        }
        $regionNames = array_unique($regionNames);

        foreach ($regionNames as $regionName) {
            if (empty($regionName)) continue;

            $regionsOption .= sprintf('<option value="%s">%s</option>', $regionName, $regionName);
        }
        ?>
        <!--appointment-->
        <div id="appointment-book" class="appointment-book">
            <p><strong><?php /* @escapeNotVerified */ echo __('Tentukan Tempat dan Jadwal') ?></strong></p>
            <div class="appointment-book-qty append-1" id="appointment-book-qty">
                <?php
                /*
                mechanic_come_to_home:
                0 => Saya datang ke Bengkel
                1 => Montir datang ke Rumah
                */
                ?>
                <ul class="appointment-tab <?php //if($_product->getAttributeText('home_service') == 'No'): ?><?php //endif; ?>">
                    <li class="active">
                        <label>
                            <input type="checkbox" name="mechanic_come_to_home[]" class="appointment-where" value="0" checked> Saya datang ke Bengkel
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox" name="mechanic_come_to_home[]" class="appointment-where" value="1"> Montir datang ke Rumah
                        </label>
                    </li>
                </ul>
                <ul class="appointment-form">
                    <li>
                        <select name="region[]" class="ap-region" id="ap-region" data-validate="{required:true}">
                            <option value=""><?php /* @escapeNotVerified */ echo __('Please select region') ?></option>
                            <?php echo $regionsOption;?>
                        </select>
                    </li>
                    <li>
                        <select name="city[]" class="ap-city" id="ap-city" data-validate="{required:true}"></select>
                    </li>
                    <li>
                        <select name="address[]" class="ap-address" id="ap-address" data-validate="{required:true}"></select>
                    </li>
                    <li class="appointment-timeslot">
                        <input type="date" name="ap_date[]" class="ap-date" id="ap-date" value="" data-validate="{required:true}">
                        <select name="ap_hours[]" class="ap-hours" id="ap-hours" data-validate="{required:true}"></select>
                    </li>
                </ul>
                <div id="appointment-hidden" class="appointment-hidden">
                    <input type="hidden" name="slot_name[]" value="">
                    <input type="hidden" name="whs_id[]" value="">
                    <input type="hidden" name="home_service[]" value="0">
                </div>
                <?php /*eof:append loadmere*/ ?>
            </div>
        </div>
        <!--//appointment-->
    </form>

    <div class="actions">
        <button type="submit"
                title="<?php /* @escapeNotVerified */ echo __('Buy Now') ?>"
                class="action primary tocart-clone">
            <span><?php /* @escapeNotVerified */ echo __('Buy Now') ?></span>
        </button>
    </div>
</div>
<script>
    require([
        'jquery',
        'priceBox',
        'js/select2.min'
    ], function($){
        var dataPriceBoxSelector = '[data-role=priceBox]',
            dataProductIdSelector = '[data-product-id=<?php echo $block->escapeHtml($_product->getId())?>]',
            priceBoxes = $(dataPriceBoxSelector + dataProductIdSelector);

        priceBoxes = priceBoxes.filter(function(index, elem){
            return !$(elem).find('.price-from').length;
        });

        priceBoxes.priceBox({'priceConfig': <?php /* @escapeNotVerified */ echo $block->getJsonConfig() ?>});

        jQuery('.tocart-clone').on('click', function() {
            var appointmentCount = $('.appointment-book-qty').length;
            $('.input-text.qty').val(appointmentCount);
            jQuery('#product-addtocart-button').click();
        });

        jQuery('.append-1 .appointment-where').on('change', function() {
            jQuery(this).prop('checked', true);
            jQuery(this).attr('checked', 'checked');
            jQuery(this).closest('li').addClass('active');
            jQuery('.append-1 .appointment-where').not(this).prop('checked', false);
            jQuery('.append-1 .appointment-where').not(this).removeAttr('checked');
            jQuery('.append-1 .appointment-where').not(this).closest('li').removeClass('active');
        })

        jQuery('.append-1 .ap-region').select2({
            placeholder: "<?php echo __('Please select region') ?>"
        })
        jQuery('.append-1 .ap-city, .append-1 .ap-address, .append-1 .ap-date, .append-1 .ap-hours').hide();
    });
</script>
