@media screen and (min-width: 1339px) {
	.landing-page-container.container-fluid {
		max-width: 1150px;
	}
}

.field {
	.label {
		color: @c-text;
		font-size: 1em;
	}
}

@media screen and (min-width: 768px) {
	body {
		.font-rubik(300);
		color: @c-text;
		font-size: 12px;
		line-height: 1.8em;
	}

	.page-wrapper {
		min-height: initial !important;
	}

	._keyfocus *:focus,
	input:not([disabled]):focus,
	textarea:not([disabled]):focus,
	select:not([disabled]):focus {
		box-shadow: none;
	}

	input[type="radio"], input[type="checkbox"] {
		margin: 0;
	}

	//navigation
	.sections.nav-sections {
		margin-bottom: 0;
		.navigation {
			background: @c-white;
			text-align: center;
			height: 80px;
			line-height: 84px;
			.ui-menu {
				> .level0 {
					font-size: 1.5em;
				}
			}
			.level0 {
				> .level-top {
					color: @c-text;
				}
			}
			.level-top {
				a {
					span {
						text-transform: uppercase;
					}
				}
			}
		}
	}

	input[type="text"],
	input[type="password"],
	input[type="url"],
	input[type="tel"],
	input[type="search"],
	input[type="number"],
	input[type="datetime"],
	input[type="email"] {

	}

	// Header
	.page-header {
		margin-top: 0;
		background: @c-grey-light;
		border-bottom: 1px solid @c-grey-light !important;
		padding-bottom: 0;
		.panel {
			margin-bottom: 0;
			&.wrapper {
				border-bottom: 1px solid @c-border;
				box-shadow: none;
			}
			&.header {
				border: 0;
				box-shadow: none;
			}
		}

		.header-top {
			cursor: default;
			.header-top-usp	{
				span {
					&:after {
						font-family: 'FontAwesome';
						content: '\f111';
					    font-size: 5px;
					    position: relative;
					    top: -2px;
					    margin: 0 5px 0 10px;
					}
					&:last-child {
						&::after {
							display: none;
						}
					}
				}
			}
			.header-top-help {
				text-align: right;
				p {
					margin-bottom: 0;
					color: @link;
				}
			}
		}

		.header.content {
			padding: 0;
			max-width: @max-width;
			.logo {
				margin-bottom: 0;
			}
			.main-header {
				.logo {
					margin: 0;
					max-width: initial;
					margin: 10px auto;
					display: table;
					float: none;
				}
				.col-md-2 {
					z-index: 899;
				}
			}
		}
	}

	.megamenu {
	    position: absolute;
	    width: 100%;
	    display: inline-block;
	    top: 0;
	    z-index: 1;
	    .nav-sections {
	    	background: @c-white;
	    }
	}

	.main-header-user {
		margin-left: 10px;
		&.search, &.minicart, &.user {
			display: inline-block;
			float: none;
			line-height: 80px;
			a.action {
			    height: 32px;
			    line-height: 38px;
			    width: 32px;
			    text-align: center;
			    display: inline-block;
				i.fa {
					font-size: 1.2em;
				}
				&:active, &:focus {
					color: @c-text !important;
				}
			}
		}
		&.search {
			.block-search {
				float: none;
				width: initial;
				padding-left: 0;
			}
		}
		.showUserLink {
			small {
				position: absolute;
			    font-size: .75em;
			    padding-left: 2px;
			}
		}
		&.minicart {
			.minicart-wrapper {
				margin-left: 0;
				float: none;
				.showcartitems {
					display: none;
				}
				.showcartitem {
					position: relative;
					.text {
						position: relative;
						top: -2px;
					}
					.counter.qty {
					    position: absolute;
					    background: @c-blue;
					    height: 12px;
					    width: 12px;
					    border-radius: 25px;
					    line-height: 14px;
					    color: @c-white;
					    font-size: .75em;
					    top: 2px;
					    right: 2px;
					}
				}
			}
		}
	}

	.page-title-wrapper {
		.page-title {
			span {
				position: relative;
			}
		}
	}

	// Footer
	.page-footer {
		.footer {
			&.content {
				margin-top: 0;
				padding-top: 0;
				border-top: 0;
			}
		}
		.footer-bottom-link {
			padding-bottom: 25px;
			margin-bottom: 25px;
			border-bottom: 1px solid @c-border;
			.section {
				margin-bottom: 10px;
				&.shipment, &.payment {
					span {
						display: inline-block;
						margin: 0 10px 10px 0;
						img {
							height: 18px;
						}
					}
				}
				.section-title {
					font-weight: 600;
					padding-bottom: 10px;
					margin: 0;
					font-size: 1em;
					font-size: 1.5rem;
				}
				.block.newsletter {
					width: 100%;
					margin-bottom: 10px;
					.field.newsletter {
						margin-right: 0;
					}
				}
				a {
					font-size: 1em;
				}
			}
		}
	}
	.seo-section {
		padding-bottom: 25px;
		margin-bottom: 25px;
		text-align: justify;
		h1, h2, h3, h4, h5, h6,
		.h1, .h2, .h3, .h4, .h5, .h6 {
			font-size: 1.75rem;
			margin-bottom: .75em;
			.font-rubik(500);
		}
	}
}

@media screen and (max-width: 767px) {
	body {
		font-size: 12px;
	}
	.seo-section {
		padding-bottom: 25px;
		margin-bottom: 25px;
		border-bottom: 1px solid @c-border;
		text-align: justify;
		h1, h2, h3, h4, h5, h6,
		.h1, .h2, .h3, .h4, .h5, .h6 {
			font-size: 1.75rem;
			margin-bottom: .75em;
		}
	}
	.copyright {
		text-align: center;
	}
	.footer-bottom-link {
		.section-title {
			font-size: 1.75em;
			text-align: left;
		}
		.section {
			width: 50%;
			padding: 0 5px;
			float: left;
			&.newsletter, &.payment, &.shipment {
				width: 100%;
				text-align: center;
				.section-title {
					text-align: center;
				}
				span {
					margin: 5px;
					text-align: center;
					display: inline-block;
					img {
						max-height: 20px;
					}
				}
			}
			&.newsletter {
				text-align: left;
				.section-title {
					text-align: left;
				}
			}
			.block.newsletter {
				margin-bottom: 20px;
				.actions {
					display: inline-block;
					margin-top: 5px;
					text-align: center;
					.action {
						margin: 0;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 320px) and (max-width: 420px) {
	body {
		font-size: 11px;
	}
}


//animate
.animatecss {
	-webkit-transition: all ease-out 0.4s;
	-moz-transition: all ease-out 0.4s;
	-o-transition: all ease-out 0.4s;
	transition: all ease-out 0.4s;	
}

// main header user menu
.block-user-link {
	display: none;
	position: absolute;
	line-height: initial;
	right: 0;
	margin-bottom: 0;
	padding: 20px;
	border: 1px solid @c-border;
	right: 10px;
	top: 57px;
	background-color: @c-white;
	width: 175px;
	z-index: 999;
	&.active {
		display: inline-block;
	}
	ul {
		padding-left: 0;
		margin-bottom: 0;
		li {
			list-style: none;
			a {
				text-transform: uppercase;
				font-size: 1.25em;
				> i {
					width: 24px;
					float: left;
				}
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	&:before {
	    content: '';
	    border-top: 1px solid @c-border;
	    border-right: 1px solid @c-border;
	    border-bottom: 0;
	    border-left: 0;
	    width: 10px;
	    height: 10px;
	    display: inline-block;
	    background-color: @c-white;
	    position: absolute;
	    top: -6px;
	    right: 22px;
	    transform: rotate(-45deg);
    }
}

.block-compare {
	.actions-toolbar {

	}
}
.breadcrumbs {
	margin-top: 20px;
	ul {
		li {
			a {
				&:hover {
					color: @c-red;
					text-decoration: none;
				}
			}
		}
	}
}

.title {
}

.rating-summary {
	.rating-result {
		span {
			&:before {
				color: @c-yellow;
			}
		}
	}
}


.review-control-vote {
	label {
		&:before {
			color: @c-yellow;
		}
	}
}

.animatecss {
	-webkit-transition: all ease-out 0.4s;
	-moz-transition: all ease-out 0.4s;
	-o-transition: all ease-out 0.4s;
	transition: all ease-out 0.4s;
}

.shadow-table {
	-webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.60);
	-moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.60);
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.60);
}

.label {
	color: @c-black;
	font-size: 14px;
}

input[type="text"], input[type="password"] {
	border: @c-border solid 1px;
	padding: 7px 20px;
	height: auto;
}

.top-30 {
	margin-top: 30px !important;
}

.column.main {
	margin-bottom: 70px;
}


.sidebar-main {
	.filter-options {
		.filter-options-content {
			.item {
				margin-top: 12px;
			}
		}
	}
	.am_shopby_slider_display {
		margin-top: 15px;
	}
	.action {
		&.remove {
			&:before {
				content: "\f00d";
				font-family: 'FontAwesome';
				position: relative;
				margin-right: 5px;
			}
		}
	}
}

.filter-current {
	.item {
		margin-bottom: 0;
	}
}

.am_shopby_slider_display {
}

.toolbar-products {
	padding: 0 20px;
	.pages {
		a {
			&.action {
				background: @c-grey;
				color: @c-black;
			}
		}
	}
}
.navigation-sidebar, .open-filter-mobile {
	display: none;
}

/* Mobile device */
@media (max-width: 767px) {
	.sidebar {
		border: 1px solid @c-border;
		padding: 0 20px;
		.sidebarfilter {
			display: none;
			&.open {
				display: block;
			}
			.block-title, .filter-subtitle {
				display: none;
			}
			.filter-options {
				.filter-options-title {
					border-top: 1px solid @c-border;
					border-bottom: 1px solid @c-border;
					padding: 10px 0;
				}
				.filter-options-content {
					margin-top: 25px;
				}
			}
		}
		.block {
			.swatch-option {
				padding-left: 0;
				padding-right: 0;
			}
		}
		.open-filter-mobile {
			display: block;
			a {
			    width: 100%;
			    background-color: transparent;
			    display: inline-block;
			    text-align: center;
			    line-height: 42px;
			    font-size: 1.5em;
			    text-transform: uppercase;
			    margin: 0 auto;
			    &:after {
			    	content: '\f107';
			    	font-family: 'FontAwesome';
			    	margin-left: 10px;
			    }
			    &:active, &:hover, &:visited, &:focus {
			    	color: @c-text !important;
			    }
			    &.active {
					&:after {
						content: '\f106';
					}
				}
			}
		}
	}
}

/* Tablet device */
@media (min-width: 768px) and (max-width: 991px) {
	.sidebarfilter {
		display: none;
	}
	.navigation-sidebar {
		display: block;
	}
}

/* Desktop small screen */
@media (min-width: 992px) {
}

/* Desktop large screen */
@media (min-width: 1200px) {
}
