header {
	&.page-header {
		.panel.header{
			padding: 0 !important;
		}
		.panel.wrapper {
			background: @c-grey;
		}

		.main-header-account {
			float: right;
			text-align: right;
			margin: 0 -15px 0 0;

			.login-links {
				list-style: none;
				margin: 35px 0 0 0;
				position: relative;
				z-index: 1;

				i.fa {
					margin: 0 5px 0 0;
					color: #000;
				}

				> a {
					text-transform: uppercase;
					color: #000;
					font-weight: bold;
					font-size: 14px;

					&:hover {
						color: @c-red;

						&:before {
							color: #000;
						}
					}
				}

				.customer-name {
					font-weight: bold;

					> a {
						color: #000;
						font-size: 14px;

						> span {
							&:first-child {
								text-transform: uppercase;
							}
						}

						&:hover {
							color: @c-red;

						}
					}

					button.action.switch {
						border-color: #000 transparent transparent transparent;
						border-width: 5px 4px 0 4px;
						border-style: solid;
						height: 0;
						width: 0;
						padding: 0;
						font-size: 0;
						margin: -3px 0 0 2px;
					}
				}

				.customer-menu {
					text-align: left;
					position: absolute;
					right: -20px;
					min-width: 160px;
					border: 1px solid #666;
					padding: 15px 20px;
					background: #fff;
					display: none;

					a{
						color: #000;

						&:hover {
							color: @c-red;
						}
					}

					ul {
						list-style: none;
						padding: 0;
					}

					.myaccount-link-logout {
						border-top: 1px solid #eee;

						ul {
							margin: 10px 0 0 0;

							li {
								margin: 0;
							}
						}
					}
				}

				&.active {
					.customer-name {
						button.action.switch {
							border-color: transparent transparent #000 transparent;
							border-width: 0 4px 5px 4px;
						}
					}

					.customer-menu {
						display: block;
					}
				}
			}
		}
	}

	&.default{
		background: @c-border;
		.content {
			min-height: 100px;
			.logo {
				padding-top: 18px;
				img {
					width: 100%;
				}
			}
		}
		.language-switcher{
			text-align: center;
			position: absolute;
			background: @c-grey;
			width: 80px;
			right: 15px;
			top: 0;
			select {
				background: @c-grey;
				border-width: 0;
			}
		}
	}

	&.aop-poductservice,
	&.aop-product,
	&.aop-service{
		background: @c-border;
		.store-switcher {
			span {
				position: relative;
				display: inline-block;
				color: @c-text-grey;
				margin-right: -4px;
				padding: 8px 15px;
				font-weight: 10px;
				&:hover,
				&.active{
					background: @c-white;
					color: @c-red;
				}
				&:before {
					content: '';
					background: @c-grey-dark;
					border-radius: 100%;
					margin-right: 5px;
					height: 22px;
					width: 22px;
					float: left;
				}
				&:after {
					mask-size: contain;
					-webkit-mask-size: contain;
					content: '';
					background: @c-grey;
					position: absolute;
					display: table;
					height: 16px;
					width: 16px;
					z-index: 1;
					left: 18px;
					top: 11px;
				}
			}
			.icon-aop:after{
			    .mask-image('../img/icon-aop.svg');
			}
			.icon-aop-otodrive:after{
				.mask-image('../img/icon-aop-otodrive.svg');
			}
			.icon-aop-otopart:after{
				.mask-image('../img/icon-aop-otopart.svg');
			}
			.icon-aop:hover:before,
			.icon-aop-otodrive:hover:before,
			.icon-aop-otopart:hover:before{
				background: @c-red;
			}
			.icon-aop:hover:after,
			.icon-aop-otodrive:hover:after,
			.icon-aop-otopart:hover:after{
				background: @c-white;
			}
		}
		.top-bar-link {
			display: inline-block;
			span {
				color: @c-black;
				padding: 10px;
				&:hover,
				&.active{
					color: @c-red;
					background: transparent;
				}
			}

		}
		.language-switcher,
		.currency-switcher {
			display: inline-block;
			line-height: 38px;
			width: 60px;
			select {
				border-width: 0;
				color: @c-text-grey;
				background: @c-grey;
			}
		}
		.logo {
			max-width: 100%;
			min-height: 80px;
			img {
				width: 100%;
				margin-top: 22px;
			}
		}
		.icon-user,
		.icon-cart {
			line-height: 26px;
			&:before {
				content: '';
				.mask-image('../img/icon_cart.svg');
				background: @c-black;
				display: inline-block;
				height: 26px;
				width: 26px;
				float: left;
			}
		}
		.icon-cart:before{
			top: 5px;
			position: relative;
		}
		.action.showcartitem {
			display: inline;
    		top: 2px;
    		.counter.qty {
    			float: left;
    			margin-right: 5px;
    			line-height: 30px !important;
    			background: transparent !important;
    		}
    		.counter-number {
    			display: none;
    		}
		}
		.icon-user:before {
			.mask-image('../img/icon_user.svg');
		}
		.header-user {
			text-align: right;
		}
		.main-header-user {
			text-align: left;
			display: inline-block;
			&.search {
				display: block;
			}
			.block-search .block {
				background: transparent;
				position: relative;
				border-width: 0;
				margin: 10px 0 0;
				display: block;
				width: 100%;
				top: 0;
				&:before {
					content: '';
					.mask-image('../img/icon_search.svg');
					background: @c-red;
					position: absolute;
					transform: none;
					display: table;
					height: 30px;
				    width: 30px;
				    left: 13px;
				    top: 13px;
				}
				&:after {
					display: none;
				}
				input {
					padding-left: 30px;
					border-radius: 5px;
				}
				.actions{
					.action.search,
					.action.search[disabled]{
						opacity: 1;
						> span {
							position: relative;
						}
					}
					
					button {
						width: 80px;
						background: @c-red;
						border-radius: 0 5px 5px 0;
						color: @c-white;
						line-height: 1;
						padding: 0;
						right: 0;
						&:before {
							display: none;
						}
						span {
							top: -2px;
						}
					}
				}

			}
			.topSearchOpen {
				display: none;
			}
			.icon-search {
				.mask-image('../img/icon_search.svg');
			}
			.block-search {
				width: 100%;
			}
			&.user {
				a span,
				a {
					color: @c-black;
					text-transform: uppercase;
				}
			}
			&.minicart {
				.minicart-wrapper a {
					color: @c-black;
					text-transform: uppercase;
				}
			}
		}
		.header-nav {
			background: @c-white;
			.section-item-title {	
				display: none;
			}
			.navigation {
				height: 40px;
				line-height: 40px;
				.font-rubik(500);
				font-size: 8px;
    			text-align: left;
				padding: 0;
				ul {
					margin-botto: 0;
				}
				li {
					display: inline-block;
					a {
						padding: 10px;
						border-bottom: 3px solid @c-white;
					}
				}
			}
		}
		.btn-main {
			display: inline-block;
			margin-top: 5px;
		}
	}

	&.aop-product {
		.icon-aop-otopart.aop-product:before,
		.icon-aop-otodrive.aop-product:before,
		.icon-aop.aop-product:before{
			background: @c-red;
		}
		.icon-aop-otopart.aop-product:after,
		.icon-aop-otodrive.aop-product:after,
		.icon-aop.aop-product:after {
			background: @c-grey-light;
		}
		.store-switcher span {
			&:hover,
			&.aop-product{
				background: @c-grey-light;
				color: @c-red;
			}
		}
	}

	&.aop-productservice {
		.icon-aop-otopart.aop-productservice:before,
		.icon-aop-otodrive.aop-productservice:before,
		.icon-aop.aop-productservice:before{
			background: @c-red;
		}
		.icon-aop-otopart.aop-productservice:after,
		.icon-aop-otodrive.aop-productservice:after,
		.icon-aop.aop-productservice:after {
			background: @c-grey-light;
		}
		span {
			&:hover,
			&.aop-productservice{
				background: @c-grey-light;
				color: @c-red;
			}
		}
	}

	&.aop-service {
		.icon-aop-otopart.aop-service:before,
		.icon-aop-otodrive.aop-service:before,
		.icon-aop.aop-service:before{
			background: @c-red;
		}
		.icon-aop-otopart.aop-service:after,
		.icon-aop-otodrive.aop-service:after,
		.icon-aop.aop-service:after {
			background: @c-grey-light;
		}
		span {
			&:hover,
			&.aop-service{
				background: @c-grey-light;
				color: @c-red;
			}
		}
	}
}