// Fixer
* {
	box-shadow: none;
	outline: 0 !important;
	&:focus {
		box-shadow: none;
		outline: 0 !important;
	}
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}


// Font Config

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/rubik-regular-webfont.woff2')
  format('woff2'), url('../fonts/rubik-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Rubik';
  src: url('../fonts/rubik-medium-webfont.woff2')
  format('woff2'), url('../fonts/rubik-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Rubik';
  src: url('../fonts/rubik-bold-webfont.woff')
  format('woff2'), url('../fonts/rubik-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	.font-rubik(600);
}

a, .alink:visited {
	color: @c-text;
	cursor: pointer;
	&:hover, &:focus, &:active {
		text-decoration: none;
		color: @link;
	}
	&:visited {
		text-decoration: none;
		color: @c-text;
	}
}
