// Merchant Dashboard

.merchant-account-login {
	.column main {
		padding-top: 80px;
		padding-bottom: 80px;
	}
	.page-title {
		text-align: center;
		margin-top: 30px;
	}
	.block-merchant-login {
		background: @c-grey;
		padding: 50px 30px;
		max-width: 600px;
		margin: 20px auto;
	}
}

.tabledashboard {
	margin-bottom: 50px;
	table {

	}
	thead {
		background: @c-red;
		color: @c-white ;
		th {
			padding: 15px 10px;
		}
		tr {
			&:hover {
				background: @c-red;
			}
		}
	}
	tr {
		.animatecss;
		&:hover {
			background: @c-grey-light;		
			.animatecss;	
		}		
		&:nth-child(even) {
			td {
				background: @c-grey;
			}
		}
	}
	tbody {
		tr {
			td {
				padding: 10px;
			}
		}
	}
}

.wrp-topaction {
	display: block;
	overflow: hidden;
	margin-bottom: 20px;
}
.addholiday {
	float: right;
}


.wrp-qtyslot {
	.qty-slot {
		display: inline-block;
		background: @c-grey;
		text-align: center;
		width: auto;
		padding: 7px 10px;
		vertical-align: top;
	}
	input[type="text"] {
		display: inline-block;
		width: 80px;
		text-align: center;
		margin-left: -1px;
		margin-right: -1px;
	}
}

.wrp-menudashboard {
	margin-top: 30px;
	position: relative;
	.account-nav {
		.content {
			padding: 0;
			background: none;
		}
		&.item {
			strong,a {
				padding: 12px 15px;
				.animatecss;
				&:hover {
					.animatecss;
					background: @c-red;										
				}
			}
		}
		li {
			margin: 3px 0;
			background: @c-grey;
			.animatecss;
			&:hover {
				color: @c-white;
				.animatecss;
				strong,a {
					padding-left: 20px;
					.animatecss;
					background: @c-red;		
					color: @c-white;			
				}
			}
		}				
	}
	@media (max-width: 767px) {
		.account-nav {
			width: 100%;
			background: @c-grey;
		}
	}
}

.menudashboard {
	position: relative;
	padding: 10px;
	border:@c-red solid 1px;
	color: @c-white;
	width: 100%;
	display: block;
	color: @c-red;
	margin-bottom: 10px;
	&.active {
		background: "";
	}
	span {

	}
}

.wrp-accountinfo {
	margin-top: 30px;
	.iteminfo {
		position: relative;
		padding-left: 160px;
		min-height: 30px;
		margin-bottom: 5px;
		label {
			position: absolute;
			left: 0;
			top: 3px;
		}
		.info-account {

		}
	}
}

.merchant-account-information {
	.page-title {
	}
}

@media (max-width: 767px) {
	.merchant-account-information {
		.page-title {
			padding: 0 20px;
		}
	}
	.wrp-accountinfo {
		padding: 0 20px;
		margin-top: 0;
		.iteminfo {
			padding-left: 140px;
		}
	}
}
