header.page-header {
	.panel.wrapper {
		border-bottom-width: 0px;
	}
	.panel.header {
		background: @c-grey;
	}
	.header.content {
		background: @c-grey-light;
	}
}

@media screen and (min-width: 768px) {
	.megamenu {
		position: relative;
		.navigation {
			max-width: @max-width;
			> ul {
				background: @c-white;
			}			
			.showall-wrapper {
				display: inline-block;
				position: relative;
				background: #ddd;
			}
		}
		&-level0,
		&-level1,
		&-level2 { 
			position: relative;
			display: inline-block;
			a {
				padding: 10px 15px;
				font-size: 12px;
			}
			> .submenu {
				display: none;
				position: absolute;
				min-width: 180px;
				top: 100%;
				margin-top: 0;
				box-shadow: none;
				border-left: 0;
				border-right: 0;
				left: 0;
				background: @c-grey-light;
				> li {
					display: inline-block;
					margin-bottom: 0;
					> a {
						position: relative;
						color: @c-black;
						&:after {
							content: '\f107';
							font-family: 'FontAwesome';
							display: inline-block;
						    position: absolute;
						    bottom: -10px;
						    left: 46%;
						    font-size: 10px;
						}
						&:hover {
							background: transparent;
							&:after {
								content: '\f106';
							}
						}
					}
					
				}
			}
			&:hover {
				> .submenu {
					display: block !important;
				}
			}
		}
		&-level0 {
			a {
				padding: 10px 15px;
				
			}
			&:hover > a{
				box-shadow: 0px 3px 0px @c-red;
			}
		}
		&-level1,
		&-level2 {
			display: block;
			> .submenu {
				left: 90%;
			}
			&:hover {
				background: @c-white;
				> .submenu {
					top: 0;
				}
				.all-child a{
				    height: 40px;
					display: block;
				    padding: 0 15px;
				}
			}
		}
	}
}