.wrp-searchsparepart {
	position: absolute;
	width: 100%;
	height: auto;
	left: 0;
	top: 0;
	.bgblack {
		position: fixed;
		width: 100%;
		height: 100%;
		z-index: 1000;
		background: rgba(0, 0, 0, 0.5);
		left: 0;
		top: 0;
	}
	.wrp-contentpop {
		position: relative;
		background: @c-white;
		margin: 5% auto;
		display: block;
		min-height: 50px;
		z-index: 2000;
		max-width: 500px;
		h4 {
			text-align: center;
			margin-bottom: 20px;
		}
	}
	.wrp-iteminput {
		position: relative;
		max-width: 300px;
		margin: 0 auto;
		z-index: 2000;
		text-align: center;
		padding: 30px 0;
	}
	.iteminpput {
		text-align: left;	
		margin-bottom: 15px;
	}
	select{
		display: block;
		width: 100%;
		cursor: pointer;
	}	
	.close-searchsparepart {
		position: absolute;
		right: 0;
		top: 0;
		background: @c-grey;
		color: @c-black;
		padding: 10px;
		cursor: pointer;
	}
}

.wrp-resultsparepart {
	text-align: center;
	.wrp-optionsparepart {
		border:@c-grey-dark solid 1px;
		padding: 10px;
		max-width: 700px;
	}
	.iteminpput {
		display: inline-block;
		width: 24%;
		text-align: left;
	}
}