
//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `@screen-xs` as of v3.0.1
@screen-xs:                  480px;
//** Deprecated `@screen-xs-min` as of v3.2.0
@screen-xs-min:              @screen-xs;
//** Deprecated `@screen-phone` as of v3.0.1
@screen-phone:               @screen-xs-min;

// Small screen / tablet
//** Deprecated `@screen-sm` as of v3.0.1
@screen-sm:                  768px;
@screen-sm-min:              @screen-sm;
//** Deprecated `@screen-tablet` as of v3.0.1
@screen-tablet:              @screen-sm-min;

// Medium screen / desktop
//** Deprecated `@screen-md` as of v3.0.1
@screen-md:                  992px;
@screen-md-min:              @screen-md;
//** Deprecated `@screen-desktop` as of v3.0.1
@screen-desktop:             @screen-md-min;

// Large screen / wide desktop
//** Deprecated `@screen-lg` as of v3.0.1
@screen-lg:                  1200px;
@screen-lg-min:              @screen-lg;
//** Deprecated `@screen-lg-desktop` as of v3.0.1
@screen-lg-desktop:          @screen-lg-min;

// So media queries don't overlap when required, provide a maximum
@ipad-screen: (@screen-tablet - 1);
@screen-xxs-max:             (@screen-xs - 1);
@screen-xs-max:              (@screen-sm-min - 1);
@screen-sm-max:              (@screen-md-min - 1);
@screen-md-max:              (@screen-lg-min - 1);

@media only screen and ( max-width: @screen-sm-max ) {
	.cms-home-custom {
		.astra-main-banner {
			padding-bottom: 30px;
			h3 {
				font-size: 24px;
			}
			&:after {
				display: none;
			}
		}
		.columns .column.main, .container-fluid, .container {
			padding-right: 0;
			padding-left: 0;
			margin: 0;
    		width: 100%;
		}
		.main-header {
			.nav-toggle {
				display: none !important;
			}
		}
		.widget-subscribe {
			display: none;
		}
		.store-switcher {
			display: block !important;
			min-height: 80px;
			background: transparent;
			margin: 7px;
			.row.has-border {
				border: 1px solid #ccc;
			}
			.row.has-border-right {
			    border-right: 1px solid #ccc;
			}
			.row.has-border-left {
				border-left: 1px solid #ccc;	
			}
			a {
				position: relative;
				width: 100%;
				text-align: center;
				color: #000;
				font-size: 12px;
				height: 80px;
				float: left;
			}
			a:nth-child(2) {
				border-left: 1px solid #ddd;
				border-right: 1px solid #ddd;
			}
			span {
    			display: inline-block;
    			width: 100%;
    			padding-top: 40px;
			}
			.icon-accu:before,
			.icon-tools:before,
			.icon-car:before {
				background: #ed1b24;
				content: '';
			    border-radius: 100%;
			    height: 22px;
			    width: 22px;
			    position: absolute;
			    top: 14px;
			    left: 50%;
    			margin-left: -12px;
			}
			.icon-accu:after {
				-webkit-mask-image: url(../img/icon-aop-otopart.svg);
    			mask-image: url(../img/icon-aop-otopart.svg);
			}
			.icon-tools:after {
				-webkit-mask-image: url(../img/icon-aop-otodrive.svg);
    			mask-image: url(../img/icon-aop-otodrive.svg);
			}
			.icon-car:after {
				-webkit-mask-image: url(../img/icon_car.svg);
    			mask-image: url(../img/icon_car.svg);
			}
			.icon-accu:after,
			.icon-tools:after,
			.icon-car:after {
				background: #fafafa;
				content: '';
				height: 16px;
			    width: 16px;
			    z-index: 1;
			    position: absolute;
			    top: 16px;
    			left: 50%;
			    display: table;
			    -webkit-mask-size: contain;
			    margin-left: -9px;
			}
		}
		.floor-sidebar-content {
			padding: 0 15px;
		}
		.banner-direct-wrapper {
			display: none;
		}
		.has-astra-main-banner {
			min-height: auto;
			margin-bottom: 10px;
			overflow: hidden;
		}
		.page-footer-top {
			padding: 0 15px;
		}
		.copyright {
			text-align: center;
		}
		.footer-bottom, .footer-top {
			.footer.content {
				.footer-bottom-link {
					p {
						text-align: justify;
					}
				}
			}
		}
	}
	header.page-header {
		margin-top: 0;
		margin-bottom: 0;
		padding: 0;
		.panel.wrapper {
			display: none;
		}
		.action.nav-toggle {
			&:before {
				color: @c-black;
			}
		}
		.logo {
			width: 100%;
			text-align: center;
			min-height: 40px;
			max-width: none;
			position: relative;
			margin: 10px 0 0px;
			img {
				width: 32%;
				max-width: auto;
				max-height: 100%;
				margin: 0 auto;
			}
		}
		.panel {
			margin-bottom: 0;
		}
		.panel.header {
			.store-switcher {
				text-align: center;
				span[class*=icon-] {
					background-color: transparent;
				}
			}
		}
		.block.block-search {
			position: relative;
			margin-top: 0;
			.action.topSearchOpen {
				// display: block;
				font-size: 22px;
				line-height: 40px;
				position: absolute;
				right: 0;
				top: -60px;
			}
			.action.topSearchOpen + .block.block-content {
				// display: none;
				&:before {
					content: none;
				}
			}
			.action.topSearchOpen + .block.block-content.active {
				// display: block;
			}
			#search_mini_form {
				> .search {
					float: none;
					margin: 0 0 15px;
					display: block;
				}
				> .actions {
					width: 70px;
					position: absolute;
					top: 0;
					right: 0;
					button.action {
						display: block;
						margin: 0;
						width: 100%;
						height: 36px;
						line-height: 36px;
					}
				}
			}
			.block.block-content {
				margin-top: 0;
				.field.search {
					.label {
						display: none;
					}
					.control {
						border: none;
						margin: 0;
						margin-left: -15px;
						margin-right: -15px;
						.input-text {
							left: 0;
							position: inherit;
							margin: 0;
							padding: 7px 15px;
							padding-right: 80px;
						}
					}
				}
			}
		}
		.header-user {
			text-align: right;
		    position: absolute;
		    top: 8px;
		    right: 15px;
			.main-header-user.user,
			.main-header-user.minicart {
				padding-left: 5px;
				a {
					font-size: 20px;
					line-height: 40px;
				}
			}
			.minicart-wrapper {
				margin: 0;
				float: none;
			}
		}
		.megamenu {
			.nav-sections {
				.nav-sections-item-content {
					margin-top: 0;
					padding: 0;
					padding-bottom: 15px;
					.navigation {
						a {
							padding: 3px 0 3px 15px;
							font-size: 12px;
						}
						.parent {
							.level-top {
								padding: 0;
								padding-left: 15px;
								margin-top: 15px;
								margin-bottom: 10px;
								border-bottom: 1px solid @c-grey;
								font-size: 16px;
								&:after {
									content: none;
								}
							}
						}
					}
				}
			}
		}

		.main-header-account {
			position: absolute;
			top: -15px;
			right: 15px;
			width: 160px;
			z-index: 10;

			.login-links {
				.customer-name {
					> a {
						> span {
							font-size: 0;
							position: relative;

							i {
								font-size: 20px;
								margin: 0 10px 0 0;
							}

							&:last-child {
								&:before {
									position: absolute;
									content: '';
									background: #24da24;
									width: 10px;
									height: 10px;
									border-radius: 100%;
									display: block;
									top: -18px;
									left: -11px;
									border: 1px solid #d1d1d1;
								}
							}
						}
					}
				}

				> a {
					font-size: 0;

					&.login {
						i {
							font-size: 20px;

							&:before {
								content: '\f007';
							}
						}
					}
				}

				.customer-menu {
					right: -15px;
				}
			}
		}
	}
	body {
		.widget {
			.widget-banner-carousel {
				margin: 0;
				.slick-slider {
					.slick-list {
						margin-left: -5px;
						margin-right: -5px;
					}
					.slick-slide {
						padding-left: 5px;
						padding-right: 5px;
					}
				}
				.autoplay-carousel {
					overflow: hidden;
				}
			}
			&.block-products-list {
				.products-grid {
					padding-left: 10px;
					padding-right: 10px;
				}
			}
		}
		.widget-product {
			.nav-tabs {
				padding-right: 17.5px;
				> li {
					width: 33.33%;
					width: calc( 100% / 3 );
				}
			}
		}
		.widget-subscribe {
			background-size: cover;
			padding-bottom: 0;
			button.action.subscribe {
				width: 90px;
			}
		}
		.widget-floor {
			margin-bottom: 15px;
			.floor-sidebar {
				.row-right{
					margin-right: 0;
				}
				.floor-sidebar-content {
					margin-bottom: 5px;
					.title {
						font-size: 1.5em;
						i {
							display: none;
						}
					}
				}
			}
			.floor-mobile {
				margin-top: 15px;
			}
		}
		.footer.content {
			padding-left: 15px;
			padding-right: 15px;
			.widget-astra,
			.widget-security,
			.widget-social {
				padding-bottom: 15px;
			}
			.widget-social {
				ul.has-social-icon > li {
					width: 33.3%;
					float: left;
				}
			}
			.widget-astra {
				padding-top: 30px;
			}
			ul.has-social-icon {
				> li {
					line-height: 22px;
					float: none;
					width: auto;
				}
			}
			ul.list-checked {
				> li {
					padding-left: 15px;
					padding-right: 15px;
				}
			}
		}
		.footer-copy {
			.footer.content {
				ul.list-inline {
					padding: 15px 0;
					> li {
						float: none;
						display: block;
						margin: 0;
						padding: 5px 15px;
						border: none;
						text-align: center;
					}
				}
				.powered {
					right: auto;
					left: 50%;
					margin-left: -50%;
					width: 100%;
					text-align: center;
				}
			}
		}
		.breadcrumbs-container {
			margin: auto;
			.breadcrumbs {
				margin: 10px 0 20px;
			}
		}
		.sidebar {
			padding: 0;
			border: none;
			.open-filter-mobile {
				display: none;
			}
			.sidebarfilter {
				display: block;
				margin-bottom: 0;
				border-top: 1px solid @c-grey;
			}
			.filter-current {
				.filter-options-title {
					display: none;
				}
				.item {
					text-align: left;
					padding-left: 15px;
					padding-bottom: 5px;
					padding-top: 5px;
					.action.remove {
						display: none;
					}
					.filter-label {
						display: inline-block;
					}
					.filter-value {
						display: inline-block;
					}
				}
			}
			.filter-actions {
				text-align: left;
				margin: 5px 0 15px;
				padding-left: 15px;
			}
			.filter-content {
				dt.filter-options-title {
					padding: 7px 0;
					padding-left: 15px;
					// font-weight: normal;
					font-size: 12px;
					line-height: 22px;
					text-transform: uppercase;
					margin: 0 0 15px;
					border-top: 1px solid @c-grey;
					border-bottom: 1px solid @c-grey;
					background-color: @c-grey-light;
					text-align: left;
				    &:after {
				    	content: '\f107';
				    	font-family: 'FontAwesome';
				    	margin-left: 10px;
				    	position: absolute;
				    	right: 15px;
				    }
				    &.open:after {
				    	content: '\f106';
				    }
				    &:first-child {
				    	border-top: none;
				    }
				}
				dd.filter-options-content {
					display: none;
					margin: 0;
					margin-bottom: 15px;
					padding-bottom: 15px;
					padding-left: 15px;
					border-bottom: 1px solid @c-grey;
					text-align: left;
					&.open {
						display: block;
					}
					a {
						input[type='checkbox'],
						input[type='radio'] {
							visibility: hidden;
							position: absolute;
							right: 0;
						}
						span.label {
							font-weight: normal;
							font-size: 12px;
							padding-left: 0;
							padding-top: 5px;
							padding-bottom: 5px;
						}
						span.count {
							padding-bottom: 5px;
						}
					}
				}
			}
		}
	}
	.columns {
		.column.main {
			padding-left: 15px;
			padding-right: 15px;
			width: 100%;
			padding-bottom: 0;
		}
	}
	.toolbar.toolbar-products {
		padding: 0;
		text-align: left;
		margin-bottom: 15px;
		padding-bottom: 15px;
		border-bottom: 1px solid @c-grey;
		.toolbar-amount {
			padding-top: 2px;
			display: inline-block;
		}
		.toolbar-sorter {
			float: right;
			padding-top: 0;
			.sorter-label {
				padding-right: 10px;
			}
		}
	}
	.products.wrapper ~ .toolbar.toolbar-products {
		display: none;
	}
	.products.wrapper.products-list {
		.product-items {
			margin-left: 0;
		}
		.item.product {
			margin-bottom: 15px;
			padding-bottom: 15px;
			border-bottom: 1px solid @c-light-black;
			&:last-child {
				border-bottom: none;
			}
			&:before,
			&:after {
				display: table;
				content: " ";
			    clear: both;
			}
			.product-list-image,
			.product-item-details {
				float: left;
				width: 50%;
			}
			.product-list-image {
				.actions-secondary {
					display: none;
				}
				a.product-item-photo {
					position: relative;
				}
			}
			.label-product.label-sale {
				position: absolute;
				top: 15px;
				left: 0;
				width: 30%;
				background-color: @c-red;
				text-align: center;
				color: @c-white;
				font-size: 14px;
				line-height: 20px;
			}
			.product.name {
				margin: 0;
				margin-bottom: 10px;
				font-size: 14px;
				font-weight: 700;
			}
			.product-sku {
				color: @c-grey-dark;
			}
			.product-reviews-summary {
				margin: 0;
				margin-bottom: 10px;
				.reviews-actions {
					display: none;
				}
			}
			.product.description {
				display: none;
			}
			.price-box {
				.price-label {
					display: none;
				}
				.price {
					font-size: 11px;
				}
				.old-price,
				.special-price {
					display: inline-block;
				}
			}
			.special-price {
				.price {
					color: @c-red;
					font-size: 14px;
				}
			}
			.minimal-price-link {
				display: block;
				font-size: 11px;
				color: @c-grey-dark;
				.price-label {
					display: inline-block;
				}
			}
			.product.actions {
				display: block;
				margin-top: 15px;
			}
			.qty-wrapper {
				display: inline-block;
				&:before,
				&:after {
					display: table;
					content: " ";
				    clear: both;
				}
				.qty {
					width: 40px;
					text-align: center;
					border-color: @c-grey;
					float: left;
				}
				.qty-minus,
				.qty-plus {
					width: 30px;
					height: 32px;
					display: block;
					vertical-align: top;
					line-height: 32px;
					text-align: center;
					background-color: @c-grey;
					float: left;
				}
			}
			.action.tocart {
				display: inline-block;
				width: 35px;
				min-width: auto;
				vertical-align: top;
				&:before {
                    content: "\f07a";
                    font-family: 'FontAwesome';
				}
				> span {
					display: none;
				}
			}
		}
	}
	.nav-toggle {
		top: 8px;
	}
	.nav-open {
		.page-wrapper {
			left: 0 !important;
		}
		.nav-toggle:after {
		    background: rgba(0, 0, 0, 0.5);
		    content: '';
		    display: block;
		    height: 100%;
		    position: fixed;
		    right: 0;
		    top: 0;
		    width: 100%;
		    z-index: 1;
		}
		.nav-sections {
		    -webkit-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.75);
		    -moz-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.75);
		    -ms-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.75);
		    box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.75);
		    left: 0;
		    z-index: 99;
		}
	}
	.sections.nav-sections {
		display: none;
	}
	.header-megamenu {
	    background: #ffffff !important;
	    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	    -webkit-overflow-scrolling: touch;
	    -webkit-transition: left 0.3s;
	    -moz-transition: left 0.3s;
	    -ms-transition: left 0.3s;
	    transition: left 0.3s;
	    height: 100%;
	    left: calc(-1 * (100% - 14px));
	    overflow: auto;
	    position: fixed;
	    top: 0;
	    width: calc(100% - 14px);
	    .menu-mobile {
	    	display: none;
	    }
	    .menu > ul {
	    	display: block;
	    }
	    .menu > ul > li {
	    	position: relative;
	    }
	    .menu > ul > li:hover,
	    .menu > ul > li > ul {
	    	background: transparent;
	    }
	    .menu > ul > li > ul > li {
	    	margin-top: 0;
	    }
	    .menu > ul > li > ul.normal-sub {
	    	padding: 10px 20px 10px 30px;
	    }
	    .menu > ul > li > ul.normal-sub > li a {
	    	padding: .5em 0;
	    }
	    #om {
	    	li {
	    		border-top: 1px solid #d1d1d1;
	    		span {
					font-size: 1.6rem;
				}
	    	}
	    	li:last-child {
				border-bottom: 1px solid #d1d1d1;
			}
	    }
		.menu-dropdown-icon{
			&:before {
				position: absolute;
			    right: 0;
			    top: 12px;
			}
			&:before {
				-webkit-font-smoothing: antialiased;
			    font-size: 42px;
			    line-height: inherit;
			    color: inherit;
			    content: '\e622';
			    font-family: 'icons-blank-theme';
			    vertical-align: middle;
			    display: inline-block;
			    font-weight: normal;
			    overflow: hidden;
			    speak: none;
			    text-align: center;
			    padding: 0;
			    background: transparent;
			}
			&:hover:before {
				content: '\e621';
			}
		}
	}
	.main-header-user {
		margin-left: 0;
	}
	.main-header-user.minicart .minicart-wrapper .showcartitems {
		display: block;
	}
	.block-static-block {
		.columns.container, .column.main {
			padding: 0;
		}
		.autoplay-carousel {
			.slick-prev {
				left: -15px;
			}
			.slick-next {
				right: -15px;
			}
			.slick-slide img {
				margin: 0 auto;
			}
		}
		.widget-banner {
			margin: 0;
			.row-small {
				div {
					margin: 10px 0;
				}
				div:first-child {
					margin-top: 0;
				}
				div:last-child {
					margin-bottom: 0;
				}
			}
			.widget-title span {
				padding: 4px 20px;
				&:after {
					border-top: 22px solid transparent;
					right: -14px;
				}
			}
		}
		.widget-banner-hero {
			margin: 0 0 10px;
		}
		.widget-product .block.widget {
			.product-item-info .actions-secondary {
				padding-right: 0;
				text-align: center;
				a:first-child {
					width: 100%;
				}
				a:nth-child(2),
				a:last-child {
					width: 46%;
				}
			}
			.image-holder {
				.tocompare:before,
				.towishlist:before {
					border-left: none;
					padding-left: 10px;
				}
			}
		}
		.widget-product {
			margin: 0 0 25px;
			.block {
				margin-bottom: 0;
			}
			.nav-tabs {
				margin: 15px 0 0px;
			}
			.block.widget .image-holder {
				text-align: center;
			}
			.product-item-details {
				.product-item-name {
					text-align: center;
					a {
						font-size: 11px;
					}
				}
				.price-box {
					text-align: center;
				}
			}
			.product-item-actions .actions-primary button {
				min-width: auto;
				width: 100%;
			}
			.product-items {
				.slick-dots li button:before {
					font-size: 20px;
				}
				.slick-prev:before,
				.slick-next:before {
					font-family: FontAwesome;
					color: #000;
					font-size: 40px;
				}
				.slick-prev,
				.slick-next {
					top: 30%;
				}
				.slick-prev {
					left: 0;
					&:before {
						content: '\f104';
					}
				}
				.slick-next {
					right: 0;
					&:before {
						content: '\f105';
					}
				}
			}
		}
	}
	footer.page-footer {
		.widget-payment {
			padding: 10px 0 0;
		}
		.block.newsletter {
			width: 100%;
			margin-bottom: 20px;
			.field input {
				padding-left: 10px;
			}
			.actions {
				width: 90px;
			}
			button.action.subscribe {
				width: 90px;
			}
		}
		.page-footer-bottom {
			padding-top: 0;
			.footer.content {
				margin-top: 0;
			}
			.footer-top {
				.footer.content {
					.widget-astra {
						padding-top: 10px;
					}
				}
			}
			.footer-bottom {
				padding-top: 0;
			}
		}
		.footer-copy .row > div {
			min-height: 30px;
		}
	}

	.customer-account-login {
		.login-container {
			.social-login-wrap {
				width: 100%;
				padding: 0 30px;

				.social-login-wrap-inner {
					width: 100%;

					> * {
						margin: 0;
					}
				}
			}
		}
	}
}
@media only screen and (max-width: @screen-sm-max) and (min-width: @screen-sm) {
	.main-header .text-center {
		width: 100%;
		float: none;
		margin-left: 0;
	}
	.page-wrapper .header {
		.nav-toggle {
			top: 17px;
		}
	}
	.main-header-user.search,
	.main-header-user.minicart,
	.main-header-user.user {
		line-height: 40px;
	}
	.main-header-user .block-search .block {
		right: 0;
	}
	header.page-header .block.block-search {
		.block.block-content .field.search .control {
			margin-left: 0;
			margin-right: 0;
		}
		#search_mini_form {
			> .actions {
				top: 10px;
	    		right: 15px;
	    		button.action {
	    			height: 35px;
	    			line-height: 35px;
	    			span {
	    				top: 0;
	    			}
	    		}
	    	}
    		> .search {
    			margin: 0 0 10px;
    		}
		}
	}
	header #search_mini_form > .actions,
	header #search_mini_form > .search {
		width: 100%;
	}
	.block-static-block {
		.row-small {
			text-align: center;
			img {
				width: 70%;
			}
		}
	}
	.cms-home-custom .store-switcher {
		.icon-accu:before,
		.icon-tools:before,
		.icon-car:before {
			left: 50%;
    		margin-left: -12px;
		}
	}
}

@media only screen and (max-width: @screen-xxs-max) {
	header.page-header .logo img {
		width: 55%;
	}
	header.page-header .logo {
		margin: 15px 0 0px;
	}
	.cms-home-custom .store-switcher {
		.icon-accu:before,
		.icon-tools:before,
		.icon-car:before {
			left: 50%;
    		margin-left: -12px;
		}
	}
}
