@media screen and (min-width: 768px) {
	.main-header-user {
		.block-search {
			.block {
				display: none;
				margin-bottom: 0;
			    position: absolute;
			    width: 320px;
			    background: @c-white;
			    right: -20px;
			    padding: 10px;
			    border: 1px solid @c-border;
			    line-height: initial;
			    top: 57px;
			    .control {
			    	padding: 0;
			    }
			    &:before {
		    	    content: '';
				    border-top: 1px solid @c-border;
				    border-right: 1px solid @c-border;
				    border-bottom: 0;
				    border-left: 0;
				    width: 10px;
				    height: 10px;
				    display: inline-block;
				    background-color: @c-white;
				    position: absolute;
				    top: -6px;
				    right: 30px;
				    transform: rotate(-45deg);
			    }
			    &.active {
			    	display: inline-block;
			    }
			}
			.nested {
				position: relative;
				padding-top: 0;
				.action {
					width: 100%;
					text-align: left;
				}
			}
			input {
				height: 36px;
				border-color: @c-border;
			}
			.actions {
				.action.search {
					height: 36px;
					line-height: 36px;
					top: 10px;
					right: 15px;
				}
			}
		}
	}
}