<?php $columnsLimit = $block->getColumnsLimit() ? : 0; ?>
<?php $_menu2 = $block->getHtml('level-top', 'mega', $columnsLimit) ?>
<?php $_menu = $block->getHtml('level-top', 'submenu', $columnsLimit) ?>

<?php if ($block->allowExtension()): ?>
    <script>

        require([
            'jquery',
            'ibnabmodernizr'
        ], function ($) {


            $('.menu > ul > li:has( > ul)').addClass('menu-dropdown-icon');
            //Checks if li has sub (ul) and adds class for toggle icon - just an UI


            $('.menu > ul > li > ul:not(:has(ul))').addClass('normal-sub');
            //Checks if drodown menu's li elements have anothere level (ul), if not the dropdown is shown as regular dropdown, not a mega menu (thanks Luka Kladaric)

            $(".menu > ul").before("<a href=\"#\" class=\"menu-mobile\">Navigation</a>");

            //Adds menu-mobile class (for mobile toggle menu) before the normal menu
            //Mobile menu is hidden if width is more then 959px, but normal menu is displayed
            //Normal menu is hidden if width is below 959px, and jquery adds mobile menu
            //Done this way so it can be used with wordpress without any trouble

            $(".menu > ul > li").hover(function (e) {
                if ($(window).width() > 943) {
                    $(this).children("ul").stop(true, false).fadeToggle(150);
                    e.preventDefault();
                }
            });
            //If width is more than 943px dropdowns are displayed on hover

            $(".menu > ul > li").click(function () {
                if ($(window).width() <= 943) {
                    $(this).children("ul").fadeToggle(150);
                }
            });
            //If width is less or equal to 943px dropdowns are displayed on click (thanks Aman Jain from stackoverflow)

            $(".menu-mobile").click(function (e) {
                $(".menu > ul").toggleClass('show-on-mobile');
                e.preventDefault();
            });




        });

    </script>
    <?php
    /**
     * Top menu for store
     *
     * @see \Magento\Theme\Block\Html\Topmenu
     */
    ?>
    <strong class="logo">
        <img src="<?php echo $block->getLayout()->getBlock('logo')->getLogoSrc(); ?>">
    </strong>
    <nav class="navigation" role="navigation" >
        <div class="hanging-logo">
            <img src="<?php echo $block->getLayout()->getBlock('logo')->getLogoSrc(); ?>">
        </div>

        <div class="menu" id="om">
            <ul>
                <?php /* @escapeNotVerified */ echo $_menu2; ?>
                <?php if ($block->getWebsites() == 'product'): ?>
                    <div style="display: none;min-width:280px" id="searchSparePart">
                        <h5>Search Sparepart</h5><hr/>
                        <?php
                        $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                        $catId = 56; // Search SparePart Category ID
                        $subcategory = $objectManager->create('Magento\Catalog\Model\Category')->load($catId);
                        $subcats = $subcategory->getChildrenCategories();
                        $_helper = $this->helper('Magento\Catalog\Helper\Output');

                        $_allcats = $subcategory->getAllChildren();
                        ?>
                        <p><select class="sparepart-select" data-next="type">
                            <option disabled="disabled" selected><?php echo __('Please choose vehicle') ?></option>
                            <?php foreach ($subcats as $subcat): ?>
                                <?php
                                $_category = $objectManager->create('Magento\Catalog\Model\Category')->load($subcat->getId());
                                $_outputhelper = $this->helper('Magento\Catalog\Helper\Output');
                                ?>
                                <option value="<?php echo $subcat->getId(); ?>"><?php echo $subcat->getName(); ?></option>
                            <?php endforeach; ?>
                        </select>
                        </p>
                        <p><select class="sparepart-select spare-type" data-next="brand"></select></p>
                        <p><select class="sparepart-select spare-brand" data-next="model"></select></p>
                        <p><select class="sparepart-select spare-model" data-next=""></select></p>
                    </div>
                <?php endif; ?>
            </ul>
        </div>
        <ul id="dm" data-mage-init='{"menu":{"responsive":true, "expanded":true, "position":{"my":"left top","at":"left bottom"}}}'>
            <?php /* @escapeNotVerified */ echo $_menu; ?>
        </ul>
        <div class="other-site">
            <div class="list-title">
                <h4><?php echo __('Other Websites') ?></h4>
            </div>
            <div class="list-site">
                <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('three_store_view')->toHtml();?>
            </div>
        </div>
        <?php if ($block->getWebsites() == 'product'): ?>
            <script>
            require(['jquery'], function($) {
                $('body').on('change', '.sparepart-select', function() {
                    var el = $(this);
                    if(el.data('next')=='type') $('.spare-brand, .spare-model').html('');
                    if(el.data('next')=='brand') $('.spare-model').html('');
                    if(el.data('next')=='') window.location.href = el.find(':selected').data('path');
                    getSparePart(el);
                })

                function getSparePart(el){
                    console.log(el);
                    var catId = $(el).val();
                    $.ajax({
                        type: 'get',
                        url: '/acatalog/category/childrenlist',
                        data: {
                            category_id: catId
                        },
                        showLoader: true
                    }).done(function(resp) {
                        var resp = JSON.parse(resp);
                        var html = '<option>Please choose '+$(el).data('next');+'</option>';
                        $.each(resp, function(index, value) {
                            html += '<option value="'+value.id+'" data-path="'+value.request_path+'">'+value.name+'</option>';
                            //console.log(value);
                        });
                        $('.sparepart-select.spare-'+$(el).data('next')).html(html);
                    })
                }
            })

            </script>
            <a href="/bulkaddcart" class="btn-main bulkaddcart-link">
                <?php /* @escapeNotVerified */ echo __('Bulk Add Cart') ?>
            </a>
        <?php endif; ?>

    </nav>

<?php else : ?>

    <nav class="navigation" role="navigation">
<?php /* @escapeNotVerified */ echo $_menu; ?>
    </nav>
<?php endif; ?>
