<?php
$om = \Magento\Framework\App\ObjectManager::getInstance();
$currencysymbol = $om->get('Magento\Store\Model\StoreManagerInterface');
$currency = $currencysymbol->getStore()->getCurrentCurrencyCode();
$storeManager = $om->get('Magento\Store\Model\StoreManagerInterface');
?>
<div>
<?php foreach ($block->getMyAppointmentDetail() as $myappointment): ?>
<?php
    $_warehouse = $block->getWarehouse($myappointment->getWarehouseId());
    $order = $om->get('Magento\Sales\Model\Order')->load($myappointment->getOrderId());
    $product = '';
    foreach ($order->getAllItems() as $item) {
        if ($item->getId()==$myappointment->getOrderItemId()) {
            $product = $om->create('Magento\Catalog\Model\Product')->load($item->getProductId());
        }
    }
?>
    <h3 class="appointment-title">Order #
        <?php echo $myappointment->getIncrementId(); ?>
        <span><?php echo $myappointment->getStatus(); ?></span>
    </h3>
    <div class="row">
        <div class="col-md-3">
            <?php
                $childProductIds = $product->getTypeInstance(true)->getChildrenIds($myappointment->getProductId(), false);
                $imgUrl = null;
                foreach ($childProductIds as $childId) {
                    $productChild = $om->create('Magento\Catalog\Model\Product')->load($childId);
                    $imageHelper  = $om->get('\Magento\Catalog\Helper\Image');
                    if ((int)$productChild->getIsService() != 0) {
                        $imgInit = $imageHelper->init($productChild, 'product_page_image_medium');
                        $imgUrl .= $imgInit->setImageFile($productChild->getFile())->resize(500, 500)->getUrl();
                    }
                }
                if (empty($imgUrl)) {
                    $imgUrl = $storeManager->getStore()->getBaseUrl().'pub/media/catalog/product/placeholder/default/no-image_1.png';
                }
             ?>
             <?php echo sprintf('<img src="%s">', $imgUrl); ?>
        </div>
        <div class="col-md-9">
            <h5>
                <?php
                foreach ($order->getAllItems() as $item) {
                    if ($item->getOrderId()==$order->getId()) {
                        echo $item->getName();
                    }
                }
                ?>
            </h5>
            <?php /* @escapeNotVerified */ echo $block->getProductPrice($product) ?>
            <br>
            <div class="appointment-detail">
                <div class="row">
                    <div class="col-md-4">
                        <span class="label"><?php echo __('Location') ?></span>
                        <?php echo $_warehouse->getTitle(); ?>
                        <?php echo $_warehouse->getAddress(); ?>
                        <?php echo $_warehouse->getCity(); ?>
                    </div>
                    <div class="col-md-4">
                        <span class="label"><?php echo __('Schedule') ?></span><br>
                        <?php echo $myappointment->getAppointmentDate(); ?>
                        <?php echo $block->getSlotHour($_warehouse->getId(), $myappointment->getSlotName());?>
                    </div>
                    <div class="col-md-4">
                        <span class="label"><?php echo __('Expire Date') ?></span><br>
                        <?php
                        $apDate = strtotime($myappointment->getExpiredAt());
                        date_default_timezone_set('Asia/Jakarta');
                        echo date('Y-m-d H:i:s', $apDate);
                        ?>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <?php if($myappointment->getStatus() == 'used'): ?>
                        <div class="col-md-4">
                            <span class="label"><?php echo __('Redeemed Voucher Code') ?></span>
                            <?php echo $myappointment->getVoucherCode(); ?>
                        </div>
                    <?php endif; ?>
                    <?php if($myappointment->getMechanicComeToHome()): ?>
                        <div class="col-md-4">
                            <span class="label-appointment"><?php echo __('Home Service') ?></span>
                        </div>
                    <?php endif; ?>
                </div>

                <?php if($myappointment->getVoucherStatus() != 'used'): ?>
                <div class="validate-voucher">
                    <p><?php echo __('Voucher Code Validation') ?></p>
                    <form action="<?php echo $storeManager->getStore()->getBaseUrl(); ?>merchant/voucher/redeem" method="post">
                        <input id="hidden_voucher_code" type="hidden" name="hidden_voucher_code" value="<?php echo base64_encode($myappointment->getVoucherCode())?>">
                        <input id="order_id" type="hidden" name="order_id" value="<?php echo $myappointment->getOrderId()?>">
                        <input id="order_item_id" type="hidden" name="order_item_id" value="<?php echo $myappointment->getOrderItemId()?>">
                        <input id="validate_voucher" type="text" name="validate_voucher" style="width:300px;">
                        <button id="check-voucher" type="submit" class="action submit primary" title="<?php  echo __('Check') ?>"><span><?php echo __('Check') ?></span></button>
                        <button id="redeem-voucher"  type="submit" class="action submit primary" style="display:none" title="<?php echo __('Reedem Voucher') ?>"><span><?php echo __('Reedem Voucher') ?></span></button>
                    </form>
                    <div class="voucher-status"></div>
                </div>
                <?php endif; ?>
            </div>
        </div>
    </div>
    <div class="appointment-info-title">
        <h4><?php echo __('Order Information') ?></h4>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p><strong><?php echo __('Address') ?></strong></p>
            <p><?php echo $order->getShippingAddress()->getFirstname() .' '. $order->getShippingAddress()->getLastName(); ?></p>
            <p><?php echo $order->getShippingAddress()->getData('street'); ?>, <?php echo $order->getShippingAddress()->getPostcode();?></p>
            <p>T: <?php echo $order->getShippingAddress()->getTelephone(); ?></p>
        </div>
        <div class="col-md-6">
            <p><strong><?php echo __('Payment Method') ?></strong></p>
            <?php
            if (empty($order->getPayment()->getAdditionalInformation('method_title'))) {
                echo $order->getPayment()->getMethodInstance()->getTitle();
            } else {
                echo $order->getPayment()->getAdditionalInformation('method_title');
            }
            ?>
        </div>
    </div>

<?php endforeach; ?>
</div>
<script>
    require([
        'jquery',
        'mage/url',
    ], function($, url) {
        'use strict';

        $("body").on("click","#check-voucher", function(e) {
            var voucher = $('#validate_voucher').val();
            var itemId = $('#order_item_id').val();
            var orderId = $('#order_id').val();
            e.preventDefault();
            if (voucher){
                $.ajax({
                    type: 'POST',
                    url: '<?php echo $storeManager->getStore()->getBaseUrl().'merchant/voucher/check' ?>',
                    showLoader: true,
                    data: {voucher:voucher,order_item_id:itemId,order_id:orderId},
                    success: function (response) {
                        if(response.status){
                            $('#check-voucher').hide();
                            $('#redeem-voucher').show();
                            $('.voucher-status').html('<i class="fa fa-check"></i><?php echo __('Voucher code is Valid') ?>');
                        }else{
                            $(this).show();
                            $('#redeem-voucher').hide();
                            $('.voucher-status').html('<i class="fa fa-times"></i><?php echo __('Voucher code is Not Valid') ?>');
                        }
                    },
                    error: function (xhr, status, error) {
                        $(this).show();
                        $('#redeem-voucher').hide();
                        $('.voucher-status').html('<i class="fa fa-times"></i><?php echo __("Please try again!") ?>');
                    }
                });
            }
        });
    });
</script>
