<?php
$om = \Magento\Framework\App\ObjectManager::getInstance();
$currencysymbol = $om->get('Magento\Store\Model\StoreManagerInterface');
$currency = $currencysymbol->getStore()->getCurrentCurrencyCode();
$storeManager = $om->get('Magento\Store\Model\StoreManagerInterface');
?>
<h3 class="appointment-title"><?php echo __('My Appointment');?></h3>
<form name="myappointment_search" method="get" class="myappointment-search">
	<div class="primary">
		<p><?php echo __('Search by Order ID');?></p>
		<input type="text" name="order_id" class="" value="<?php echo $this->getSearchRequest(); ?>" style="width:300px">
		<button type="submit" class="action submit primary" title="<?php echo __('Apply Filter') ?>"><span><?php echo __('Apply Filter') ?></span></button>
	</div>
</form>
<form name="slot_configuration" method="POST" action="<?php echo $this->getSubmitUrl()?>">
	<?php
	echo $block->getBlockHtml('formkey');
	$om = \Magento\Framework\App\ObjectManager::getInstance();
	?>
	<div class="tabledashboard">
		<table>
			<thead>
				<tr>
					<th><?php echo __('Order ID');?></th>
					<th><?php echo __('Customer Name');?></th>
					<th><?php echo __('Product & Service Name');?></th>
					<th><?php echo __('Status');?></th>
					<th><?php echo __('#');?></th>
				</tr>
			</thead>
			<tbody>
				<?php if (is_null($this->getMyAppointment())): ?>
					<tr><td><?php echo __('You have no appointment at the moment.') ?></td></tr>
				<?php else: ?>
					<?php foreach ($block->getMyAppointment() as $data): //var_dump($data); ?>
						<?php $order = $om->get('Magento\Sales\Model\Order')->load($data->getEntityOrderId());?>
						<tr>
							<td>
								<a href="/merchant/myappointment/detail/order_id/<?php echo $data->getOrderId();?>"><?php echo $data->getOrderId();?></a>
							</td>
							<td>
								<?php
								printf('%s %s',
									$order->getShippingAddress()->getFirstname(),
									$order->getShippingAddress()->getLastName()
								);
								?>
							</td>
							<td>
								<?php
                                echo $om->create('Magento\Sales\Model\Order\ItemRepository')
                                    ->get($data->getOrderItemId())
                                    ->getName();
                                ?>
							</td>
							<td><?php echo $data->getVoucherStatus();?></td>
							<td>
                                <a href="<?php echo $storeManager->getStore()->getBaseUrl();?>merchant/myappointment/detail/voucher_code/<?php echo base64_encode($data->getVoucherCode());?>">Detail</a>
							</td>
						</tr>
					<?php endforeach; ?>
				<?php endif; ?>
			</tbody>
			<?php echo $block->getPagerHtml(); ?>
		</table>
	</div>
</form>
