<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Checkout\Block\Cart\Item\Renderer */

$_item = $block->getItem();
$product = $_item->getProduct();
$isVisibleProduct = $product->isVisibleInSiteVisibility();
/** @var \Magento\Msrp\Helper\Data $helper */
$helper = $this->helper('Magento\Msrp\Helper\Data');
$canApplyMsrp = $helper->isShowBeforeOrderConfirm($product) && $helper->isMinimalPriceLessMsrp($product);
?>
<tbody class="cart item">
    <tr class="item-info">
        <td data-th="<?php echo $block->escapeHtml(__('Item')); ?>" class="col item">
            <?php if ($block->hasProductUrl()):?>
                <a href="<?php /* @escapeNotVerified */ echo $block->getProductUrl() ?>"
                   title="<?php echo $block->escapeHtml($block->getProductName()) ?>"
                   tabindex="-1"
                   class="product-item-photo">
            <?php else:?>
                <span class="product-item-photo">
            <?php endif;?>
            <?php echo $block->getImage($block->getProductForThumbnail(), 'cart_page_product_thumbnail')->toHtml(); ?>
            <?php if ($block->hasProductUrl()):?>
                </a>
            <?php else: ?>
                </span>
            <?php endif; ?>
        </td>
        <td data-th="<?php echo $block->escapeHtml(__('Product')); ?>" class="col product">
            <div class="product-item-details">
                <strong class="product-item-name">
                    <?php if ($block->hasProductUrl()):?>
                        <a href="<?php /* @escapeNotVerified */ echo $block->getProductUrl() ?>"><?php echo $block->escapeHtml($block->getProductName()) ?></a>
                    <?php else: ?>
                        <?php echo $block->escapeHtml($block->getProductName()) ?>
                    <?php endif; ?>
                </strong>
                <?php if ($_options = $block->getOptionList()):?>
                    <dl class="item-options">
                        <?php foreach ($_options as $_option) : ?>
                            <?php $_formatedOptionValue = $block->getFormatedOptionValue($_option) ?>
                            <dt><?php echo $block->escapeHtml($_option['label']) ?></dt>
                            <dd>
                                <?php if (isset($_formatedOptionValue['full_view'])): ?>
                                    <?php /* @escapeNotVerified */ echo $_formatedOptionValue['full_view'] ?>
                                <?php else: ?>
                                    <?php /* @escapeNotVerified */ echo $_formatedOptionValue['value'] ?>
                                <?php endif; ?>
                            </dd>
                        <?php endforeach; ?>
                    </dl>
                <?php endif;?>
                <?php if ($messages = $block->getMessages()): ?>
                    <?php foreach ($messages as $message): ?>
                        <div class="cart item message <?php /* @escapeNotVerified */ echo $message['type'] ?>"><div><?php echo $block->escapeHtml($message['text']) ?></div></div>
                    <?php endforeach; ?>
                <?php endif; ?>
                <?php $addInfoBlock = $block->getProductAdditionalInformationBlock(); ?>
                <?php if ($addInfoBlock): ?>
                    <?php echo $addInfoBlock->setItem($_item)->toHtml() ?>
                <?php endif;?>

            </div>
        </td>

        <?php if ($canApplyMsrp): ?>
            <td class="col msrp" data-th="<?php echo $block->escapeHtml(__('Price')); ?>">
                <span class="pricing msrp">
                    <span class="msrp notice"><?php /* @escapeNotVerified */ echo __('See price before order confirmation.'); ?></span>
                    <?php $helpLinkId = 'cart-msrp-help-' . $_item->getId(); ?>
                    <a href="#" class="action help map" id="<?php /* @escapeNotVerified */ echo($helpLinkId); ?>" data-mage-init='{"addToCart":{"helpLinkId": "#<?php /* @escapeNotVerified */ echo $helpLinkId;?>","productName": "<?php /* @escapeNotVerified */ echo $product->getName(); ?>","showAddToCart": false}}'>
                        <span><?php /* @escapeNotVerified */ echo __("What's this?"); ?></span>
                    </a>
                </span>
            </td>
        <?php else: ?>
            <td class="col price" data-th="<?php echo $block->escapeHtml(__('Price')); ?>">
                <?php
                    $normalPrice = $_item->getPrice();
                    $finalPrice = $_item->getProduct()->getPrice();


                ?>

                <?php if($finalPrice):?>
                    <?php if($normalPrice != $finalPrice): ?>
                    <span class="old-price">
                        <?php echo 'Rp ' . number_format($finalPrice, 0, '.', ',');?>
                    </span>
                    <?php endif ?>
                <?php endif ?>

                <?php echo $block->getUnitPriceHtml($_item); ?>
            </td>
        <?php endif; ?>
        <td class="col qty" data-th="<?php echo $block->escapeHtml(__('Qty')); ?>">
            <div class="field qty">
                <label class="label" for="cart-<?php /* @escapeNotVerified */ echo $_item->getId() ?>-qty">
                    <span><?php /* @escapeNotVerified */ echo __('Qty') ?></span>
                </label>
                <div class="control qty">
                    <input id="cart-<?php /* @escapeNotVerified */ echo $_item->getId() ?>-qty"
                           name="cart[<?php /* @escapeNotVerified */ echo $_item->getId() ?>][qty]"
                           data-cart-item-id="<?php /* @escapeNotVerified */ echo $_item->getSku() ?>"
                           value="<?php /* @escapeNotVerified */ echo $block->getQty() ?>"
                           type="number"
                           size="4"
                           title="<?php echo $block->escapeHtml(__('Qty')); ?>"
                           class="input-text qty"
                           maxlength="12"
                           readonly
                           data-validate="{required:true,'validate-greater-than-zero':true}"
                           data-role="cart-item-qty" />
                </div>
            </div>
        </td>

        <td class="col subtotal" data-th="<?php echo $block->escapeHtml(__('Subtotal'));?>">
            <?php if ($canApplyMsrp): ?>
                <span class="cart msrp subtotal">--</span>
            <?php else: ?>
                <?php echo $block->getRowTotalHtml($_item); ?>
            <?php endif; ?>
        </td>
    </tr>
    <tr class="action-items">
        <td colspan="2">
            <?php
            $om = \Magento\Framework\App\ObjectManager::getInstance();
            // check for bundle product and get appointments data
            if ($_item->getProductType() == 'bundle') {
                foreach ($_item->getChildren() as $simple) {
                    $productFromSimple = $om->create('Magento\Catalog\Model\Product')->load($simple->getProductId());
                    if ($simple->getProductType() == 'simple' && $productFromSimple->getAttributeText('is_service')->getText() == 'Yes') {
                        //$appointments = unserialize($simple->getAppointment()); //simple
                        $appointments = unserialize($_item->getAppointment()); //bundle
                    }
                }
            }
            // check for simple product and get appointments data
            else {
                $productFromSimple = $om->create('Magento\Catalog\Model\Product')->load($_item->getProductId());
                if ($productFromSimple->getAttributeText('is_service')->getText() == 'Yes') {
                    $appointments = unserialize($_item->getAppointment());
                }
            }
            ?>
            <?php if (!empty($appointments)): ?>
            <table class="table product-service-item visible-md visible-lg">
                <thead>
                    <tr>
                        <th>Quantity ke</th>
                        <th>Tempat</th>
                        <th>Jadwal</th>
                    </tr>
                </thead>
                <tbody>
                    <?php
                    $htmlAppointments = '';
                    if (isset($appointments['region']) && count($appointments['region']) > 0) {
                        $dataApFinal = [];
                        foreach ($appointments as $apkey => $apvalue) {
                            foreach ($apvalue as $k => $v) {
                                if($apkey == 'whs_id'){
                                    $dataApFinal[$k][$apkey] = $v;
                                }
                                if($apkey == 'ap_date'){
                                    $dataApFinal[$k][$apkey] = $v;
                                }
                                if($apkey == 'address'){
                                    $dataApFinal[$k][$apkey] = $v;
                                }
                                if($apkey == 'ap_hours'){
                                    $dataApFinal[$k][$apkey] = $v;
                                }
                            }
                        }

                        $qtynumber = 1;
                        foreach ($dataApFinal as $rs) {
                            $whsModel = $om->get('Amasty\MultiInventory\Model\Warehouse')->load($rs['whs_id']);
                            $tempat = sprintf('%s jam %s', date('j F Y', strtotime($rs['ap_date'])), $rs['ap_hours']);
                            $htmlAppointments .= <<<HTML
                            <tr>
                                <td>{$qtynumber}</td>
                                <td>{$whsModel->getTitle()}</td>
                                <td>{$tempat}</td>
                            <tr>
HTML;
                            $qtynumber++;
                        }
                    }
                    ?>
                    <?php echo $htmlAppointments; ?>
                </tbody>
            </table>


            <div class="visible-xs visible-sm row mobile-appointment">
                 <?php
                    $htmlAppointments = '';
                    if (isset($appointments['region']) && count($appointments['region']) > 0) {
                        $dataApFinal = [];
                        foreach ($appointments as $apkey => $apvalue) {
                            foreach ($apvalue as $k => $v) {
                                if($apkey == 'whs_id'){
                                    $dataApFinal[$k][$apkey] = $v;
                                }
                                if($apkey == 'ap_date'){
                                    $dataApFinal[$k][$apkey] = $v;
                                }
                                if($apkey == 'address'){
                                    $dataApFinal[$k][$apkey] = $v;
                                }
                                if($apkey == 'ap_hours'){
                                    $dataApFinal[$k][$apkey] = $v;
                                }
                            }
                        }

                        $qtynumber = 1;
                        foreach ($dataApFinal as $rs) {
                            $whsModel = $om->get('Amasty\MultiInventory\Model\Warehouse')->load($rs['whs_id']);
                            $tempat = sprintf('%s jam %s', date('j F Y', strtotime($rs['ap_date'])), $rs['ap_hours']);
                            $htmlAppointments .= <<<HTML
                            <div class="col-xs-4 col-sm-4 mob-title" style="margin-top:5px;">
                                <b>Quantity ke</b>
                            </div>
                            <div class="col-xs-8 col-xs-8" style="margin-top:5px;">
                                <span>{$qtynumber}</span>
                            </div>
                            <div class="col-xs-12">
                                <hr>
                            </div>

                            <div class="col-xs-4 col-sm-4 mob-title">
                                <b>Tempat</b>
                            </div>
                            <div class="col-xs-8 col-xs-8">
                            {$whsModel->getTitle()}
                            </div>
                            <div class="col-xs-12">
                                <hr>
                            </div>

                            <div class="col-xs-4 col-sm-4 mob-title">
                                <b>Jadwal</b>
                            </div>
                            <div class="col-xs-8 col-xs-8">{$tempat}</div>
                            <div class="col-xs-12" style="margin-bottom:35px;">
                                <hr>
                            </div>

HTML;
                            $qtynumber++;
                        }
                    }
                    ?>
                    <?php echo $htmlAppointments; ?>
            </div>




            <?php endif;?>
        </td>
        <td colspan="3" class="item-actions-wrapper">
            <table>
                <tr class="item-actions">
                    <td colspan="100">
                        <div class="actions-toolbar">
                            <?php /* @escapeNotVerified */ echo $block->getActions($_item) ?>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</tbody>
