<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="shipping-address-item" data-bind="css: isSelected() ? 'selected-item' : 'not-selected-item'">
    <span><!-- ko text: address().prefix --><!-- /ko --> <!-- ko text: address().firstname --><!-- /ko -->
    <!-- ko text: address().lastname --><!-- /ko --> <!-- ko text: address().suffix --><!-- /ko --></span><br/>
    <!-- ko text: address().street --><!-- /ko -->
    
    <!-- ko foreach: { data: address().customAttributes, as: 'element' } -->
        <!-- ko foreach: { data: Object.keys(element), as: 'attribute' } -->
            <!-- ko if: element[attribute].value != null -->
                , <!-- ko text: element[attribute].value --><!-- /ko -->
            <!-- /ko -->
            <!-- ko if: element[attribute].value == null -->
                , <!-- ko text: element[attribute] --><!-- /ko -->
            <!-- /ko -->
         <!-- /ko -->
    <!-- /ko -->

    <!-- ko text: address().city --><!-- /ko -->, <!-- ko text: address().region --><!-- /ko --> <!-- ko text: address().postcode --><!-- /ko --><br/>
    <!-- ko text: getCountryName(address().countryId) --><!-- /ko --><br/><br/>
    
    <span data-bind="i18n: 'Telepon'"></span><br/>
    <!-- ko text: address().telephone --><!-- /ko --><br/>
    <!-- ko if: (address().isEditable()) -->
    <button type="button"
            class="action edit-address-link"
            data-bind="click: editAddress, visible: address().isEditable()">
        <span data-bind="i18n: 'Edit'"></span>
    </button>
    <!-- /ko -->

    <button type="button" data-bind="click: selectAddress" class="action action-select-shipping-item pull-right">
        <span data-bind="i18n: 'Ship Here'"></span> <i class="fa fa-caret-right" aria-hidden="true"></i>
    </button>

</div>