<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
/* @var $block \Magento\Framework\View\Element\Template */
$limit = $this->helper('Acommerce\Catalog\Helper\Catalog\Data')->getConfig('catalog/recently_products/compared_count');
?>

<div class="block block-compare" data-bind="scope: 'compareProducts'" data-role="compare-products-sidebar">
    <!-- ko if: compareProducts().count -->
    <div class="block-content no-display" aria-labelledby="block-compare-heading" data-bind="css: {'no-display': !compareProducts().count}">
        <div class="actions-toolbar">
            <div class="primary">
                <div data-bind="attr: {'href': compareProducts().listUrl}" class="action compare primary"><span><?php /* @escapeNotVerified */ echo __('Compare') ?> <p data-bind="text: compareProducts().count, css: {'no-display': !compareProducts().count}"></div>/<?php echo __(''.$limit.' Product');?></span></a>
            </div>
        </div>
    </div>
    <!-- /ko -->
    <!-- ko ifnot: compareProducts().count -->
    <div class="empty">
        <div class="actions-toolbar">
            <div class="primary">
                <a data-bind="attr: {'href': compareProducts().listUrl}" class="action compare primary"><span><?php /* @escapeNotVerified */ echo __('Compare 0/'.$limit.' Product') ?></span></a>
            </div>
        </div>
    </div>
    <!-- /ko -->
</div>
<script type="text/x-magento-init">
{"[data-role=compare-products-sidebar]": {"Magento_Ui/js/core/app": <?php /* @escapeNotVerified */ echo $block->getJsLayout();?>}}
</script>
