<th class="data-grid-combi-cell"  css="
        _sortable: sortable,
        _draggable: draggable,
        _ascend: sorting === 'asc',
        _descend: sorting === 'desc'">
    <span class="data-grid-cell-content" text="label"/>
    <table>
        <thead>
        <th class="wh-qty">Qty</th>
        <th class="wh-available">Available Qty</th>
        <th class="wh-ship">Qty To Ship</th>
        <th class="wh-room">Shelf</th>
        </thead>
    </table>
</th>