<!--@subject {{trans "Reminder for Payment Virtual Account"}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:14px/1.4em Verdana, Arial, Helvetica, sans-serif; }
@-->
{{template config_path="design/email/header_template"}}
<table class="top-section">
    <tr>
        <td class="column-left">
            <h2>{{trans 'Dear, %customer_name' customer_name=$customer_name |raw}}</h2>
        </td>
        <td class="column-right">
            <h2>{{trans 'Ada Pertanyaan?'}}</h2>
        </td>
    </tr>
    <tr>
        <td class="column-left">
            <h3>{{trans 'Menunggu pembayaran:'}}</h3>
            <h4>{{trans 'Bank'}} {{var pay_method|raw}}</h4>
            <h4>{{trans 'No VA:'}} {{var virtual_no|raw}}</h4>
            <p>{{trans 'Total:'}} {{var grand_total|raw}}</p>
            <p>{{trans 'Segera lunasi Max:'}} {{var expired_time|raw}} WIB</p>
            <p>{{trans 'Cara Pembayaran cek email Anda'}}</p>
        </td>
        <td class="column-right">
            <span>{{trans 'Email : <a href="mailto:%store_email">%store_email</a>' store_email=$store_email |raw}}</span><br/>
            <!-- <span>{{trans 'Telepon : <a href="tel:%store_phone">%store_phone</a>' store_phone=$store_phone |raw}}</span> -->
        </td>
    </tr>
</table>
<table class="mid-section">
    <tr>
        <td class="column-left">
            <h2>{{trans 'Pesanan Anda <span class="no-link">#%increment_id</span>' increment_id=$increment_id |raw}}</h2>
            <p>{{trans 'Waktu pesanan : <span class="no-link">%created_at</span>' created_at=$created_at |raw}}</p>
        </td>
    </tr>
</table>

<table class="detail-order-table">
    <tr class="email-information">
        <td>
            {{depend order.getEmailCustomerNote()}}
            <table class="message-info">
                <tr>
                    <td>
                        {{var order.getEmailCustomerNote()|escape|nl2br}}
                    </td>
                </tr>
            </table>
            {{/depend}}
            {{layout handle="sales_email_order_items" order=$order}}
        </td>
    </tr>
</table>
{{template config_path="design/email/footer_template"}}