<div class="footer-copy">
    <div class="footer content">
        <div class="row">
            <div class="col-sm-12 col-md-6">
            	<div class="footer-bottom-links">
                   <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer-copyright-menu')->toHtml(); ?>
                </div>
                <small class="copyright">
                	<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')
					->setBlockId('footer-copyright')->toHtml(); ?>
                </small>
            </div>
            <div class="col-sm-12 col-md-6">
                <small class="powered">
                    <span>Powered by:<img src="<?php echo $block->getViewFileUrl('img/acommerce.png')?>"></span>
                </small>
            </div>
        </div>
    </div>
</div>
