<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Catalog\Block\Product\View */
?>
<?php
$_product = $block->getProduct();
$om = \Magento\Framework\App\ObjectManager::getInstance();
$storeUrl = $om->get('\Magento\Store\Model\StoreManagerInterface')->getStore()->getBaseUrl();
?>
<?php $buttonTitle = __('Update Cart'); ?>
<?php if ($_product->isSaleable()): ?>
    <div class="box-tocart update">
        <fieldset class="fieldset">
            <?php if ($block->shouldRenderQuantity()): ?>
            <div class="field qty">
                <label class="label" for="qty"><span><?php /* @escapeNotVerified */ echo __('Qty') ?></span></label>
                <div class="control">
                    <span class="increment-qty left increment" id="remove-ap-book">-</span>
                    <input type="number" name="qty" id="qty" maxlength="12" readonly value="<?php /* @escapeNotVerified */ echo $block->getProductDefaultQty() * 1 ?>" title="<?php /* @escapeNotVerified */ echo __('Qty') ?>" class="input-text qty" data-validate="{'required-number':true,digits:true}"/>
                    <span class="increment-qty right increment" id="append-ap-book">+</span>
                </div>
                <script type="text/javascript">
                    require([ 'jquery', 'jquery/ui'], function($){
                        $(document).ready(function($) {
                            jQuery('.increment-qty').click(function(){
                                oldVal = jQuery(this).parent().find('input').val();
                                if (jQuery(this).text() == '+') {
                                    var newVal = parseFloat(oldVal) + 1;
                                } else {
                                    if (oldVal > 1) {
                                        var newVal = parseFloat(oldVal) - 1;
                                    } else {
                                        newVal = 1;
                                    }
                                }
                                jQuery(this).parent().find('input').val(newVal);
                            });
                        });
                    });
                </script>
            </div>
            <?php endif; ?>
            <div class="actions">
                <button type="submit"
                        title="<?php /* @escapeNotVerified */ echo $buttonTitle ?>"
                        class="action primary tocart"
                        id="product-updatecart-button">
                    <span><?php /* @escapeNotVerified */ echo $buttonTitle ?></span>
                </button>
                <?php echo $block->getChildHtml('', true) ?>
            </div>
        </fieldset>
    </div>
    <script type="text/x-magento-init">
        {
            "#product_addtocart_form": {
                "validation": {},
                "addToCart": {
                    "cartButtonId": "#product-updatecart-button",
                    "cartForm": "#product_addtocart_form"
                }
            }
        }
    </script>
    <script>
    require([
        'jquery',
        'priceBox',
        'js/select2.min'
    ], function($) {

        var apptHtmlObj,
            apptObj,
            setQty = $('#qty').val() - 1;

        function reinitDate(el) {
            var today = new Date();  
            var startDate = today.setDate(today.getDate()+1);
            var endDate = today.setDate(today.getDate()+59);
            var items = $('body').find(el);
            $.each(items, function(key, value){
                $(value).removeClass('_has-datepicker');
                $(value).datepicker({
                    showButtonPanel: true,
                    minDate: new Date(startDate),
                    maxDate: new Date(endDate),
                    dayNamesMin: ['Minggu','Senin','Selasa','Rabu','Kamis','Jumat','Sabtu'],
                    monthNames: ['Januari','Februari','Maret','April','Mei','Juni', 'Juli','Agustus','September','Oktober','November','Desember'],
                    dateFormat:'mm/dd/yy'
                });
            });
        }
        reinitDate('.ap-date');

        $('#append-ap-book').click(function(){
            setTimeout(function(){ reinitDate('.ap-date'); }, 2000);   
        });

        var editAppointment = function( hitAppend ) {

            var addAppointment = $("<div class='appointment-book-qty append-"+hitAppend+"'><p><strong><?php echo __('Tentukan Tempat dan Jadwal #') ?>"+( hitAppend + 1 )+"</strong></p>"+apptHtmlObj.html()+"</div>");

            $('#available-qty').val(hitAppend);
            $(".appointment-book-text.append-"+hitAppend).html(addAppointment).each(function() {
                $('.appointment-where').on('change', function() {
                    var parentClass = $(this).closest('.appointment-book-qty');
                    var selectClass = parentClass.find('.appointment-where');
                    if (! parentClass.hasClass('append-1')) {
                        selectClass.prop('checked', true);
                        selectClass.closest('li').addClass('active');
                        selectClass.not(this).prop('checked', false);
                        selectClass.not(this).closest('li').removeClass('active');
                    }
                });

                $('.append-'+hitAppend+' input[name="slot_name[]"]').val('');
                $('.append-'+hitAppend+' input[name="whs_id[]"]').val('');

                $('.append-'+hitAppend+' .ap-region').select2({
                    placeholder: "<?php echo __('Please select region') ?>"
                });
            });

            // Apply select2 again after append
            $('.append-1 select').each(function() {
                if($(this).is(':visible')) {
                    if($(this).hasClass('ap-region')) {
                        $(this).select2({
                            placeholder: "<?php echo __('Please select region') ?>"
                        });
                    } else if ($(this).hasClass('ap-city')) {
                        $(this).select2({
                            placeholder: "<?php echo __('Please select city') ?>"
                        });
                    } else if ($(this).hasClass('ap-address')) {
                        $(this).select2({
                            minimumResultsForSearch: Infinity,
                            placeholder: "<?php echo __('Please select address') ?>"
                        });
                    } else if ($(this).hasClass('ap-hours')) {
                        $(this).select2({
                            minimumResultsForSearch: Infinity,
                            placeholder: "<?php echo __('Please select hour') ?>"
                        });
                    }
                }
            })

            $('.append-'+hitAppend+' .ap-city, .append-'+hitAppend+' .ap-address, .append-'+hitAppend+' .ap-date, .append-'+hitAppend+' .ap-hours').hide();
    

        }

        var addAppointment = function( hitAppend ) {

            var addAppointment = $("<div class='appointment-book-qty appointment-book-text append-"+hitAppend+"'><p><strong><?php echo __('Tentukan Tempat dan Jadwal #') ?>"+( hitAppend + 1 )+"</strong></p>"+apptHtmlObj.html()+"</div>");

            // $('#available-qty').val(hitAppend);
            $("#appointment-book").append(addAppointment).each(function() {
                $('.appointment-where').on('change', function() {
                    var parentClass = $(this).closest('.appointment-book-qty');
                    var selectClass = parentClass.find('.appointment-where');
                    if (! parentClass.hasClass('append-1')) {
                        selectClass.prop('checked', true);
                        selectClass.closest('li').addClass('active');
                        selectClass.not(this).prop('checked', false);
                        selectClass.not(this).closest('li').removeClass('active');
                    }
                });

                $('.append-'+hitAppend+' input[name="slot_name[]"]').val('');
                $('.append-'+hitAppend+' input[name="whs_id[]"]').val('');

                $('.append-'+hitAppend+' .ap-region').select2({
                    placeholder: "<?php echo __('Please select region') ?>"
                });
            });

            $('.append-'+hitAppend+' .ap-city, .append-'+hitAppend+' .ap-address, .append-'+hitAppend+' .ap-date, .append-'+hitAppend+' .ap-hours').hide();
            $('.append-'+hitAppend).find('.ap-date').attr('id', 'ap-date'+hitAppend);
        }

        $('#append-ap-book').click(function(){
            setQty ++;
            addAppointment( setQty );
        });

        $('#remove-ap-book').click(function(){
            if( setQty > 0 ) {
                $('.appointment-book-qty.append-'+setQty).remove();
                setQty --;
            }
        });

        $('body').on('change','#appointment-book select[name="region[]"]',function(){
            var el = $(this).closest('.appointment-book-qty');
            $('.mage-error').remove();
            loadByRegion(el);
        });
        $('body').on('change','#appointment-book select[name="city[]"]',function(){
            var el = $(this).closest('.appointment-book-qty');
            $('.mage-error').remove();
            loadByCity(el);
        });

        $('body').on('change','#appointment-book select[name="address[]"]',function(){
            var el = $(this).closest('.appointment-book-qty');
            $('.mage-error').remove();
            loadByAddress(el);
            loadBySlot(el);
            loadByHoliday(el);
        });
        $('body').on('change','#appointment-book select[name="ap_hours[]"]',function(){
            var el = $(this).closest('.appointment-book-qty');
            $('.mage-error').remove();
            loadBySlot(el);
        });
        // e:onchange option location

        // change tab home service or not
        $('body').on('click','#appointment-book input[name="mechanic_come_to_home[]"]',function(){
            var el = $(this).closest('.appointment-book-qty');
            home_service = $(this).val();
            $(el).find('input[name="home_service[]"]').val(home_service);
            $('.mage-error').remove();
            loadByRegion(el);
        });

        function loadByRegion(el) {
            ap_region = $(el).find('.ap-region').val();
            ap_city = $(el).find('.ap-city').val();
            ap_address = $(el).find('.ap-address').val();
            home_service = $(el).find('input[name="home_service[]"]').val();

            $.ajax({
                type: 'post',
                url: '<?php echo $storeUrl;?>pdp/appointment/byregion',
                data: { product_id: <?php echo $_product->getId(); ?>, region: ap_region , city: ap_city, address: ap_address,home_service: home_service },
                showLoader: true
            }).done(function(resp){
                $(el).find('.ap-city').html(resp);
                $(el).find('.ap-city').fadeIn();
                $(el).find('.ap-city').select2({
                    placeholder: "<?php echo __('Please select city') ?>"
                });
                if($(el).find('.ap-address').hasClass('select2-hidden-accessible')) {
                    $(el).find('.ap-address').select2('destroy');
                }
                if($(el).find('.ap-hours').hasClass('select2-hidden-accessible')) {
                    $(el).find('.ap-hours').select2('destroy');
                }
                $(el).find('.ap-address').html('');
                $(el).find('.ap-address').hide();
                $(el).find('.ap-date').hide();
                $(el).find('.ap-hours').html('');
                $(el).find('.ap-hours').hide();
            }).fail(function(e) {
                alert( "error: please try again. ");
            }).always(function() {
                //alert( "complete" );
            });
        }
        function loadByCity(el) {
            ap_region = $(el).find('.ap-region').val();
            ap_city = $(el).find('.ap-city').val();
            ap_address = $(el).find('.ap-address').val();
            home_service = $(el).find('input[name="home_service[]"]').val();

            $.ajax({
                type: 'post',
                url: '<?php echo $storeUrl;?>pdp/appointment/bycity',
                data: {
                    product_id: <?php echo $_product->getId(); ?>,
                    region: ap_region,
                    city: ap_city,
                    address: ap_address,
                    home_service: home_service
                },
                showLoader: true
            }).done(function(resp){
                $(el).find('.ap-address').html(resp);
                $(el).find('.ap-address').fadeIn();
                $(el).find('.ap-address').select2({
                    placeholder: "<?php echo __('Please select address') ?>"
                });
                if($(el).find('.ap-hours').hasClass('select2-hidden-accessible')) {
                    $(el).find('.ap-hours').select2('destroy');
                }
                $(el).find('.ap-date').hide();
                $(el).find('.ap-hours').hide();
            }).fail(function(e) {
                alert( "error: please try again.");
            }).always(function() {
                //alert( "complete" );
            });
        }
        function loadByAddress(el) {
            ap_region = $(el).find('.ap-region').val();
            ap_city = $(el).find('.ap-city').val();
            ap_address = $(el).find('.ap-address').val();
            home_service = $(el).find('input[name="home_service[]"]').val();

            $.ajax({
                type: 'post',
                url: '<?php echo $storeUrl;?>pdp/appointment/byaddress',
                data: { product_id: <?php echo $_product->getId(); ?>, region: ap_region , city: ap_city, address: ap_address, home_service: home_service },
                showLoader: true
            }).done(function(resp){
                $(el).find('.ap-date').fadeIn();
                $(el).find('.ap-hours').html(resp);
                $(el).find('.ap-hours').fadeIn();
                $(el).find('.ap-hours').select2({
                    placeholder: "<?php echo __('Please select hour') ?>"
                });
            }).fail(function(e) {
                alert( "error: please try again.");
            }).always(function() {
                //alert( "complete" );
            });
        }
        function loadBySlot(el) {
            ap_region = $(el).find('.ap-region').val();
            ap_city = $(el).find('.ap-city').val();
            ap_address = $(el).find('.ap-address').val();
            ap_hours = $(el).find('.ap-hours').val();
            home_service = $(el).find('input[name="home_service[]"]').val();

            $.ajax({
                type: 'post',
                url: '<?php echo $storeUrl;?>pdp/appointment/byslot',
                data: { product_id: <?php echo $_product->getId(); ?>, region: ap_region , city: ap_city, address: ap_address, hours: ap_hours, home_service: home_service },
                dataType: 'json',
                showLoader: true
            }).done(function(resp){
                $.each(resp, function(respkey, respval) {
                    $(el).find('input[name="slot_name[]"]').val(respval.slot_name);
                    $(el).find('input[name="whs_id[]"]').val(respval.whs_id);
                });
                // $('#appointment-hidden').append(resp);
            }).fail(function(e) {
                alert( "error: please try again.");
            }).always(function() {
                //alert( "complete" );
            });
        }
        function loadByHoliday(el) {
            var whs_id = $(el).find('input[name="whs_id[]"]').val();

            $.ajax({
                type: 'post',
                url: '<?php echo $storeUrl;?>pdp/appointment/byholiday',
                data: { product_id: <?php echo $_product->getId(); ?>, whs_id: whs_id },
                showLoader: true
            }).done(function(resp){
                //response
                console.log(resp);
            }).fail(function(e) {
                alert( "error: please try again. ");
            }).always(function() {
                //alert( "complete" );
            });
        }

        $('body').on('click', '.appointment-book-text .action.edit', function() {
            var index = $(this).data().index;
            editAppointment(index);
        });

        $('body').on('click', '.appointment-book-text .action.remove', function() {
            var index = $(this).data().index;
            $('#qty').val( $('#qty').val() - 1 );
            // apptObj.splice(index);
            // console.log( apptObj, 1 );
            $('.appointment-book-qty.appointment-book-text.append-'+index).remove();
        });

        $('button.action.tocart-clone > span').text('<?php echo __('Edit Item') ?>');

        $('body').on('click','button.action.tocart-clone',function(){
            $('#product_addtocart_form').submit();
        });

        var loadAppointment = function(index, apptData) {

            var addAppointment = $("<div class='appointment-book-qty appointment-book-text append-"+index+"'>"
                                    +"<p>"
                                        +"<strong><?php echo __('Tentukan Tempat dan Jadwal #') ?>"+( index + 1 )+"</strong>"
                                        +"<a class='action remove' data-index='"+index+"' title='<?php echo __('Remove') ?>'><span><?php echo __('Remove') ?></span></a>"
                                        +"<a class='action edit' data-index='"+index+"' title='<?php echo __('Edit') ?>'><span><?php echo __('Edit') ?></span></a>"
                                    +"</p>"
                                    +"<ul class='appointment-form clearfix'>"
                                        +"<li><input type='text' name='region[]' readonly value='"+apptData.region+"' /></li>"
                                        +"<li><input type='text' name='city[]' readonly value='"+apptData.city+"' /></li>"
                                        +"<li><input type='text' name='address[]' readonly value='"+apptData.address+"' /></li>"
                                        +"<li class='appointment-timeslot'><div class='col-md-6'><div class='row'><input class='ap-date' type='text' name='ap_date[]' readonly value='"+apptData.ap_date+"' /></div></div><div class='col-md-6'><div class='row'><input type='text' class='ap_hours'  name='ap_hours[]' readonly value='"+apptData.ap_hours+"' /></div></div></li>"
                                    +"</ul>"
                                    +"<div id='appointment-hidden' class='appointment-hidden'>"
                                        +"<input type='hidden' name='slot_name[]' value='"+apptData.slot_name+"'>"
                                        +"<input type='hidden' name='whs_id[]' value='"+apptData.whs_id+"'>"
                                        +"<input type='hidden' name='home_service[]' value='0'>"
                                        +"<input type='hidden' name='mechanic_come_to_home[]' value='0'>"
                                    +'</div>'
                                +"</div>");
            $("#appointment-book").append(addAppointment);
    
        }

        $(window).load(function() {
            $.ajax({
                type: 'get',
                url: '<?php echo $storeUrl;?>pdp/appointment/update',
                data: {
                    id: <?php echo $_product->getId(); ?>
                },
                showLoader: true
            }).done(function(appt) {
                apptObj = JSON.parse( appt );
                $.each(apptObj, function(key, value){
                    loadAppointment(key, value);
                    $('#appointment-book')
                });
                $('#appointment-book > #appointment-book-qty select').each(function() {
                    if($(this).hasClass('select2-hidden-accessible')) {
                        $(this).select2('destroy'); // Remove select2 before append
                    }
                })
                apptHtmlObj = $('#appointment-book > #appointment-book-qty');
                $('#appointment-book > p, #appointment-book > #appointment-book-qty').remove();
            });
        })
    })
    </script>
<?php endif; ?>
