<div class="header-top">
	<div class="row">
		<div class="col-sm-6 col-md-6">
			<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('header-top-left')->toHtml();?>
		</div>
		<div class="col-sm-6 col-md-6 text-right">
			<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('header-top-right')->toHtml();?>
		</div>
	</div>	
</div>

<!-- <a href="#" class="btn-searchcategory"><?php /* @escapeNotVerified */ echo __('SEARCH SPARE PARTS') ?></a> -->

<div class="wrp-searchsparepart" style="display: none;">
	<div class="bgblack"></div>
	<div class="wrp-contentpop">
		<a  class="fa fa-times close-searchsparepart"></a>
		<div class="wrp-iteminput">
			<h4><?php /* @escapeNotVerified */ echo __('Search Spare Parts') ?></h4>
			<div class="iteminpput">
				<label>Kendaraan</label>
				<select class="kendaraan">
					<option>Kendaraan</option>
				</select>
			</div>
			<div class="iteminpput">
				<label>Type</label>
				<select class="tipe">
					<option>Type</option>
				</select>
			</div>
			<div class="iteminpput">
				<label>Brand Unit</label>
				<select class="brand">
					<option>Brand</option>
				</select>
			</div>
			<div class="iteminpput">
				<label>Model</label>
				<select class="model">
					<option>Model</option>
				</select>
			</div>
			<a href="spare-part" class="btn-main">SEARCH</a>
		</div>
	</div>
</div><!-- /wrp-searchsparepart -->