<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Catalog\Block\Product\View */
?>
<?php $_product = $block->getProduct(); ?>
<?php $buttonTitle = __('Add to Cart'); ?>
<?php if ($_product->isSaleable()): ?>
<div class="box-tocart">
    <div class="fieldset">
        <?php if ($block->shouldRenderQuantity()): ?>
        <div class="field qty">
            <div class="control">
                <span class="increment-qty left increment">-</span>
                <input type="number"
                       name="qty"
                       id="qty"
                       maxlength="12"
                       value="<?php /* @escapeNotVerified */ echo $block->getProductDefaultQty() * 1 ?>"
                       min="1"
                       title="<?php /* @escapeNotVerified */ echo __('Qty') ?>" class="input-text qty"
                       data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"
                       />
                <span class="increment-qty right increment">+</span>
            </div>

            <script type="text/javascript">
                require([ 'jquery', 'jquery/ui'], function($){ $(document).ready(function($) {

                    jQuery('.increment-qty').click(function(){
                        oldVal = jQuery(this).parent().find('input').val();

                        if (jQuery(this).text() == '+') {
                            var newVal = parseFloat(oldVal) + 1;
                        } else {
                            if (oldVal > 1) {
                                var newVal = parseFloat(oldVal) - 1;
                            } else {
                                newVal = 1;
                            }
                        }
                        jQuery(this).parent().find('input').val(newVal);
                    });
                }); });
            </script>
        </div>

        <?php endif; ?>

        <div class="actions">
            <button type="submit"
                    title="<?php /* @escapeNotVerified */ echo $buttonTitle ?>"
                    class="action primary tocart"
                    id="product-addtocart-button">
                <span><?php /* @escapeNotVerified */ echo $buttonTitle ?></span>
            </button>
            <?php echo $block->getChildHtml('', true) ?>
        </div>
    </div>

</div>
<?php else: ?>
    <?php if ($_product->getIsSalable()): ?>
        <div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
    <?php else: ?>
        <div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>
    <?php endif; ?>

<?php endif; ?>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/product/view/validation": {
                "radioCheckboxClosest": ".nested"
            }
        }
    }
</script>
<?php if (!$block->isRedirectToCartEnabled()) : ?>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "catalogAddToCart": {
                "bindSubmit": false
            }
        }
    }
</script>
<?php endif; ?>

<?php
    $_categoryCollectionsObj = \Magento\Framework\App\ObjectManager::getInstance()->create('Magento\Catalog\Model\Category');
    $_categoryName = [];
    $_categoryIds = $_product->getCategoryIds();

    foreach ($_categoryIds as $_categoryId) {
        $_categoryName[] = $_categoryCollectionsObj->load($_categoryId)->getName();
    }
    $_categoryName = implode('/', $_categoryName);
?>

<script type="text/javascript">
    var products = {
        'name':'<?php echo $block->escapeHtml( $_product->getName() ) ?>',
        'id':'<?php echo $block->escapeHtml( $_product->getSku() ) ?>',
        <?php if($_product->getTypeId() == "simple"): ?>
            <?php if($_product->getSpecialPrice()): ?>
                'price':<?php echo $_product->getSpecialPrice() * 1; ?>,
            <?php else:?>
                'price':<?php echo $_product->getPrice() * 1; ?>,
            <?php endif; ?>
            'price':<?php echo $_product->getFinalPrice() * 1; ?>,
        <?php elseif($_product->getTypeId() == "configurable"):?>
            <?php 
                $_children = $_product->getTypeInstance()->getUsedProducts($_product);
                foreach ($_children as $child){
                    $tempCount = array($child->getPrice());
                }
            ?>
            'price':<?php echo end($tempCount) * 1; ?>,
        <?php endif; ?>
        'brand':'<?php echo $block->escapeHtml( $_product->getAttributeText('brand') ) ?>',
        'category':'<?php echo $block->escapeHtml( $_categoryName ) ?>',
        'variant':'',
        'List':'',
    };

    dataLayer.push({
        'pageType':'pdpView',
        'ecommerce':{
            'detail':{
                'currencyCode':'IDR',
                'products': products,
            }
        },
    });

    require(['jquery'], function($){
        $('#product_addtocart_form').on('submit', function(e){
            products['quantity'] = $('#qty').val();
            dataLayer.push({
                'event':'addToCart',
                'ecommerce': {
                    'currencyCode':'IDR',
                    'add': {
                        'products': products,
                    }
                }
            });
        })
    });
</script>