.minicart {
	.block-minicart {
		line-height: 1;
		border-color: @c-border;
		box-shadow: none;
		z-index: 800;
		box-shadow: 0 10px 30px rgba(0,0,0,.2);
		&:after {
			border-color: transparent transparent @c-border transparent;
		}
		.actions {
			.secondary {
				.viewcart {
					width: 100%;
					font-size: 16px;
					text-transform: capitalize;
					span {
						color: @c-red;
						&:hover {
							background-color: none;
						}
					}
				}
			}
		}
		.block-content {
			.items-total {
				font-size: 14px;
			}
			.subtotal {
				margin-top: 15px;
				.label {
					font-weight: 300;
					margin: 0;
					padding: 0;
				}
				.price-container {
					.price-wrapper {
						.price {
							font-size: 16px;
						}
					}
				}
			}
			> .actions {
				margin-top: 0;
				.primary {
					margin-left: 0;
					margin-right: 0;
					.checkout {
						height: auto;
						padding: 10px 0 !important;
					}
				}
				.action {
					margin: 15px 0;
				}
			}
		}
		.minicart-items-wrapper {
			padding-left: 20px;
			padding-right: 20px;
			.minicart-items {
				.product-item {
					.product {
						.product-item-details {
							.options {
								.content {
									.list {
										.values {
											.price {
												display: none;
											}
										}
									}
								}
							}
							.actions {
								margin-top: -35px;
								a.action {
									opacity: .5;
									&:hover {
										opacity: 1;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

.checkout-cart-index {
	.page-title-wrapper {
		h1.page-title {
			margin-top: 40px;
			margin-bottom: 20px;
			span {
				font-size: 24px;
			}
		}
	}
	.sidebar {
	    float: right;
	    position: relative;
	    width: 23%;
		.cart-coupon-box {
			border-bottom: 1px solid @c-border;
			margin-bottom: 20px;
			.discount {
				border: 1px solid @c-border;
				padding: 10px;
				margin-bottom: 20px;
				.title {
					text-align: center;
					border-top: 0;
					border-bottom: 1px solid @c-border;
				    padding: 5px 0 10px 0;
	    			margin-bottom: 10px;
	    			line-height: 1;
	    			font-size: 16px;
	    			cursor: default;
					&:after {
						display: none;
					}
				}
				.content {
					display: inline-block !important;
					width: 100%;
					.coupon {
						margin: 0;
						.field {
							margin: 0 0 10px 0;
						}
					}
					.actions-toolbar {
						margin-left: 0;
						&:before, &:after {
							display: none;
						}
						.primary {
							width: 100%;
							button {
								width: 100%;
								background-color: @c-black;
								float: none;
							}
						}
					}
				}
			}
		}
		.cart-summary-box {
			border: 1px solid @c-border;
			.cart-summary {
				background: transparent;
			    float: initial;
			    position: initial;
			    width: initial;
			    padding: 10px;
			    margin-bottom: 0;
			    > .title {
			    	.font-rubik(500);
			    	background-color: @c-grey;
			    	font-size: 18px;
			    	cursor: default;
			    	margin: -10px -10px 0;
			    	line-height: 42px;
			    	padding-left: 10px;
			    }
			    .cart-totals {
			    	border-top: 0;
			    }
			    .table {
			    	margin-bottom: 0;
			    	> tbody {
				    	tr.totals {
				    		&.sub {
								> * {
					    			border-top: 0;
					    		}
				    		}
				    		&.grand {
				    			> * {
				    				padding-top: 10px;
				    			}
				    			strong {
				    				color: @c-red;
				    				font-size: 14px;
				    				font-weight: 500;
				    			}
				    		}
				    	}
				    	.mark {
				    		background-color: transparent;
				    	}
				    }
			    }
			}
		}
		.cart-method-box {
			.checkout-methods-items {
				.item {
					.action {
						&.checkout {
							span {
								font-size: 14px;
								&:after {
									content: '\f0da';
									font-family: 'FontAwesome';
									padding-left: 5px;
								}
							}
						}
					}
				}
			}
		}
	}

	.table-wrapper {
		&.cart {
			margin-bottom: 0;
			.cart {
				margin-bottom: 0;
				thead {
					tr {
						th {
							border-top: 1px solid @c-border;
							border-bottom: 1px solid @c-border;
							padding-top: 10px;
							&.price, &.qty, &.subtotal {}
						}
					}
				}
				&.item {
					border-top: 0;
					border-bottom: 1px solid @c-border;
					&:last-child {
						border-bottom: 1px solid @c-border;
					}
					.item-info {
						.item {
							.product-item-photo {
								max-width: 125px;
							}
						}
					}
					.product {
						.product-item-details {
							max-width: 280px;
							.item-options {
								dd {
									.price {
										display: none;
									}
								}
							}
						}
					}
					.action-items {
						padding-bottom: 10px;
						td {
							border-top: 0;
							padding: 0;
						}
						.actions-toolbar {
							text-align: right;
							position: relative;
							top: -20px;
							margin-top: -20px;
							padding-right: 10px;
						}
						.action {
							background: transparent;
							padding: 0;
							border: 0;
							margin-bottom: 0;
							margin-left: 20px;
							&.action-edit, &.action-delete, &.action-towishlist {
								font-size: 12px;
								margin-left: 5px;
								&:before {
									font-family: 'FontAwesome';
									padding-right: 5px;
								}
							}
							&.action-edit {
								&:before {content: '\f040';}
							}
							&.action-delete {
								&:before {content: '\f00d';}
							}
							&.action-towishlist {
								&:before {content: '\f004';}
							}
						}
					}
				}
				.item-info {
					.col {
						border-top: 0;
						&.item {
							padding-top: 10px;
							border-top: 0;
						}
						&.product {
							.product-item-name {
								font-weight: 500;
							}
						}
						&.qty {
							> .qty {
								display: inline-block;
								overflow: hidden;
								.increment-qty {
									background: @c-grey;
									display: inline-block;
									line-height: 32px;
									width: 26px;
									text-align: center;
									cursor: pointer;
									-webkit-user-select: none; /* Chrome/Safari */
									-moz-user-select: none; /* Firefox */
									-ms-user-select: none; /* IE10+ */
								}
								input.qty {
									.noselection;
									margin: -1px 0 0;
									border: 0;
									padding: 0;
									width: 26px;
									height: initial;
									opacity: 1;
									font-weight: 500;
								}
							}
						}
						&.price {
							.old-price {
								color: @c-red;
							}
						}
						.price {
							font-weight: 400;
							font-size: 16px;
						}
					}
				}
			}
		}
	}

	.cart.actions {
		border-top: 1px solid @c-border;
		padding: 20px 10px 0;
		.continue-shopping {
			float: left;
			color: @c-blue;
		}
		.update {
			background: none;
			padding: 0;
			border: 0;
		}
	}

	.crosssell {
		.product-item-info {
			padding-left: 20px;
			margin-bottom: 30px;
			.price-box {
                line-height: 1.8em;
                .old-price {
                    display: inline-block;
                    margin-right: 10px;
                    float: left;
                }
                .special-price {
                    display: inline-block;
                    .price {
                        color: #ed1b24;
                    }
                }
            }
		}
		.slick-arrow {
            border: none;
            text-decoration: none;
            background: transparent;
            height: 40px;
            width: 35px;
        }
        .slick-prev:before,
        .slick-next:before {
            font-family: FontAwesome;
            color: #000;
            font-size: 40px;
        }
        .slick-prev,
        .slick-next {
            top: 30%;
        }
        .slick-prev {
            &:before {
                content: '\f104';
            }
        }
        .slick-next {
            &:before {
                content: '\f105';
            }
        }
	}
}

@media (max-width:@screen-sm-max) {
	.checkout-cart-index {
		.sidebar {
			float: none;
		}
		.crosssell {
			display: block;
			.product-items {
                margin: 30px 0;
            }
            .product-item-info {
            	padding: 0 10px;
            }
		}
	}
}