.checkout-index-index {
	.header {
		&.content {
			text-align: center;
		    box-shadow: inset 0px 10px 0px 0px @c-red;
    		padding-top: 10px;
			.logo {
				float: none;
				img {
					max-width: 250px;
    				margin: 20px auto;
				}
			}
		}
	}

	#opc-shipping_method {
		.step-title, .checkout-shipping-method-load, .table-checkout-shipping-method {
			height: 0;
			overflow: hidden;
			display: none;
		}
	}

	.checkout-shipping-address {
		.step-title {
			margin-bottom: 0;
		}
		.step-subtitle {
			margin-bottom: 20px;
		}
	}

	.checkout-payment-method {
		.payment-group {
			position: relative;
			.actions-toolbar {
				position: absolute;
				bottom: -60px;
	    		right: 0;
	    		margin-left: 0;
	    		.primary {
	    			width: 320px;
	    			height: 42px;
	    		}
			}
			.payment-method {
				.label {
					font-weight: 500;
				}
			}
		}
		.payment-instruction {
			div {
				border: 1px solid @c-border;
				position: relative;
				margin-left: 30px;
				padding: 15px 20px;
				line-height: 1.5;
				&:before,
				&:after {
					width: 0; 
					height: 0; 
					top: -5px;
					content: '';
					border-left: 5px solid transparent;
					border-right: 5px solid transparent;
					border-bottom: 5px solid @c-border;
					position: absolute;
					left: 20px;
				}
				&:after {
					border-bottom: 5px solid @c-white;
					top: -3.5px;
				}
			}
		}
		.payment-method {
			line-height: 36px;
			padding: 0 10px;
			.payment-method-title {
				padding: 0 0 0 10px;
				border-top: 0;
				input[type="radio"] {
					float: left;
					position: relative;
					top: 11px;
				}
			}
			.payment-method-content {
				padding: 0;
				> p, .checkout-agreements-block {
					margin-bottom: 0;
				}
				> p {
				    line-height: 1;
					padding-left: 30px;
				}
				@media screen and (max-width: 767px) {
					padding-right: 20px;		
				}
				fieldset.fieldset {
				    margin: 0 0 10px 30px !important;
				    .accept-payement {
			    	    margin-left: -5px;
					    margin-bottom: -20px;
					    margin-top: -20px;
				    	span {
				    		display: inline-block;
				    		width: 72px;
				    		height: 72px;
				    		&.visa {
				    			background: url('../img/icon_visa.svg') no-repeat;
				    		}
				    		&.mastercard {
				    			background: url('../img/icon_mastercard.svg') no-repeat;
				    		}
				    	}
				    }
				    .has-error {
				    	input {
				    		border-color: @c-red;
				    	}
				    }
				    label.label {
				    	padding: 0;
				    	font-weight: 400;
				    }
				    #exp-field, #cvv-field {
				    	position: relative;
				    	width: 100%;
				    	max-width: 120px;
			    	    float: left;
    					margin-right: 15px;
				    }
				    #name-field, #cc-field {
				    	position: relative;
				    }
				    @media screen and (max-width: 767px) {
				    	#exp-field, #cvv-field {
				    		float: none;
				    	}
				    	#exp-field {
				    		max-width: 100%;
				    	}
				    }
				    #cvv-field {
				    	&:after {
				    		content: '';
				    		display: inline-block;
				    		position: absolute;
				    		background: url('../img/icon_cvv.png') no-repeat;
				    		height: 36px;
				    		width: 46px;
				    		top: 36px;
    						right: -55px;
    						overflow: hidden;
				    	}
				    	@media screen and (max-width: 767px) {
				    		&:after {
				    			background-size: 100%;
				    			height: 32px;
				    			width: 32px;
				    			top: 41px;
				    			right: -42px;
				    		}
				    	}
				    }
				    input[type="text"] {
				    	padding: 7px 10px;
				    }
				    font {
				    	font-size: 8px;
				    	position: absolute;
					    left: 0;
					    top: 26px;
					    line-height: 1;
					    &:before {
					    	content: '\f06a';
					    	font-family: 'FontAwesome';
					    	display: inline-block;
					    	padding-right: 5px;
					    }
				    }
				}
			}
		}
		.payment-method:nth-child(2) {
			border-top: 1px solid @c-border;
			padding-top: 20px;
		}
		.payment-method:last-child {
			border-bottom: 1px solid @c-border;
			padding-bottom: 20px;
		}
		.payment-option-title {
			border-top: 0;
		}
	}
	.discount-code {
		position: relative;
		margin-bottom: 30px;
		/*max-width: 360px;*/
		.payment-option-title {
			padding-left: 0px;
			margin-top: 15px;
			.action-toggle {
				color: #333;
				border-bottom: 0;
				font-size: 2.6rem;
				font-weight: 500;
				&:after {
					display: none;
				}
			}
		}
		.payment-option-content {
			padding-left: 0px;
			display: block !important;
			.actions-toolbar,
			.payment-option-inner {
				vertical-align: top;
				display: inline-block;
				margin: 0 -4px 0 0;
				width: 60%;
			}
			.actions-toolbar {
				width: 40%;
				.primary {
					float: none;
					display: block;
					.action-cancel,
					.action-apply {
						width: 100%;
						text-transform: capitalize;
						border-radius: 5px;
						line-height: 36px;
						height: 36px;
						padding: 0;
					}
					.action-apply {
						background-color: @c-text;
						min-width: 0;
					}
				}
			}
			.form-discount {
				max-width: 100%;
				.field {
					margin-right: 20px;
				}
			}
		}
		@media screen and (max-width: 767px) {
			border-right-width: 0;
			border-left-width: 0;
			.actions-toolbar,
			.payment-option-inner {
				display: block;
				margin: 0;
				width: 100%;
			}
		}
	}

	.opc-block-summary {
		.items-in-cart {
			border: 1px solid @c-border;
			border-bottom: none;
			margin-bottom: 0;
			> .title {
				background-color: @c-grey-dark;
				margin-top: 20px;
				padding: 5px 10px;
				line-height: 1;
				border-bottom: 0;
				strong {
					font-size: 12px;
					color: @c-white;
				}
				&:after {
					display: none;
				}
			}
			.minicart-items {
				overflow: hidden;
				.product-item:not(:first-child) {
					border-top: 0;
					&:before {
						content: '';
					    display: inline-block;
					    width: 90%;
					    border-top: 1px solid @c-grey-dark;
					    margin-left: 5%;
					    position: relative;
					    top: -10px;
					}
				}
			}
			.product-item {
				padding-bottom: 0;
				padding-top: 0;
				> .product {
					padding: 0 10px;
					.product-item-details {
						.product-item-name {
							font-size: 14px;
							line-height: 1.1;
							font-weight: 500;
						}
						.details-qty {
							.label {
								padding: 0;
								font-weight: 400;
							}
						}
						.subtotal {
							> span {
								color: @c-red;
							}
						}
					}
				}
			}
			.details-appointment {
				span.toggle {
					.noselection;
					cursor: pointer;
					padding-left: 10px;
					color: @c-blue;
					display: inline-block;
					margin-bottom: 10px;
					&:after {
						font-family: 'FontAwesome';
						content: '\f107';
						padding-left: 10px;
						font-size: 14px;
						padding-bottom: 2px;
					}
				}
				&.active {
					span.toggle {
						&:after {
							content: '\f106';
						}
					}
				}
				.content {
					.item-options {
						margin-bottom: 10px;
						.table {
							thead {
								border-top: 1px solid darken(@c-border, 10%);
								background: @c-grey;
							}
							tr {
								border-bottom: 1px solid @c-border;
								th, td {
									&:first-child {
										width: 38px;
										text-align: center;
									}
								}
							}
						}
					}
				}
			}
		}
		.minicart-items-wrapper {
			max-height: initial;
		}
		.data.table.table-totals {
			margin-bottom: 0;
			border-bottom: 0 !important;
		}
		.minicart-items {
			.product {
				.product-item-details {
					.product.options {
						display: none;
					}
				}
			}
		}
	}

	.opc-progress-bar {
		text-align: center;
		margin: 20px auto;
		.opc-progress-bar-item {
			&:before {
				display: none;
			}
			span {
				.font-rubik(300);
				font-size: 12px;
				background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/PjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjMwcHgiIGhlaWdodD0iNDAuMTg4cHgiIHZpZXdCb3g9IjAgMCAzMCA0MC4xODgiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDMwIDQwLjE4ODsiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxlbGxpcHNlIHN0eWxlPSJmaWxsOiNCOUJBQjk7IiBjeD0iMTUiIGN5PSIzOC4zNzUiIHJ4PSI2Ljg0MyIgcnk9IjEuNzgxIi8+PGNpcmNsZSBzdHlsZT0iZmlsbDojN0I3QjdCOyIgY3g9IjE1IiBjeT0iMTUiIHI9IjE1Ii8+PHBvbHlnb24gc3R5bGU9ImZpbGw6IzdCN0I3QjsiIHBvaW50cz0iMjAuNTksMjguODQ4IDE1LDM4LjUyOSA5LjQxLDI4Ljg0OCAiLz48L3N2Zz4=);
				background-repeat: no-repeat;
				background-position: top center;
				position: relative;
				&:after {
					.font-rubik(300);
					background-color: transparent;
				    font-size: 16px;
    				line-height: 22px;
    				color: @c-white;
				}
				&:before {
					display: none;
				}
			}
			&._active {
				span {
					background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSI0MC4xODgiIHZpZXdCb3g9IjAgMCAzMCA0MC4xODgiPjxlbGxpcHNlIGN4PSIxNSIgY3k9IjM4LjM3NSIgcng9IjYuODQzIiByeT0iMS43ODEiIGZpbGw9IiNCOUJBQjkiLz48Y2lyY2xlIGN4PSIxNSIgY3k9IjE1IiByPSIxNSIgZmlsbD0iI0VFMkMyNCIvPjxwYXRoIGZpbGw9IiNFQzJFMjYiIGQ9Ik0yMC41OSAyOC44NDhMMTUgMzguNTI5bC01LjU5LTkuNjgxIi8+PC9zdmc+);
					font-weight: 500;
				}
			}
			&:nth-child(1) {
				span {
					&:after {
						content: '1';
					}
				}
			}
			&:nth-child(2) {
				span {
					&:after {
						content: '2';
					}
				}
			}
		}
	}
	.opc-sidebar {
		margin-top: 20px;
	}

	.checkout-shipping-method {
		position: relative;
		.edit-cart-from-checkout {
			color: @c-text;
			position: absolute;
			right: 0;
			top: 0;
		}
	}

	.step-title {
		border-bottom: 0;
		margin-bottom: 20px;
		font-weight: 500;
	}

	.step-content {
		button.action-show-popup {
			background-color: @c-red;
			border-radius: 3px;
			font-size: 12px;
		    height: initial;
		    line-height: 36px;
		    width: 250px;
		    span {
		    	margin-top: 2px;
		    	display: inline-block;
		    	text-transform: none;
		    	color: @c-white;
		    }
		}
	}

	.page-footer {
		.footer-bottom-links {
			display: none;
		}
		.page-footer-bottom {
			padding-top: 0;
			.footer-copy {
				> .content {
					padding-bottom: 0;
					line-height: 9;
				}
				.powered {
					position: relative;
					text-align: right;
					bottom: initial;
					right: initial;
					display: block;
				}
				.row > div {
					min-height: initial;
					line-height: 65px;
				    max-height: 65px;
				    overflow: hidden;
				    padding-bottom: 5px;

				}
			}
		}
	}
	.notification {
		.block-notification {
			background: @c-grey;
			padding: 0 10px 0 42px;
    		line-height: 42px;
    		position: relative;
			display: block;
    		&:before {
    			font-family: 'FontAwesome';
    			display: inline-block;
    			position: absolute;
			    left: 15px;
			    font-size: 20px;
    		}
			&.info {
				&:before {
					content: '\f05a';
				}
			}
		}
	}

	.additional-shipping {
		.additional-shipping-details {
		    display: inline-block;
		    border-top: 1px solid darken(@c-border, 20%);
		    border-bottom: 1px solid darken(@c-border, 20%);
			.additional-items {
				display: inline-block;
				width: 50%;
			    float: left;
			    margin: 0;
			    padding: 0;
			    &:first-child {
			    	border-right: 1px solid darken(@c-border, 20%);
			    }
			    input[type=radio] {
			    	display: none;
			    	+ label {
			    		color: lighten(@c-text, 75%);
			    		position: relative;
			    		background: @c-grey;
			    		padding: 10px 25px 10px 40px;
			    		-webkit-user-select: none; /* Chrome/Safari */
						-moz-user-select: none; /* Firefox */
						-ms-user-select: none; /* IE10+ */
			    		&:before {
			    			content: '\f00c';
			    			font-family: 'FontAwesome';
			    			position: absolute;
						    left: 15px;
						    font-size: 18px;
			    		}
			    	}
			    	&:checked + label {
			    		color: @c-text;
				    	background: transparent;
				    	&:before {
				    		color: @c-blue;
				    	}
					}
			    }
			}
		}
	}

	.shipping-method-items {
		margin: 20px 0;
		.item {
			padding: 0 20px;
			border-bottom: 1px solid @c-border;
			&:first-child {
				border-top: 1px solid @c-border;
			}
			.product {
				display: inline-block;
				border-right: 1px solid @c-border;
				width: 100%;
				padding-top: 20px;
				padding-bottom: 20px;
				margin-bottom: -8px;
				.product-image {
					width: 25%;
					display: inline-block;
					float: left;
				}
				.product-details {
					width: 75%;
					display: inline-block;
					float: right;
					padding-left: 20px;
					.product-name {
						.font-rubik(500);
						font-size: 18px;
						padding-left: 10px;
						margin-top: 5px;
					}
					.sku {
						padding-left: 10px;
					}
					.sku, .notes {
						color: @c-text-grey;
					}
					.estimation-time {
						margin-top: 10px;
						> label {
							padding-left: 10px;
						}
						.table {
							margin-bottom: 0;
							td {
								&:first-child {
									width: 42px;
								}
							}
						}
						.qty {
							display: inline-block;
							background-color: @c-grey-dark;
							color: @c-white;
							border-radius: 5px;
							text-align: center;
						    width: 42px;
						    line-height: 18px;
						}
						.time {}
					}
				}
			}
		}
		.table-checkout-shipping-method {
			min-width: initial;
		}
	}
	.shipping-address-items {
		width: 100%;
		.shipping-address-item {
			> span {
				padding-bottom: 5px;
				display: inline-block;
			}
			box-shadow: none;
			line-height: 1.5;
			padding: 20px 10px;
			&.selected-item {
				border: 1px solid @c-border;
				&:after {
					right: 10px;
					background: @c-blue;
				}
			}
			button.action.edit-address-link {
				line-height: 31px;
			}
		}
		.action-select-shipping-item {
			margin-right: 0;
			background: @c-red;
			padding: 5px 10px;
			border-radius: 3px;
			color: @c-white;
			span {
				color: @c-white;
				margin-right: 5px;
			}
		}
	}

	.modal-popup {
		.modal-inner-wrap {
			.modal-header, .modal-content, .modal-footer {
				padding-left: 15%;
				padding-right: 15%;
			}
			.modal-header {
				border: 0;
				text-align: center;
				padding: 20px;
				.action-close {
					padding: 0;
					background: @c-grey-dark;
					border-radius: 0;
					&:before {
						.font-awesome('\f00d');
						color: @c-white;
					    font-size: 20px;
					    width: 24px;
					    line-height: 24px;
					}
				}
			}
			.modal-content {
				box-shadow: none;
				border: 0;
				.form-shipping-address {
					margin: auto;
					max-width: 100%;
				}
			}
			.modal-footer {
				border: 0;
			}
		}
	}

	.opc-wrapper .fieldset > .field.required, .opc-wrapper .fieldset > .field._required {
		position: initial;
		vertical-align: top;
		> .label {
			position: relative;
		}
	}
	#checkout-step-shipping_method {
		max-width: 600px;
	}
	
	.fieldset {
		> .field:not(.choice) {
			> .label, > .control {
				width: initial;
				float: initial;
				text-align: left;
				border-bottom: 0;
			}
		}
		.field[name="shippingAddress.firstname"],
		.field[name="shippingAddress.lastname"],
		.field[name="shippingAddress.postcode"],
		.field[name="shippingAddress.city"],
		.field[name="shippingAddress.region_id"],
		.field[name="shippingAddress.country_id"],
		.field[name="shippingAddress.custom_attributes.kelurahan"],
		.field[name="shippingAddress.custom_attributes.rt_rw"] {
			width: 48%;
			display: inline-block;
			vertical-align: top;
		}
		.field[name="shippingAddress.city"],
		.field[name="shippingAddress.country_id"],
		.field[name="shippingAddress.firstname"] {
			// float: left;
		}
		.field[name="shippingAddress.postcode"],
		.field[name="shippingAddress.lastname"],
		.field[name="shippingAddress.region_id"],
		.field[name="shippingAddress.custom_attributes.kelurahan"] {
			// float: right;
			margin-left: 20px;
		}

		> .field {
			&.choice {
				&:before {
					display: none;
				}
				input, .label {
					float: left;
				}
			}
		}
	}

	.message.warning {
		color: #ed1b24;
		border: 1px solid #f0f0f0;
		> *:first-child:before {
			color: #ed1b24;
		}
	}

	.opc-sidebar {
		.modal-content {
			border: 0;
			box-shadow: none;
			border-radius: 0;
			.opc-block-summary {
				padding: 0;
				background-color: transparent;
				> span {
					text-align: center;
					padding-top: 10px;
					font-size: 18px;
		    		font-weight: 500;
		    		background-color: @c-grey-light;
		    		border: 1px solid @c-border;
				}
				.table-totals {
					border: 1px solid @c-border;
					th, td {
						padding: 10px 20px;
					}
					.mark {
						background: none;
						.label, .value {
							display: inline-block;
							padding: 0;
							font-size: 12px;
							font-weight: 300;
						}
					}
					.grand.totals {
						border-top: 1px solid @c-border;
						border-bottom: 1px solid @c-border;
						span, strong {
							font-size: 16px;
							font-weight: 500;
							color: @c-red;
						}
					}
				}
				.totals.shipping {
					display: none;
				}
			}
			.opc-block-shipping-information {
				margin-top: 30px;
				padding: 0;
				.shipping-information {
					.shipping-information-title {
						background-color: @c-grey-light;
						padding: 15px;
						border-bottom: 1px solid @c-border;
						font-size: 18px;
						font-weight: 500;
						.action-edit {
							font-size: 14px;
						    right: 42px;
    						top: 18px;
							&:before {
								display: none;
							}
							> span {
								width: auto;
								height: auto;
								clip: initial;
								&:first-letter {
	    							text-transform: uppercase;
	    						}
							}
						}
					}
					.ship-to {
						border: 1px solid @c-border;
						.shipping-information-content {
							line-height: 1.5;
							padding: 0 20px 20px;
						}
					}
					.ship-via {
						.shipping-information-title {
							border-top: 1px solid @c-border;
						}
						.shipping-information-content {
							margin-left: -20px;
							margin-right: -20px;
							background: darken(@c-grey-dark, 5%);
							padding: 5px 10px;
							font-size: 14px;
							color: @c-white;
						}
					}
				}
			}
		}
	}

	.shipping-shopping-list {
		margin-top: 10px;
		.item {
			position: relative;
			display: block;
			border-bottom: 1px solid @c-border;
			padding-top: 20px;
			padding-bottom: 10px;
			&:last-child {
				border-bottom: 0;
			}
			.product-image {
				padding-top: 2px;
			}
			.product-details {
				margin-left: -15px;
				.product-name {
					font-size: 18px;
					font-weight: 500;
				}
				.sku, .notes {
					color: @c-text-grey;
				}
				.estimation-time {
					margin-top: 10px;
					margin-left: -10px;
					> label {
						padding-left: 10px;
					}
					.table {
						margin-bottom: 0;
						td {
							&:first-child {
								width: 42px;
							}
						}
					}
					.qty {
						display: inline-block;
						background-color: @c-grey-dark;
						color: @c-white;
						border-radius: 5px;
						text-align: center;
					    width: 42px;
					    line-height: 18px;
					}
					.time {}
				}
			}
		}
	}

	.checkout-shipping-method {
		.no-quotes-block {
			display: none;
		}
	}

	// Group sub payment methods
	.checkout-payment-method {
		max-width: 680px;

		.payment-group {
			display: inline-block;
			width: 100%;
			padding-bottom: 100px;

			.psg-tabs {
				float: left;
				width: 30%;

				.psg-tab-item {
					border: 1px solid #eeeeee;
					background-color: #fafafa;
					color: #000;
					padding: 32px 35px 22px;
					width: 100%;
					cursor: pointer;
					transition: 0.3s;
					position: relative;
					font-size: 14px;
					text-align: center;
					line-height: 100%;

					&:before {
						font-family: 'FontAwesome';
						content: '\f09d';
						font-size: 32px;
						color: #535353;
						width: 100%;
						display: inline-block;
						text-align: center;
						margin: 0 0 15px 0;
					}

					&:after {
						content: '';
						position: absolute;
						width: 3px;
						right: -2px;
						top: 0;
						bottom: 0;
						z-index: 1;
						background: #fff;
						display: none;
					}

					&:first-child,
					&.active {
						border: 1px solid @c-red;
						background: #fff;

						&:after {
							display: inline-block;
						}
					}

					&.bank-transfer {
						&:before {
							content: '\f19c';
						}
					}

					&.cicilan {
						&:before {
							content: '\f073';
						}
					}

					&:hover {
						color: @c-red;

						&:before {
							color: @c-red;
						}
					}
				}

				&.open {
					.psg-tab-item {
						&:first-child {
							border: 1px solid #eeeeee;
							background-color: #fafafa;

							&:after {
								display: none;
							}

							&.active {
								border: 1px solid @c-red;
								background: #fff;

								&:after {
									display: inline-block;
								}
							}
						}

						&.active {
							border: 1px solid @c-red;
							background: #fff;

							&:after {
								display: inline-block;
							}
						}
					}
				}
			}

			.psg-tab-contents {
				float: left;
				padding: 0px 12px;
				border: 1px solid @c-red;
				width: 70%;
				position: relative;
				min-height: 510px;

				.psg-tab-content-item {
					display: none;
					padding: 25px 0;

					&:first-child {
						display: block;
					}

					.cc_hosted {
						&.note {
							padding: 0 13px;
							font-size: 14px;

							&:before {
								content: attr(data-label) ':';
								color: @c-red;
								margin-right: 3px;
							}
						}
					}

					.payment-method {
						border: none;
						padding: 0 10px;
					}

					&.cicilan {
						.payment-method {
							> .payment-method-title {
								height: 0;
								opacity: 0;
								overflow: hidden;
								padding: 0;
								margin: 0;
							}

							.payment-method-content {
								display: block;
								margin: -15px 0 0;

								.payment-instruction {
									display: none;
								}

								.label {
									padding: 0;
									font-size: 14px;
									color: #999;
									font-weight: normal;
								}
							}
						}
					}

					.control-option {
						position: relative;
						max-width: 350px;

						#customer-bank-virtual {
							height: 58px;
							background-repeat: no-repeat;
							background-size: auto 40%;
							background-position: 20px 50%;
							position: absolute;
							top: 0;
							left: 0;
							z-index: 0;
							width: 100%;

							&.Danamon {
								background-image: url('../img/logo/payment/Danamon.png');
							}

							&.Permata {
								background-image: url('../img/logo/payment/Permata.png');
							}

							&.BNI {
								background-image: url('../img/logo/payment/BNI.png');
							}

							&.Mandiri {
								background-image: url('../img/logo/payment/Mandiri.png');
							}
						}

						.customer-bank-options-virtual {
							position: absolute;
							z-index: 3;
							top: 57px;
							left: 0;
							width: 100%;
							background: #fff;
							display: none;
							border: 1px solid;
							padding: 0;

							&.open {
								display: block;
							}

							li {
								background-repeat: no-repeat;
								background-size: auto 40%;
								background-position: 20px 50%;
								text-indent: 120px;
								list-style: none;
								padding: 10px;
								margin: 0;
								cursor: pointer;

								&.Danamon {
									background-image: url('../img/logo/payment/Danamon.png');
								}

								&.Permata {
									background-image: url('../img/logo/payment/Permata.png');
								}

								&.BNI {
									background-image: url('../img/logo/payment/BNI.png');
								}

								&.Mandiri {
									background-image: url('../img/logo/payment/Mandiri.png');
								}

								&:hover {
									background-color: #fafafa;
								}
							}
						}
					}

					#customer_bank {
						background: transparent;
						height: 58px;
						border: 1px solid;
						text-indent: 116px;
						position: relative;
						z-index: 1;
						font-size: 14px;

						&:focus {
							box-shadow: none
						}

						option {
							opacity: 0;
							display: none;
						}
					}

					#tennor_list {
						height: 58px;
						border: 1px solid;
						max-width: 350px;
						font-size: 14px;
					}

					.payment-method-title {
						border: 1px solid #000;
						padding: 0;
						margin: 0 0 10px 0;
						max-width: 350px;
						position: relative;
						font-size: 14px;
						cursor: pointer;

						&:hover {
							border: 1px solid @c-red;
						}

						> input {
							opacity: 0;

							&[type=radio]:checked {
								+ label {
									&:after {
										font-family: 'FontAwesome';
										content: '\f00c';
										font-size: 20px;
										color: @c-red;
										position: absolute;
										right: 15px;
										top: 16px;
									}
								}
							}
						}

						> label {
							position: static;
							padding: 20px 20px 17px 120px;
							display: inherit;
							cursor: pointer;
							text-align: left;
							font-weight: normal;

							&:before {
								width: 85px;
								height: 37px;
								background-size: 100%;
								background-repeat: no-repeat;
								left: 20px;
								top: 10px;
							}
						}
					}

					.payment-method-content {
						.payment-instruction {
							div {
								border: none;
								margin: 0;
								padding: 15px 0;
								font-size: 14px;

								&:before,
								&:after {
									display: none;
								}
							}
						}
					}
				}

				&.open {
					.psg-tab-content-item {
						&:first-child {
							display: none;

							&.active {
								display: block;
							}
						}

						&.active {
							display: block;
						}
					}
				}

				.actions-toolbar {
					width: 100%;
					bottom: -90px;

					.primary {
						width: 100%;
						text-transform: uppercase;
						height: 60px;
					}
				}
			}
		}
	}
	// End Group sub payment methods
}

.popup-authentication {
	.modal-content {
		.block-authentication {
			.block[class] {
				+ .block {
					.block-content {
						> p {
							display: none;
						}

						.actions-toolbar {
							.primary {
								a {
									text-transform: none;
									height: 32px;

									span {
										line-height: 32px;
									}

									&:hover {
										span {
											color: #fff;
										}
									}
								}
							}
						}

						.social-login-wrap {
							position: relative;
							width: 100%;

							.block-social-login {
								position: relative;
								position: relative;
								text-align: center;
								padding: 30px 0;

								&:before {
									content: '';
									position: absolute;
									top: 48%;
									left: 0;
									right: 0;
									background: #c1c1c1;
									height: 1px;
								}

								span {
									position: relative;
									z-index: 1;
									background: #fff;
									padding: 10px;
									font-size: 1.8rem;
								}
							}

							.social-login-list {
								padding: 0;

								li {
									margin-bottom: 15px;

									.social-login-btn {
										width: 100%;
									}
								}
							}
						}
					}
				}
			}

			.block-customer-login {
				.actions-toolbar {
					button.action.secondary {
						margin: 15px 0 0;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.popup-authentication {
		.modal-inner-wrap {
			max-width: 930px;
		}

		.modal-content {
			.block-authentication {
				border-top: 0;

				.block-title {
					font-size: 1.6rem;
					text-align: center;
				}

				.block[class] {
					+ .block {
						padding: 10px 0 0 15px;

						&:before {
							display: none;
						}

						.block-content {
							max-width: 220px;
							margin: 0 auto;

							.social-login-wrap {
								margin-top: 10px;
							}
						}
					}
				}

				.block-customer-login {
					.field {
						label.label {
							font-weight: 500;
						}

						&.password {
							margin: 0;
						}
					}

					.actions-toolbar {
						margin: 0;

						> .secondary {
							margin: -10px 0 0;

							a {
								color: @c-red;
								font-size: 1.2rem;
							}
						}

						button.action.secondary {
							background: @c-red;
							margin: 50px 30px 0;
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: 1200px) {
	.popup-authentication {
		.modal-inner-wrap {
			min-width: 930px !important;
		}

		.modal-content {
			.block-authentication {
				.block-title {
					font-size: 1.8rem;
				}

				.block[class] {
					+ .block {
						padding: 10px 0 0 80px;
					}
				}
			}
		}

	}
}