footer {
	.title {
		.font-rubik(500);
	}
	.block {
		&.newsletter {
			width: 95%;
			.actions {
			    width: 120px;
			    .action.subscribe {
			    	min-height: 45px;
			    	.font-rubik(500);
			    }
			}
			.field {
				.control:before {
					display: none;
				}
				input {
					background: @c-border;
					.font-rubik(normal);
					padding-left: 25px;
					min-height: 45px;
				}
			}
		}
	}
	.page-footer-bottom {
		border-top: 1px solid #ccc;
		padding-top: 40px;
		.font-rubik(normal);
		.footer-gradient(rgba(250,250,250,1));
		.has-social-icon li a {
			color: @c-light-black ;
		}
		.list-checked li {
			color: @c-light-black !important;
		}
	}
	.footer-top {
		.widget-astra {
			img {
				max-width: 180px;
			}
		}
		.widget-astra {
			.has-social-icon {
				margin-top: 15px;
			}
		}
		.widget-security {
			img {
				max-width: 135px !important;
				margin-bottom: 10px;
			}
			.list-checked li{
				color: @c-text-grey;
				margin: 0 0 5px;
			}
		}
		.footer-bottom-link {
			border-width: 0;
			margin: 0;
		}
	}
	.footer-bottom {
		border-top: 1px solid @c-grey;
		padding-top: 25px;
		.footer-bottom-link {
			border-width: 0;
			margin: 0;
			h1, h2, h3, h4, h5, h6 {
				font-size: 14px;
				font-size: 500;
				line-height: 1.5em;
				margin: 0 0 10px 0;
			}
			p {
				font-size: 12px;
				font-size: 300;
				line-height: 1.5em;
				margin: 0 0 10px 0;
			}
		}
	}
	.footer-copy {
		background: @c-grey;
		.row > div {
			min-height: 65px;
		}
		.content {
			padding-bottom: 10px;
		}
		.copyright {
			margin: 0;
		}
		.list-inline li{
			padding: 0 10px;
			font-size: 12px;
			margin: 15px 0;
			line-height: 12px;
			display: inline-block;
			border-right: .5px solid @c-black;
			a {
				font-weight: medium;
			}
			&:first-child{
				padding-left: 0;
				border-right-width: 0;
			}
			&:last-child{
				padding-right: 0;
				border-right-width: 0;
			}
		}
		.powered {
			position: absolute;
			bottom: 10px;
			right: 20px;
			img {
				padding-left: 10px;
				margin-top: -4px;
			}
		}
	}
}

.buorg{
    top: auto;
    bottom: 0;
    font-family: 'Rubik';
    font-weight: normal;
    font-size: 14px;
    border-top: 1px solid #ed1b24;
    background-color: #fafafa;
    border-bottom-width: 0;
    div a,
    div a:visited{
	    background: #ed1b24;
	}
	#buorgig {
	    background-color: #eee;
	    color: #aaa;
	}
}

html {
    margin-top: 0 !important;
}

@keyframes buorgfly {
    from {opacity:0;transform:translateY(50px)}
    to {opacity:1;transform:translateY(0px)}
}
