header {
	&.page-header {
		.panel.header{
			padding: 0 5px !important;
		}
		.panel.wrapper {
			background: @c-grey;
		}
		.search-index {
			z-index: 8;
		}
	}
	&.default{
		background: @c-border;
		.content {
			min-height: 100px;
			.logo {
				padding-top: 18px;
				img {
					width: 100%;
				}
			}
		}
		.language-switcher{
			text-align: center;
			position: absolute;
			background: @c-grey;
			width: 80px;
			right: 15px;
			top: 0;
			select {
				background: @c-grey;
				border-width: 0;
			}
		}
	}

	&.aop-productservice,
	&.aop-product,
	&.aop-service{
		background: @c-border;
		.store-switcher {
			span {
				position: relative;
				display: inline-block;
				color: @c-text-grey;
				margin-right: -4px;
				padding: 8px 15px;
				font-weight: normal;
				&:hover,
				&.active{
					background: @c-white;
					color: @c-red;
				}
				&:before {
					content: '';
					background: @c-grey-dark;
					border-radius: 100%;
					margin-right: 5px;
					height: 22px;
					width: 22px;
					float: left;
				}
				&:after {
					mask-size: contain;
					-webkit-mask-size: contain;
					content: '';
					background: @c-grey;
					position: absolute;
					display: table;
					height: 16px;
					width: 16px;
					z-index: 1;
					left: 18px;
					top: 11px;
				}
			}
			.icon-aop:after{
			    .mask-image('../img/icon-aop.svg');
			}
			.icon-aop-otodrive:after{
				.mask-image('../img/icon-aop-otodrive.svg');
			}
			.icon-aop-otopart:after{
				.mask-image('../img/icon-aop-otopart.svg');
			}
			.icon-aop:hover:before,
			.icon-aop-otodrive:hover:before,
			.icon-aop-otopart:hover:before{
				background: @c-red;
			}
			.icon-aop:hover:after,
			.icon-aop-otodrive:hover:after,
			.icon-aop-otopart:hover:after{
				background: @c-white;
			}
		}
		.top-bar-link {
			display: inline-block;
			span {
				line-height: 38px;
				color: @c-black;
				padding: 10px;
				&:hover,
				&.active{
					color: @c-red;
					background: transparent;
				}
			}

		}
		.language-switcher,
		.currency-switcher {
			display: inline-block;
			line-height: 38px;
			width: 60px;
			select {
				border-width: 0;
				color: @c-text-grey;
				background: @c-grey;
			}
		}
		.logo {
			max-width: 100%;
			min-height: 80px;
			margin-top: 5px;
			img {
				width: 100%;
			}
		}
		.icon-user,
		.icon-cart {
			line-height: 26px;
			&:before {
				content: '';
				.mask-image('../img/icon_cart.svg');
				background: @c-black;
				display: inline-block;
				height: 26px;
				width: 26px;
				float: left;
			}
		}
		.icon-cart:before{
			top: 5px;
			position: relative;
		}
		.action.showcartitem {
			display: inline;
    		top: 2px;
		}
		.icon-user:before {
			.mask-image('../img/icon_user.svg');
		}
		.header-user {
			text-align: right;
		}
		.main-header-user {
			text-align: left;
			display: inline-block;
			&.user {
				margin-right: 20px;
			}
			&.search {
				display: block;
				margin-top: 15px;
			}
			.block-search .block {
				background: transparent;
				position: relative;
				border-width: 0;
				display: block;
				width: 100%;
				top: 0;
				&:after {
					display: none;
				}
				input {
					padding-left: 20px;
					border-radius: 5px 0 0 5px;
					.font-rubik(300);
				}
				.actions{
					.action.search,
					.action.search[disabled]{
						opacity: 1;
						> span {
							position: relative;
						}
					}

					button {
						width: 80px;
						background: @c-red;
						border-radius: 0 5px 5px 0;
						color: @c-white;
						line-height: 1;
						padding: 0;
						right: 0;
						&:before {
							display: none;
						}
						span {
							top: -2px;
						}
					}
				}

			}
			@media screen and (max-width: 768px) {
				.block-search {
					height: auto;
					border-width: 0;
				}
				#search_mini_form > .search {
					margin-bottom: 10px;
				}
			}
			.topSearchOpen {
				display: none;
			}
			.icon-search {
				.mask-image('../img/icon_search.svg');
			}
			.block-search {
				width: 100%;
			}
			&.user {
				a span,
				a {
					color: @c-black;
					text-transform: uppercase;
				}
			}
			&.minicart {
				.minicart-wrapper a {
					color: @c-black;
				}
			}
		}
		.header-nav {
			background: @c-white;
			box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
			.section-item-title {
				display: none;
			}
			.navigation {
				height: 40px;
				line-height: 40px;
				.font-rubik(500);
				font-size: 8px;
    			text-align: left;
				padding: 0;
				ul {
					margin-botto: 0;
				}
				li {
					display: inline-block;
					a {
						padding: 10px;
						border-bottom: 3px solid @c-white;
					}
				}
			}
		}
		.btn-main {
			display: inline-block;
			margin-top: 5px;
		}
	}

	&.aop-product {
		.icon-aop-otopart.aop-product:before,
		.icon-aop-otodrive.aop-product:before,
		.icon-aop.aop-product:before{
			background: @c-red;
		}
		.icon-aop-otopart.aop-product:after,
		.icon-aop-otodrive.aop-product:after,
		.icon-aop.aop-product:after {
			background: @c-grey-light;
		}
		.store-switcher span {
			&:hover,
			&.aop-product{
				background: @c-grey-light;
				color: @c-red;
			}
		}
	}

	&.aop-productservice {
		.icon-aop-otopart.aop-productservice:before,
		.icon-aop-otodrive.aop-productservice:before,
		.icon-aop.aop-productservice:before{
			background: @c-red;
		}
		.icon-aop-otopart.aop-productservice:after,
		.icon-aop-otodrive.aop-productservice:after,
		.icon-aop.aop-productservice:after {
			background: @c-grey-light;
		}
		.store-switcher span {
			&:hover,
			&.aop-productservice{
				background: @c-grey-light;
				color: @c-red;
			}
		}
	}

	&.aop-service {
		.icon-aop-otopart.aop-service:before,
		.icon-aop-otodrive.aop-service:before,
		.icon-aop.aop-service:before{
			background: @c-red;
		}
		.icon-aop-otopart.aop-service:after,
		.icon-aop-otodrive.aop-service:after,
		.icon-aop.aop-service:after {
			background: @c-grey-light;
		}
		.store-switcher span {
			&:hover,
			&.aop-service{
				background: @c-grey-light;
				color: @c-red;
			}
		}
	}

	#search_mini_form {
		> .actions,
		> .search {
			.label {
				height: 40px;
			}
			position: relative;
			vertical-align: top;
			display: inline-block;
			margin-right: -4px;
			width: 80%;
		}
		> .actions {
			width: 20%;
			height: 36px;
			button {
				cursor: pointer;
				line-height: 40px;
				left: 0;
				top: 0;
				&:hover {
					color: @c-white;
					box-shadow: inset 0 0 5px rgba(0,0,0,.3);
					span{
						background: transparent;
						color: @c-white;
					}
				}
			}
		}
	}

	@media (max-width: 767px) {
		&.page-header {
			margin: 0;
		}
		&.aop-productservice,
		&.aop-product,
		&.aop-service{
			.top-bar-link {
				text-align: center;
				display: block;
			}
			.logo {
				max-width: 200px;
			}
			.store-switcher {
				span {
					padding: 5px;
					margin-left: -4px;
					margin-right: -4px;
					font-size: 10px;
					&:before {
						margin-left: 2px;
						margin-right: 2px;
						top: -4px;
						position: relative;
					}
					&:after {
						left: 10px;
						top:4px;
					}
				}
			}
		}
		#search_mini_form {
			.search {
				width: auto;
				float: right;
				margin-top: 0;
			}
		}
	}
}

.page-wrapper {
	> .breadcrumbs,
	> .top-container,
	> .widget{
		padding: 0 20px
	}
}
#close-bar {
	display: none;
}
.nav-open {
	.header-megamenu {
		overflow: initial;
	}
	#close-bar {
		display: block;
		position: absolute;
	    border-left: 1px solid #ccc;
	    box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.75);
	    background: #fafafa;
	    text-align: center;
	    line-height: 40px;
	    cursor: pointer;
	    height: 40px;
	    width: 40px;
	    right: -40px;
	    top: 0;
	}
}
