body{
	.has-astra-main-banner {
		background: url(../img/bg-astra.png) no-repeat top center;
		background-size: 100%;
		min-height: 360px;
		width: 100%;
		.banner-direct-wrapper {
			margin-top: 250px;
		}
		.banner-left {
			background: url(../img/bg-astra-left.png) no-repeat top center;
		}
		.banner-middle {
			background: url(../img/bg-astra-middle.png) no-repeat top center;
			margin-top: -20px;
		}
		.banner-right {
			background: url(../img/bg-astra-right.png) no-repeat top center;
		}
		.banner-direct {
			width: 100%;
		}
		.cta-content {
			background: rgba(255,255,255,.8);
			text-align: center;
			padding: 20px 40px;
			min-height: 280px;
		}
		.cta-action {
			background: rgba(0,0,0,.4);
			text-align: center;
			padding: 20px 40px;
			.btn-main {
				padding: 10px 20px;
			}
		}
	}
	.widget-subscribe {
		background: url(../img/bg-subscribe.png) no-repeat top center;
		margin: 40px 0;
		padding: 20px;
		h2, p{
			margin: 0;
		}
		.subscribe {
			margin: 20px 0;
			position: relative;
		}
		.actions {
			position: absolute;
			right: 0;
			top: 0;
			button {
				margin: 0;
				border-radius: 0 5px 5px 0 !important;
				background: @c-red;
			}
		}
		.field input {
			border-radius: 5px !important;
		}
	}
	.widget-floor {
		margin: 0 0 40px;
	}
	.floor-sidebar {
		> img {
			max-width: initial;
			width: 288px;
		}
		.floor-link {
			display: block;
			text-align: right;
			.font-rubik(500);
			padding: 20px 10px;
			font-style: italic;
			position: relative;
			color: #004a82;
			&:after {
				content: '';
				position: absolute;
				border-bottom: 2px solid @c-black;
				display: table;
				width: 80px;
				bottom: 4px;
				right: 7px;
			}
		}
		.floor-sidebar-content{
			.title {
				.font-rubik(500);
				position: relative;
				.icon-carmini,
				.icon-tool {
					margin-right: 5px;
					margin-bottom: -5px;
					height: 18px;
					width: 18px;
					&:before {
						margin: -2px;
					}
				}
			}
		}
	} 
	.widget-payment {
		border-top: 1px solid @c-border;
		padding: 40px 0 0;
		.subscribe {
			position: relative;
		}
		.actions {
			position: absolute;
			right: 0;
			top: 0;
			button {
				margin: 0;
				border-radius: 0 5px 5px 0 !important;
				background: @c-red;
			}
		}
		.field input {
			border-radius: 5px !important;
		}
	}
	.widget-banner {
		.widget-title {
			border-bottom: 1px solid @c-border;
			line-height: inherit;
			margin-bottom: 20px;
			span {
				background: @c-black;
				color: @c-white;
				padding: 7px 20px;
				position: relative;
				&:after {
					content: '';
					width: 0; 
					height: 0; 
					border-top: 28px solid transparent;
					border-bottom: 0 solid transparent;
					border-left: 15px solid @c-black;
					position: absolute;
					right: -15px;
					bottom: 0;
				}
			}
		}
		margin: 0 0 40px;
		.banner-title {
			display: block;
			position: absolute;
			text-align: center;
			color: @c-white;
			top: 37%;
			right: 0;
			left: 0;
		}
		.widget-banner-inner {
			.btn-main {
				display: none;
			}
			&:hover .banner-title .btn-main {
				display: inline-block;
			}
		}
	}
	.widget-banner-hero {
		margin: 0 0 20px;
		.slick-next,
		.slick-prev {
			.mask-image('../img/icon_arrowright.svg');
			background: @c-grey;
			height: 36px;
			width: 36px;
			z-index: 1;
			right: 0;
			&:before {
				display: none;
			}
		}
		.slick-prev {
			.mask-image('../img/icon_arrowleft.svg');
			left: 0;
		}
		.slick-dots {
			bottom: 10px;
			li {
				height: 10px;
				width: 10px;
				button {
					background: rgba(0,0,0,.5);
					border-radius: 100%;
					height: 10px;
					width: 10px;
				}
				&.slick-active button {
					background: #fff;
				}
			}
		}
	}
	.widget-product {
		margin: 0 0  40px;
		.widget-title {
			border-bottom: 1px solid @c-border;
			line-height: inherit;
			margin-bottom: 20px;
			span {
				cursor: pointer;
				background: @c-text-grey;
				text-transform: capitalize;
				color: @c-white;
				padding: 7px 20px;
				position: relative;
				&:hover,
				&.active {
					background: @c-red;
					&:after {
						border-left: 15px solid @c-red;
					}
				}
				&:before,
				&:after {
					content: '';
					width: 0; 
					height: 0; 
					border-top: 28px solid transparent;
					border-bottom: 0 solid transparent;
					border-left: 15px solid @c-text-grey;
					position: absolute;
					right: -15px;
					z-index: 2;
					bottom: 0;
				}
				&:before{
					border-bottom: 27.5px solid @c-white;
					border-right: 15.5px solid transparent;
					border-top: 0px solid transparent;
					border-left: 2px solid @c-white;
					right: -17.5px;
				}
			}
		}
		.product-item {
			padding: 5px !important;
			.price {
				.font-rubik(500);
				margin: 10px 0 0;
			}
		}
	}
	.widget-banner-carousel {
		margin: 20px;
		.slick-next,
		.slick-prev {
			.mask-image('../img/icon_arrowright.svg');
			background: @c-text-grey;
			height: 36px;
			width: 36px;
			z-index: 1;
			&:before {
				display: none;
			}
		}
		.slick-prev {
			.mask-image('../img/icon_arrowleft.svg');
		}
	}
}