.animated(@speed) {
	transition: all @speed ease-in;
}
.animatedOut(@speed) {
	transition: all @speed ease-out;
}

.sprites {
	background-image: url('../images/sprites.png');
	background-repeat: no-repeat;
	background-position: 0 0;
}
.sprites2x {
	background-image: url('../images/sprites@2x.png');
	background-repeat: no-repeat;
	background-position: 0 0;
}

.mask-image(@url) {
	-webkit-mask-image: url(@url);
	mask-image: url(@url);
}

.footer-gradient(@color) {
	background: @color;
	background: -moz-linear-gradient(top, @color 0%, rgba(246,246,246,1) 5%, rgba(255,255,255,1) 23%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, @color), color-stop(5%, rgba(246,246,246,1)), color-stop(23%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top, @color 0%, rgba(246,246,246,1) 5%, rgba(255,255,255,1) 23%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top, @color 0%, rgba(246,246,246,1) 5%, rgba(255,255,255,1) 23%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, @color 0%, rgba(246,246,246,1) 5%, rgba(255,255,255,1) 23%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, @color 0%, rgba(246,246,246,1) 5%, rgba(255,255,255,1) 23%, rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#ffffff', GradientType=0 );
}

.font-rubik(@weight) {
	font-family: 'Rubik';
	font-weight: @weight;
}

.font-awesome(@content) {
	font-family: 'FontAwesome';
	content: @content;
}

.noselection {
	// prevent text selection when double click
	-webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}