.catalog-product-view {
    .page-main {
        .product-info-main {
            padding-top: 80px;
            &.fixed {
                position: sticky;
                top: 0;
            }
            .page-title-wrapper {
                .page-title {
                    line-height: 1.2em;
                }
            }
            .product-info-price {
                .product-info-stock-sku {
                    margin: 5px 0;
                }
                .price-rating-container {
                    .price-rating-share-container {
                        .product-reviews-summary {
                            display: inline-block;
                        }
                        .action.mailto.friend {
                            float: right;
                            margin: 10px 0;
                        }
                    }
                    .price-box {
                        .price-label {
                            display: none;
                        }
                        .old-price {
                            .price {
                                font-size: 1.3em;
                                font-weight: 300;
                            }
                        }
                        .special-price {
                            color: @c-red;
                            display: inline-block;
                            margin-left: 10px;
                        }
                    }
                }
            }
            .prices-tier {
                .benefit {
                    color: @c-red;
                }
            }
            .bundle-actions {
                display: none;
            }
            .product-add-form {
                .box-tocart {
                    .qty {
                        .control {
                            position: relative;
                            width: 100px;
                            .increment-qty {
                                position: absolute;
                                z-index: 1;
                                top: 0;
                                background: @c-border;
                                height: 32px;
                                width: 30px;
                                text-align: center;
                                line-height: 32px;
                                border: 1px solid #c2c2c2;
                                cursor: pointer;
                                &.left {
                                    left: 0;
                                }
                                &.right {
                                    right: 0;
                                }
                            }
                            input.qty {
                                padding: 0 30px;
                                text-align: center;
                                width: 100%;
                                height: 32px;
                            }
                        }
                    }
                    .actions {
                        padding: 0;
                        .tocart {
                            display: none;
                        }
                    }
                }
                .actions {
                    .tocart-clone {
                        margin-bottom: 30px;
                    }
                }
                .bundle-options-wrapper {
                    display: none;
                    background: @c-grey-light;
                    padding: 15px;
                    .product-options-wrapper {
                        .fieldset {
                            margin: 0;
                            .option {
                                .label {
                                    font-size: 14px;
                                    font-weight: 300;
                                }
                                .control {
                                    select,
                                    .bundle-option-select {
                                        width: auto;
                                    }
                                    .nested {
                                        display: inline-block;
                                        .qty {
                                            .control {
                                                display: inline-block;
                                                input {
                                                    width: 50px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .appointment-book {
                    .appointment-book-qty {
                        margin-bottom: 30px;
                        ul {
                            list-style: none;
                            margin: 0;
                            padding: 0;
                            &.appointment-tab {
                                border-top: 1px solid black;
                                display: none;
                                li {
                                    float: left;
                                    width: calc(100%/2);
                                    margin: 0;
                                    background: @c-grey;
                                    border-bottom: 1px solid black;
                                    &.active {
                                        background: white;
                                        border-bottom: 1px solid white;
                                        label {
                                            &:before {
                                                opacity: 1;
                                                color: blue;
                                            }
                                        }
                                    }
                                    &:first-child {
                                        border-right: 1px solid black;
                                        width: calc(~'100%/2 - 1px');
                                    }
                                    label {
                                        display: block;
                                        padding: 5px 10px;
                                        margin: 0;
                                        font-weight: 300;
                                        cursor: pointer;
                                        input[type=checkbox] {
                                            display: none;
                                        }
                                        &:before {
                                            content: '\f00c';
                                            font-family: 'FontAwesome';
                                            margin-right: 5px;
                                            opacity: .2;
                                        }
                                    }
                                }
                                &:before {
                                    content: '';
                                    clear: both;
                                }
                            }
                            &.appointment-form {
                                .select2-selection {
                                    border: 0;
                                    border-bottom: 1px solid @c-border;
                                    height: 32px;
                                }
                                li {
                                    margin-bottom: 0;
                                    &.appointment-timeslot {
                                        input[type="date"] ,
                                        input[type="text"] {
                                            cursor: pointer;
                                            width: 100%;
                                            display: block;
                                            float: left;
                                            border: 0;
                                            border-bottom: 1px solid @c-border;
                                            border-right: 1px solid @c-border;
                                            padding: 6px 9px;
                                            color: #444;
                                            line-height: 17px;
                                            font-size: 12px;
                                            font-family: 'Rubik';
                                            &::-webkit-input-placeholder {
                                              color: #999;
                                            }
                                            &::-moz-placeholder { 
                                              color: #999;
                                            }
                                            &:-ms-input-placeholder { 
                                              color: #999;
                                            }
                                            &:-moz-placeholder {
                                              color: #999;
                                            }
                                        }
                                        select {
                                            float: left;
                                            display: block;
                                            width: 100%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .appointment-book-text {
                        .action {
                            float: right;
                            margin-left: 10px;
                            > span {
                                display: none;
                            }
                        }
                        .action.edit {
                            &:before {
                                .font-awesome('\f013');
                            }
                        }
                        .action.remove {
                            &:before {
                                .font-awesome('\f014');
                            }
                        }
                        ul.appointment-form {
                            input[type="text"],
                            input.ap-date {
                                border: none;
                                border-bottom: @c-border solid 1px;
                                padding: 7px 20px;
                                height: 32px;
                                color: lighten(@c-text,40%);
                                opacity: 1;
                            }
                            li.appointment-timeslot input.ap-date {
                                &::-webkit-datetime-edit-month-field,
                                &::-webkit-datetime-edit-day-field,
                                &::-webkit-datetime-edit-year-field,
                                &::-webkit-datetime-edit-text {
                                    color: lighten(@c-text,40%);
                                    font-size: 30px;
                                }
                                font-size: 12px;
                                padding: 7px 20px;
                            }
                            input.ap_hours {
                                width: 50%;
                            }
                        }
                    }
                }
                .stock {
                    &.unavailable {
                        display: block;
                        margin: 20px 0;
                        text-align: center;
                        color: @c-text-grey;
                        font-weight: 800;
                        font-size: 28px;
                    }
                }
            }
            .product-social-links {
                padding: 15px 0;
                border-top: 1px solid @c-border;
                .product-addto-links {
                    margin: 0;
                    .action {
                        background: transparent;
                        border: 0;
                        &:before {
                            margin-right: 5px;
                        }
                        &.towishlist {
                            &:before {
                                content: '\f004';
                                font-family: 'FontAwesome';
                            }
                        }
                        &.tocompare {
                            &:before {
                                content: '\f0ec';
                                font-family: 'FontAwesome';
                            }
                        }
                    }
                }
            }
        }
        .main {
            .product {
                &.media {
                    position: relative;
                    .label-sale {
                        position: absolute;
                        left: 0;
                        top: 0;
                        margin: 10px 0 0 0;
                        background: @c-red;
                        padding: 10px;
                        span {
                            color: white;
                            font-size: 1.8em;
                        }
                    }
                }
                &.info {
                    &.detailed {
                        width: 57%;
                        .title {
                            border-bottom: 1px solid @c-border;
                            margin: 20px 0;
                            a {
                                background: black;
                                display: inline-block;
                                padding: 10px 10px 10px 20px;
                                color: white;
                                font-size: 18px;
                                text-transform: uppercase;
                                position: relative;
                                &:after {
                                    content: '';
                                    width: 0;
                                	height: 0;
                                	border-bottom: 41px solid black;
                                	border-right: 30px solid transparent;
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    margin-right: -30px;
                                }
                            }
                        }
                        .description {
                            padding: 10px;
                        }
                        .review-items {
                            .review-item {
                                .review-details {
                                    margin-left: 110px;
                                    .review-title {
                                        margin-bottom: 10px;
                                        margin-top: 5px;
                                        font-size: 1.5em;
                                        font-weight: 500;
                                    }
                                    .review-content {
                                        line-height: 1.5em;
                                    }
                                    .review-date {
                                        color: @c-text-grey;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .related, .upsell {
                .title {
                    text-align: center;
                    text-transform: uppercase;
                    strong {
                        font-weight: 500;
                        display: block;
                        margin: 0;
                    }
                    &:after {
                        content: '';
                        border-bottom: 1px solid black;
                        width: 100px;
                        display: inline-block;
                    }
                }
                .content {
                    .product-items {
                        .product-item {
                            .product-item-info {
                                width: 100%;
                            }
                            .price-box {
                                line-height: 1.8em;
                                .old-price {
                                    display: inline-block;
                                    margin-right: 10px;
                                    float: left;
                                }
                                .special-price {
                                    display: inline-block;
                                    .price {
                                        color: @c-red;
                                    }
                                }
                            }
                        }
                        .slick-list {
                            width: 95%;
                            margin: 0 auto;
                        }
                        .slick-arrow {
                            border: none;
                            text-decoration: none;
                            background: transparent;
                            height: 40px;
                            width: 35px;
                        }
                        .slick-prev:before,
                        .slick-next:before {
                            font-family: FontAwesome;
                            color: #000;
                            font-size: 40px;
                        }
                        .slick-prev,
                        .slick-next {
                            top: 30%;
                        }
                        .slick-prev {
                            &:before {
                                content: '\f104';
                            }
                        }
                        .slick-next {
                            &:before {
                                content: '\f105';
                            }
                        }
                    }
                }
            }
        }
    }
}

.block-products-list {
    .product-items {
        .product-item {
            .image-holder {
                .product-item-photo {
                    .label-product {
                        position: absolute;
                        top: 0;
                        left: 0;
                        margin-top: 15px;
                    }
                    .label-sale {
                        background: @c-red;
                        color: white;
                    }
                }
            }
        }
    }
}

@media (max-width:@screen-sm-max) {
    .catalog-product-view {
        .page-main {
            .columns {
                .main {
                    .product-info-main {
                        padding-top: 0;
                        .product-add-form {
                            .box-tocart {
                                .qty,
                                .actions {
                                    display: inline-block;
                                    vertical-align: top;
                                }
                            }
                        }
                    }
                    .product {
                        &.info {
                            &.detailed {
                                width: 100%;
                                .title {
                                    a {
                                        padding: 11px 10px 11px 20px;
                                    }
                                }
                                .review-list {
                                    .review-items {
                                        .review-item {
                                            .review-details {
                                                margin-left: 0;
                                            }
                                        }
                                    }
                                }
                                .review-field-ratings {
                                    display: inline-block;
                                }
                            }
                        }
                    }
                    .product-info {
                        padding-top: 30px;
                    }
                    .related, .upsell {
                        .content {
                            .product-items {
                                margin: 30px 0;
                            }
                            .slick-prev {
                                left: -20px;
                            }
                            .slick-next {
                                right: -20px;
                            }
                        }
                        .product-item {
                            padding: 0 10px;
                        }
                    }
                }
            }
        }
    }
}
