.cms-content{
	position: relative;
	padding-top: 20px;
}
.cms-content:before{
	content: '';
    position: absolute;
    width: 100%;
    height: 1.5px; 
    background: #eee; 
    left: 0;
    top: 7px;
}
.leftbar-static{
	padding-top: 50px;
}
.leftbar-static ul{
	padding-left: 0px;
	color: #000;
}
.leftbar-static a{
	text-decoration: none;
}
.leftbar-static a:hover{
	color: #000;
}
.leftbar-static a:visited{
	color: #000;
}
.leftbar-static li{
	list-style: none;
}
.faq-sidebar a.faq-link,
.about-us-sidebar a.about-us-link,
.privacy-policy-sidebar a.privacy-policy-link,
.terms-conditions-sidebar a.terms-conditions-link,
.contact-us-sidebar a.contact-us-link{
	font-weight: bold;
}
