// Base Color
@c-black 			: #000000;
@c-light-black 		: #231f20;
@c-white 			: #ffffff;

@c-red 				: #ed1b24;
@c-blue				: #204687;
@c-yellow 			: #fbc210;
@c-green			: #32CD32;

@c-text 			: @c-black;
@c-grey-light		: #fafafa;
@c-text-grey 		: lighten(@c-text, 75%);

@c-grey 			: #eee;
@c-grey-dark		: #a6a6a6;
@c-grey-light		: #fafafa;

@link 				: @c-red;
@c-border 			: @c-grey;

// Layout
@max-width 			: 1600px;
