<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Template for displaying products list widget
 *
 * @var $block \Magento\CatalogWidget\Block\Product\ProductsList
 */
?>
<?php if ($exist = ($block->getProductCollection() && $block->getProductCollection()->getSize())):?>
<?php
    $type = 'widget-product-grid';

    $mode = 'grid';

    $image = 'new_products_content_widget_grid';
    $title = $block->getTitle() ? __($block->getTitle()) : '';
    $items = $block->getProductCollection()->getItems();

    $showWishlist = true;
    $showCompare = true;
    $showCart = true;
    $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    $description = false;
?>
    <div class="block widget block-products-list <?php /* @escapeNotVerified */ echo $mode; ?>">
        <?php /* if ($title):?>
        <div class="block-title">
            <strong><?php echo $title; ?></strong>
        </div>
        <?php endif */ ?>
        <div class="block-content">
            <?php /* @escapeNotVerified */ echo '<!-- ' . $image . '-->' ?>
            <div class="products-<?php /* @escapeNotVerified */ echo $mode; ?> <?php /* @escapeNotVerified */ echo $mode; ?>">
                <ol class="product-items <?php /* @escapeNotVerified */ echo $type; ?>">
                    <?php $iterator = 1; ?>
                    <?php foreach ($items as $_item): ?>
                        <?php
                            $specialprice = $_item->getSpecialPrice();
                            $specialPriceFromDate = $_item->getSpecialFromDate();
                            $specialPriceToDate = $_item->getSpecialToDate();
                            $today = time();
                            $price = $_item->getPrice();
                            if($price>0){
                                $sale = round((($price-$specialprice)/$price)*100);
                            };
                        ?>
                        <?php /* @escapeNotVerified */ echo($iterator++ == 1) ? '<li class="product-item">' : '</li><li class="product-item">' ?>
                        <div class="product-item-info">
                            <div class="image-holder">
                                <a href="<?php /* @escapeNotVerified */ echo $block->getProductUrl($_item) ?>" class="product-item-photo" onclick="_productClick(event, '<?php echo $block->escapeHtml( $_item->getSku() ) ?>', '<?php echo $_item->getProductUrl(); ?>')">
                                    <?php echo $block->getImage($_item, $image)->toHtml(); ?>
                                    <?php if ($specialprice): ?>
                                        <?php if ($today >= strtotime($specialPriceFromDate) && $today <= strtotime($specialPriceToDate) || $today >= strtotime($specialPriceFromDate) && is_null($specialPriceToDate)): ?>
                                            <div class="label-product label-sale">
                                                <span class="sale-product-icon">
                                                    <?php if($sale) { echo $sale.'%'; } else {echo __('Sale');} ?>
                                                </span>
                                            </div>
                                        <?php endif; ?>
                                    <?php endif; ?>
                                </a>
                                <?php if ($showWishlist || $showCompare): ?>
                                    <div class="actions-secondary" data-role="add-to-links">
                                        <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && $showWishlist): ?>
                                            <a href="#"
                                               data-post='<?php /* @escapeNotVerified */ echo $block->getAddToWishlistParams($_item); ?>'
                                               class="action towishlist" data-action="add-to-wishlist"
                                               title="<?php /* @escapeNotVerified */ echo __('Add to Wish List') ?>">
                                                <span><?php /* @escapeNotVerified */ echo __('Add to Wish List') ?></span>
                                            </a>
                                        <?php endif; ?>
                                        <?php if ($block->getAddToCompareUrl() && $showCompare): ?>
                                            <?php $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');?>
                                            <a href="#" class="action tocompare"
                                               data-post='<?php /* @escapeNotVerified */ echo $compareHelper->getPostDataParams($_item);?>'
                                               title="<?php /* @escapeNotVerified */ echo __('Add to Compare') ?>">
                                                <span><?php /* @escapeNotVerified */ echo __('Add to Compare') ?></span>
                                            </a>
                                        <?php endif; ?>
                                    </div>
                                <?php endif; ?>
                            </div>
                            <div class="product-item-details">
                                <strong class="product-item-name">
                                    <a title="<?php echo $block->escapeHtml($_item->getName()) ?>"
                                       href="<?php /* @escapeNotVerified */ echo $block->getProductUrl($_item) ?>"
                                       class="product-item-link"
                                       onclick="_productClick(event, '<?php echo $block->escapeHtml( $_item->getSku() ) ?>', '<?php echo $_item->getProductUrl(); ?>')">
                                        <?php echo $block->escapeHtml($_item->getName()) ?>
                                    </a>
                                </strong>

                                <?php if ($templateType): ?>
                                    <?php echo $block->getReviewsSummaryHtml($_item, $templateType, true) ?>
                                <?php endif; ?>

                                <?php
                                echo $block->getProductPriceHtml($_item, $type);
                                ?>

                                <?php if ($showWishlist || $showCompare || $showCart): ?>
                                    <div class="product-item-actions">
                                        <?php if ($showCart): ?>
                                            <div class="actions-primary">
                                                <?php if ($_item->isSaleable()): ?>
                                                    <?php if ($_item->getTypeInstance()->hasRequiredOptions($_item)): ?>
                                                        <button class="action primary" onclick="location.href = '<?php echo $_item->getProductUrl(); ?>';"><span><?php /* @escapeNotVerified */ echo __('Lihat Detail') ?></span></button>
                                                    <?php else: ?>
                                                        <?php
                                                            $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
                                                            $postData = $postDataHelper->getPostData($block->getAddToCartUrl($_item), ['product' => $_item->getEntityId()])
                                                        ?>
                                                        <button class="action primary" onclick="location.href = '<?php echo $_item->getProductUrl(); ?>';"><span><?php /* @escapeNotVerified */ echo __('Lihat Detail') ?></span></button>
                                                    <?php endif; ?>
                                                <?php else: ?>
                                                    <?php if ($_item->getIsSalable()): ?>
                                                        <div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
                                                    <?php else: ?>
                                                        <div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>
                                                    <?php endif; ?>
                                                <?php endif; ?>
                                            </div>
                                        <?php endif; ?>

                                    </div>
                                <?php endif; ?>
                            </div>
                        </div>
                        <?php
                            $_categoryCollectionsObj = \Magento\Framework\App\ObjectManager::getInstance()->create('Magento\Catalog\Model\Category');
                            $_categoryName = [];
                            $_categoryIds = $_item->getCategoryIds();

                            foreach ($_categoryIds as $_categoryId) {
                                $_categoryName[] = $_categoryCollectionsObj->load($_categoryId)->getName();
                            }
                            $_categoryName = implode('/', $_categoryName);
                        ?>
                        <script type="text/javascript">
                            products['<?php echo $block->escapeHtml( $_item->getSku() ) ?>'] = {
                                'name':'<?php echo $block->escapeHtml( $_item->getName() ) ?>',
                                'id':'<?php echo $block->escapeHtml( $_item->getSku() ) ?>',
                                <?php if($_item->getTypeId() == "simple"): ?>
                                    <?php if($_item->getSpecialPrice()): ?>
                                        'price':<?php echo $_item->getSpecialPrice() * 1; ?>,
                                    <?php else:?>
                                        'price':<?php echo $_item->getPrice() * 1; ?>,
                                    <?php endif; ?>
                                <?php elseif($_item->getTypeId() == "configurable"):?>
                                    <?php 
                                        $_children = $_item->getTypeInstance()->getUsedProducts($_item);
                                        foreach ($_children as $child){
                                            $tempCount = array($child->getPrice());
                                        }
                                    ?>
                                    'price':<?php echo end($tempCount) * 1; ?>,
                                <?php endif; ?>
                                'brand':'<?php echo $block->escapeHtml( $title ) ?>',
                                'category':'<?php echo $block->escapeHtml( $_categoryName ) ?>',
                                'variant':'',
                                'List':'',
                                'position':<?php echo $iterator ?>,
                            };
                            impressions.push(products['<?php echo $block->escapeHtml( $_item->getSku() ) ?>']);
                        </script>
                        <?php echo($iterator == count($items)+1) ? '</li>' : '' ?>
                    <?php endforeach ?>
                </ol>
                <script type="text/javascript">
                    require([ 'jquery'], function($){ 
                        $(document).ready(function($) {
                            dataLayer.push({
                                'pageType': 'productImpressions',
                                'ecommerce':{
                                    'currencyCode':'IDR',
                                    'impressions': impressions,
                                },
                            });
                        })
                    })

                    var _productClick = function( e, key, url ){
                        e.preventDefault();
                        dataLayer.push({
                            'event':'productClick',
                            'ecommerce': {
                                'currencyCode':'IDR',
                                'click':{
                                    'actionField': { 'list': '' },
                                    'products': [products[key]],
                                }
                            }
                        });
                        window.location = url;
                    }
                </script>
            </div>
            <?php echo $block->getPagerHtml() ?>
        </div>
    </div>
<?php endif;?>
