<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
use Magento\Framework\App\Action\Action;

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Product list template
 *
 * @var $block \Magento\Catalog\Block\Product\ListProduct
 */
?>
<?php
$_productCollection = $block->getLoadedProductCollection();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
?>
<?php if (!$_productCollection->count()): ?>
    <div class="message info empty"><div><?php /* @escapeNotVerified */ echo __('We can\'t find products matching the selection.') ?></div></div>
<?php else: ?>
    <?php echo $block->getToolbarHtml() ?>
    <?php echo $block->getAdditionalHtml() ?>
    <?php
    if ($block->getMode() == 'grid') {
        $viewMode = 'grid';
        $image = 'category_page_grid';
        $showDescription = false;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    } else {
        $viewMode = 'list';
        $image = 'category_page_list';
        $showDescription = true;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
    }
    /**
     * Position for actions regarding image size changing in vde if needed
     */
    $pos = $block->getPositioned();
    ?>
    <div class="products wrapper <?php /* @escapeNotVerified */ echo $viewMode; ?> products-<?php /* @escapeNotVerified */ echo $viewMode; ?>">
        <?php $iterator = 1; ?>
        <ol class="products list items product-items">
            <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
            <?php foreach ($_productCollection as $_product): ?>
                <?php
                    $specialprice = $_product->getSpecialPrice();
                    $specialPriceFromDate = $_product->getSpecialFromDate();
                    $specialPriceToDate = $_product->getSpecialToDate();
                    $today = time();
                    $price = $_product->getPrice();
                    if($price>0){
                        $sale = round((($price-$specialprice)/$price)*100);
                    };
                ?>
                <?php /* @escapeNotVerified */ echo($iterator++ == 1) ? '<li class="item product">' : '</li><li class="item product">' ?>
                <div class="item-info" data-container="product-grid">
                    <?php
                    $productImage = $block->getImage($_product, $image);
                    if ($pos != null) {
                        $position = ' style="left:' . $productImage->getWidth() . 'px;'
                            . 'top:' . $productImage->getHeight() . 'px;"';
                    }
                    ?>
                    <?php // Product Image ?>
                    <div class="product product-list-image">
                        <a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="photo product-item-photo" tabindex="-1">
                            <?php echo $productImage->toHtml(); ?>
                            <?php if ($specialprice): ?>
                                <?php if ($today >= strtotime($specialPriceFromDate) && $today <= strtotime($specialPriceToDate) || $today >= strtotime($specialPriceFromDate) && is_null($specialPriceToDate)): ?>
                                    <div class="label-product label-sale">
                                        <span class="sale-product-icon">
                                            <?php if($sale) { echo $sale.'%'; } else {echo __('Sale');} ?>
                                        </span>
                                    </div>
                                <?php endif; ?>
                            <?php endif; ?>
                        </a>
                        <div data-role="add-to-links" class="actions-secondary"<?php echo strpos($pos, $viewMode . '-secondary') ? $position : ''; ?>>
                            <?php if ($addToBlock = $block->getChildBlock('addto')): ?>
                                <?php echo $addToBlock->setProduct($_product)->getChildHtml(); ?>
                            <?php endif; ?>
                        </div>
                    </div>
                    <div class="product details product-item-details">
                        <?php echo $block->getProductDetailsHtml($_product); ?>
                        <?php
                            $_productNameStripped = $block->stripTags($_product->getName(), null, true);
                        ?>
                        <strong class="product name product-item-name">
                            <a class="product-item-link"
                               href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>">
                                <?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
                            </a>
                        </strong>
                        <p class="product-sku"><?php /* @escapeNotVerified */ echo __('SKU:') ?> <?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getSku(), 'sku'); ?></p>
                        <?php echo $block->getReviewsSummaryHtml($_product, $templateType); ?>
                        <?php if ($showDescription):?>
                            <div class="product description product-item-description">
                                <?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
                            </div>
                        <?php endif; ?>

                        <div class="product-item-inner">
                            <?php /* @escapeNotVerified */ echo $block->getProductPrice($_product) ?>
                            <div class="product actions product-item-actions"<?php echo strpos($pos, $viewMode . '-actions') ? $position : ''; ?>>
                                <div class="actions-primary"<?php echo strpos($pos, $viewMode . '-primary') ? $position : ''; ?>>
                                    <?php if ($_product->isSaleable()): ?>
                                        <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                        <form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action']; ?>" method="post">
                                            <input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
                                            <input type="hidden" name="<?php /* @escapeNotVerified */ echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
                                            <?php echo $block->getBlockHtml('formkey')?>
                                            <div class="qty-wrapper">
                                                <span class="qty-increment-<?php echo $_product->getId(); ?> qty-minus">-</span>
                                                <input type="number" name="qty" id="qty" maxlength="12" value="<?php /* @escapeNotVerified */ echo '1' ?>" title="<?php /* @escapeNotVerified */ echo __('Qty') ?>" class="input-text qty" />
                                                <span class="qty-increment-<?php echo $_product->getId(); ?> qty-plus">+</span>
                                            </div>
                                            <script type="text/javascript">
                                            require(['jquery', 'jquery/ui'], function($) {
                                                $(document).ready(function($) {
                                                    jQuery('.qty-increment-<?php echo $_product->getId(); ?>').click(function(){
                                                        oldVal = jQuery(this).parent().find('input').val();

                                                        if (jQuery(this).text() == '+') {
                                                            var newVal = parseFloat(oldVal) + 1;
                                                        } else {
                                                            if (oldVal > 1) {
                                                                var newVal = parseFloat(oldVal) - 1;
                                                            } else {
                                                                newVal = 1;
                                                            }
                                                        }
                                                        jQuery(this).parent().find('input').val(newVal);
                                                    });
                                                })
                                            })
                                            </script>
                                            <button type="submit"
                                                    title="<?php echo $block->escapeHtml(__('Buy Now')); ?>"
                                                    class="action tocart primary">
                                                <span class="btn-has-arrow"><?php /* @escapeNotVerified */ echo __('Buy Now') ?></span>
                                            </button>
                                        </form>
                                    <?php else: ?>
                                        <?php if ($_product->getIsSalable()): ?>
                                            <div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
                                        <?php else: ?>
                                            <div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>
                                        <?php endif; ?>
                                    <?php endif; ?>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <?php echo($iterator == count($_productCollection)+1) ? '</li>' : '' ?>
            <?php endforeach; ?>
        </ol>
    </div>
    <?php echo $block->getToolbarHtml() ?>
    <?php if (!$block->isRedirectToCartEnabled()) : ?>
        <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {}
            }
        }
        </script>
    <?php endif; ?>
<?php endif; ?>
