<h3 class="appointment-title"><?php /* @escapeNotVerified */ echo __('Available Slot') ?></h3>
<form name="slot_configuration" method="POST" action="<?php echo $this->getSubmitUrl()?>">
	<?php echo $block->getBlockHtml('formkey'); ?>
	<div class="tabledashboard">
		<table>
			<thead>
				<tr>
					<th><?php echo __('Slot Name');?></th>
					<th><?php echo __('From (Hour)');?></th>
					<th><?php echo __('To (Hour)');?></th>
					<th><?php echo __('Active');?></th>
					<th><?php echo __('Customer Per Slot');?></th>
				</tr>
			</thead>
			<tbody>
				<?php foreach ($this->getSlot() as $data) : ?>
					<tr>
						<td>
							<?php echo $data['slot_name'] ?>
							<input type="hidden" name="slot[<?php echo $data['slot_id']?>][name]" value="<?php echo $data['slot_id']?>" />
						</td>
						<td>
							<?php echo sprintf('%02d', $data['from']).'.00' ?>
							<input type="hidden" name="slot[<?php echo $data['slot_id']?>][from]" value="<?php echo sprintf('%02d', $data['from']).'.00'?>" />
						</td>
						<td>
							<?php echo sprintf('%02d', $data['to']).'.00' ?>
							<input type="hidden" name="slot[<?php echo $data['slot_id']?>][to]" value="<?php echo sprintf('%02d', $data['to']).'.00'?>" />
						</td>
						<td><input type="checkbox" name="slot[<?php echo $data['slot_id']?>][active]" <?php echo $data['active'] ? 'checked="checked"' : '' ?> /></td>
						<td>
					        <div class="field wrp-qtyslot"> 
					            <div class="control">
					                <span class="qty-slot left increment">-</span>
					                <input type="text" name="slot[<?php echo $data['slot_id']?>][customer_slot]" value="<?php echo ($data['customer_slot'])? $data['customer_slot'] :'0';?>" />
					                <span class="qty-slot right increment">+</span>                
					            </div>
					        </div>
						</td>
					</tr>
				<?php endforeach; ?>
			</tbody>
		</table>
	</div>
	<div class="primary">
    <button type="submit" class="action submit primary" title="<?php /* @escapeNotVerified */ echo __('Submit') ?>"><span><?php /* @escapeNotVerified */ echo __('Save') ?></span></button>
  </div>
</form>

            <script type="text/javascript"> 
                require([ 'jquery', 'jquery/ui'], function($){ $(document).ready(function($) {
                
                    jQuery('.qty-slot').click(function(){
                        old_Val = jQuery(this).parent().find('input').val();

                        if (jQuery(this).text() == '+') {
                            var new_Val = parseFloat(old_Val) + 1;
                        } else {
                            if (old_Val > 1) {
                                var new_Val = parseFloat(old_Val) - 1;
                            } else {
                                new_Val = 1;
                            }
                        }
                        jQuery(this).parent().find('input').val(new_Val);
                    });
                }); });
            </script>            
