<!-- ko if: isDisplayedCustomdiscount() -->
<tr class="totals customdiscount rewards_point_discount_wrap excl">
    <th class="mark" colspan="1" scope="row" data-bind="text: rewards_point_discount"></th>
    <td class="amount">
        <span class="price rewards_point_discount" data-bind="text: getRewardsPointDiscount(), attr: {'data-th': rewards_point_discount}"></span>
    </td>
</tr>
<!-- /ko -->