<script type='text/javascript' src="//wurfl.io/wurfl.js"></script>
<script type="text/javascript">
	<?php
		if( $block->getPageIdentifier() == 'cms_index_index' ) {
			$_pageType = 'Homepage';
		} else if ( $block->getPageIdentifier() == 'checkout_cart_index' ) {
			$_pageType = 'CartPage';
		} else if ( $block->getPageIdentifier() == 'checkout_index_index' ) {
			$_pageType = 'CheckoutPage';
		} else if ( $block->getPageIdentifier() == 'catalog_category_view' ) {
			$_pageType = 'CatalogPage';
		} else if ( $block->getPageIdentifier() == 'catalog_product_view' ) {
			$_pageType = 'ProductPage';
		} else {
			$_pageType = $block->getPageIdentifier();
		}
	?>
	deviceType = null;
	if( WURFL.form_factor == 'Tablet' ) {
		deviceType = 't';
	} else if( WURFL.form_factor == 'Smartphone' ){
		deviceType = 'm'
	} else if( WURFL.form_factor == 'Desktop' ) {
		deviceType = 'd'
	} else {
		deviceType = 'no deviceType detected, Beware!!!';
	}
	dataLayer = [{
		'pageType':'<?php echo $block->escapeHtml( $_pageType ) ?>',
		'pageTitle':'<?php echo $block->escapeHtml( $block->getPageTitle() ) ?>',
		'deviceType': deviceType,
		<?php if( $_custSession = $block->getCustomerSignedIn() ): ?>
			'userID':'<?php echo $_custSession['entity_id'] ?>',
			'emailAddressHashed':'<?php echo $_custSession['email_hashed'] ?>',
			'visitorType':'loggedin',
		<?php else: ?>
			'visitorType':'nonloggedin',
		<?php endif; ?>
	}]
</script>
<?php 
if($block->isEnabled(null) == 1) {
	echo $block->getTagHead(null);
}
?>

<script type="text/javascript">
	var productIds = [];
	require(['jquery'], function($){
		$(document).ready(function($){
			try{
				if(products.length > 0) {
					for (var produk in products) {
						if (products.hasOwnProperty(produk)) {
							productIds.push(products[produk].id);
						}
					}
					if(productIds){
						productIds = productIds.join('|');
						dataLayer[0]['productId'] = productIds;
					}
				} else {
					setTimeout(function(){
						for (var produk in products) {
							if (products.hasOwnProperty(produk)) {
								productIds.push(products[produk].id);
							}
						}
						if(productIds){
							productIds = productIds.join('|');
							dataLayer[0]['productId'] = productIds;
						}
					}, 8000);
				}
			} catch(err) {
				console.log(err);
			}
		});
	});
</script>
