<div class="field required agreement">
	<div class="control">
		<label for="agreement"><?php echo __('I have read and agreed on Astraotoshop <a>Terms and Conditions.</a>' ) ?></label>
		<input type="checkbox" id="agreement" name="agreement" title="<?php echo __('I have read and agreed.') ?>" class="input-checkbox" data-validate="{required:true}" />
	</div>
	<div id="agreement-modal" class="agreement-modal" style="display: none;">
		<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('customer-agreement')->toHtml(); ?>
	</div>
</div>

<script>
    require(['jquery', 'Magento_Ui/js/modal/modal','mage/translate'], function ($, modal, $t) {

        var options = {
            'type': 'popup',
            'responsive': true,
            'innerScroll': true,
            'title': $t('Terms and Conditions'),
            'trigger': '.agreement label > a',
            'buttons': [
                {
                    text: $t('Close'),
                    class: 'action primary action-hide-popup',
                    click: function() {
                        this.closeModal();
                    }
                }
            ]
        };
        var popup = modal(options, $('#agreement-modal'));

    });
</script>
