<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<!-- ko foreach: getRegion('before_details') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
<!-- /ko -->

    <div class="product-item-details">

        <div class="product-item-inner">
            <div class="product-item-name-block">
                <strong class="product-item-name" data-bind="text: $parent.name"></strong>
                <div class="details-qty">
                    <span class="label"><!-- ko i18n: 'Qty' --><!-- /ko --></span>
                    <span class="value" data-bind="text: $parent.qty"></span>
                </div>
            </div>
            <!-- ko foreach: getRegion('after_details') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!-- /ko -->
        </div>

        <!-- ko if: (JSON.parse($parent.options).length > 0)-->
        <div class="product options" data-bind="mageInit: {'collapsible':{'openedState': 'active'}}">
            <span data-role="title" class="toggle"><!-- ko i18n: 'View Details' --><!-- /ko --></span>
            <div data-role="content" class="content">
                <strong class="subtitle"><!-- ko i18n: 'Options Details' --><!-- /ko --></strong>
                <dl class="item-options">
                    <!--ko foreach: JSON.parse($parent.options)-->
                    <dt class="label" data-bind="text: label"></dt>
                        <!-- ko if: ($data.full_view)-->
                        <dd class="values" data-bind="html: full_view"></dd>
                        <!-- /ko -->
                        <!-- ko ifnot: ($data.full_view)-->
                        <dd class="values" data-bind="html: value"></dd>
                        <!-- /ko -->
                    <!-- /ko -->
                </dl>
            </div>
        </div>
        <!-- /ko -->
    </div>


    <div class="details-appointment" data-bind="mageInit: {'collapsible':{'openedState': 'active'}}">
        <span data-role="title" class="toggle"><!-- ko i18n: 'View Details' --><!-- /ko --></span>
        <div data-role="content" class="content">
            <dl class="item-options">
                <table class="table">
                    <thead>
                        <tr>
                            <th><span data-bind="i18n: 'No'"></span></th>
                            <th width="65%"><span data-bind="i18n: 'Place'"></span></th>
                            <th width="30%"><span data-bind="i18n: 'Schedule'"></span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- ko if: (getAppointments($parent))-->
                            <!-- ko foreach: JSON.parse(getAppointments($parent)) -->
                                <tr>
                                    <td>
                                        <span data-bind="text: number"></span>
                                    </td>
                                    <td width="">
                                        <span data-bind="text: address"></span>
                                    </td>
                                    <td>
                                        <span data-bind="text: ap_date"></span>
                                        <span data-bind="text: ap_hours"></span>
                                    </td>
                                </tr>
                                <!-- /ko -->
                        <!-- /ko -->
                    </tbody>
                </table>
            </dl>
        </div>
</div>
