<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Account\Dashboard\Address $block */
?>
<div class="block block-dashboard-addresses">
    <div class="block-content"> 
        <div class="wrp-blockborder">
            <div class="box box-billing-address">
                <strong class="box-title">
                    <span><?php /* @escapeNotVerified */ echo __('Default Billing Address') ?></span>
                    <a class="action edit" href="<?php /* @escapeNotVerified */ echo $block->getPrimaryBillingAddressEditUrl() ?>" data-ui-id="default-billing-edit-link"></a>
                </strong>
                <div class="box-content">
                    <address>
                        <?php echo $block->getPrimaryBillingAddressHtml() ?>
                    </address>
                </div>
                <div class="box-actions">
                </div>
            </div>
            <div class="box box-shipping-address">
                <strong class="box-title">
                    <span><?php /* @escapeNotVerified */ echo __('Default Shipping Address') ?></span>
                    <a class="action edit" href="<?php /* @escapeNotVerified */ echo $block->getPrimaryShippingAddressEditUrl() ?>" data-ui-id="default-shipping-edit-link"></a>

                </strong>
                <div class="box-content">
                    <address>
                        <?php echo $block->getPrimaryShippingAddressHtml() ?>
                    </address>
                </div>
            </div>
        </div>
    </div>
</div>
