<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "%subject" subject=$data.subject}} @-->
{{template config_path="design/email/header_template"}}
<table class="top-section">
    <tr>
        <td class="column-left">
            <h2>{{trans 'TERIMA KASIH'}}</h2>
        </td>
        <td class="column-right">
            <h2>{{trans 'Ada Pertanyaan?'}}</h2>
        </td>
    </tr>
    <tr>
        <td class="column-left">
        <p>{{trans 'Customer Yth,'}} <b>{{trans '%customerName' customerName=$data.customerName}}</b></p></td>
        <td class="column-right">
            <span>{{trans 'Email : <a href="mailto:%store_email">%store_email</a>' store_email=$store_email |raw}}</span><br/>
            <!-- <span>{{trans 'Telepon : <a href="tel:%store_phone">%store_phone</a>' store_phone=$store_phone |raw}}</span> -->
        </td>
    </tr>
</table>
<table class="mid-section">
    <tr>
        <td>
            <h2>{{trans 'Pesanan Anda <span class="no-link">#%increment_id</span>' increment_id=$data.invoiceNo | raw}}</h2>
        </td>
    </tr>
</table>
<table>
    <tr>
        <td>
            <p>{{trans "Transaksi Anda sebesar"}} {{trans "<b>Rp %amount</b>" amount=$data.amount | raw}}</p>
            <p>{{trans "dan silakan melakukan pembayaran dengan nomor rekening Virtual Account CIMB Niaga: <b>%payCode</b>" payCode=$data.payCode | raw}} {{trans "sebelum %expiry WIB" expiry=$data.expiry}}</p>
        </td>
    </tr>
    <tr>
        <td>
            <p><b>{{trans "Cara pembayaran via ATM CIMB Niaga"}}</b></p>
            <ol>
                <li>{{trans "Datang ke ATM CIMB Niaga terdekat"}}</li>
                <li>{{trans 'Pilih menu “Transfer”, kemudian pilih “Rekening CIMB Niaga”'}}</li>
                <li>{{trans 'Masukkan Nomor Rekening Tujuan dengan Virtual Account 16 Digit Angka yang didapatkan di website astraotoshop.com “%payCode”' payCode=$data.payCode}}</li>
                <li>{{trans "Masukkan nominal transfer dengan nominal pembayaran sesuai dengan yang ditagihkan"}}</li>
                <li>{{trans 'Halaman konfirmasi, cek kembali untuk “Nama dan Nominal Tagihan” apakah sudah sesuai, lalu tekan Benar/Ok'}}</li>
                <li>{{trans "Simpan struk transaksi ATM Anda"}}</li>
            </ol>
            <br />
            <p><b>{{trans "Cara pembayaran via Go Mobile"}}</b></p>
            <ol>
                <li>{{trans "Login ke aplikasi Go Mobile Anda"}}</li>
                <li>{{trans 'Pilih menu “Transfer”, kemudian pilih “CIMB Niaga”'}}</li>
                <li>{{trans 'Masukkan nomor rekening tujuan dengan Nomor Virtual Account 16 Digit Angka yang didapatkan di website astraotoshop.com “%payCode”' payCode=$data.payCode}}</li>
                <li>{{trans "Masukkan nominal transfer dengan nominal pembayaran sesuai dengan yang ditagihkan"}}</li>
                <li>{{trans 'Halaman konfirmasi, cek kembali untuk “Nama dan Nominal Tagihan” apakah sudah sesuai, lalu masukan otentikasi transaksi / PIN mobile banking Anda'}}</li>
                <li>{{trans 'Simpan/cetak bukti transaksi elektronik Anda'}}</li>
            </ol>
            <br />
            <p><b>{{trans "Cara pembayaran via CIMB Clicks"}}</b></p>
            <ol>
                <li>{{trans "Login ke aplikasi CIMB Clicks Anda"}}</li>
                <li>{{trans 'Pilih menu “Transfer”, kemudian pilih rekening sumber dana pada bagian “Transfer From”, masukkan “Jumlah”, sesuai dengan yang ditagihkan, lalu pada bagian “Transfer to” pilih “Other Account (CIMB Niaga/Rekening Ponsel), kemudian pilih “Next”'}}</li>
                <li>{{trans 'Pilih “Bank CIMB Niaga” lalu masukkan Nomor Virtual Account di kolom “Rekening Penerima”, dengan 16 Digit Angka yang didapatkan di website astraotoshop.com “%payCode” kemudian pilih “Next”' payCode=$data.payCode}}</li>
                <li>{{trans 'Halaman konfirmasi, cek kembali untuk “Nama dan Nominal Tagihan” apakah sudah sesuai, lalu masukan otentikasi transaksi / mPIN mobile banking Anda'}}</li>
                <li>{{trans 'Simpan/cetak bukti transaksi elektronik Anda'}}</li>
            </ol>
        </td>
    </tr>
</table>
{{template config_path="design/email/footer_template"}}
