<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "%subject" subject=$data.subject}} @-->
{{template config_path="design/email/header_template"}}
<table class="top-section">
    <tr>
        <td class="column-left">
            <h2>{{trans 'TERIMA KASIH'}}</h2>
        </td>
        <td class="column-right">
            <h2>{{trans 'Ada Pertanyaan?'}}</h2>
        </td>
    </tr>
    <tr>
        <td class="column-left">
        <p>{{trans 'Customer Yth,'}} <b>{{trans '%customerName' customerName=$data.customerName}}</b></p></td>
        <td class="column-right">
            <span>{{trans 'Email : <a href="mailto:%store_email">%store_email</a>' store_email=$store_email |raw}}</span><br/>
            <!-- <span>{{trans 'Telepon : <a href="tel:%store_phone">%store_phone</a>' store_phone=$store_phone |raw}}</span> -->
        </td>
    </tr>
</table>
<table class="mid-section">
    <tr>
        <td>
            <h2>{{trans 'Pesanan Anda <span class="no-link">#%increment_id</span>' increment_id=$data.invoiceNo | raw}}</h2>
        </td>
    </tr>
</table>
<table>
    <tr>
        <td>
            <p>{{trans "Transaksi Anda sebesar"}} {{trans "<b>Rp %amount</b>" amount=$data.amount | raw}}</p>
            <p>{{trans "dan silakan melakukan pembayaran dengan nomor rekening Virtual Account Danamon: <b>%payCode</b>" payCode=$data.payCode | raw}} {{trans "sebelum %expiry WIB" expiry=$data.expiry}}</p>
        </td>
    </tr>
    <tr>
        <td>
            <p><b>{{trans "Cara pembayaran via ATM Danamon"}}</b></p>
            <ol>
                <li>{{trans "Datang ke ATM Danamon terdekat"}}</li>
                <li>{{trans "Masukkan kartu ATM dan input PIN ATM Anda"}}</li>
                <li>{{trans 'Pilih menu “Pembayaran”, kemudian pilih “Lainnya”'}}</li>
                <li>{{trans 'Pilih menu “Virtual Account”'}}</li>
                <li>{{trans 'Masukkan Nomor Virtual Account 16 Digit Angka yang didapatkan di website astraotoshop.com “%payCode”' payCode=$data.payCode}}</li>
                <li>{{trans "Masukkan nominal tagihan / pembayaran sesuai dengan yang ditagihkan"}}</li>
                <li>{{trans 'Halaman konfirmasi, cek kembali untuk “Nama dan Nominal Tagihan” apakah sudah sesuai, lalu tekan Benar/Ok'}}</li>
                <li>{{trans "Simpan struk transaksi ATM Anda"}}</li>
            </ol>
            <br />
            <p><b>{{trans "Cara pembayaran via D-Mobile"}}</b></p>
            <ol>
                <li>{{trans "Login ke aplikasi D-Mobile Anda"}}</li>
                <li>{{trans 'Pilih menu “Pembayaran”, kemudian pilih “Virtual Account” kemudian tambah biller lalu pembayaran'}}</li>
                <li>{{trans 'Masukkan Nomor Virtual Account 16 Digit Angka yang didapatkan di website astraotoshop.com “%payCode”' payCode=$data.payCode}}</li>
                <li>{{trans "Masukkan nominal tagihan / pembayaran sesuai dengan yang ditagihkan"}}</li>
                <li>{{trans 'Halaman konfirmasi, cek kembali untuk “Nama dan Nominal Tagihan” apakah sudah sesuai, lalu masukan otentikasi transaksi / PIN Anda'}}</li>
                <li>{{trans 'Simpan / cetak bukti transaksi elektronik Anda'}}</li>
            </ol>
            <br />
            <p>Note: tidak bisa melalui Internet Banking Danamon</p>
        </td>
    </tr>
</table>
{{template config_path="design/email/footer_template"}}
