<?php 
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->get('Magento\Customer\Model\Session');
$storeManager = $objectManager->get('Magento\Store\Model\StoreManagerInterface'); 
$currentStore = $storeManager->getStore();
$baseUrl = $currentStore->getBaseUrl();
?>

<div data-block="user" class="user-wrapper">
	<?php if($customerSession->isLoggedIn()):?>
		<a href="" class="action showUserLink" onclick="event.preventDefault()">
			<i class="fa fa-user-circle-o" aria-hidden="true"></i>
			Hi <?php echo $customerSession->getCustomer()->getFirstname();?>
			<small><i class="fa fa-angle-down"></i></small>
		</a>
		<div class="block block-user-link">
			<ul class="link-list">
				<li><a href="<?php echo $baseUrl.'customer/account';?>"><i class="fa fa-user-circle-o" aria-hidden="true"></i><?php echo __('Account Dashboard');?></a></li>
				<li><a href="<?php echo $baseUrl.'customer/account/edit';?>"><i class="fa fa-edit" aria-hidden="true"></i><?php echo __('Account Information');?></a></li>
				<li><a href="<?php echo $baseUrl.'customer/address';?>"><i class="fa fa-address-book-o" aria-hidden="true"></i><?php echo __('Address Book');?></a></li>
				<li><a href="<?php echo $baseUrl.'sales/order/history';?>"><i class="fa fa-credit-card" aria-hidden="true"></i><?php echo __('My Orders');?></a></li>
				<li><a href="<?php echo $baseUrl.'myvoucher/customer/voucherlist';?>"><i class="fa fa-tag" aria-hidden="true"></i><?php echo __('My Vouchers');?></a></li>
				<li><a href="<?php echo $baseUrl.'wishlist';?>"><i class="fa fa-heart" aria-hidden="true"></i><?php echo __('My Wish List');?></a></li>
				<li><a href="<?php echo $baseUrl.'customer/account/logout';?>"><i class="fa fa-sign-out" aria-hidden="true"></i><?php echo __('Logout');?></a></li>
			</ul>
		</div>
	<?php else: ?>
	<?php 
		$url  = $this->getUrl('*/*/*', ['_current' => true, '_use_rewrite' => true]);
		$login_url = $block->getUrl('customer/account/login', array('referer' => base64_encode($url)));?>
		<a href="<?php echo $login_url; ?>" class="actions"><i class="fa fa-user" aria-hidden="true"></i> 
			<?php echo __('Login/Register');?>
		</a>
	<?php endif ?>
</div>