<div class="footer-top">
    <div class="footer content">
        <div class="footer-bottom-link">
            <div class="row">
                <div class="col-xs-12 col-sm-5 col-md-5">
                    <div class="widget-astra">
                    	<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')
                    	->setBlockId('footer-link-astraotoshop')->toHtml();?>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="widget-security">
                    	<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')
                    	->setBlockId('footer-link-security')->toHtml();?>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <div class="widget-social">
                    	<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')
                    	->setBlockId('footer-link-social')->toHtml();?>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-bottom">
    <div class="footer content">
        <div class="footer-bottom-link">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <?php
                        $currentUrl = $this->getUrl('', ['_current' => true]);
                        $urlRewrite = $this->getUrl('*/*/*', ['_current' => true, '_use_rewrite' => true]);
                        $isHome = $currentUrl == $urlRewrite;
                    ?>
                    <?php if ($isHome):?>
                        <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')
    					->setBlockId('home-footer-about-left')->toHtml(); ?>
                    <?php else: ?>
    					<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')
    					->setBlockId('footer-about-left')->toHtml(); ?>
                    <?php endif ?>
                </div>
                <div class="col-sm-12 col-md-6">
                    <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')
					->setBlockId('footer-about-right')->toHtml(); ?>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-copy">
    <div class="footer content">
        <div class="row">
            <div class="col-sm-12 col-md-6">
            	<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')
					->setBlockId('footer-copyright-menu')->toHtml(); ?>
                <small class="copyright">
                	<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')
					->setBlockId('footer-copyright')->toHtml(); ?>
                </small>
            </div>
            <div class="col-sm-12 col-md-6">
                <small class="powered">
                    <span>Powered by:<img src="<?php echo $block->getViewFileUrl('img/acommerce.png')?>"></span>
                </small>
            </div>
        </div>
    </div>
</div>
