<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Checkout\Block\Cart\Item\Renderer\Actions\Remove */

$_product = $block->getCartProduct();

?>
<a href="#"
   title="<?php echo $block->escapeHtml(__('Remove item')); ?>"
   class="action action-delete"
   data-post='<?php /* @escapeNotVerified */ echo $block->getDeletePostJson(); ?>'
   onclick="removeClick( event, '<?php echo $_product->getId() ?>' )">
    <span>
        <?php /* @escapeNotVerified */ echo __('Remove item')?>
    </span>
</a>

<script type="text/javascript">
	
    products['<?php echo $_product->getId() ?>'] = {
        'name':'<?php echo $block->escapeHtml( $_product->getName() ) ?>',
        'id':'<?php echo $block->escapeHtml( $_product->getSku() ) ?>',
        <?php if($_product->getTypeId() == "simple"): ?>
            <?php if($_product->getSpecialPrice()): ?>
                'price':<?php echo $_product->getSpecialPrice() * 1; ?>,
            <?php else:?>
                'price':<?php echo $_product->getPrice() * 1; ?>,
            <?php endif; ?>
        <?php elseif($_product->getTypeId() == "configurable"):?>
            <?php 
                $_children = $_product->getTypeInstance()->getUsedProducts($_product);
                foreach ($_children as $child){
                    $tempCount = array($child->getPrice());
                }
            ?>
            'price':<?php echo end($tempCount) * 1; ?>,
        <?php endif; ?>
        'brand':'<?php echo $block->escapeHtml( $block->getBrandText() ) ?>',
        'category':'<?php echo $block->getCategoryList() ?>',
        'variant':'',
        'List':'',
    };

</script>
