<?php /* @var $block \Acommerce\Doku\Block\Frontend\Onepage\Success */?>
<?php if ($block->checkPaymentChannel()):?>
<p><?php echo __('Your Paycode Number is: <span>%1</span>.', $block->getPaycode()); ?></p>
<?php endif; ?>
