<?php
/** @var Acommerce\Shipping\Block\Adminhtml\Rates\Edit\Form\Field\Renderer\Rates $block */
/** @var Magento\Framework\Data\Form\Element\AbstractElement $element */
?>

<?php
$element = $block->getElement();
$_htmlId = $element->getHtmlId();
$_htmlName  = $element->getName();
$values = $block->getElementValues();
?>
<div class="field field-<?php /* @escapeNotVerified */ echo $_htmlName ?>" id="<?php /* @escapeNotVerified */ echo $_htmlId ?>-container">
    <?php echo trim($element->getLabelHtml()) ?>
    <div class="control">
        <input id="<?php echo $element->getId() ?>" type="hidden"/>
        <table id="rates-table" class="rates-table admin__control-table" cellspacing="0" cellpadding="0">
            <thead>
            <tr class="headings">
                <th class="col-config-rate"><?php echo __('Rate') ?></th>
                <th class="col-config-description"><?php echo __('Description') ?></th>
                <th class="col-config-estimation"><?php echo __('Estimation') ?></th>
                <th class="col-config-start-round-up"><?php echo __('Start round up') ?></th>
                <th class="col-delete"><?php echo __('Action') ?></th>
            </tr>
            </thead>
            <tbody id="rates-config-table"></tbody>
            <tfoot>
            <tr>
                <td colspan="5"><?php echo $block->getAddButtonHtml() ?></td>
            </tr>
            </tfoot>
        </table>
        <?php if ($element->getNote()): ?><p><small><?php echo $element->getNote() ?></small></p><?php endif ?>
    </div>
</div>

<script>
    require([
        "mage/template","jquery",
        "mage/adminhtml/form",
        "prototype",
        "domReady!"
    ], function (mageTemplate, jQuery) {
        var identifiertemplateText =
            '<tr class="option-row">' +
            '<td class="col-config-code">' +
            '<input class="required-entry" name="<?php /* @escapeNotVerified */ echo $_htmlName ?>[<%- data.index %>][rate]" id="rates_row_<%- data.index %>_rate"/>' +
            '</td>' +
            '<td class="col-config-identity">' +
            '<input class="" name="<?php /* @escapeNotVerified */ echo $_htmlName ?>[<%- data.index %>][description]" id="rates_row_<%- data.index %>_description"/>' +
            '</td>' +
            '<td class="col-config-value">' +
            '<input class="" name="<?php /* @escapeNotVerified */ echo $_htmlName ?>[<%- data.index %>][estimation]" id="rates_row_<%- data.index %>_estimation"/>' +
            '</td>' +
            '<td class="col-config-value">' +
            '<input class="" name="<?php /* @escapeNotVerified */ echo $_htmlName ?>[<%- data.index %>][start_round_up]" id="rates_row_<%- data.index %>_start_round_up"/>' +
            '</td>' +
            '<td class="a-left">' + '<?php echo preg_replace('/\s+/', ' ', $block->getDeleteButtonHtml()) ?>' + '</td>' +
            '</tr>';

        var rates = {
            table: $('rates-config-table'),
            template: mageTemplate(identifiertemplateText),
            itemsCount: 0,
            addItem: function () {
                var data = {
                    rate: '',
                    description: '',
                    estimation: '',
                    start_round_up: '',
                    index: this.itemsCount++
                };

                if(arguments.length > 0) {
                    data.rate      = arguments[0];
                    data.description  = arguments[1];
                    data.estimation     = arguments[2];
                    data.start_round_up     = arguments[3];
                }

                Element.insert(this.table, {
                    bottom : this.template({
                        data: data
                    })
                });

                $('rates_row_' + data.index + '_rate').value = data.rate;
                $('rates_row_' + data.index + '_description').value = data.description;
                $('rates_row_' + data.index + '_estimation').value = data.estimation;
                $('rates_row_' + data.index + '_start_round_up').value = data.start_round_up;
            },
            removeItem: function (event) {
                var element = $(Event.findElement(event, 'tr')); // !!! Button already
                if (element) {
                    element.addClassName('no-display template');
                    element.remove();
                }
                return false;
            }
        };
        <?php foreach ($block->getElementValues() as $_item): ?>
        rates.addItem('<?php /* @escapeNotVerified */ echo $_item['rate'] ?>', '<?php /* @escapeNotVerified */ echo $_item['description'] ?>', '<?php /* @escapeNotVerified */ echo $_item['estimation'] ?>', '<?php /* @escapeNotVerified */ echo $_item['start_round_up'] ?>');
        <?php endforeach; ?>

        window.rates = rates;
    });
</script>