<div class="data-grid-combi">
    <table>
        <tbody>
        <tr data-bind="foreach: { data: getList($row()), as: 'item' }">
        <td data-bind="text:item.value" attr="class: item.key"></td>
        </tr>
        </tbody>
    </table>
</div>