<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Invoice for your %store_name order" store_name=$store.getFrontendName()}} @-->
<!--@vars {
"var formattedBillingAddress|raw":"Billing Address",
"var billing.getName()":"Guest Customer Name",
"var comment":"Invoice Comment",
"var invoice.increment_id":"Invoice Id",
"layout handle=\"sales_email_order_invoice_items\" invoice=$invoice order=$order":"Invoice Items Grid",
"var order.increment_id":"Order Id",
"var payment_html|raw":"Payment Details",
"var formattedShippingAddress|raw":"Shipping Address",
"var order.getShippingDescription()":"Shipping Description",
"var order.shipping_description":"Shipping Description"
} @-->

{{template config_path="design/email/header_template"}}
<table class="top-section">
    <tr>
        <td class="column-left">
            <h2>{{trans 'TERIMA KASIH'}}</h2>
        </td>
        <td class="column-right">
            <h2>{{trans 'Ada Pertanyaan?'}}</h2>
        </td>
    </tr>
    <tr>
        <td class="column-left">
            <!-- <p class="greeting">{{trans "%name," name=$order.getCustomerName()}}</p> -->
            <p>{{trans "Telah berbelaja di %store_name." store_name=$store.getFrontendName()}} {{trans 'Anda dapat melihat status pesanan anda dengan <a href="%account_url">login menggunakan akun anda</a>.' account_url=$this.getUrl($store,'customer/account/',[_nosid:1]) |raw}}</p>
        </td>
        <td class="column-right">
            <span>{{trans 'Email : <a href="mailto:%store_email">%store_email</a>' store_email=$store_email |raw}}</span><br/>
            <span>{{trans 'Telepon : <a href="tel:%store_phone">%store_phone</a>' store_phone=$store_phone |raw}}</span>
        </td>
    </tr>
</table>
<table class="mid-section">
    <tr>
        <td class="column-left">
            <h2>{{trans 'Invoice Anda <span class="no-link">#%invoice_id</span>' invoice_id=$invoice.increment_id |raw}}</h2>
            <p>{{trans 'Untuk pesanan <strong class="no-link">#%increment_id</strong>' increment_id=$order.increment_id |raw}}</p>
            <p>{{trans 'Waktu pesanan : <span class="no-link">%created_at</span>' created_at=$order.getCreatedAtFormatted(2) |raw}}</p>
        </td>
    </tr>
</table>

<table class="detail-order-table">
    <tr class="email-information">
        <td>
            {{depend comment}}
            <table class="message-info">
                <tr>
                    <td>
                        {{var comment|escape|nl2br}}
                    </td>
                </tr>
            </table>
            {{/depend}}
            {{layout area="frontend" handle="sales_email_order_invoice_items" invoice=$invoice order=$order}}
        </td>
    </tr>
</table>

<table class="order-details">
    <tr>
        <td class="address-details">
            <h3>{{trans "Billing Info"}}</h3>
            <p>{{var formattedBillingAddress|raw}}</p>
        </td>
        <td class="method-info">
            <h3>{{trans "Payment Method"}}</h3>
            <strong>{{trans "%payment_method." payment_method=$order.getPayment().getMethodInstance().getTitle()}}</strong>
            <p>{{trans "%instruction" instruction=$order.getPayment().getMethodInstance().getInstructions()}}</p>
        </td>
    </tr>

    {{depend order.getIsNotVirtual()}}
    <tr>
        <td class="address-details">
            <h3>{{trans "Shipping Info"}}</h3>
            <p>{{var formattedShippingAddress|raw}}</p>
        </td>
        <td class="method-info">
            <h3>{{trans "Shipping Method"}}</h3>
            <p>{{var order.getShippingDescription()}}</p>
        </td>
    </tr>
    {{/depend}}
</table>

{{template config_path="design/email/footer_template"}}
