<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>

<div class="columns">
    <div class="column main text-center">
        <i class="fa fa-exclamation-circle fa-5x" aria-hidden="true" style="color: #ed1b24"></i>
        <h2 class="page-title">
            <?php echo __('Sorry, We Failed to Process Your Order');?>
        </h2>
        <p>
            <?php echo __("We cannot process your order because there's an <br/>error happened in the process.");?>
            <?php /* @escapeNotVerified */ echo __('<a href="%1">Click here</a> to try again.', $block->escapeUrl($block->getContinueShoppingUrl())) ?>
        </p>
        <style type="text/css">
            body .columns .column.main {
                text-align: center;
                margin-top: 20px;
                padding-top: 40px;
            }
        </style>
    </div>
</div>



