<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Reset your %store_name password" store_name=$store.getFrontendName()}} @-->
<!--@vars {
"var customer.name":"Customer Name",
"var this.getUrl($store, 'customer/account/createPassword/', [_query:[id:$customer.id, token:$customer.rp_token]])":"Reset Password URL"
} @-->
{{template config_path="design/email/header_template"}}

<table class="top-section">
    <tr>
        <td class="column-left">
            <h2>{{trans "%name," name=$customer.name}}</h2>
        </td>
        <td class="column-right">
            <h2>{{trans 'Ada Pertanyaan?'}}</h2>
        </td>
    </tr>
    <tr>
        <td class="column-left">
            <p>{{trans "There was recently a request to change the password for your account."}}</p>
            <p>{{trans "If you requested this change, set a new password here:"}}</p>
            <p align="center" style="padding: 10px 0;">
                <a href="{{var this.getUrl($store,'customer/account/createPassword/',[_query:[id:$customer.id,token:$customer.rp_token],_nosid:1])}}" target="_blank" class="btn-status-order">{{trans "Set a New Password"}}</a>
            </p>
            <p>{{trans "If you did not make this request, you can ignore this email and your password will remain the same."}}</p>
        </td>
        <td class="column-right">
            <span>{{trans 'Email : <a href="mailto:%store_email">%store_email</a>' store_email=$store_email |raw}}</span><br/>
            <span>{{trans 'Telepon : <a href="tel:%store_phone">%store_phone</a>' store_phone=$store_phone |raw}}</span>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
