/**
 * added by ivan.febriansyah@acommerce.asia
 * 08 Augustus 2017
 */
.bold{
    font-weight: bold;
}
.checkout-success{
    margin-top: 10px;
}
.order-date{
    margin-top: 20px;
}
.bmess{
    margin: 5px 0 ;
    word-wrap: break-word;
    width: 50%;
}
.info{
    float: left;
    width: 100%;
    margin: 3% 0;
}
.shipping-address,.shipping-method,.billing-address,.billing-method{
    width: 25%;
    float: left;
}
.box-content{
    margin-top: 5%;
}
.box-title{
    border-left: 7px solid rgb(225,221,219);
}
.box-des{
    padding-left: 8px;
}
.show-order{
    clear: both;
}
.fmess{
    float: left;
    width: 50%;
    margin-top: 15px;
    margin-bottom: 50px;
}
.actions-order{
    float: right;
    padding-top: 15px;
    margin-right: 62px;
}
.reorderurl,.printurl{
    float: left;
    font-size: 20px;
}
.printurl{
    padding-left: 50px;
}
.action-reorder:hover,.action-print:hover{
    text-decoration: none;
    color: #DF0029;
}
.text-under{
    height: 50px;
}
.status{
    margin-top:5px;
}

table td{
    padding: 10px 0 10px 5px;
}
tfoot th{
    text-align: right;
    padding-right: 50px !important;
    text-transform: uppercase;
}
tfoot td{
    text-align: right;
    padding-right: 40px !important;
    border-bottom: 1px solid #ddd;
}
table tbody tr td dl{
    margin-bottom: 0px;
    padding-top: 5px;
}
.data-item{
    border-bottom: 4px solid white;
    border-top: 4px solid white;
}
.data-item td{
    border-right: 4px solid white;
}
.table-number{
    text-align: right;
}
.data-item td:last-child{
    border-right: none;
}

.actions-toolbar-success {
    text-align: center;
}
.actions-toolbar-success .continue {
    font-size: 20px;
    height: 36px;
    line-height: 36px;
    margin: 10px;
}
.actions-toolbar-success .continue.grey {
    background: #ddd;
}
.actions-toolbar-success .continue.grey span {
    color: #111;
}

@media only screen and (max-width: 480px){

    .data-item{
        border-bottom: none;
    }
    .data-item td{
        border-right: none;
    }
}