<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<div class="bulkaddcart-title text-center">
	<h2><?php echo __('Bulk Order');?></h2>
</div>
<div class="bulkaddcart-description text-center">
	<h5><?php echo __('Add your items to cart just by typing SKU and the quantity');?></h5>
	<p><?php echo __('Type your SKU and Quantity here');?></p>
</div>
<div class="bulkaddcart-tools">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="bulkaddcart-box">
				<div class="bulkaddcart-head">
					<div class="row">
						<div class="col-sm-2 hidden-xs text-center">
							<span><?php echo __('No');?></span>
						</div>
						<div class="col-xs-6">
							<span><?php echo __('SKU');?></span>
						</div>
						<div class="col-sm-4 col-xs-6">
							<span><?php echo __('Qty');?></span>
						</div>
					</div>
				</div>
				<form id="bulkaddcart">
					<ol class="bulkaddcart-body">
						<?php for($i=0; $i<5; $i++): ?>
						<li class="bulkaddcart-item">
							<div class="row">
								<div class="col-sm-2 hidden-xs counter">
								</div>
								<div class="col-sm-5 col-xs-6">
									<div class="bulkaddcart-input">
										<input name="sku" class="bulkaddcart-sku" value="" placeholder="<?php echo __('Insert your sku number');?>">
										<div class="bulkaddcart-info"></div>
									</div>
								</div>
								<div class="col-sm-5 col-xs-6">
									<div class="col-sm-6 col-xs-12 bulkaddcart-qty">
										<div class="bulkaddcart-qty-wrapper">
											<div class="qty-button">-</div>
											<input name="qty" disabled="disabled" value="0">
											<div class="qty-button">+</div>
										</div>
									</div>
									<div class="col-sm-6 col-xs-12 bulkaddcart-action text-right">
										<a class="bulkaddcart-remove" href="#">
											<i class="fa fa-times"></i><?php echo __('Remove');?>
										</a>
									</div>
								</div>
							</div>
						</li>
						<?php endfor; ?>
					</ol>
				</form>
				<div class="bulkaddcart-footer">
					<div class="row">
						<div class="col-xs-12">
							<a class="bulkaddcart-addrow" href="#">
								<i class="fa fa-plus"></i><?php echo __('Add SKU');?>
							</a>
						</div>
					</div>
				</div>
				<div class="bulkaddcart-button">
					<div class="row">
						<div class="col-xs-12 text-center">
							<button id="bulkaddcart-btn" class="action tocart primary"
							        type="button" title="<?php /* @escapeNotVerified */ echo __('Add to Cart') ?>">
							    <span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
							</button>
						</div>
					</div>	
				</div>	
			</div>
		</div>
	</div>
</div>
