<?php
$url = $this->getBaseUrl();
$paymentLogos = $block->getPaymentLogoData();
?>
<style>
    <?php foreach ($paymentLogos as $paymentLogo): ?>
        <?php
            $payment = isset($paymentLogo['payment']) ? $paymentLogo['payment'] : '';
            $logo = isset($paymentLogo['image']) ? $paymentLogo['image'] : '';
            $width = (int) isset($paymentLogo['width']) ? $paymentLogo['width'] : 0;
            $height = (int) isset($paymentLogo['height']) ? $paymentLogo['height'] : 0;
        ?>
        <?php if($payment && $logo): ?>
        .payment-method .payment-method-title .label{
            position: relative;
            <?php if($width): ?>
            padding-left: <?php echo ($width + 20) ?>px;
            <?php endif; ?>
        }
        .payment-method .payment-method-title .label:before{
            content: '';
            position: absolute;
            z-index: 100000;
            left: 0;
        }

        .payment-method .payment-method-title .label[for=<?php echo $payment ?>]:before{
            background: url('<?php echo $logo ?>') center center;

            <?php if($width): ?>
            width: <?php echo $width ?>px;
            <?php endif; ?>

            <?php if($height): ?>
            height: <?php echo $height ?>px;
            <?php endif; ?>
        }
        <?php endif; ?>
    <?php endforeach; ?>
</style>
<script>

    require([
        'jquery'
    ], function($) {
        $(document).ready(function() {
            //Group payment tab
            $(document).on('click', '.psg-tab-item', function () {
                var $subGroupId = $(this).attr('id');
                var $contentTabActive = '.psg-tab-content-item.' +  $subGroupId;
                $('.psg-tab-item').removeClass('active');
                $(this).addClass('active');
                if(!($(this).parent('.psg-tabs').hasClass('open'))) {
                    $(this).parent('.psg-tabs').addClass('open');
                }
                if(!($('.psg-tab-contents').hasClass('open'))) {
                    $('.psg-tab-contents').addClass('open');
                }
                $('.psg-tab-content-item').removeClass('active');
                $($contentTabActive).addClass('active');
            });

            // for option payment Doku (Cilian)
            $(document).on('click', '#customer_bank', function () {
                if ($("#cc_installment_hosted").is(":not(:checked)")) {
                    $("#cc_installment_hosted").prop("checked", true);
                }
                $(this).toggleClass('open');
                $('.customer-bank-options-virtual').toggleClass('open');
            })

            $(document).on('click', '.customer-bank-options-virtual li', function () {
                if ($("#cc_installment_hosted").is(":not(:checked)")) {
                    $("#cc_installment_hosted").prop("checked", true);
                }

                valueOption = $(this).text();
                $('.customer-bank-options-virtual li').removeClass('selected');
                $(this).addClass('selected');
                $('#customer-bank-virtual').removeClass();
                $('#customer-bank-virtual').addClass(valueOption);
                $('#customer_bank').removeClass('open');
                $('.customer-bank-options-virtual').removeClass('open');
                if(!$('.customer-bank-options-virtual').hasClass('selected')) {
                    $('.customer-bank-options-virtual').addClass('selected');
                }
                $('#customer_bank').find('option[value=' + valueOption + ']').attr('selected','selected');
                $('#customer_bank').trigger('change');
            })

            $(document).on('change', '#customer_bank', function () {
                if (!$(this).val() || $(this).val() == '') {
                    $('.dokuhosted-submit-payment').attr('disabled');
                } else {
                    $('.dokuhosted-submit-payment').removeAttr('disabled');
                }
            });

            $(document).on('click', "input:radio[name='payment[method]']", function () {
                var currentPayment = $(this).val();
                if (currentPayment !== 'cc_installment_hosted') {
                    $('#customer_bank').val('');
                    $('#customer_bank').trigger('change');
                    $('#customer-bank-virtual').removeClass();
                }
            });
        });
    });
</script>