<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
$product = $block->getProductData();
?>
<?php if ($product->getId()): ?>
<div class="wrp-accountinfo">
    <div class="customer-review view">
        <div class="product-details">
            <div class="product-media">
                <a class="product-photo" href="<?php /* @escapeNotVerified */ echo $product->getProductUrl() ?>">
                    <?php /* customer_account_product_review_page */ ?>
                    <?php echo $block->getImage($block->getProductData(), 'customer_account_product_review_page')->toHtml() ?>
                </a>
            </div>
            <div class="product-info">
                <h2 class="product-name"><?php echo $block->escapeHtml($product->getName()) ?></h2>
                <?php if ($block->getRating() && $block->getRating()->getSize()): ?>
                    <?php echo $block->getReviewsSummaryHtml($product) ?>
                <?php endif; ?>
            </div>

            <div class="review-details">
                <div class="review-title"><?php echo $block->escapeHtml($block->getReviewData()->getTitle()) ?></div>
                <div class="review-content"><?php echo nl2br($block->escapeHtml($block->getReviewData()->getDetail())) ?></div>
                <div class="review-date">
                    <?php /* @escapeNotVerified */ echo __('Submitted on %1', '<time class="date">' . $block->dateFormat($block->getReviewData()->getCreatedAt()) . '</time>') ?>
                </div>
            </div>
        </div>
    </div>
</div>
<?php endif; ?>
