.data-grid-combi-cell span {
    text-align: center;
}

.data-grid-combi-cell table {
    width: 100%;
}

.data-grid-combi-cell table th {
    text-align: center;
    vertical-align: middle;
    border-bottom: none;
}

.data-grid .data-grid-combi-cell table th:first-child {
    border-left: none;
    border-left-style: none;
}

.data-grid .data-grid-combi-cell table th:last-child {
    border-right: none;
    border-right-style: none;
}

.data-grid-combi-cell .wh-qty {
    width: 30%;
}

.data-grid-combi-cell .wh-available {
    width: 20%;
}

.data-grid-combi-cell .wh-ship {
    width: 20%;
}

.data-grid-combi-cell wh-room {
    width: 30%;
}

.data-grid-combi table {
    width: 100%;
}

.data-grid .data-grid-combi table td {
    text-align: center;
}

.data-grid .data-grid-combi tr:not(.data-grid-editable-row):last-child td {
    border-bottom: none;
}

.data-grid .data-grid-combi td:first-child,
.data-grid._in-edit .data-grid-editable-row .data-grid-combi ._in-edit td:first-child,
.data-grid._in-edit .data-grid-editable-row .data-grid-combi td:first-child {
    border-left: none;
    border-left-style: none;
}

.data-grid .data-grid-combi td:last-child,
.data-grid._in-edit .data-grid-editable-row .data-grid-combi ._in-edit td:last-child,
.data-grid._in-edit .data-grid-editable-row .data-grid-combi td:last-child {
    border-right: none;
    border-right-style: none;
}

.data-grid-combi .wh-qty {
    width: 30%;

}

.data-grid-combi .wh-available {
    width: 20%;
}

.data-grid-combi .wh-ship {
    width: 20%;
}

.data-grid-combi wh-room {
    width: 30%;

}

.data-grid td.data-grid-combi-td, .data-grid._in-edit td.data-grid-combi-td {
    padding: 0;
}

.data-grid._in-edit .data-grid-combi td:before, .data-grid._in-edit .data-grid-editable-row .data-grid-combi ._in-edit td:before {
    content: none
}

.data-grid._in-edit .data-grid-combi td:after, .data-grid._in-edit .data-grid-editable-row .data-grid-combi ._in-edit td:after {
    content: none
}
