// button
a, button {
	&.action {
		border-radius: 0;
		&.primary {
			background: @c-red;
			&:hover, &:visited {
				background: lighten(@c-red, 10%);
			}
			&:active, &:focus {
				background: darken(@c-red, 10%);	
			}
		}
		&.primary, &.secondary {
			height: 32px;
			padding: 0 !important;
			border-radius: 4px;
			border: 0 !important;
			min-width: 220px;
			font-size: 15px;
		}
		span {
			.font-rubik(600);
			font-weight: 400 !important;
		    font-size: 1em;
			font-weight: normal;
		}
		&.secondary {
			background-color: @c-black;
			span {
				color: @c-white;
				&:hover {
					color: @c-white;
				}
			}
		}
		&.action-apply, &.action-update, &.action-show-popup {
			height: 42px;
			line-height: 48px;
			padding: 0;
			text-transform: uppercase;
			border-radius: 0;
			border: 0;
			min-width: 220px;
			background: @c-blue;
			span {
				color: @c-white;
			}
		}
		&.action-update {
			margin-right: 20px;
		}
		&.action-show-popup {
			background: @c-grey;
			line-height: 42px;
			span {
				color: @c-text;
				font-size: 1.25em;
			}
			&:hover {
				background: lighten(@c-grey, 10%);
			}
		}
		&.action-select-shipping-item, &.edit-address-link {
			border-radius: 0;
			font-size: 1em;
			float: left;
			background: transparent;
			border: 0;
			padding: 0;
			margin-top: 50px;
			margin-right: 20px;
			span {
				color: @c-blue;
			}
		}
		&.edit-address-link {
			background-color: transparent;
			span {
				color: @c-text;
			}
			@media screen and (max-width: 425px) {
				margin: 0;
				width: 28px;
				height: 28px;
			}
		}
		&.subscribe {
			width: 120px;
			min-width: initial;
			line-height: 32px;
			border-radius: 0 !important;
			height: 32px;
		}
	}
}
.actions-toolbar {
	.primary {
		a {
			height: 42px;
			padding: 0 !important;
			text-transform: uppercase;
			border-radius: 0;
			border: 0 !important;
			min-width: 220px;
		}
	}
}

@media screen and (max-width: 767px) {
	
}