.bulkaddcart {
	&-title {
		margin: 40px 0 10px;
		border-bottom: .5px solid @c-grey;
	}
	&-description {
		margin-bottom: 40px;
	}
	&-head {
		border-bottom: .5px solid @c-grey-dark;
		border-top: .5px solid @c-grey-dark;
		background: @c-grey;
		span {
			font-weight: 500;
			display: block;
			padding: 10px;
		}
	}
	&-body {
		padding: 0;
		position: relative;
		margin-bottom: 0;
	}
	&-item {
		padding: 10px 0;
		counter-increment: item;
		margin-bottom: 0;
		display: block;
		@media screen and (max-width: 768px) {
			.bulkaddcart-remove {
				float: left;
			}
		}
		&:after {
			border-bottom: .5px solid @c-grey-dark;
			position: absolute;
			margin-top: 10px;
			display: block;
			width: 100%;
			content: '';
			left: 0;
		}
		.counter {
			padding-top: 5px;
			text-align: center;	
			&:before {
				content: counter(item);
			}
		}
		.bulkaddcart-input {
			input {
				padding: 0 10px;
				height: 32px;
				width: 80%;
			}
			@media screen and (max-width: 768px) {
				input {
					width: 100%;
				}
			}
			&.has-loader:after {
				top: 10px;
				right: 30px;
				width: 15px;
				height: 15px;
				position: relative;
				border-radius: 50%;
				border-top: 2px solid rgba(0, 0, 0, 0.2);
				border-right: 2px solid rgba(0, 0, 0, 0.2);
				border-bottom: 2px solid rgba(0, 0, 0, 0.2);
				border-left: 2px solid rgba(0, 0, 0, 0.5);
				-webkit-transform: translateZ(0);
				-ms-transform: translateZ(0);
				transform: translateZ(0);
				-webkit-animation: load8 1.1s infinite linear;
				animation: load8 1.1s infinite linear;
				position: absolute;
				background: #fff;
				content: '';
			}
			&.has-checkbar:after {
				top: 3px;
				right: 30px;
				width: 10px;
				height: 18px;
				position: relative;
				border-right: 2px solid #33ca29;
				border-bottom: 2px solid #33ca29;
				-webkit-transform: rotate(45deg);
				-moz-transform: rotate(45deg);
				-o-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				transform: rotate(45deg);
				position: absolute;
				background: #fff;
				content: '';
			}
			&.has-timesbar:before,
			&.has-timesbar:after {
				width: 0;
				top: 5px;
				right: 30px;
				height: 18px;
				position: relative;
				border-right: 2px solid @c-red;
				-webkit-transform: rotate(45deg);
				-moz-transform: rotate(45deg);
				-o-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				transform: rotate(45deg);
				position: absolute;
				content: '';
			}
			&.has-timesbar:after {
				-webkit-transform: rotate(-45deg);
				-moz-transform: rotate(-45deg);
				-o-transform: rotate(-45deg);
				-ms-transform: rotate(-45deg);
				transform: rotate(-45deg);
			}
		}
	}
	&-footer {
		border-bottom: .5px solid @c-grey-dark;
		padding: 10px;
	}
	&-addrow {
		margin: 5px;
		font-weight: 500;
		color: @c-blue;
		i {
			margin-right: 10px;
		}
		span {
			color: @c-blue;
		}
	}
	&-action {
		margin-top: 5px;
		color: @c-blue;
		i {
			margin-right: 10px;
		}
	}
	&-remove {
		margin-right: 15px;
	}
	&-qty-wrapper {
		.qty-button,
		input{
			width: 40px;
			height: 32px;
			display: inline-block;
			border: .5px solid @c-grey-dark;
			vertical-align: top;
			text-align: center;
			margin-right:-4px;
		}
		.qty-button {
			background: @c-grey-light;
			line-height: 30px;
			font-weight: 500;
			cursor: pointer;
			height: 31.5px;
			width: 25px;
		}
	}
	&-button {
		padding: 20px 0;
		button span:after {
		    width: 0;
		    height: 0;
		    content: '';
		    border-top: 5px solid transparent;
		    border-bottom: 5px solid transparent;
		    border-left: 10px solid @c-white;
		    display: inline-block;
		    margin-left: 5px;
		}
	}
	&-info {
	    position: absolute;
	    z-index: 2;
	    .sku-title{
	    	padding: 5px 15px;
	    }
	    ul, li {
	    	list-style-type: none;
	    	padding: 0;
	    	margin: 0;
	    }
	    .sku-item-wrapper {
	    	width: 428px;
	    	margin-top: 5px;
	    	position: relative;
	    	background: @c-white;
	    	border: 1px solid @c-grey;
	    	li {
	    		cursor: pointer;
	    		border-bottom: 1px solid @c-grey;
		    	&:hover {
			    	background: @c-grey;
			    }
			    &:last-child {
	    			border-bottom-width: 0;
			    }
		    }
	    	.sku-title {
	    		color: @c-red;
	    		font-weight: 500;
	    	}
	    	span {
	    		font-weight: normal;
	    		color: @c-grey-dark;
	    		font-size: 10px;
	    		display: block;
	    	}
	    	&:after,
	    	&:before {
	    		width: 0;
	    		height: 0;
	    		content: '';
	    		border: 6px solid transparent;
	    		border-bottom: 6px solid @c-grey;
	    		border-top-width: 0;
	    		position: absolute;
	    		left: 10px;
	    		top: -6px;
	    	}
	    	&:after {
	    		border-bottom: 6px solid @c-white;
	    		top: -5px;
	    	}
	    }
    }

}


@-webkit-keyframes load8 {
	0% {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	}
	100% {
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
	}
}

@keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}