.comparison {
	table.table-comparison {
		tbody {
			td.product {
				.price-box {
					.old-price {}
					.special-price {
						color: #ed1b24;
					    display: inline-block;
					    margin-left: 5px;
					    .price {
				    	    font-size: 1.8rem;
    						font-weight: 700;
					    }
					}
					.minimal-price-link {
						> .price-container.price-final_price {
							display: block;
							color: @c-text-grey;
							&:hover {
								color: @c-red;
							}
						}
					}
				}
			}
		}
		
	}
	.product-item-photo {
		.label-sale {
			position: absolute;
			left: 0;
			top: 0;
			margin: 10px 0 0 0;
			background: @c-red;
			padding: 5px 7px;
			span {
				color: white;
			}
		}
	}
	button.action.primary {
		width: 100%;
		min-width: initial;
		max-width: 220px;
	}
	.product-item-actions {
		.actions-primary {
			.stock.unavailable {
				span {
					cursor: not-allowed;
					color: @c-text-grey;
					font-size: 18px;
					font-weight: 800;
				}
			}
		}
	}
}