/* LOGIN PAGE */
.customer-account-login {
    .page-title-wrapper {
        display: none;
    }
    .login-container {
        max-width: 800px;
        margin: 30px auto;
        .block {
            padding: 0 30px;
            .block-title {
                font-size: 1.2em;
                text-align: center;
                border: 0;
                margin-bottom: 30px;
                strong {
                    font-weight: 300;
                }
            }
            .block-content {
                .form {
                    .fieldset {
                        .field {
                            .label {
                                float: none;
                                padding: 0;
                                text-align: left;
                                width: auto;
                                display: block;
                                margin-bottom: 10px;
                            }
                            .control {
                                width: auto;
                                display: block;
                                float: none;
                            }
                        }
                    }
                }
            }
        }
        .block-customer-login {
            border-right: 1px solid @c-border;
            .fieldset {
                &:after {
                    display: none;
                }
            }
        }
        .block-new-customer {
            .actions-toolbar {
                text-align: center;
                .primary {
                    float: none;
                }
            }
        }

        .social-login-wrap {
            width: 48.8%;
            float: right;
            text-align: center;

            .social-login-wrap-inner {
                width: 220px;
                display: inline-block;
                margin: auto;

                > * {
                    margin: 0 2px 0 -2px;

                    &.block-social-login {
                        margin-bottom: 30px;
                    }
                }
            }

            .block-social-login {
                width: 100%;
                display: inline-block;
                position: relative;
                text-align: center;

                &:before {
                    content: '';
                    position: absolute;
                    top: 40%;
                    left: 10px;
                    right: 10px;
                    background: #eaeaea;
                    height: 1px;
                }

                span {
                    background: #fff;
                    position: relative;
                    z-index: 1;
                    padding: 10px;
                    font-size: 18px;
                }
            }

            .social-login-list {
                li {
                    a {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.block-new-customer {
    .actions-toolbar {
        text-align: center;
        .primary {
            float: none;
            a {
                border-radius: 3px;
                span {
                    line-height: 40px;
                }
            }
        }
    }
}

/* REGISTER PAGE */
.customer-account-create {
    .page-title-wrapper {
        .page-title {
            font-size: 1.8em;
            text-align: center;
        }
    }
    .form-create-account,
    .form.create.account {
        min-width: auto;
        max-width: 450px;
        margin: 0 auto;
        padding: 0 15px;
        .fieldset {
            .legend {
                margin: 15px 0;
                border: 0;
                text-align: center;
                font-size: 1.2em;
                text-transform: uppercase;
            }
            .field {
                margin-bottom: 20px;
                .label {
                    float: none;
                    padding: 0;
                    text-align: left;
                    width: auto;
                    display: block;
                    margin-bottom: 10px;
                }
                .control {
                    width: auto;
                    display: block;
                    float: none;
                }
                &.choice {
                    &:before {
                        display: none;
                    }
                    input {
                        margin: 0;
                        display: inline-block;
                        margin-right: 5px;
                        cursor: pointer;
                    }
                    .label {
                        display: inline-block;
                        cursor: pointer;
                    }
                }
            }
            .field.agreement {
                margin-top: 25px;
                position: relative;
                input.input-checkbox {
                    position: absolute;
                    left: 0;
                    top: 5px;
                }
                label {
                    margin-left: 17px;
                }
            }
            .custom-attributes-form {
                background: #fff9b0;
                border-radius: 5px;
                padding: 10px 25px;
                h3 {
                    font-size: 18px;
                    margin-bottom: 5px;
                }
                p {
                    font-size: 14px;
                    margin-bottom: 15px;
                }
            }
        }
        .actions-toolbar {
            margin: 0;
            .primary,
            .secondary {
                float: none;
                display: block;
                button[type=submit] {
                    float: none;
                    display: block;
                    width: 100%;
                    height: auto;
                    padding: 10px !important;
                }
            }
            .secondary {
                margin-top: 30px;
                padding-top: 30px;
                border-top: 1px solid @c-border;
                p {
                    font-size: 1.4em;
                }
            }
        }
    }
}

//header user

.main-header-user.user {
    a.action {
        width: auto;
        i.fa {
            float: left;
            margin-top: 10px;
            margin-right: 5px;
        }
        small {
            display: none;
        }
    }
    .showUserLink {
        position: relative;
        i {
            position: inline;
            float:right;
        }
    }
    .block-user-link {
        padding: 10px 0;
        z-index: 9991;
        &:before {
            right: auto;
            left: 30px;
        }
        .link-list li {
            padding: 10px 15px;
            margin: 0;
            a {
                text-transform: capitalize;
                font-size: 12px;
            }
            &:hover {
                background: @c-grey-light;
            }
        }
    }
}

//content
.account{
    &.customer-account-index {
        .product-name a {
            text-transform: uppercase;
        }
        .rating-summary .label {
            padding-left: 0;
            span {
                font-weight: 500;
            }
        }
    }
    .page-main {
        padding-top: 30px;
    }

    .block.account-nav .title {
        position: relative;
        width: auto;
        height: 20px;
        display: block;
        padding: 20px;
        background: @c-border;
        margin: 0;
        strong {
            margin: -5px 0 0;
            display: block;
        }
    }
    .account-nav {
        .content {
            padding: 0;
            background: transparent;
            .account-nav {
                border: 1px solid @c-border;
                padding: 20px 0;
                a:visited {
                    color: @c-text;
                }
                .item.current a,
                .item.current strong {
                    border-color: @c-white;
                }
            }
        }
    }
    .main {
        .page-title-wrapper .page-title span {
            font-size: 26px;
        }
        .page-title-wrapper h1.page-title{
            margin: 0 0 15px;
            font-size: 26px;
            padding-bottom: 10px;
            border-bottom: 1px solid @c-border;
            position: relative;
            display: block;
            height: auto;
        }
    }

    &.sales-order-view .page-title-wrapper h1.page-title{
        display: inline-block;
    }

    .column.main {
        .block:not(.widget) {
            .box-title {
                span {
                    font-weight: 500;
                    font-size: 13px;
                }
            }
            .block-title {
                border-bottom: 1px solid @c-border;
                text-transform: uppercase;
                margin-top: 28px;
                font-weight: 500;
                strong {
                    font-weight: 500;
                    font-size: 14px;
                }
                &.has-no-border {
                    margin-bottom: 0;
                    border-width: 0;
                }
            }
            &.has-no-margin {
                margin-bottom: 15px;
                border-width: 0;
            }
        }
    }

    .table:not(.cart):not(.totals) {
        > thead > tr th {
            background: @c-grey-light;
            border-width: 0;
            padding: 10px 20px 8px;
        }
        > tbody > tr td {
            border-bottom: 1px solid @c-grey-light;
            padding: 10px 20px 8px;
        }
    }

    .fieldset {
        .legend {
            border-bottom: 1px solid @c-border;
            text-transform: uppercase;
            margin-top: 0;
            margin-left: 0;
            font-weight: 500;
            span {
                font-weight: 500;
                font-size: 14px;
            }
            &.has-no-border {
                margin-bottom: 0;
                border-width: 0;
            }
        }
        .field {
            &:not(.choice) {
                > .label {
                    text-align: left;
                    font-weight: 500;
                    float: none;
                }
                > .control {
                    display: block;
                    width: 100%;
                    float: none;
                }
            }
            &.choice {
                margin: 0 0 10px;
                input[type="radio"],
                input[type="checkbox"] {
                    float: left;
                    margin: 4px;
                }
                > .label {
                    font-weight: 500;
                }
                &:before {
                    display: none;
                }
            }
        }
    }

    .column:not(.sidebar-main) form .actions-toolbar,
    .column:not(.sidebar-additional) form .actions-toolbar {
        border-top: 1px solid @c-grey-light;
        padding-top: 15px;
        margin-top: 30px;
        margin: 0;
    }

    &.sales-order-view{
        .page-title {
            display: inline-block;
            padding-bottom: 0 !important;
            margin-bottom: 0 !important;
            border-width: 0 !important;
        }
        .return-status, .order-status {
            margin: 0 0 0 30px !important;
            background: @c-grey-light;
            border: 1px solid #ccc;
            padding: 5px 20px;
            position: relative;
            font-weight: 500;
            top: -5px;
        }
        .order-date {
            border-top: 1px solid @c-grey;
            color: @c-grey-dark;
            padding-top: 10px;
            margin-top: 10px;
            .label {
                font-weight: normal !important;
                color: @c-grey-dark;
                font-size: 12px;
                padding: 0;
            }
        }
        .items.order-links {
            border-width: 0;
            font-weight: 500;
            margin-bottom: 10px;
            font-size: 14px;
            strong {
                font-weight: 500;
                text-transform: uppercase;
            }
        }
        .order-details-items .table-order-items {
            .product-item-name {
                font-weight: 500;
                text-transform: capitalize;
                font-size: 14px;
            }
            .price-including-tax .price,
            .price-excluding-tax .price {
                font-weight: normal;
                font-size: 12px;
            }
        }
        .table:not(.cart):not(.totals) tfoot > tr {
            th,
            td {
                background: @c-grey-light;
            }
            &.grand_total {
                th,
                td {
                    color: @c-red;
                    strong {
                        font-weight: 500;
                    }
                }
            }
        }
    }

    &.wishlist-index-index {
        .page-title-wrapper .page-title {
            position: relative;
            width: auto;
            heigth: auto;
        }
        .box-tocart {
            .field.qty {
                width: 30%;
                display: inline-block;
                vertical-align: bottom;
                margin-bottom: 0;
                .control {
                    padding-right: 15px;
                }
            }
            .product-item-actions {
                width: 60%;
                display: inline-block;
                vertical-align: bottom;
            }
        }
        .products-list {
            .product-item-photo {
                border: 1px solid @c-grey-light;
                padding: 0;
            }
            .product-item-name {
                font-weight: 500;
                font-size: 14px;
                text-transform: capitalize;
            }
            .product-item .price-box .price {
                font-weight: 500;
                color: @c-red;
            }
            .product-reviews-summary{
                a.action.view {
                    font-weight: 100;
                }
            }
            .btn-remove {
                position: absolute;
                bottom: 0;
                left: 15px;
                width: 20px;
                height: 20px;
                text-indent: -20px;
                overflow: hidden;
                &:after {
                    content: '\f00d';
                    font-family: FontAwesome;
                    color: @c-white;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 20px;
                    height: 20px;
                    background: @c-grey-dark;
                    color: #fff;
                    text-indent: 0;
                    text-align: center;
                    line-height: 20px;
                }
            }
        }
        .product-item-info {
            border-bottom: 1px solid @c-grey-light;
            width: 100%;
            display: block;
            padding: 15px 0;
        }
    }

}

.sales-order-view {
    .block-order-details-view {
        .block-content {
            .box-order-shipping-method {
                .shipping-tracking {
                    .btn-main {
                        span {
                            color: @c-white;
                        }
                    }
                }
            }
        }
    }
}

// voucher
.box-voucher {
    text-align: left;
    background: @c-grey-light;
    border: 1px dashed @c-red;
    margin-bottom: 20px;
    padding: 15px;
    .label {
        text-align: left;
        font-weight: normal;
        color: @c-grey-dark;
        padding-left: 0;
        display: block;
    }
    .voucher-code {
        color: @c-red;
        font-size: 20px;
    }
    &-detail {
        text-align: left;
        padding: 15px ;
        .label {
            padding-left: 0;
            text-align: left;
            font-weight: normal;
            color: @c-grey-dark;
            display: block;
        }
    }
}

.account {
    .block.block-addresses-default,
    .block.block-addresses-list {
        .action.edit,
        .action.delete {
            margin-right: 7px;
        }
    }
}

//responsive
@media only screen and ( max-width: @screen-sm-max ) {
    body.account {
        .page-main {
            padding-top: 0;
        }
        .page.messages {
            margin-bottom: 0;
        }
        .block.account-nav{
            border-width: 0;
            .title{
                padding: 20px 20px 25px;
                &:after {
                    content: '\f0d7';
                    font-family: 'FontAwesome';
                    position: absolute;
                    font-size: 19px;
                    right: 20px;
                    top: 8px;
                }
            }
            &.show-child {
                .title:after {
                    content: '\f0d7';
                }
            }
            .content .account-nav {
                padding: 0;
            }
            &.carret-up {
                .title:after {
                    content: '\f0d8';
                }
            }
        }
        nav.account-nav {
            display: none;
            .item{
                border-bottom: 1px solid @c-grey;
                margin: 0;
                a, strong {
                    padding: 10px 15px;
                }
            }
        }
        button.action.primary {
            min-width: 100%;
        }
        .main {
            .page-title-wrapper .page-title span{
                font-size: 20px;
            }
        }
        .column.main {
            .block {
                margin-bottom: 20px;
                &.block-addresses-list {
                    .addresses {
                        .actions {
                            .action {
                                margin-right: 15px;
                            }
                        }
                    }
                }
            }
            .block-content {
                background: @c-grey-light;
                padding: 15px;
                .block-title {
                    margin: 10px 0 20px !important;
                    strong {
                        font-weight: 700 !important;
                    }
                }
            }
        }
        &.customer-account-index {
            .table-order-items {
                tr {
                    display: block;
                    border: 1px solid @c-border;
                    padding: 0 20px;
                    margin-bottom: 10px;
                    a {
                        color: @c-red;
                    }
                }
            }
        }
    }
}
