// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Email extend styles
//  _____________________________________________

//  This file should be used for theme-specific styles for emails that extend or modify the styles in _email.less
//  This will allow you to edit email styles without copying and editing the _email.less file

//  Importing fonts from an external CSS file, rather than embedding @font-face declarations inside the <style> tag,
//  as the latter will cause font rendering issues if the web fonts are inaccessible.

@import url("@{baseUrl}css/email-fonts.css");
table{
    width: 100%;
}
.email-items{
    border: 0;
}
.mid-section{
    .column-left{
        h2{
            margin-bottom: 5px;
        }
        p{
            color: #bfbfbf;
        }
    }
    .column-right{
        vertical-align: middle;
        text-align: center;
    }
}
.btn-status-order{
    border-radius: 5px;
    padding: 10px 30px;
    background: #ed1b24;
    color: #ffffff;
}
.detail-order-table{
    border: 0px;
}
.column-left{
    width: 60%;
    padding-right: 15px;
}
.top-section{
    .column-right{
      border-left: 2px solid #eee;
    }
}
.column-right{
    width: 40%;
    padding-left: 15px;
}

.header {
    background-color: @email__background-color;
    padding: @email-body__padding;
    text-align: center;
    border-top: 5px solid #ed1b24;
}

.footer {
    background-color: #FFF;
    padding: @email-body__padding;
    font-size: 11px;
    color: #bfbfbf;
    table {
        width: 100%;

        td {
            padding-bottom: @email-body__padding;
            width: 33%;

            p {
                margin-bottom: 0;

                &.phone {
                    font-size: @font-size__l;

                    a {
                        color: inherit;
                    }
                }
            }
        }
    }
}
.footer-message{
    border-top: 1px solid #eeeeee;

    .footer-left{
        width: 70% !important;
        padding-top: 25px;
    }
    .footer-right{
        width: 30% !important;
        padding-top: 25px;

        .sm-follow{
            float: left;
            padding-right: 15px;
        }
        .sm-logo{
            padding-right: 10px;
        }
    }
}

.button {
    .inner-wrapper {
        td {
            // .lib-css(border-radius, @button__border-radius, 1);
            background-color: transparent;
            a {
                // .lib-css(border-radius, @button__border-radius, 1);
                border: none;
                // color: @button-primary__color;
                // display: inline-block;
                // font-size: @button__font-size;
                // padding: @button__padding;
                // text-decoration: none;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .header,
    .main-content,
    .footer {
        padding: @email-body__padding @indent__s !important;
    }

    .footer {
        td {
            display: block;
            width: auto !important;
        }
    }
}
