body {
	h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
		.font-rubik(500);
	}
	a {
		color: @c-black;
		&:visited, &.alink:visited, &:hover, &:hover span {
			color: @c-red;
		}
	}
	.columns .column.main{
		margin-bottom: 20px;
	}
	.row-small {
	    margin-left: -5px;
	    margin-right: -5px;
	    .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6,
	    .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12,
	    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6,
	    .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
	    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
	    .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
	    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6,
	    .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-md-v {
	    	padding-left: 5px;
	    	padding-right: 5px;
	    }
	    .col-md-v {
		    width: 20%;
		}
	}
	.has-margin-bottom {
		margin-bottom: 10px;
	}
	.fancybox-container {
		z-index: 55;
	}
	header {
		.content {
			box-sizing: border-box;
			margin-left: auto;
			margin-right: auto;
			max-width: 1180px;
			padding-left: 20px;
			padding-right: 20px;
			width: auto;
		}
	}
	.navigation, .breadcrumbs, .page-header .header.panel, .header.content, .footer.content, .page-wrapper > .widget, .page-wrapper > .page-bottom, .block.category.event, .top-container, .page-main {
		max-width: 1180px;
		padding: 0;
	}
	.btn-main {
		border-radius: 5px;
		padding: 5px 15px;
		background: @c-red;
		color: @c-white;
	}
	.has-button {
		min-height: 40px;
	}
	.list-inline {
		list-style-type: inline;
	}
	.list-checked {
		li {
			&:before {
				content: '';
				background: transparent url(../img/checked.png) no-repeat 0 0;
				margin-right: 10px;
				height: 16px;
				width: 16px;
				float: left;
			}
		}
	}
	.payment-logo {
		img {
			display: inline-block;
			width: 45px;
		}
	}
	.has-social-icon {
		li {
			overflow: hidden;
			padding-bottom: 5px;
			width: 45%;
			display: inline-block;
			a {
				color: @c-text-grey;
			}
		}
		.icon-mail:before,
		.icon-phone:before,
		.icon-facebook:before,
		.icon-youtube:before,
		.icon-twitter:before,
		.icon-linkedin:before,
		.icon-instagram:before{
			content: '';
			margin-right: 10px;
			height: 22px;
			width: 22px;
			float: left;
		}
		.icon-mail:before{
			background: transparent url(../img/icon_mail.svg) no-repeat 0 0;
		}
		.icon-phone:before{
			background: transparent url(../img/icon_phone.svg) no-repeat 0 0;
		}
		.icon-facebook:before{
			background: transparent url(../img/icon_facebook.svg) no-repeat 0 0;
		}
		.icon-youtube:before{
			background: transparent url(../img/icon_youtube.svg) no-repeat 0 0;
		}
		.icon-twitter:before{
			background: transparent url(../img/icon_twitter.svg) no-repeat 0 0;
		}
		.icon-linkedin:before{
			background: transparent url(../img/icon_linkedin.svg) no-repeat 0 0;
		}
		.icon-instagram:before{
			background: transparent url(../img/icon_instagram.svg) no-repeat 0 0;
        }
	}
	.icon-tool,
	.icon-carmini {
		background: @c-black;
		display: inline-block;
		border-radius: 100%;
		height: 22px;
		width: 22px;
		&:before {
			content: '';
			background: @c-white;
			.mask-image('../img/icon_carmini.svg');
			margin-right: 5px;
			display: block;
			height: 22px;
			width: 22px;
		}
	}
	.icon-tool:before {
		.mask-image('../img/icon_tool.svg');
	}
}
