.page-main {
	.home-banner {
		.section {
			margin-bottom: 50px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		a {
			display: inline-block;
			position: relative;
			width: 100%;
			.hb-title {
			    position: absolute;
			    z-index: 2;
			    top: 40%;
			    width: 100%;
			    text-align: center;
			    margin: auto;
			    color: @c-white;
			    font-size: 4em;
			    text-transform: uppercase;
    			padding: 0 40px;
			}
			&:hover {
				.hb-title {
					color: @c-white;
				}
			}
			img {
				width: 100%;
			}
		}
	}
}

.carousel {
	max-width: @max-width;
	margin: 0 auto 50px;
	text-align: center;
	img {
		width: 100%;
	}
}

@media screen and (max-width: 767px) {
	.page-main {
		.home-banner {
			.section {
				margin-bottom: 0;
				a {
					padding: 0 10px 10px;
				}
			}
		}
		.column.main {
			margin-bottom: 10px;
		}
	}
}

body {
	.widget-product {
		.nav-tabs {
			margin: 30px 0;
			>li {
			    border-width: 0;
			    border-radius: 0;
				&:before, &:after {
				    content: '';
				    width: 0;
				    height: 0;
				    border-top: 33px solid transparent;
				    border-bottom: 0 solid transparent;
				    border-left: 15px solid @c-grey-dark;
				    position: absolute;
				    right: -15px;
				    z-index: 2;
				    bottom: 0;
				}
				&:before {
				    border-bottom: 33px solid @c-white;
				    border-right: 15.5px solid transparent;
				    border-top: 0px solid transparent;
				    border-left: 2px solid @c-white;
				    right: -17.5px;
				}
				
			}
			>li>a{
			    border-width: 0;
			    border-radius: 0;
				.font-rubik(500);
				text-transform: uppercase;
				background: @c-grey-dark;
				padding: 9px 30px 7px;
				margin-right: 0px;
				color: @c-white;
				&:hover {
				    border-width: 0;
				    border-radius: 0;
			    }
			}
			>li.active,
			>li:hover{
				a {
					background: @c-red;
				}
				&:after, 
				&:after {
				    border-left: 15px solid @c-red;
				}
			}	
			>li>a:hover, 
			>li.active>a, 
			>li.active>a:focus, 
			>li.active>a:hover {
				border-width: 0;
				border-radius: 0;
				background: @c-red;
				color: @c-white;
			}
			
			
		}
		.block.widget {
			.products-grid .product-item {
				padding: 0 !important;
			    width: 20%;
				margin: 0;
				.special-price{
					display: inline-block;
					.price {
				    	color: @c-red;
				    }
				}
				.old-price {
					display: inline-block;
					margin-right: 10px;
					float: left;
				}
			}
			.products-grid .product-items {
				margin-right: -10px;
				margin-left: -10px;
			}
			.pager {
				display: none;
			}
		}
		.product-item-details {
			.product-item-name {
				min-height: 45px;
				margin-top: 10px;
				a {
					.font-rubik(500);
					font-size: 14px;
				}
			}
			.price-box{
				margin: 10px 0;
				.price-label {
					display: none;
				}
			}
		}
		.product-item-actions {
			.actions-primary {
				min-height: 40px;
				display: block;
				button {
					height: 40px;
					min-width: 210px;
					opacity: 0;
					span:after{
						width: 0; 
						height: 0; 
						content: '';
						border-top: 5px solid transparent;
						border-bottom: 5px solid transparent;
						border-left: 10px solid @c-white;
						display: inline-block;
    					margin-left: 5px;
					}
				}
			}
		}
		.product-item:hover {
			.product-item-info .actions-secondary,
			.product-item-actions .actions-primary button {
				-webkit-transition: opacity .2s ease-in;
				-moz-transition: opacity .2s ease-in;
				-o-transition: opacity .2s ease-in;
				opacity: 1 !important;
			}
		}
		.block.widget {
			.product-item-info {
				padding: 10px;
				.actions-secondary {
					opacity: 0;
					padding-right: 10px;
					background: rgba(0,0,0,.6);
					position: absolute;
					width: 100%;
					bottom: 0;
				}
				.product-reviews-summary {
				    margin: 10px 0 0;
				    .action.view{
				    	display: none;
				    }
				    .action.add {
				    	position: relative;
				    	font-size: 0;
				    	&:before {
							left: -5px;
						    top: -15px;
						    width: 100%;
						    z-index: 1;
						    position: absolute;
						    -webkit-font-smoothing: antialiased;
						    color: #c7c7c7;
						    font-family: 'icons-blank-theme';
						    font-size: 28px;
						    height: 28px;
						    letter-spacing: -10px;
						    line-height: 28px;
						    content: '\e605' '\e605' '\e605' '\e605' '\e605';
						    display: block;
						    font-style: normal;
						    font-weight: normal;
						    speak: none;
				    	}
				    }
				}
			}
			.image-holder {
				text-align: right;
				position: relative;
				a {
					display: inline-block;
				}
				span{
					color: @c-white;
					.font-rubik(500);
					text-transform: uppercase;
					display: inline-block;
					padding: 3px;
					&:hover {
						color: @c-grey-light;
					}
				}
				.tocompare,
				.towishlist {
					width: 49%;
					position: relative;
					span {
						display: none;
					}
					&:before {
						color: @c-white;
						display: inline-block;
						.font-awesome('\f004');
						padding: 2px 10px 2px;
						text-align: center;
						width: 100%;
						margin: 5px;
					}
					&:hover {
						&:before {
							color: @c-grey-light;
						}
					}
				}
				.tocompare:before {
					border-left: 1px solid rgba(255,255,255,.5);
					.font-awesome('\f0ec');
				}
			} 
		}
	}
}