
//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `@screen-xs` as of v3.0.1
@screen-xs:                  480px;
//** Deprecated `@screen-xs-min` as of v3.2.0
@screen-xs-min:              @screen-xs;
//** Deprecated `@screen-phone` as of v3.0.1
@screen-phone:               @screen-xs-min;

// Small screen / tablet
//** Deprecated `@screen-sm` as of v3.0.1
@screen-sm:                  768px;
@screen-sm-min:              @screen-sm;
//** Deprecated `@screen-tablet` as of v3.0.1
@screen-tablet:              @screen-sm-min;

// Medium screen / desktop
//** Deprecated `@screen-md` as of v3.0.1
@screen-md:                  992px;
@screen-md-min:              @screen-md;
//** Deprecated `@screen-desktop` as of v3.0.1
@screen-desktop:             @screen-md-min;

// Large screen / wide desktop
//** Deprecated `@screen-lg` as of v3.0.1
@screen-lg:                  1200px;
@screen-lg-min:              @screen-lg;
//** Deprecated `@screen-lg-desktop` as of v3.0.1
@screen-lg-desktop:          @screen-lg-min;

// So media queries don't overlap when required, provide a maximum
@ipad-screen: (@screen-tablet - 1);
@screen-xxs-max:             (@screen-xs - 1);
@screen-xs-max:              (@screen-sm-min - 1);
@screen-sm-max:              (@screen-md-min - 1);
@screen-md-max:              (@screen-lg-min - 1);

@media only screen and ( max-width: @screen-sm-max ) {
	header {
		#search_mini_form > .search {
			.actions button {
				line-height: 36px;    
				display: inline-block;
			    height: 36px;
			    font-size: 12px;
			    width: 70px;
			}
		}
	}
	header.page-header {
		margin-top: 0;
		margin-bottom: 0;
		padding: 0;
		#search_mini_form {
			> .search {
				float: none;
				margin: 0 0 15px;
				display: block;
			}
			> .actions {
				width: 70px;
				position: absolute;
				top: 0;
				right: 0;
				button.action {
					display: block;
					margin: 0;
					width: 100%;
					height: 36px;
					line-height: 36px;
				}
			}
		}
		.panel.wrapper {
			display: none;
		}
		.action.nav-toggle {
			&:before {
				color: @c-black;
			}
		}
		.logo {
			width: 100%;
			text-align: center;
			min-height: 40px;
			max-width: none;
			position: relative;
			margin: 10px 0 0px;
			img {
				width: 32%;
				max-width: auto;
				max-height: 100%;
				margin: 0 auto;
			}
		}
		.panel {
			margin-bottom: 0;
		}
		.panel.header {
			.store-switcher {
				text-align: center;
				span[class*=icon-] {
					background-color: transparent;
				}
			}
		}
		.block.block-search {
			position: relative;
			margin-top: 0;
			.action.topSearchOpen {
				// display: block;
				font-size: 22px;
				line-height: 40px;
				position: absolute;
				right: 0;
				top: -60px;
			}
			.action.topSearchOpen + .block.block-content {
				// display: none;
				&:before {
					content: none;
				}
			}
			.action.topSearchOpen + .block.block-content.active {
				// display: block;
			}
			.block.block-content {
				margin-top: 0;
				.field.search {
					.label {
						display: none;
					}
					.control {
						border: none;
						margin: 0;
						margin-left: -15px;
						margin-right: -15px;
						.input-text {
							left: 0;
							position: inherit;
							margin: 0;
							padding: 7px 15px;
							padding-right: 70px;
						}
					}
				}
			}
		}
		.header-user {
			text-align: right;
		    position: absolute;
		    top: 8px;
		    right: 15px;
		    z-index: 9;
			.main-header-user.user,
			.main-header-user.minicart {
				padding-left: 5px;
				a {
					font-size: 20px;
					line-height: 40px;
				}
			}
			.minicart-wrapper {
				margin: 0;
				float: none;
			}
		}
		.megamenu {
			.nav-sections {
				.nav-sections-item-content {
					margin-top: 0;
					padding: 0;
					padding-bottom: 15px;
					.navigation {
						a {
							padding: 3px 0 3px 15px;
							font-size: 12px;
						}
						.parent {
							.level-top {
								padding: 0;
								padding-left: 15px;
								margin-top: 15px;
								margin-bottom: 10px;
								border-bottom: 1px solid @c-grey;
								font-size: 16px;
								&:after {
									content: none;
								}	
							}
						}
						.level0.active .all-category .ui-state-focus {
							border-color: @c-red;
						}
					}
				}
			}
		}
		.navigation {
			.level0.active > a:not(.ui-state-active),
			.level0.has-active > a:not(.ui-state-active) {
				border-color: transparent;
			}
			.level0.active > .level-top,
			.level0.has-active > .level-top {
				border-color: @c-red;
				border-width: 0 0 0 5px;
			}
			.level0 > .level1 {
				font-weight: 600;
				color: #575757;
			}
			.submenu:not(:first-child) {
				font-weight: 400;
			    line-height: 1.3;
			    left: auto !important;
			    overflow-x: hidden;
			    padding: 0;
			    position: relative;
			    top: auto !important;
			    transition: left 0.3s ease-out;
			    border: none;
    			box-shadow: none;
			}
			.submenu:not(:first-child).expanded {
				display: block !important;
    			padding-right: 0;
    			top: 0 !important;
    			padding-left: 15px;
			}
			#dm {
				display: inline-block;
				width: 100%;
				padding: 0;
				li {
					display: list-item;
					border-top: 1px solid #d1d1d1;
    				font-size: 1.6rem;
    				margin: 0;
				}
				li.level0:last-child {
					border-bottom: 1px solid #d1d1d1;
				}
				.level0 > .level-top {
					font-weight: 700;
				    padding: 8px 40px 8px 15px;
				    text-transform: uppercase;
				    word-wrap: break-word;
				    display: block;
				    line-height: 20px;
				    color: #575757;
				}
				.parent {
					.level-top:after {
						position: absolute;
						top: 8px;
	    				right: 8px;
						-webkit-font-smoothing: antialiased;
					    font-size: 42px;
					    line-height: inherit;
					    color: inherit;
					    content: '\e622';
					    font-family: 'icons-blank-theme';
					    vertical-align: middle;
					    display: inline-block;
					    font-weight: normal;
					    overflow: hidden;
					    speak: none;
					    text-align: center;
					}
					.level-top.ui-state-active:after {
						content: '\e621';
					}
				}
			}
			.level0.active .all-category .ui-state-focus {
				border-color: @c-red;
			}
			.parent {
				.level-top{
					&:after {
						top: 8px;
						right: 8px;
					}
				}
			}
			#om {
				display: none;
			}
		}
	}
	body {
		.widget {
			.widget-banner-carousel {
				margin: 0;
				.slick-slider {
					.slick-list {
						margin-left: -5px;
						margin-right: -5px;
					}
					.slick-slide {
						padding-left: 5px;
						padding-right: 5px;
					}
				}
			}
			&.block-products-list {
				.products-grid {
					padding-left: 10px;
					padding-right: 10px;
				}
			}
		}
		.widget-product {
			.nav-tabs {
				padding-right: 17.5px;
				> li {
					width: 33.33%;
					width: calc( 100% / 3 );
				}
			}
		}
		.widget-subscribe {
			background-size: cover;
			padding-bottom: 0;
			button.action.subscribe {
				width: 90px;
			}
		}
		.widget-floor {
			margin-bottom: 15px;
			.floor-sidebar {
				.floor-sidebar-content {
					margin-bottom: 5px;
					.title {
						font-size: 1.5em;
						i {
							display: none;
						}
					}
				}
			}
			.floor-mobile {
				margin-top: 15px;
			}
		}
		.footer.content {
			padding-left: 15px;
			padding-right: 15px;
			.widget-astra,
			.widget-security,
			.widget-social {
				padding-bottom: 15px;
			}
			.widget-social {
				ul.has-social-icon > li {
					width: 33.3%;
					float: left;
				}
			}
			.widget-astra {
				padding-top: 30px;
			}
			ul.has-social-icon {
				> li {
					line-height: 22px;
					float: none;
					width: auto;
				}
			}
			ul.list-checked {
				> li {
					padding-left: 15px;
					padding-right: 15px;
				}
			}
		}
		.footer-copy {
			.footer.content {
				ul.list-inline {
					padding: 15px 0;
					> li {
						float: none;
						display: block;
						margin: 0;
						padding: 5px 15px;
						border: none;
						text-align: center;
					}
				}
				.powered {
					right: auto;
					left: 50%;
					margin-left: -50%;
					width: 100%;
					text-align: center;
				}
			}
		}
		.breadcrumbs-container {
			margin: auto;
			.breadcrumbs {
				margin: 4px 0;
			}	
		}
		.sidebar {
			padding: 0;
			border: none;
			.open-filter-mobile {
				display: none;
			}
			.sidebarfilter {
				display: block;
				margin-bottom: 0;
				border-top: 1px solid @c-grey;
			}
			.filter-current {
				.filter-options-title {
					display: none;
				}
				.item {
					text-align: left;
					padding-left: 15px;
					padding-bottom: 5px;
					padding-top: 5px;
					.action.remove {
						display: none;
					}
					.filter-label {
						display: inline-block;
					}
					.filter-value {
						display: inline-block;
					}
				}
			}
			.filter-actions {
				text-align: left;
				margin: 5px 0 15px;
				padding-left: 15px;
			}
			.filter-content {
				dt.filter-options-title {
					padding: 7px 0;
					padding-left: 15px;
					font-size: 12px;
					line-height: 22px;
					text-transform: uppercase;
					margin: 0 0 5px;
					border-top: 1px solid @c-grey;
					border-bottom: 1px solid @c-grey;
					background-color: @c-grey-light;
					text-align: left;
				    &:after {
				    	content: '\f107';
				    	font-family: 'FontAwesome';
				    	margin-left: 10px;
				    	position: absolute;
				    	right: 15px;
				    }
				    &.open:after {
				    	content: '\f106';
				    }
				    &:first-child {
				    	border-top: none;
				    }
				}
				dd.filter-options-content {
					display: none;
					margin: 0;
					margin-bottom: 15px;
					padding: 0 25px 15px 15px;
					border-bottom: 1px solid @c-grey;
					text-align: left;
					&.open {
						display: block;
					}
					li.item {
					    padding: 10px 0;
					}
					.am_shopby_slider_container {
						margin-top: 20px;
					}
					a {
						input[type='checkbox'],
						input[type='radio'] {
							visibility: hidden;
							position: absolute;
							right: 0;
						}
						span.label {
							font-weight: normal;
							font-size: 12px;
							padding-left: 0;
							padding-top: 5px;
							padding-bottom: 5px;
						}
						span.count {
							padding-bottom: 5px;
						}
					}
				}
			}
		}
	}
	.columns {
		.column.main {
			padding-left: 15px;
			padding-right: 15px;
			width: 100%;
			padding-bottom: 0;
		}
	}
	.toolbar.toolbar-products {
		padding: 0;
		text-align: center;
		margin-bottom: 15px;
		padding-bottom: 15px;
		border-bottom: 1px solid @c-grey;
		.toolbar-amount {
			padding-top: 2px;
			display: inline-block;
		}
		.toolbar-sorter {
			float: right;
			padding-top: 0;
			.sorter-label {
				padding-right: 10px;
			}
		}
	}
	.products.wrapper ~ .toolbar.toolbar-products {
		display: block;
		margin-bottom: 0;
	}
	.products.wrapper.products-list {
		margin: 10px 0;
		.products.list.items {
			.action.towishlist {
				width: 100%;
				> span {
					position: relative;
					vertical-align: middle;
				}
			}
			.action.tocompare {
				width: 100%;
				display: inline-block;
				&:before {
					content: '\f0ec';
    				font-family: 'FontAwesome';
    				font-size: 12px;
				    line-height: 24px;
				    color: #7d7d7d;
				    vertical-align: middle;
				    display: inline-block;
				    font-weight: normal;
				    overflow: hidden;
				    speak: none;
				    text-align: center;
				    margin: 0 6px 0 10px;
				}
				> span {
					vertical-align: middle;
				}
			}
		}
		.product-items {
			margin-left: 0;
		}
		.item.product {
			margin-bottom: 15px;
			padding-bottom: 15px;
			border-bottom: 1px solid @c-light-black;
			&:last-child {
				border-bottom: none;
			}
			&:before,
			&:after {
				display: table;
				content: " ";
			    clear: both;
			}
			.product-list-image {
				.actions-secondary {
					display: inline-block;
				}
				a.product-item-photo {
					position: relative;
				}
			}
			.label-product.label-sale {
				position: absolute;
				top: 15px;
				left: 0;
				width: 30%;
				background-color: @c-red;
				text-align: center;
				color: @c-white;
				font-size: 14px;
				line-height: 20px;
			}
			.product.name {
				margin: 0;
				margin-bottom: 10px;
				font-size: 14px;
				font-weight: 700;
			}
			.product-sku {
				color: @c-grey-dark;
			}
			.product-reviews-summary {
				margin: 0;
				margin-bottom: 10px;
				.reviews-actions {
					display: none;
				}
			}
			.product.description {
				display: none;
			}
			.price-box {
				.price-label {
					display: none;
				}
				.price {
					font-size: 11px;
				}
				.old-price,
				.special-price {
					display: inline-block;
				}
			}
			.special-price {
				.price {
					color: @c-red;
					font-size: 14px;
				}
			}
			.minimal-price-link {
				display: block;
				font-size: 11px;
				color: @c-grey-dark;
				.price-label {
					display: inline-block;
				}
			}
			.product.actions {
				display: block;
				margin-top: 15px;
			}
			.qty-wrapper {
				display: inline-block;
				&:before,
				&:after {
					display: table;
					content: " ";
				    clear: both;
				}
				.qty {
					width: 40px;
					margin-left: 30px;
					text-align: center;
					border-color: @c-grey;
					float: left;
					padding: 0 !important;
				}
				.qty-minus,
				.qty-plus {
					width: 30px;
					height: 32px;
					display: block;
					vertical-align: top;
					line-height: 32px;
					text-align: center;
					background-color: @c-grey;
					float: left;
				}
			}
		}
	}
	.nav-toggle {
		display: block !important;
		> span {
			text-transform: uppercase;
			font-size: 10px;
			display: table;
			margin: 0 1px;
			position: relative;
		}
	}
	.nav-open {
		.page-wrapper {
			left: 0 !important;
		}
		.nav-toggle:after {
		    background: rgba(0, 0, 0, 0.5);
		    content: '';
		    display: block;
		    height: 100%;
		    position: fixed;
		    right: 0;
		    top: 0;
		    width: 100%;
		    z-index: 1;
		}
		.nav-sections {
		    -webkit-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.75);
		    -moz-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.75);
		    -ms-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.75);
		    box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.75);
		    left: 0;
		    z-index: 55555;
		}
	}
	.sections.nav-sections {
		display: none;
	}
	.header-megamenu {
	    background: #ffffff !important;
	    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	    -webkit-overflow-scrolling: touch;
	    -webkit-transition: left 0.3s;
	    -moz-transition: left 0.3s;
	    -ms-transition: left 0.3s;
	    transition: left 0.3s;
	    height: 100%;
	    left: calc(-1 * (100% - 14px));
	    overflow: auto;
	    position: fixed;
	    top: 0;
	    width: calc(100% - 14px);
	    strong.logo {
	    	display: block;
	    	background: #fafafa;
		    padding-top: 8px;
		    margin-top: 0 !important;
	    }
	    .menu-mobile {
	    	display: none;
	    }
	    .menu > ul {
	    	display: block;
	    }
	    .menu > ul > li {
	    	position: relative;
	    }
	    .menu > ul > li:hover,
	    .menu > ul > li > ul {
	    	background: transparent;
	    }
	    .menu > ul > li > ul > li {
	    	margin-top: 0;
	    }
	    .menu > ul > li > ul.normal-sub {
	    	padding: 10px 20px 10px 30px;
	    }
	    .menu > ul > li > ul.normal-sub > li a {
	    	padding: .5em 0;
	    }
	    #om {
	    	li {
	    		border-top: 1px solid #d1d1d1;
	    		span {
					font-size: 1.6rem;
				}
	    	}
	    	li:last-child {
				border-bottom: 1px solid #d1d1d1;
			}
	    }
		.menu-dropdown-icon{
			&:before {
				position: absolute;
			    right: 0;
			    top: 12px;
			}
			&:before {
				-webkit-font-smoothing: antialiased;
			    font-size: 42px;
			    line-height: inherit;
			    color: inherit;
			    content: '\e622';
			    font-family: 'icons-blank-theme';
			    vertical-align: middle;
			    display: inline-block;
			    font-weight: normal;
			    overflow: hidden;
			    speak: none;
			    text-align: center;
			    padding: 0;
			    background: transparent;
			}
			&:hover:before {
				content: '\e621';
			}
		}
		.other-site {
			display: block;
			border-bottom: 1px solid #d1d1d1;
			.list-title {
				height: 40px;
				position: relative;
				h4 {
				    margin: 0;
				    line-height: 38px;
				    padding-left: 15px;
				    color: #575757;
				    text-transform: uppercase;
				    font-size: 1.6rem;
				    font-family: 'Rubik';
				    font-weight: bold;
				}
			}
			.list-site {
				display: block;
				.store-switcher {
					a {
						padding: 0 0 0 25px;
				    	height: 40px;
				    	border-top: 1px solid #d1d1d1;
				    	display: block;
				    	span {
				    		line-height: 38px;
						    padding: 0;
						    width: 100%;
						    background: transparent;
						    font-size: 14px;
						    &:before {
						    	top: 8px;
						    	margin-right: 10px;
						    	position: relative;
						    }
						    &:after {
						    	left: 3px;
    							top: 10px;
						    }
				    	}
					}
				}
			}
		}
	}
	.main-header-user {
		margin-left: 0;
	}
	.minicart-wrapper.cart-counter {
		.showcartitems {
		display: block;
			.counter {
				&.qty {
					position: absolute;
					background: #204687;
					height: 19px;
					width: 19px;
					border-radius: 25px;
					line-height: 19px;
					font-size: 1em;
					top: -25px;
					right: -40px;
					padding: 1px 7px;
					&.empty {
						display: none;
					}
					.counter-number {
						color: #ffffff !important;
					}
					.loading-mask {
						display: none !important;
					}
				}
			}
		}
		.mage-dropdown-dialog {
			display: none !important;
			.block-minicart {
				display: none !important;
			}
		}
	}
	.main-header-user.user .user-wrapper {
		.mobile-user-online {
			position: absolute;
			content: "";
			background: #24da24;
			width: 10px;
			height: 10px;
			border-radius: 100%;
			display: block;
			top: -11px;
			right: -31px;
			border: 1px solid #d1d1d1;
		}
	}
	.block-static-block {
		.columns.container, .column.main {
			padding: 0;
		}
		.autoplay-carousel {
			.slick-prev {
				left: -15px;
			}
			.slick-next {
				right: -15px;
			}
			.slick-slide img {
				margin: 0 auto;
			}
		}
		.widget-banner {
			margin: 0;
			.row-small {
				div {
					margin: 10px 0;
				}
				div:first-child {
					margin-top: 0;
				}
				div:last-child {
					margin-bottom: 0;
				}
			}
			.widget-title span {
				padding: 4px 20px;
				&:after {
					border-top: 22px solid transparent;
					right: -14px;
				}
			}
		}
		.widget-banner-hero {
			margin: 0 0 10px;
		}
		.widget-product .block.widget {
			.product-item-info .actions-secondary {
				padding-right: 0;
				text-align: center;
				a:first-child {
					width: 100%;
				}
				a:nth-child(2),
				a:last-child {
					width: 46%;
				}
			}
			.image-holder {
				.tocompare:before,
				.towishlist:before {
					border-left: none;
					padding-left: 10px;
				}
			}
		}
		.widget-product {
			margin: 0 0 25px;
			.block {
				margin-bottom: 0;
			}
			.nav-tabs {
				margin: 15px 0 0px;
			}
			.block.widget .image-holder {
				text-align: center;
			}
			.product-item-details {
				.product-item-name {
					text-align: center;
					a {
						font-size: 11px;
					}
				}
				.price-box {
					text-align: center;
				}
			}
			.product-item-actions .actions-primary button {
				min-width: auto;
				width: 100%;
			}
			.product-items {
				.slick-dots li button:before {
					font-size: 20px;
				}
				.slick-prev:before,
				.slick-next:before {
					font-family: FontAwesome;
					color: #000;
					font-size: 40px;
				}
				.slick-prev,
				.slick-next {
					top: 30%;
				}
				.slick-prev {
					left: 0;
					&:before {
						content: '\f104';
					}
				}
				.slick-next {
					right: 0;
					&:before {
						content: '\f105';
					}
				}
			}
		}
	}
	footer.page-footer {
		.widget-payment {
			padding: 10px 0 0;
		}
		.block.newsletter {
			width: 100%;
			margin-bottom: 20px;
			.field input {
				padding-left: 10px;
			}
			.actions {
				width: 90px;
			}
			button.action.subscribe {
				width: 90px;
			}
		}
		.page-footer-bottom {
			padding-top: 0;
			.footer.content {
				margin-top: 0;
			}
			.footer-top {
				.footer.content {
					.widget-astra {
						padding-top: 10px;
						p {
							text-align: justify;
						}
					}
				}
			}
			.footer-bottom {
				padding-top: 0;
				p {
					text-align: justify;
				}
			}
		}
		.footer-copy {
			.row > div {
			min-height: 30px;
			}
			.copyright {
				text-align: center;
			}
		}
	}
	.catalog-category-view {
		.breadcrumbs-container {
			.breadcrumbs {
				margin: 4px 0;
    			padding: 0;
			}
		}
		.sidebar.sidebar-main {
			.navigation-sidebar {
				display: none;
			}
		}
		.page-title-wrapper {
			h1 {
				margin-top: 5px;
				font-size: 24px;
			}
		}
	}
	.catalogsearch-result-index {
		.breadcrumbs {
			display: none;
		}
		.page-title-wrapper h1 {
			margin-top: 5px;
			font-size: 24px;
		}
	}

	.customer-account-login {
		.login-container {
			.social-login-wrap {
				width: 100%;
				padding: 0 30px;

				.social-login-wrap-inner {
					width: 100%;

					> * {
						margin: 0;
					}
				}
			}
		}
	}
}
@media only screen and (max-width: @screen-sm-max) and (min-width: @screen-sm) {
	.page-wrapper .header {
		.nav-toggle {
			top: 17px;
		}
	}
	.main-header-user.search,
	.main-header-user.minicart,
	.main-header-user.user {
		line-height: 40px;
	}
	.main-header-user .block-search .block {
		right: 0;
	}
	header.page-header .block.block-search {
		.block.block-content .field.search .control {
			margin-left: 0;
			margin-right: 0;
		}
		#search_mini_form {
			> .actions {
				top: 10px;
	    		right: 15px;
	    		button.action {
	    			height: 35px;
	    			line-height: 35px;
	    			span {
	    				top: 0;
	    			}
	    		}
	    	}
    		> .search {
    			margin: 0 0 10px;
    		}
		}
	}
	header #search_mini_form > .actions,
	header #search_mini_form > .search {
		width: 100%;
	}
	.block-static-block {
		.row-small {
			text-align: center;
			img {
				width: 70%;
			}
		}
	}
	.products.wrapper.products-list {
		.item.product {
			.product-list-image,
			.product-item-details {
				float: left;
				width: 100%;
			}
		}
	}
}

@media only screen and (max-width: @screen-xxs-max) {
	header.page-header .logo img {
		width: 40%;
	}
	header.page-header .logo {
		margin: 15px 0 0px;
	}
	.products.wrapper.products-list {
		.action.tocart {
			display: inline-block;
			width: 40px;
			min-width: auto;
			vertical-align: top;
			&:before {
                content: "\f07a";
                font-family: 'FontAwesome';
			}
			> span {
				display: none;
			}
		}
		.item.product {
			.product-list-image,
			.product-item-details {
				float: left;
				width: 50%;
			}
			.qty-wrapper .qty {
				margin-left: 0;
			}
		}
	}
	.header-megamenu {
		.other-site {
			.list-site {
				.store-switcher {
					a {
						span:after {
							left: 5px;
						}
					}
				}
			}
		}
	}
	header.page-header .header-user .main-header-user.minicart .counter-number {
	    position: absolute;
        background: #204687;
        height: 16px;
        width: 16px;
        border-radius: 25px;
        line-height: 18px;
        font-size: 11px;
        top: 0;
        right: -9px;
        padding: 0 3px;
        color: #fff;
        text-align: center;
	}
}