body {
	.autoplay-carousel,
	.autoplay-hero {
		display: none;
		&.slick-slider {
			display: block;
		}
	}
	.widget-title {
		margin-bottom: 30px;
		.has-underline {
			position: relative;
			&:after {
				content: '';
				position: relative;
				display: table;
				margin: 10px auto;
				background: @c-grey;
				width: 100px;
				height: 3px
			}
		}
	}
	.box-trophy {
		padding: 15px;
		background: @c-grey-light;
		border:1px solid @c-border;
		i {
			color: #fff;
			background: @c-red;
			border-radius: 100%;
			margin-bottom: 15px;
			line-height: 60px;
			font-size: 24px;
			height: 60px;
			width: 60px;
		}
	}
	.box-testimony {
		&-images {
			margin-bottom: 20px;
		}
	}
	.has-product-box .product-item {
		background: @c-grey-light;
		border: 1px solid @c-grey;
		padding-bottom: 15px !important;
		text-align: center;
	}
	.widget-populer,
	.widget-emergency {
		.primary {
			font-weight: normal;
			text-align: center;
			line-height: 30px;
			font-size: 12px;
		}
	}
	.widget-populer {
		.product-item {
			padding: 0 !important;
		}
	}
	.widget-product {
		.minimal-price-link {
			display: none;
		}
		.stock.unavailable {
			font-weight: 500;
			color: @c-grey-dark;
			font-size: 14;
		}
	}
	.widget-gellery {
		.product-item {
			padding: 0 !important;
		}
	}

	&.page-layout-1column .block.widget {
		.products-grid {
			.widget-product-grid {
				opacity: 0;
				&.slick-slider {
					opacity: 1;
					animation: fade .5s linear;
				}
			}
			.product-item:nth-child(4n + 1) {
				margin: 0;
			}
		}
	}
}

@keyframes fade {
	0%,100% { opacity: 0 }
	50% { opacity: 1 }
}

