.checkout-onepage-success {
	.header {
		&.content {
			text-align: center;
		    box-shadow: inset 0px 10px 0px 0px @c-red;
			padding-top: 10px;
			.logo {
				float: none;
				img {
					max-width: 250px;
					margin: 20px auto;
				}
			}
		}
	}

	.checkout-success {
		.success-section {
		    max-width: 720px;
		    margin: 0 auto 30px;
		    padding: 0 10px;
		    display: block;
			.success-section-title {
				border-bottom: 1px solid @c-border;
				margin-bottom: 10px;
				span {
					background-color: @c-red;
					color: @c-white;
					font-size: 16px;
					line-height: 32px;
					display: inline-block;
					padding: 0 10px;
					position: relative;
					text-transform: uppercase;
					&:after {
						content: '';
						display: inline-block;
						position: absolute;
						right: -20px;
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 32px 0 0 20px;
						border-color: transparent transparent transparent @c-red;
					}
				}
			}
			.success-section-content {
				> .span-container {
					text-align: center;
					.icon {
						font-size: 48px;
					    background: @c-blue;
					    height: 75px;
					    width: 75px;
					    display: inline-block;
					    line-height: 75px;
					    border-radius: 100px;
					    color: @c-white;
					}
					h2 {
						color: @c-blue;
						font-size: 36px;
					}
				}
				.table {
					&.not-details {
						tbody {
							tr {
								td {
									border: 1px solid @c-border;
									&:first-child {
										background-color: @c-grey-light;
									}
								}
							}
						}
					}
					&.order-items {
						> thead {
							> tr {
								> th {
									border: 0;
								}
							}
						}
						.data-item {
							border-top: 1px solid @c-border;
							&:last-child {
								border-bottom: 1px solid @c-border;
							}
							> td {
								padding-top: 20px;
								padding-bottom: 20px;
							}
						}
						.details-appointment {
							margin-top: 10px;
							span.toggle {
								.noselection;
								cursor: pointer;
								padding-left: 10px;
								color: @c-blue;
								display: inline-block;
								margin-bottom: 10px;
								&:after {
									font-family: 'FontAwesome';
									content: '\f107';
									padding-left: 5px;
								}
							}
							&.active {
								span.toggle {
									&:after {
										content: '\f106';
									}
								}
							}
							.content {
								.item-options {
									margin-bottom: 10px;
									max-width: 420px;
									.table {
										thead {
											border-top: 1px solid darken(@c-border, 10%);
											background: @c-grey;
										}
										tr {
											border-bottom: 1px solid @c-border;
											th, td {
												&:first-child {
													width: 38px;
													text-align: center;
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}

	.total-order-details {
		max-width: 420px;
		margin: 0 auto 30px;
		.grand_total {
			border-top: 1px solid @c-border;
			color: @c-red;
		}
		table.total-order {
			border: 1px solid @c-border;
			thead {
				background-color: @c-grey-light;
				th {
					border-bottom: 1px solid @c-border;
					h2 {
					    margin: 0;
					    font-size: 20px;
					    text-align: center;
					    padding: 5px 0;
					}
				}
			}
			tbody {
				td, th {
					padding: 10px 20px;
					font-weight: 400;
				}
			}
		}
		.actions-toolbar-success {
		    display: block;
		    width: 40%;
		    margin: 0 auto;
			.action {
				min-width: initial;
				width: 47%;
				display: inline-block;
				margin: 0;
				height: 36px;
				&:nth-child(1) {
					float: left;
				}
				&:nth-child(2) {
					float: right;
				}
				&.dark {
					background: @c-black;
					color: @c-white;
				}
				&.continue {
					display: block;
				    text-align: center;
				    line-height: 36px;
				    float: none !important;
				    width: 100%;
				}
			}
		}
	}

	.page-footer {
		.footer-bottom-links {
			display: none;
		}
		.page-footer-bottom {
			padding-top: 0;
			.footer-copy {
				> .content {
					padding-bottom: 0;
					line-height: 9;
				}
				.powered {
					position: relative;
					text-align: right;
					bottom: initial;
					right: initial;
					display: block;
				}
				.row > div {
					min-height: initial;
					line-height: 65px;
				    max-height: 65px;
				    overflow: hidden;
				    padding-bottom: 5px;
					
				}
			}
		}
	}
}