<?php
/**
 * added by ivan.febriansyah@acommerce.asia
 * 08 Augustus 2017
 */
?>
<?php /** @var $block \Acommerce\OrderDetails\Block\Details */ ?>
<?php
$order = $block->getOrder();
$payment = $order->getPayment();
$method = $payment->getMethodInstance();
$reorderurl = $block->getReorder();
$printurl = $block->getPrint();
$date = $order->getCreatedAt();
$formatdate = $block->formatDate($date);
$thanksz = $block->getThankMessegerSizeDetails();
$textbeforesz = $block->getBeforeTextSizeDetails();
$textaftersz = $block->getAfterTextSizeDetails();
$thankcl = '#'.$block->getThankMessegerColorDetails();
$textbeforecl = '#'.$block->getBeforeTextColorDetails();
$textaftercl = '#'.$block->getAfterTextColorDetails();
?>

<div class="checkout-success">
    <div class="success-section">
        <div class="success-section-content center">
            <div class="span-container">
                <span class="icon"><i class="fa fa-check"></i></span>
                <h2><?php echo __('Success');?></h2>

                <p><?php echo __('Your order has been processed')?></p>
                <p><?php echo __('Please check your email, we\'ll email you an order confirmation.')?></p>
            </div>
        </div>

        <div class="additional-infos">
            <?php echo $block->getAdditionalInfoHtml() ?>
        </div>
    </div>

    <div class="success-section">
        <div class="success-section-title">
            <span><?php echo __('Order Information');?></span>
        </div>
        <div class="success-section-content">
            <table class="table not-details">
                <thead></thead>
                <tbody>
                    <tr>
                        <td><?php echo __('Name')?></td>
                        <td><?php echo $order->getCustomerName()?></td>
                    </tr>
                    <tr>
                        <td><?php echo __('Order ID')?></td>
                        <td><?php echo __('#%1',
                            sprintf('<a href="%s" class="order-number"><strong>%s</strong></a>',
                            $block->getReorder(), $order->getIncrementId())) ?></td>
                    </tr>
                    <tr>
                        <td><?php echo __('Shipping Methods')?></td>
                        <td>
                            <?php if($block->isEnableShippingMethodDetails()):?>
                                <?php $shippingMethod = $order->getShippingDescription(); ?>
                                <?php if ($order->getShippingDescription()): ?>
                                    <?php echo $shippingMethod; ?>
                                <?php else: ?>
                                    <?php echo __('No shipping information available'); ?>
                                <?php endif; ?>
                            <?php endif; ?>
                        </td>
                    </tr>
                    <tr>
                        <td><?php echo __('Payment Methods')?></td>
                        <td><?php echo $method->getTitle() ?></td>
                    </tr>
                    <tr>
                        <td><?php echo __('Order Total')?></td>
                        <td>Rp <?php echo number_format($order->getGrandTotal(), 0, '.', ',');//echo $block->formatPrice($value, true, false);?></td>
                    </tr>
                    <?php if($method->getTitle() == 'Bank Transfer Payment'):?>
                    <tr>
                        <td><?php echo __('Due Date')?></td>
                        <td></td>
                    </tr>
                    <?php endif?>
                </tbody>
            </table>
        </div>
    </div>

    <div class="success-section">
        <div class="success-section-title">
            <span><?php echo __('Payment Methods');?></span>
        </div>
        <div class="success-section-content basic-content">
            <h4><?php echo $method->getTitle() ?></h4>
            <div><?php echo $method->getInstructions() ?></div>
        </div>
    </div>

    <div class="success-section">
        <div class="success-section-title">
            <span><?php echo __('Billing Information');?></span>
        </div>
        <div class="success-section-content">
            <?php if($block->isEnableBillingAddressDetails()):?>
                <?php $formatbilling = $block->formatBilling(); ?>
                <table class="table not-details">
                    <thead></thead>
                    <tbody>
                        <tr>
                            <td><?php echo __('Details')?></td>
                            <td><address><?php echo $formatbilling;  ?></address></td>
                        </tr>

                    </tbody>
                </table>


            <?php endif; ?>
        </div>
    </div>

    <div class="success-section">
        <div class="success-section-title">
            <span><?php echo __('Shipping Information');?></span>
        </div>
        <div class="success-section-content">
            <table class="table not-details">
                <thead></thead>
                <tbody>
                    <?php if($block->isEnableShippingAddressDetails()):?>
                        <?php $formatship = $block->formatShipping(); ?>
                        <?php if ($formatship) : ?>
                            <tr>
                                <td><?php echo __('Details')?></td>
                                <td><address><?php echo $formatship;?></address></td>
                            </tr>
                        <?php else: ?>
                            <tr>
                                <td><?php echo __('Details')?></td>
                                <td><?php echo __('No shipping Address available'); ?></td>
                            </tr>
                        <?php endif; ?>
                    <?php endif; ?>
                </tbody>
            </table>
        </div>
    </div>

    <div class="success-section">
        <div class="success-section-title">
            <span><?php echo __('Order Details');?></span>
        </div>
        <div class="success-section-content clear">
            <?php if($block->isEnableDetails()):?>
                <div class="order-details">
                    <?php $thankMss = $block->getThankMessegerDetails() ?>
                    <p class="tmess">
                        <?php echo $thankMss; ?>
                    </p>

                    <?php $textbefore = $block->getBeforeTextDetails() ?>
                    <div><p class="bmess"><?php echo $textbefore; ?></p></div>

                    <?php if($block->isEnableOrderProductDetails()):?>

                    <table class="table order-items">
                        <thead>
                            <tr>
                                <th><?php echo __('Item') ?></th>
                                <th><?php echo __('Product Name') ?></th>
                                <th class="table-number"><?php echo __('Price') ?></th>
                                <th class="table-number"><?php echo __('Qty') ?></th>
                                <th class="table-number"><?php echo __('Subtotal') ?></th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php $items = $order->getItemsCollection();
                            foreach ($items as $item) : ?>

                                <?php  if($item->getParentItem()) continue; ?>
                                <tr class="data-item">
                                    <td>
                                        <?php $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                                        $product = $objectManager->create('Magento\Catalog\Model\Product')->load($item->getProduct()->getId());
                                        $imageProductUrl = $product->getProductUrl();
                                        $imagewidth=100;
                                        $imageheight=100;
                                        $imageHelper  = $objectManager->get('\Magento\Catalog\Helper\Image');
                                        $image_url = $imageHelper->init($product, 'product_page_image_small')->setImageFile($product->getFile())->resize($imagewidth, $imageheight)->getUrl();
                                         echo '<a href="'.$imageProductUrl.'"><img src="'.$image_url.'" width="'.$imagewidth.'" height="'.$imageheight.'" /></a>'
                                         ?>
                                    </td>
                                    <td>
                                        <h5 class="product-name"><?php echo $item->getName();?></h5>
                                    
                                        <?php
                                        $options = $block->getItemOptions($item);
                                        if($options):
                                            foreach($options as  $option):
                                        ?>
                                            <dl>
                                                <dt><?php echo $option['label'] ?></dt>
                                                <dd><?php echo $option['value'] ?></dd>
                                            </dl>
                                            <?php endforeach ?>
                                        <?php endif ?>

                                        <div class="bundle-items">
                                            <?php
                                            $bundleChildrens = $item->getChildrenItems();
                                            $atts = $block->getBundleItemOptions($item);
                                            $attArray = [];
                                            foreach ($atts as $key => $att) {
                                                $attArray[$att['option_id']] = $att;
                                            }
                                            ksort($attArray);
                                            if($attArray):
                                            $sku = [];
                                            $countSku= 0;
                                            foreach ($bundleChildrens as $key => $bundleChildren) {
                                                if ($bundleChildren['sku'])
                                                    $countSku ++;
                                                    $sku[$countSku] = $bundleChildren['sku'];
                                                }
                                                    $count = 0;
                                                    foreach($attArray as  $att):
                                                    ?>
                                                        <dl>
                                                            <dt>
                                                                <label>
                                                                    <strong><?php echo $att['label'] ?></strong>
                                                                </label>
                                                            </dt>
                                                            <dd>
                                                                <?php foreach($att['value'] as $at ): $count++ ?>
                                                                    <span><?php echo $at['qty'].' x '.$at['title'].' x '.'<span>Rp' .number_format($at['price'], 0, '.', ',').'</span>';//$block->formatPrice($at['price']) ?></span>
                                                                <?php endforeach ?>
                                                            </dd>
                                                        </dl>
                                                    
                                                    <?php endforeach ?>
                                                <?php endif ?>                                            
                                        </div>

                                        <div class="details-appointment">
                                            <h6><span><?php echo __('Appointments')?>:</span></h6>
                                            <ol>
                                                <?php
                                                $om = \Magento\Framework\App\ObjectManager::getInstance();
                                                // check for bundle product and get appointments data
                                                $appointments = null;
                                                if ($item->getProductType() == 'bundle') {
                                                    foreach ($item->getChildrenItems() as $simple) {
                                                        $productFromSimple = $om->create('Magento\Catalog\Model\Product')->load($simple->getProductId());
                                                        if ($simple->getProductType() == 'simple' && $productFromSimple->getAttributeText('is_service')->getText() == 'Yes') {
                                                            // $appointments = unserialize($simple->getAppointment());//simple
                                                            $appointments = unserialize($item->getAppointment());
                                                        }
                                                    }
                                                }
                                                // check for simple product and get appointments data
                                                else {
                                                    $productFromSimple = $om->create('Magento\Catalog\Model\Product')->load($item->getProductId());
                                                    if ($productFromSimple->getAttributeText('is_service')->getText() == 'Yes') {
                                                        $appointments = unserialize($item->getAppointment());
                                                    }
                                                }

                                                $dataApFinals = [];
                                                $htmlAppointments = '';
                                                if (isset($appointments['region']) && count($appointments['region']) > 0) {
                                                    foreach ($appointments as $apkey => $apvalue) {
                                                        foreach ($apvalue as $k => $v) {
                                                            if ($apkey == 'slot_name') {
                                                                $dataApFinals[$k][$apkey] = $v;
                                                            }
                                                            if($apkey == 'whs_id'){
                                                                $dataApFinals[$k][$apkey] = $v;
                                                            }
                                                            if($apkey == 'ap_date'){
                                                                $dataApFinals[$k][$apkey] = $v;
                                                            }
                                                            if($apkey == 'region'){
                                                                $dataApFinals[$k][$apkey] = $v;
                                                            }
                                                            if($apkey == 'city'){
                                                                $dataApFinals[$k][$apkey] = $v;
                                                            }
                                                            if($apkey == 'address'){
                                                                $dataApFinals[$k][$apkey] = $v;
                                                            }
                                                            if($apkey == 'ap_hours'){
                                                                $dataApFinals[$k][$apkey] = $v;
                                                            }
                                                        }
                                                    }


                                                    
                                                    foreach ($dataApFinals as $rs) {
                                                        $whsModel = $om->get('Amasty\MultiInventory\Model\Warehouse')->load($rs['whs_id']);
                                                        $tempat = sprintf('<span>%s</span> <span>%s</span>', date('j F Y', strtotime($rs['ap_date'])), $rs['ap_hours']);
                                                        $addressWhs = $rs['address'];

                                                        $htmlAppointments .= <<<HTML
                                                                <li>
                                                                    <div class="ap-maps">{$addressWhs}</div>
                                                                    <div class="ap-date">{$tempat}</div>
                                                                </li>
                                                        
HTML;
                                                    }
                                                }

                                                ?>
                                                <?php echo $htmlAppointments; ?>
                                            </ol>
                                        </div>
                                    </td>
                                    <td class="table-number"><span class="label-xs"><?php echo __('Price')?></span> Rp <?php echo number_format($item->getPrice(), 0, '.', ',');//echo $block->formatPrice($item->getPrice(), true, true);?></td>
                                    <td class="table-number"><span class="label-xs"><?php echo __('Qty')?></span> <?php echo number_format($item->getQtyOrdered());?></td>
                                    <td class="table-number"><span class="label-xs"><?php echo __('Subtotal')?></span> Rp <?php echo number_format($item->getRowTotal(), 0, '.', ',');//echo $block->formatPrice($item->getRowTotal(),true,true);?></td>
                                </tr>

                            <?php endforeach ?>
                        </tbody>
                    </table>
                </div>
            <?php endif ?>
        </div>
        <?php endif; ?>
    </div>
</div>

<div class="total-order-details">
    <table class="table total-order">
        <thead>
            <tr>
                <th colspan="2">
                    <h2><?php echo __('Order Details')?></h2>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <?php echo $block->getChildHtml('order.totals') ?>
            </tr>
        </tbody>
    </table>

    <div class="actions-toolbar-success">
        <a class="action primary continue dark" href="<?php echo $block->getUrl() ?>">
            <span><?php echo __('Continue Shopping') ?></span>
        </a>
        <?php if($method->getTitle() == 'Bank Transfer Payment'):?>
            <a class="action primary continue" href="<?php echo $block->getUrl() ?>">
                <span><?php echo __('Payment Confirmation') ?></span>
            </a>
        <?php endif ?>
    </div>
</div>

<?php if($block->isEnableDetails()): ?>
<script type="text/x-magento-init">
    {
    "*": {
        "Acommerce_OrderDetails/js/continue": {}
        }
    }
</script>
<?php endif; ?>

<style type="text/css">
    .tmess{
        font-size: <?php echo $thanksz.'px' ?>;
        color: <?php echo $thankcl ?>;
    }
    .bmess{
        font-size: <?php echo $textbeforesz.'px' ?>;
        color: <?php echo $textbeforecl ?>;
    }
    .fmess{
        font-size: <?php echo $textaftersz.'px' ?>;
        color: <?php echo $textaftercl ?>;
    }
</style>
