<h3 class="appointment-title"><?php /* @escapeNotVerified */ echo __('Add Holiday Date') ?></h3>
<form name="holiday_configuration" method="POST" action="<?php echo $this->getSubmitUrl()?>">
  <?php echo $block->getBlockHtml('formkey'); ?>
    <div class="form-group">
      <label><?php echo __('Description') ?>:</label>
      <textarea class="required-entry" id="description" name="description" aria-required="true" data-validate="{required:true}">
      </textarea>
    </div>
    <div class="form-group">
      <label><?php echo __('Select Date') ?>:</label>
      <input type="text" class="input-text required-entry" id="off_date" name="off_date" aria-required="true" data-validate="{required:true}" >
    </div>
    <div class="primary">
      <button type="submit" class="action submit primary" title="<?php /* @escapeNotVerified */ echo __('Submit') ?>"><span><?php /* @escapeNotVerified */ echo __('Submit') ?></span></button>
    </div>
</form>
<script>
   require([
        "jquery",
        "mage/calendar"
   ], function($){
       $("#off_date").calendar({
            buttonText:"<?php echo __('Select Date') ?>",
            dateFormat: 'dd-MM-yyyy',
            minDate : "1d",
            maxDate: "+2m +1d"
       });
   });
</script>
