<h3 class="appointment-title"><?php /* @escapeNotVerified */ echo __('Merchant Holiday Data') ?></h3>
<div class="wrp-topaction">
  <a class="btn-main addholiday" href="<?php echo $this->getAddUrl(); ?>" ><?php echo __('Add Holiday'); ?></a>
</div>
<?php $gridRecord = $this->getHolidayHistory();?>
<?php if ($gridRecord && count($gridRecord)) : ?>
  <div class="tabledashboard">
  <table>
    <thead>
      <tr>
        <th><?php echo __('Description') ?></th>
        <th><?php echo __('Date') ?></th>
      </tr>
    </thead>
    <tbody>
      <?php foreach ($gridRecord as $record) : ?>
        <tr>
          <td><?php echo __($record->getDescription()) ?></td>
          <td><?php echo __($record->getOffDate()) ?></td>
        </tr>
      <?php endforeach; ?>
    </tbody>
  </table>
  </div>
  <?php if ($this->getPagerHtml()) : ?>
    <?php echo $this->getPagerHtml()?>
  <?php endif ?>
<?php else: ?>
  <div>
    <?php echo __('Record Not Available') ?>
  </div>
<?php endif; ?>
