<?php // @codingStandardsIgnoreFile ?>
<?php /** @var $block \Aheadworks\SocialLogin\Block\Customer\Login */ ?>
<?php $providers = $block->getProviders(); ?>
<?php if(count($providers)): ?>
    <div class="social-login-wrap">
        <div class="social-login-wrap-inner">
            <div class="block-social-login"><span><?php /* @escapeNotVerified */ echo __('Or') ?></span></div>
            <ul class="social-login-list <?php echo $block->escapeUrl($block->getCssClass()); ?> <?php echo $block->escapeUrl($block->getThemeCssClass()); ?>">
                <?php foreach($providers as $provider): ?>
                    <li>
                        <a href="<?php echo $block->escapeUrl($block->getLoginUrl($provider)) ?>"
                           data-post='<?php /* @noEscape */ echo $block->getLoginPostData($provider); ?>'
                           class="social-login-btn social-login-btn-<?php echo $block->escapeUrl($provider->getConfig()->getCode()); ?>">
                            <span class="social-login-icon social-login-icon-<?php echo $block->escapeUrl($provider->getConfig()->getCode()); ?>"></span>
                            <?php /* @noEscape */ echo __('Login with <span class="social-login-label">%1</span>', $provider->getConfig()->getTitle()); ?>
                        </a>
                    </li>
                <?php endforeach; ?>
            </ul>
        </div>
    </div>
<?php endif; ?>