<div class="container">
	<div class="widget-payment clearfix">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')
                    ->setBlockId('footer-payment-logo')->toHtml(); ?>
            </div>
            <div class="col-sm-12 col-md-6">
                <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')
                    ->setBlockId('footer-subscribe')->toHtml(); ?>
            </div>
        </div>
    </div>
</div>
