<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2017 Amasty (https://www.amasty.com)
 * @package Amasty_MultiInventory
 */
?>
<?php

?>
<?php
/** @var $block \Amasty\MultiInventory\Block\Adminhtml\Warehouse\Lowstock\Grid */
$numColumns = sizeof($block->getColumns());
?>
<?php if ($block->getCollection()): ?>
    <?php if ($block->canDisplayContainer()): ?>
    <div id="<?php /* @escapeNotVerified */ echo $block->getId() ?>">
        <?php else: ?>
            <?php echo $block->getLayout()->getMessagesBlock()->getGroupedHtml() ?>
        <?php endif; ?>

            <div class="admin__data-grid-header admin__data-grid-toolbar">
                <div class="admin__data-grid-header-row">
                        <div class="admin__filter-actions" data-role="filter-form" id="<?php /* @escapeNotVerified */ echo $block->getSuffixId('warehouses')?>">
                            <span class="field-row">
                                <label for="<?php /* @escapeNotVerified */ echo $block->getSuffixId('report_warehouse') ?>"
                                       class="admin__control-support-text">
                                    <span><?php /* @escapeNotVerified */ echo __('Select Warehouse') ?>:</span>
                                </label>
                              <select name="report_warehouse" multiple="multiple" id="<?php /* @escapeNotVerified */ echo $block->getSuffixId('report_warehouse')?>" class="admin__control-multiselect">
                                    <?php foreach ($block->getWarehouses() as $_value => $_label): ?>
                                        <option value="<?php /* @escapeNotVerified */ echo $_value ?>" <?php if (is_array($block->getFilter('report_warehouse')) && in_array($_value, $block->getFilter('report_warehouse'))): ?> selected<?php endif; ?>><?php /* @escapeNotVerified */ echo $_label ?></option>
                                    <?php endforeach; ?>
                                </select>
                                <?php echo $block->getRefreshButtonHtml() ?>
                            </span>

                        </div>
                    <?php if ($block->getChildBlock('grid.export')): ?>
                        <?php echo $block->getChildHtml('grid.export');?>
                    <?php endif; ?>
                </div>
            </div>
        <div class="admin__data-grid-wrap admin__data-grid-wrap-static">
            <table class="data-grid" id="<?php /* @escapeNotVerified */ echo $block->getId() ?>_table">
                <?php echo $block->getChildHtml('grid.columnSet'); ?>
            </table>
        </div>
    </div>
    <script>
        require([
            "jquery",
            "validation",
            "mage/mage",
            "mage/adminhtml/grid"
        ], function(jQuery){

            //<![CDATA[
            <?php /* @escapeNotVerified */ echo $block->getJsObjectName() ?> = new varienGrid('<?php /* @escapeNotVerified */ echo $block->getId() ?>', '<?php /* @escapeNotVerified */ echo $block->getGridUrl() ?>', '<?php /* @escapeNotVerified */ echo $block->getVarNamePage() ?>', '<?php /* @escapeNotVerified */ echo $block->getVarNameSort() ?>', '<?php /* @escapeNotVerified */ echo $block->getVarNameDir() ?>', '<?php /* @escapeNotVerified */ echo $block->getVarNameFilter() ?>');
            <?php /* @escapeNotVerified */ echo $block->getJsObjectName() ?>.useAjax = '<?php if ($block->getUseAjax()): /* @escapeNotVerified */ echo $block->getUseAjax(); endif; ?>';

            //]]>

        });
    </script>
<?php endif; ?>
