<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
use Magento\Framework\App\Action\Action;

// @codingStandardsIgnoreFile

?>

<?php 
   $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
   $category = $objectManager->get('Magento\Framework\Registry')->registry('current_category'); //get current category
?>

<?php
/**
 * Product list template
 *
 * @var $block \Magento\Catalog\Block\Product\ListProduct
 */
?>
<?php
$_productCollection = $block->getLoadedProductCollection();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
?>
<?php if (!$_productCollection->count()): ?>
    <div class="message info empty"><div><?php /* @escapeNotVerified */ echo __('We can\'t find products matching the selection.') ?></div></div>
<?php else: ?>
    <?php echo $block->getToolbarHtml() ?>
    <?php echo $block->getAdditionalHtml() ?>
    <?php
    if ($block->getMode() == 'grid') {
        $viewMode = 'grid';
        $image = 'category_page_grid';
        $showDescription = false;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    } else {
        $viewMode = 'list';
        $image = 'category_page_list';
        $showDescription = true;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
    }
    /**
     * Position for actions regarding image size changing in vde if needed
     */
    $pos = $block->getPositioned();
    ?>
    <div class="products wrapper <?php /* @escapeNotVerified */ echo $viewMode; ?> products-<?php /* @escapeNotVerified */ echo $viewMode; ?>">
        <?php $iterator = 1; ?>
        <ol class="products list items product-items">
            <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
            <script type="text/javascript">
                var impressions = [];
                var products    = [];
            </script>
            <?php foreach ($_productCollection as $_product): ?>
                <?php
                    $specialprice = $_product->getSpecialPrice();
                    $specialPriceFromDate = $_product->getSpecialFromDate();
                    $specialPriceToDate = $_product->getSpecialToDate();
                    $today = time();
                    $price = $_product->getPrice();
                    if($price>0){
                        $sale = round((($price-$specialprice)/$price)*100);
                    };
                ?>
                <?php /* @escapeNotVerified */ echo($iterator++ == 1) ? '<li class="item product">' : '</li><li class="item product">' ?>
                <div class="item-info" data-container="product-grid">
                    <?php
                    $productImage = $block->getImage($_product, $image);
                    if ($pos != null) {
                        $position = ' style="left:' . $productImage->getWidth() . 'px;'
                            . 'top:' . $productImage->getHeight() . 'px;"';
                    }
                    ?>
                    <?php // Product Image ?>
                    <div class="product product-list-image">
                        <a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="photo product-item-photo" tabindex="-1"
                            onclick="_productClick(event, '<?php echo $block->escapeHtml( $_product->getSku() ) ?>', '<?php echo $_product->getProductUrl(); ?>')">
                            <?php echo $productImage->toHtml(); ?>
                            <?php if ($specialprice): ?>
                                <?php if ($today >= strtotime($specialPriceFromDate) && $today <= strtotime($specialPriceToDate) || $today >= strtotime($specialPriceFromDate) && is_null($specialPriceToDate)): ?>
                                    <div class="label-product label-sale">
                                        <span class="sale-product-icon">
                                            <?php if(isset($sale) && $sale) { echo $sale.'%'; } else {echo __('Sale');} ?>
                                        </span>
                                    </div>
                                <?php endif; ?>
                            <?php endif; ?>
                        </a>
                    </div>
                    <div class="product details product-item-details">
                        <?php echo $block->getProductDetailsHtml($_product); ?>
                        <?php
                            $_productNameStripped = $block->stripTags($_product->getName(), null, true);
                        ?>
                        <strong class="product name product-item-name">
                            <a class="product-item-link"
                               href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>"
                               onclick="_productClick(event, '<?php echo $block->escapeHtml( $_product->getSku() ) ?>', '<?php echo $_product->getProductUrl(); ?>')">
                                <?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
                            </a>
                        </strong>
                        <p class="product-sku"><?php /* @escapeNotVerified */ echo __('SKU:') ?> <?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getSku(), 'sku'); ?></p>
                        <?php echo $block->getReviewsSummaryHtml($_product, $templateType); ?>
                        <?php if ($showDescription):?>
                            <div class="product description product-item-description">
                                <?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
                            </div>
                        <?php endif; ?>

                        <div class="product-item-inner">
                            <?php /* @escapeNotVerified */ echo $block->getProductPrice($_product) ?>
                            <div class="product actions product-item-actions"<?php echo strpos($pos, $viewMode . '-actions') ? $position : ''; ?>>
                                <div class="actions-primary"<?php echo strpos($pos, $viewMode . '-primary') ? $position : ''; ?>>
                                    <a class="btn-main btn-has-arrow" href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" 
                                        onclick="_addToCart(event, '<?php echo $block->escapeHtml( $_product->getSku() ) ?>')">
                                        <?php /* @escapeNotVerified */ echo __('View Details') ?>
                                    </a>
                                </div>
                                <div data-role="add-to-links" class="actions-secondary"<?php echo strpos($pos, $viewMode . '-secondary') ? $position : ''; ?>>
                                    <?php if ($addToBlock = $block->getChildBlock('addto')): ?>
                                        <?php echo $addToBlock->setProduct($_product)->getChildHtml(); ?>
                                    <?php endif; ?>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <script type="text/javascript">
                    products['<?php echo $block->escapeHtml( $_product->getSku() ) ?>'] = {
                        'name':'<?php echo $block->escapeHtml( $_product->getName() ) ?>',
                        'id':'<?php echo $block->escapeHtml( $_product->getSku() ) ?>',
                        <?php if($_product->getTypeId() == "simple"): ?>
                            <?php if($_product->getSpecialPrice()): ?>
                                'price':<?php echo $_product->getSpecialPrice() * 1; ?>,
                            <?php else:?>
                                'price':<?php echo $_product->getPrice() * 1; ?>,
                            <?php endif; ?>
                        <?php elseif($_product->getTypeId() == "configurable"):?>
                            <?php 
                                $_children = $_product->getTypeInstance()->getUsedProducts($_product);
                                foreach ($_children as $child){
                                    $tempCount = array($child->getPrice());
                                }
                            ?>
                            'price':<?php echo end($tempCount) * 1; ?>,
                        <?php endif; ?>
                        'brand':'<?php echo $category->getParentCategory()->getName() ?>',
                        'category':'<?php echo $block->escapeHtml( $category->getName() ) ?>',
                        'variant':'',
                        'List':'',
                        'position':<?php echo ($iterator)-1 ?>,
                    };
                    impressions.push(products['<?php echo $block->escapeHtml( $_product->getSku() ) ?>']);
                </script>

                <?php echo($iterator == count($_productCollection)+1) ? '</li>' : '' ?>
            <?php endforeach; ?>

            <script type="text/javascript">
                dataLayer.push({
                    'pageType': 'productImpressions',
                    'ecommerce':{
                        'currencyCode':'IDR',
                        'impressions': impressions,
                    },
                });

                var _productClick = function( e, key, url ){
                    e.preventDefault();
                    dataLayer.push({
                        'event':'productClick',
                        'ecommerce': {
                            'currencyCode':'IDR',
                            'click':{
                                'actionField': { 'list': '' },
                                'products': [products[key]],
                            }
                        }
                    });
                    window.location = url;
                }

                var _addToCart = function( e, key ){
                    dataLayer.push({
                        'event':'addToCart',
                        'ecommerce': {
                            'currencyCode':'IDR',
                            'add': {
                                'products': [products[key]],
                            }
                        }
                    });
                }

            </script>

        </ol>
    </div>
    <?php echo $block->getToolbarHtml() ?>
    <?php if (!$block->isRedirectToCartEnabled()) : ?>
        <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {}
            }
        }
        </script>
    <?php endif; ?>
<?php endif; ?>
