<div class="header-top">
	<div class="row">
		<div class="col-sm-6 col-md-6">
			<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('header-top-left')->toHtml();?>
		</div>
		<div class="col-sm-6 col-md-6 text-right">
			<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('header-top-right')->toHtml();?>
		</div>
	</div>	
</div>
