<div class="data-grid-combi">
    <table>
        <tbody>
        <tr data-bind="foreach: { data: getList(), as: 'item' }">
            <td attr="class: 'wh-'+item.key">
                <!-- ko if: $parent.isCheck(item.key) -->
                <input class="admin__control-text" type="text"
                       data-bind="
        event: {change: $parent.userChanges, blur: $parent.OnBlurEvent.bind($parent)},
        value: $parent[item.key],
         hasFocus: false,
        valueUpdate: $parent.valueUpdate,
        attr: {
            name: $parent.inputName + '[' +item.key +']'
    }"
                />
                <!-- /ko -->
                <!-- ko if: !$parent.isCheck(item.key) -->
                <!--ko text: item.value --><!--/ko-->
                <!-- /ko -->
            </td>
        </tr>
        </tbody>
    </table>
</div>