<?php
/** @var Mirasvit\Rewards\Block\Buttons $block */
?>
<?php if (!($block->isActive())) {
    return;
} ?>
<script>
    //<![CDATA[
    require(['Mirasvit_Rewards/js/social'], function () {})
    //]]>
</script>
<div class="rewardssocial-buttons">
    <?php if ($block->isAddthisActive()) {
        echo $block->getAddthisCode();
    } ?>
    <?php if ($block->isLikeActive()) {
        echo $block->getChildHtml('facebook.like');
    } ?>
    <?php if ($block->isShareActive()) {
        echo $block->getChildHtml('facebook.share');
    } ?>
    <?php if ($block->isTweetActive()) {
        echo $block->getChildHtml('twitter.tweet');
    } ?>
    <?php if ($block->isPinActive()) {
        echo $block->getChildHtml('pinterest.pin');
    } ?>
    <?php if ($block->isOneActive()) {
        echo $block->getChildHtml('googleplus.one');
    } ?>
    <?php if ($block->isReferralActive()) {
        echo $block->getChildHtml('referral');
    } ?>

    <?php if ($block->getEstimatedEarnPoints() > 0) :?>
	    <?php if (!$block->isAuthorized()): ?>
	        <div class="status-message" id="status-message"><?= __('Login to earn %1 for sharing!',  $this->helper('Mirasvit\Rewards\Helper\Data')->getPointsName()); ?></div>
	    <?php else: ?>
	        <div class="status-message" id="status-message"><?= __('Earn %1 for sharing!', $this->helper('Mirasvit\Rewards\Helper\Data')->getPointsName()); ?></div>
	    <?php endif ?>
    <?php endif ?>
</div>
<script type="text/javascript">
    var rewardsCurrentUrl = '<?php echo $block->getCurrentEncodedUrl($block->getCurrentUrl()); ?>';
    var rewardsShareCurrentUrl = '<?php echo $block->getCurrentUrl(); ?>';
</script>
