<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label"><span data-bind="text: getTitle()"></span></label>
    </div>
    <div class="payment-method-content">
        <!-- ko if: getCode() == isChecked() -->
           <input type="hidden" data-bind="value: doPaymentChannel('15')">
        <!--/ko-->  
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <div class="field choice" id="existing_card-div" style="display: none;">
            <input id="existing_card" name="existing_card" type="checkbox" data-bind="attr: {visible: true}, event: {change: selectExisting}">
            <label for="existing_card" id="existing_card-label"><span>Use existing card</span></label>
        </div>
        <fieldset class="fieldset address" style="margin: 0 0 10px; max-width: 500px;">
            <div class="field" id="token_cards-div" style="display: none;">
                <label for="token_cards" class="label" id="token_cards-label"><span data-bind="i18n: 'Please select existing card'"></span></label>
                <select class="select" id="token_cards" data-bind="attr: {visible: true}, event: {change : doSelectCard.bind($data)}">
                </select>
            </div>
        </fieldset>
        <div doku-div="form-payment">
            <fieldset id="form-15" class="fieldset address" style="margin: 0 0 10px; max-width: 500px; display: none;">
                <div class="row">
                    <div class="col-md-10 pull-left">
                        <div class="accept-payement">
                            <span class="visa"></span>
                            <span class="mastercard"></span>
                        </div>
                    </div>
                    <div class="col-md-10 pull-left">
                        <div id="name-field" class="field _required">
                            <label for="doku-name-cc" class="label" id="name-label">
                                <span data-bind="i18n: 'Cardholder Name'"></span>
                            </label>
                        </div>
                        <div id="cc-field" class="field _required">
                            <label for="doku-cc-number" class="label" id="cc-label">
                                <span data-bind="i18n: 'Card Number'"></span>
                            </label>
                        </div>
                        <div id="exp-field" class="field _required">
                            <label for="doku-cc-exp" class="label" id="exp-label">
                                <span data-bind="i18n: 'Expired Date'"></span>
                            </label>
                        </div>
                        <div id="cvv-field" class="field _required">
                            <label for="doku-cvc" class="label" id="cvv-label">
                                <span data-bind="i18n: 'Card CVV'"></span>
                            </label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </fieldset>
            <fieldset id="form-04" class="fieldset address" style="margin: 0 0 10px; max-width: 500px; display: none;">
                <div id="username-field" class="field _required">
                    <label for="doku-username" class="label" id="username-label">
                        <span>Username</span>
                    </label>
                </div>
                <div id="password-field" class="field _required">
                <label for="doku-password" class="label" id="password-label">
                    <span>Password</span>
                </label>
                </div>
            </fieldset>
            <fieldset id="form-02" class="fieldset address" style="margin: 0 0 10px; max-width: 500px; display: none;">
                <div id="cc_number-field" class="field _required">
                    <label for="cc_number" class="label" id="cc_number-label">
                        <span>Mandiri Debit Card Number</span>
                    </label>
                    <input type="text" id="cc_number" name="cc_number" class="input-text cc-number"
                           data-bind="attr: {visible: true}"/>
                </div>
                <br>
                <div id="challenge_code_1-field" class="field">
                    <label for="challenge_code_1" class="label" id="challenge_code_1-label">
                        <span>Challenge Code 1</span>
                    </label>
                    <input type="text" id="challenge_code_1" name="challenge_code_1" readonly="true" class="input-text"
                           data-bind="attr: {visible: true}"/>
                </div>
                <div id="challenge_code_2-field" class="field">
                    <label for="challenge_code_2" class="label" id="challenge_code_2-label">
                        <span>Challenge Code 2 : 0000100000</span>
                    </label>
                </div>
                <div id="challenge_code_3-field" class="field">
                    <label for="challenge_code_3" class="label" id="challenge_code_3-label">
                        <span></span>
                    </label>
                </div>
                <br>
                <div id="response_token-field" class="field _required">
                    <label for="response_token" class="label" id="response_token-label">
                        <span>Response Token</span>
                    </label>
                    <input type="text" id="response_token" name="response_token" class="input-text"
                           data-bind="attr: {visible: true}"/>
                </div>
            </fieldset>
        </div>
        <br>
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: dokuToken,
                        attr: {title: $t('Place Order')},
                        css: {disabled: !isPlaceOrderActionAllowed()},
                        enable: (getCode() == isChecked())
                        "
                        disabled>
                    <span data-bind="i18n: 'Pay with Doku'"></span>
                </button>
            </div>
        </div>
    </div>
</div>