<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/** @var \Magento\Wishlist\Block\Customer\Wishlist\Items $block */
$columns = $block->getColumns();
$_left = array("customer.wishlist.item.image");
$_middle = array("customer.wishlist.item.name", "customer.wishlist.item.description");
$_right = array("customer.wishlist.item.inner", "customer.wishlist.item.price");
?>

<div class="products-list wishlist">
    <?php $iterator = 1; ?>
    <?php if (count($block->getItems())): ?>
    <ol class="product-items">
        <?php foreach ($block->getItems() as $item): ?>
        <?php /* @escapeNotVerified */ echo($iterator++ == 1) ? '<li data-row="product-item" class="product-item" id="item_' . $item->getId() . '">' : '</li><li class="product-item" id="item_' . $item->getId() . '">' ?>
            <div class="product-item-info">
                <div class="row">
                    <div class="col-md-2">
                        <?php foreach ($columns as $column): ?>
                            <?php if (in_array($column->getNameInLayout(), $_left)):?>
                                <?php $column->setItem($item); echo $column->toHtml($item);?>
                            <?php endif; ?>
                        <?php endforeach; ?>
                    </div>
                    <div class="col-md-5">
                        <?php foreach ($columns as $column): ?>
                            <?php if (in_array($column->getNameInLayout(), $_middle)):?>
                                <?php $column->setItem($item); echo $column->toHtml($item);?>
                            <?php endif; ?>
                        <?php endforeach; ?>
                    </div>
                    <div class="col-md-5">
                        <?php foreach ($columns as $column): ?>
                            <?php if (in_array($column->getNameInLayout(), $_right)):?>
                                <?php $column->setItem($item); echo $column->toHtml($item);?>
                            <?php endif; ?>
                        <?php endforeach; ?>
                    </div>
                </div>
            </div>
        <?php echo($iterator == count($block->getItems())+1) ? '</li>' : '' ?>
        <?php endforeach; ?>
    </ol>
    <?php else: ?>
        <div class="message info empty">
            <span><?php /* @escapeNotVerified */ echo __('This Wish List has no Items');?></span>
        </div>
    <?php endif; ?>
</div>

<?php foreach ($columns as $column): ?>
    <?php echo $column->getAdditionalHtml();?>
<?php endforeach; ?>
