<?php
/**
 * Copyright © 2015 CommerceExtensions. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<div class="import-export-cmsstaticblocks">
    <?php if (!$block->getIsReadonly()): ?>
    <div class="import-cmsstaticblocks">
        <?php if ($block->getUseContainer()): ?>
        <form id="import-form" action="<?php echo $block->getUrl('cmsstaticblocks/data/importPost') ?>" method="post" enctype="multipart/form-data">
        <?php endif; ?>
            <?php echo $block->getBlockHtml('formkey')?>
            <fieldset class="fieldset">
                <legend class="legend"><span><?php echo __('Import CMS Static Blocks') ?></span></legend>
				<label class="label admin__field-label" for="import_delimiter"><span>Import CSV Delimiter Value</span></label>
				<div class="control">
					<input id="basic_behavior_import_delimiter" name="import_delimiter" value="," title="Import Delimiter" class="basic_behavior input-text admin__control-text" type="text" size="1">
				</div>
				<label class="label admin__field-label" for="import_enclose"><span>Import CSV Enclose Value</span></label>
				<div class="control">
					<input id="basic_behavior_import_enclose" name="import_enclose" value='"' title="Import Enclose" class="basic_behavior input-text admin__control-text" type="text" size="1">
				</div>
            	<div class="admin__field-control control">
                	<input type="file" name="import_rates_file" class="input-file required-entry"/>
				</div>
            	<div class="admin__field-control control">
                <?php echo $block->getButtonHtml('Import CMS Static Blocks', '', 'import-submit') ?>
				</div>
            </fieldset>
        <?php if ($block->getUseContainer()): ?>
        </form>
        <?php endif; ?>
        <script>
require(['jquery', "mage/mage", "loadingPopup"], function(jQuery){

    jQuery('#import-form').mage('form').mage('validation');
    (function ($) {
        $('.import-submit').click(function(){
            if($(':input[name="import_rates_file"]').val()) {
                $('body').loadingPopup({
                    timeout: false
                });

                $(this.form).submit();
            }
        });
    })(jQuery);

});
</script>
    </div>
    <?php endif; ?>
    <div class="export-cmsstaticblocks <?php if ($block->getIsReadonly()): ?>box-left<?php else: ?>box-right<?php endif; ?>">
        <?php if ($block->getUseContainer()): ?>
        <form id="export_form" action="<?php echo $block->getUrl('cmsstaticblocks/data/exportPost') ?>" method="post" enctype="multipart/form-data">
        <?php endif; ?>
            <?php echo $block->getBlockHtml('formkey')?>
            <fieldset class="fieldset">
                <legend class="legend"><span><?php echo __('Export CMS Static Blocks') ?></span></legend>
				<div class="admin__field field field-cmsstaticblocks">
                    <label class="label admin__field-label" for="export_delimiter"><span>Export CSV Delimiter Value</span></label>
					<div class="control">
						<input id="basic_behavior_export_delimiter" name="export_delimiter" value="," title="Export Delimiter" class="basic_behavior input-text admin__control-text" type="text" size="1">
					</div>
                    <label class="label admin__field-label" for="export_delimiter"><span>Export CSV Enclose Value</span></label>
					<div class="control">
						<input id="basic_behavior_export_enclose" name="export_enclose" value='"' title="Export Enaclose" class="basic_behavior input-text admin__control-text" type="text" size="1">
					</div>
					<label class="label admin__field-label" for="export_by_store_id"><span>Export By Store ID</span></label>
					<div class="control">
			     		<input id="export_by_store_id" name="export_by_store_id" value="" title="Export By Store ID" class="basic_behavior input-text admin__control-text" type="text" size="20">
					</div>
					<br/>
					<div class="admin__field field field-cmspages">
						<div class="admin__field-control control">
						<?php echo $block->getButtonHtml('Export CMS Static Blocks', "this.form.submit()") ?>
						 </div>
					</div>
				</div>
            </fieldset>
        <?php if ($block->getUseContainer()): ?>
        </form>
        <?php endif; ?>
    </div>
</div>
