.checkout-cart-index {
	@media screen and (min-width: 768px) and (max-width: 991px) {
		.sidebar {
			.cart-coupon-box {
				.discount {
					.title {
						font-size: 12px;
					}
				}
				input.input-coupon {
					padding-left: 10px;
					padding-right: 10px;
				}
			}
			a.action.primary, button.action.primary, a.action.secondary, button.action.secondary {
				min-width: initial !important;
				font-size: 12px;
			}
			.cart-summary-box {
				.cart-summary > .title {
					font-size: 12px;
				}
				.cart-totals, .totals {
					th, td {
						font-size: 10px !important;
						strong {
							font-size: 10px !important;
						}
					}
				}
			}
		}
		form.form-cart {
			table.cart {
				tbody.item {
					tr.item-info {
						td {
							&.product {
								.product-item-name {
									font-size: 12px;
								}
							}
							&.price, &.subtotal {
								width: 120px;
								span {
									.cart-price {
										.price {
											font-size: 12px !important;
										}
									}
								}
							}
						}
					}
				}
			}
		}
		.table-wrapper.cart .cart.item .action-items {
		    .actions-toolbar {
		    	width: 100%;
				text-align: right;
				top: 0;
				margin-top: 0;
				padding-right: 0;
				padding-bottom: 10px;
			}
		}
	}

	@media screen and (max-width: 767px) {
		h1.page-title {
			margin: 20px auto 40px !important;
			border-bottom: 1px solid @c-black;
			padding-bottom: 20px;
			color: @c-red;
		}
		.item-options, .cart.actions, .continue-shopping {display: none;}
		.sidebar {
			width: 100%;
			margin-top: 20px;
		}
		form.form-cart {
			table.table.product-service-item {
				thead {
					display: inline-block !important;
					width: 25%;
					background-color: transparent;
					border: 0 !important;
					tr {
						display: inline-block;
						th {
							display: inline-block !important;
							font-size: 8px;
							padding: 0;
						    width: 100%;
						    text-align: right;
						    border: 0;
						    height: 18px;
						    line-height: 1;
						}
					}
				}
				tbody {
					display: inline-block !important;
					width: 75%;
					float: right;
					> tr {
						display: inline-block;
						> td {
							font-size: 8px;
							display: inline-block;
							height: 18px;
							border: 0 !important;
							&:first-child {
								padding-top: 0 !important;
								text-align: left;
							}
						}
					}
				}
			}
			table.cart {
				thead {display: none;}
				tbody.item {
					margin-bottom: 20px;
					display: inline-block;
					padding-bottom: 15px;
					border-bottom: 1px solid @c-black !important;
					width: 100%;
					&:last-child {
						border-bottom: 1px solid @c-black !important;
					}
					tr.item-info {
						display: block;
						td {
							display: block;
							position: relative;
							float: unset;
							text-align: left;
							line-height: 1;
							&.item {
								display: inline-table;
								margin-bottom: 10px;
								padding: 0 !important;
								.product-item-photo {
									position: relative;
									top: 0;
									max-width: 200px !important;
									img {
										width: 100%;
									}
								}
							}
							&.product {
								display: inline-table;
								padding: 0 !important;
								float: right;
								.product-item-name {
									font-size: 14px;
									margin-top: 0;
									padding-left: 10px;
								}
							}
							&.price, &.qty, &.subtotal {
								border-top: 1px solid @c-border;
								padding: 2px 0 !important;
								width: 100%;
								> *, &:before {
									display: inline-block;
									font-size: 12px;
									font-weight: 400;
								}
								> * {
									padding-left: 10px;
									widows: 75%;
								}
								&:before {
									padding-bottom: 0;
									width: 25%;
									line-height: 1.5;
									text-align: right;
								}
								.price {
									font-size: unset;
								}
							}
							&.subtotal {
								border-bottom: 1px solid @c-border;
							}
							&.qty {
								.qty {
									.qty.control {
										input.qty {
											width: initial;
											text-align: left;
											margin-top: 0;
											font-size: 12px;
											height: 12px;
											background-color: transparent;
										}
									}
								}
							}
						}
					}
				}
			}
		}
		.table-wrapper.cart .cart.item .action-items {
		    padding-bottom: 0;
		    display: inline-block;
		    padding-top: 15px;
		    width: 100%;
		    > td {
		    	display: inline-block;
		    	width: 100%;
		    }
		    .item-actions {
		    	width: 100%;
		    }
		    .actions-toolbar {
		    	width: 100%;
				text-align: center;
				top: 0;
				margin-top: 0;
				padding-right: 0;
			}
		}
		.table-wrapper.cart .cart .item-info .col.qty > .qty {
			border: 0;
			.increment-qty {display: none;}
		}
	}

	@media screen and (min-width: 420px) and (max-width: 767px) {
		form.form-cart {
			table.cart {
				tbody.item {
					tr.item-info {
						td {
							&.item {
								width: (100%/5);
							}
							&.product {
								width: 100-(100%/5);
								.product-item-details {
									max-width: 100%;
								}
							}
							&.price, &.qty, &.subtotal {
								&:before {
									width: (100%/5);
								}
							}
						}
					}
				}
			}
		}
	}

	@media screen and (max-width: 419px) {
		form.form-cart {
			table.cart {
				tbody.item {
					tr.item-info {
						td {
							&.item {
								width: (100%/4);
							}	
							&.product {
								width: (100%/4)*3;
							}
						}
					}
				}
			}
		}
	}
}