@media screen and (min-width: 768px) {
	// top section catalog content such as banner
	.catalog-category-view {
		.swatch-attribute {
			.swatch-option {
				float: none;
				width: 20px;
				height: 20px;
				display: inline-block;
				min-width: initial;
			}
		}
	}
	.category-view {}
	.breadcrumbs-container {
	    max-width: 1150px;
	    margin: auto;
	    width: 100%;
	}
	.sidebar-main {
		.filter-content {
			.filter-current {
				border: 1px solid @c-border;
				border-bottom: 0;
				.items {
					padding: 15px;
					li {
						.remove {
							span {
								display: none;
							}
						}
					}
				}
			}
			.filter-actions {
				padding: 0 15px 15px;
				border: 1px solid @c-border;
				border-top: 0;
				a {
					color: @c-text-grey;
				}
			}
			.filter-options-title {
				background: @c-grey;
				padding: 10px 15px;
				margin: 0;
				font-size: 14px;
				border: 1px solid @c-border;
			}
			.filter-options-content {
				border: 1px solid @c-border;
				padding: 10px 15px;
				margin: 0;
				ol {
					li.item {
						margin: 0;
						margin-bottom: 3px;
						a {
							color: black;
							position: relative;
							display: block;
							padding-left: 17px;
							input[type="radio"],
							input[type="checkbox"] {
								margin-right: 5px;
								position: absolute;
								left: 0;
							}
							.label {
								font-size: 12px;
								font-weight: 500;
								padding: 0;
								white-space: normal;
							}
						}
					}
				}
			}
		}

		.swatch-attribute {
			&.swatch-layered {
				.swatch-attribute-options {
					.swatch-option {
						margin-right: 5px;
						height: 30px;
						width: 30px;
						padding: 0;
						line-height: 30px;
						vertical-align:  -webkit-baseline-middle;
					}
				}
			}
		}
	}

	.main {
		.page-title-wrapper {
			h1.page-title {
				margin-bottom: 0;
			}
		}
		.toolbar-products {
			padding: 0;
			.sorter {
				padding: 0;
				margin-left: 20px;
				position: relative;
				.sorter-label {
					position: absolute;
					left: 0;
					line-height: 30px;
					padding: 0 7px;
					font-weight: 300;
				}
				.select2 {
					min-width: 170px;
					.select2-selection {
						background: transparent;
						.select2-selection__rendered {
							text-align: right;
						}
					}
				}
			}
			.limiter {
				display: block;
				position: relative;
				.label {
					position: absolute;
					left: 0;
					line-height: 30px;
					padding: 0 7px;
					font-weight: 300;
				}
				.select2 {
					min-width: 120px;
					.select2-selection {
						background: transparent;
						.select2-selection__rendered {
							text-align: right;
						}
					}
				}
			}
		}
		.products {
			&.wrapper ~ .toolbar-products {
				.limiter {
					display: none;
				}
				.pages {
					float: none;
					ul {
						li {
							font-weight: 500;
							margin: 0 5px;
							a {
								&.action {
									margin: 0;
									background: transparent;
									border: 0;
									span {
										overflow: visible;
										clip: auto;
										margin: 0;
										position: relative;
										vertical-align: middle;
										&.label {
											display: none;
										}
									}
								}
								&.next {
									&:before {
										content: '';
									}
									&:after {
										-webkit-font-smoothing: antialiased;
										font-size: 28px;
										line-height: inherit;
										color: #7d7d7d;
										content: '\e608';
										font-family: 'icons-blank-theme';
										margin: 0 0 0 -6px;
										vertical-align: top;
										display: inline-block;
										font-weight: normal;
										overflow: hidden;
										speak: none;
										text-align: center;
									}
								}
							}
						}
					}
				}
			}
			.product {
				text-align: left;
				.swatch-attribute {
					.swatch-option {
						margin: 0 5px;
					}
				}
				.product-reviews-summary {
					margin: auto;
					padding-left: 15px;
				}
				.price-box {
					padding-top: 15px;
					line-height: 1em;
					.price-container {
						.price {
							font-size: 1.2em;
							font-size: 1.7rem;
							font-weight: 500;
						}
					}
				}
				.product-item-name {
					margin-top: 0;
					a {
						font-size: 1.2em;
						font-size: 1.7rem;
						font-weight: bold;
						&:hover {
							text-decoration: none;
						}
					}
				}
				.product-sku {
					color: @c-text-grey;
					margin: 0;
				}
				.product-reviews-summary {
					padding: 0;
				}
				.no-review {
					color: @c-text-grey;
				}
				.product-item-description {
					margin: 0;
					margin-top: 10px;
					font-size: 11px;
					line-height: 1.5em;
					ul,
					ol {
						padding-left: 15px;
						li {
							margin-bottom: .5em;
						}
					}
					ul {
						list-style-type: disc;
					}
				}
			}

			&.products-list {
				.item {
					position: relative;
					display: block;
					padding-left: 250px;
					min-height: 230px;
					margin-bottom: 30px;
					padding-bottom: 30px;
					border-bottom: 1px solid darken(@c-border, 50%);
					.product-list-image {
						position: absolute;
						left: 0;
						top: 0;
						width: 200px;
						height: 200px;
						margin-left: 20px;
						overflow: hidden;
						.product-item-photo {
							padding: 0;
							width: auto;
						}
					}
					.product-item-details {
						position: relative;
						display: block;
						padding-right: 310px;
						.product-item-inner {
							position: absolute;
							right: 0;
							top: 0;
							width: 300px;
							height: 100%;
							min-height: 200px;
							border-left: 1px solid @c-border;
							padding-left: 20px;
							.price-box {
								.price-container {
									display: block;
									margin-bottom: 10px;
								}
								.old-price {
									.price-label {
										display: none;
									}
									.price {
										font-size: 14px;
										font-weight: 300;
									}
								}
								.special-price {
									.price-label {
										display: none;
									}
									.price {
										color: @c-red;
									}
								}
								.minimal-price-link {
									display: block;
									color: @c-text-grey;
									margin-bottom: 10px;
								}
							}
							.product-item-actions {
								position: absolute;
								display: block;
								bottom: 0;
								width: calc(~'100% - 20px');
								.actions-primary {
									position: relative;
									display: block;
									.btn-main {
										display: block;
										text-align: center;
										font-size: 14px;
										padding: 10px 15px;
									}
								}
								.actions-secondary {
									display: block;
									width: 100%;
									padding: 10px 0;
									border-top: 1px solid @c-border;
									margin-top: 10px;
									.action {
										display: inline-block;
										color: black;
										width: 49%;
										text-align: center;
										line-height: 28px;
										vertical-align: middle;
										span {
											border: 0;
										    clip: auto;
										    height: 1px;
										    margin: 0;
										    overflow: visible;
										    padding: 0;
										    position: relative;
										    width: auto;
										}
										&:before {
											color: black;
											font-size: 18px;
											margin-right: 5px;
										}
										&.towishlist {
											&:before {
												content: '\f004';
												font-family: 'FontAwesome';
											}
										}
										&.tocompare {
											&:before {
												content: '\f0ec';
												font-family: 'FontAwesome';
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}

	.page-layout-brand-page {
		.brand-page {
			position: relative;
			.columns, .category-image {
				max-width: 1150px;
				width: 100%;
				margin: 0 auto;
			}
			.columns {
				position: absolute;
				display: inline-block;
				text-align: right;
			}
			.category-cms {
				margin: 50px auto;
			}
			.filter {
				.title, .subtitle, dt, .count {
					display: none;
				}
				.items {
					.item {
						display: inline-block;
						a {
							font-size: 2em;
							line-height: 4em;
							margin-right: 30px;
							line-height: 98px;
						}
					}
				}
			}
		}
	}

	.seo-section {
		.category-description {
			h2 {
				font-size: 12px;
			}
			p {
				line-height: 1.5em;
			}
		}
	}
}

.product-item-name {
	font-size: 1.4em;
}

#returForm {
	ul {
		&.form-list {
			padding-left: 0;
		}
		li {
			list-style-type: none;
		}
	}
	label {
		display: none;
	}
	.input-wrap {
		margin-bottom: 20px;
	}
}

.wrp-thankspage {
	text-align: center;
	a {
		line-height: 43px;
		&:hover {
			color: @c-white;
		}
	}
}

.table-comparison {
	.cell {
		width: auto;
		&.product {
			&.info, &.label {
				position: relative;
			}
		}
	}
	.product-item-photo {
		text-align: center;
	}
	.product-item-actions {
		text-align: center;
	}
	.price-box {
		text-align: center;
	}
	.product.rating {
		text-align: center;
	}
	.product-item-name {
		text-align: center;
	}
	.product-reviews-summary {
		margin: 0 auto;
	}
	.secondary-addto-links {
		position: absolute;
		right: 15px;
		top: 15px;
	}
	.product-item-actions {
		.actions-primary {
			display: block;
		}
	}
}

.comparison {
	padding: 5px;
	table {
		&.table-comparison {
			tbody {
				tr {
					td {
						background: none;
						border: @c-border solid 1px !important;
					}
				}
			}
			th,td {
				&.label {
					&.product {
						opacity: 0;
						visibility: hidden;
					}
					&.remove {
						opacity: 0;
						visibility: hidden;
					}
				}
			}
			.cell.label {
				.attribute.label {
					text-align: left;
				}
			}
		}
	}
}

/* Mobile device */
@media (max-width: 767px) {
	.sidebar {
		.block {
			&.filter {
				text-align: center;
			}
			.swatch-option {
				float: none;
				display: inline-block;
				margin: 0 5px;
			}
			a {
				&.remove {
					float: left;
					width: 100%;
					&:before {
						top: 0;
					}
				}
			}
		}
		.filter-current {
			.item {
				display: block;
				text-align: center;
			}
		}
	}
	.page-products {
		.swatch-option {
			float: none;
			display: inline-block;
			margin: 0 5px;
		}
		.product-reviews-summary {
			margin: 5px auto;
		}
	}
	.old-price {
		display: block;
	}
	table {
		.table-comparison {
			thead {
				tr {
					td {
						&:first-child {
							display: none;
						}
					}
				}
			}
			tbody {
				tr {
					th,td {
						&:first-child {
							display: none;
						}
					}
				}
			}
		}
	}
}

/* Tablet device */
@media (min-width: 768px) and (max-width: 991px) {
	.page-layout-2columns-left {
		.columns {
			.sidebar-main {
				width: 100%;
			}
			.column {
				&.main {
				width: 100%;
				}
			}
		}
	}
	.sidebar {
		.block {
			&.filter {
				text-align: center;
			}
			.swatch-option {
				float: none;
				display: inline-block;
				margin: 0 5px;
			}
			a {
				&.remove {
					float: left;
					width: 100%;
					&:before {
						top: 0;
					}
				}
			}
		}
		.filter-current {
			.item {
				display: block;
				text-align: center;
			}
		}
	}
	.page-products {
		.swatch-option {
			float: none;
			display: inline-block;
			margin: 0 5px;
		}
		.product-reviews-summary {
			margin: 5px auto;
		}
	}
	.filter-options {
		max-width: 400px;
		margin: 0 auto;
	}
}

/* Desktop small screen */
@media (min-width: 992px) {
}

/* Desktop large screen */
@media (min-width: 1200px) {
}

@media screen and (max-width: 991px) {
	.page-layout-brand-page {
		.block {
			&.filter {
				display: none;
			}
		}
		.category-image {
			width: 100%;
			display: inline-block;
			> img {
				text-align: center;
				margin: 0 auto;
			}
		}
	}
}
