.checkout-index-index {
	// From _checkout.less
	@media screen and (max-width: 991px) {
		.showcartitems, .header-user {
			display: none;
		}
		.header.content {
			.logo {
				float: left;
			    margin-left: 0;
			    width: 100%;
			    display: inline-block;
			    img {
			    	position: relative;
    				margin: 10px auto 0;
			    }
			}
		}
		.minicart-wrapper {
			.action.showcart {
				border: 0;
				background: transparent;
				.counter.qty {
					background-color: @c-red;
					border-radius: 100px;
				    width: 50px;
				    line-height: 2.4;
				}
			}
		}
	}

	@media screen and (max-width: 425px) {
		.modal-popup.modal-slide {
			.modal-inner-wrap {
				.modal-header {
				}
				.modal-content {
					padding-left: 15px;
					padding-right: 15px;
				}
			}
		}
		.checkout-payment-method {
			margin-top: -10px !important;
			.payment-methods, .payment-method {
				margin-left: 0;
				margin-right: 0;
				padding: 0;
				.payment-method-title {
					padding-left: 0;
				}
				.payment-method-content > p {
					padding-left: 20px;
				}
				.payment-group {
					.actions-toolbar {
						right: initial;
						width: 100%;
						.primary {
							width: 100%;
						}
					}
				}
			}
		}
		.discount-code {
			margin-top: 100px;
		}
		.opc-estimated-wrapper {
			padding-left: 0;
			padding-right: 0;
			.estimated-block {
				line-height: 1;
				padding-top: 15px;
				.estimated-label {
					font-size: 14px;
				}
				.estimated-price {
					color: @c-red;
				}
			}
		}
		.opc-wrapper {
			.step-content {
				margin-bottom: 0;
				button.action-show-popup {
					width: 100%;
				}
			}
		}
		.opc-sidebar {
			.modal-inner-wrap {
				.modal-header {
					.action-close {
						z-index: 9;
						margin: 0;
					}
				}
			}
		}
		#checkout-shipping-method-load {
			.table-checkout-shipping-method {
				.col-method {
					padding-left: 0;
					line-height: 2;
				}
			}
		}
		.shipping-address-items {
			.shipping-address-item {
				line-height: 1.2;
				font-size: 12px;
			}
		}
		._keyfocus *:focus, input:not([disabled]):focus, textarea:not([disabled]):focus, select:not([disabled]):focus {
			box-shadow: 0 !important;
		}
		.checkout-shipping-method {
			.edit-cart-from-checkout {
				top: 7px;
			}
		}
		.actions-toolbar {
			margin-top: 0;
		}
		.notification {
			.block-notification {
				line-height: 1.4;
				padding-top: 10px;
				padding-bottom: 1px;
				margin-bottom: 10px;
			}
		}
		.additional-shipping {
			.additional-shipping-details {
				.additional-items {
					label {
						span {
							display: none;
						}
					}
				}
			}
		}
		.shipping-method-items {
			.item {
				padding: 0;
				.product {
					margin-bottom: 0;
					min-height: 155px;
					.product-image {
						padding-top: 5px;
					}
					.product-details {
						padding-left: 5px;
						.product-name {
							font-size: 14px;
							line-height: 1.2;
							padding-bottom: 10px;
						}
						.estimation-time > label {
							font-size: 10px;
						}
					}
				}
			}
		}
		.page-footer {
			.page-footer-bottom {
				border-top: 0;
				.footer-copy {
					.powered {
						text-align: center;
					}
					.row > div {
						padding-bottom: 0;
						max-height: 32px;
						line-height: 32px;
					}
				}
			}
		}
	}
	// end of from _checkout.less



	@media screen and (min-width: 768px) and (max-width: 991px) {}
	@media screen and (max-width: 767px) {
		._keyfocus *:focus, input:not([disabled]):focus, textarea:not([disabled]):focus, select:not([disabled]):focus {
			box-shadow: none !important;
		}
		input[type="text"], input[type="password"], input[type="url"], input[type="tel"], input[type="search"], input[type="number"], input[type="datetime"], input[type="email"] {
			padding: 5px 10px;
		}
		header.page-header {
			.logo {
				margin: 10px auto;
				img {
					margin: 5px auto 0;
				}
			}
		}
		.nav-toggle {display: none !important;}
		 .fieldset .field[name="shippingAddress.firstname"],  .fieldset .field[name="shippingAddress.lastname"],  .fieldset .field[name="shippingAddress.postcode"],  .fieldset .field[name="shippingAddress.city"],  .fieldset .field[name="shippingAddress.region_id"],  .fieldset .field[name="shippingAddress.country_id"] {
			width: 100%;
		}
		 .fieldset .field[name="shippingAddress.postcode"],  .fieldset .field[name="shippingAddress.lastname"],  .fieldset .field[name="shippingAddress.region_id"] {
		 	margin-left: 0;
		 }
		 select {
		 	border: 1px solid @c-border;
		 }
		 .modal-popup.modal-slide {
		 	.modal-inner-wrap {
		 		background-color: @c-white;
		 	}
		 }
		 .modal-popup {
		 	.modal-inner-wrap {
		 		.modal-content {
		 			label.label, legend.label {
		 				font-weight: 400;
		 				font-size: 12px;
		 				padding-left: 0;
		 			}
		 			select, input[type="text"], input[type="password"], input[type="url"], input[type="tel"], input[type="search"], input[type="number"], input[type="datetime"], input[type="email"] {
		 				padding: 5px 10px;
		 				font-size: 12px;
		 			}
		 		}
		 		.modal-footer {
		 			padding: 0 15px;
		 			button.action {
		 				width: 100%;
		 				margin-bottom: 15px;
		 			}
		 		}
		 	}
		}
		.pull-right, .pull-left {
			float: none !important;
			padding: 0 15px !important;
		}
		.checkout-container {
			.shipping-options {
				.col-method {
					margin-bottom: 15px;
				}
			}
		}
		.checkout-payment-method {
			.payment-method {
				.payment-method-title {
					input[type="radio"] {
						top: 6px;
					}
				}
				.payment-method-content {
					fieldset.fieldset {
						margin: 0 0 10px 20px !important;
						label.label {
							padding-left: 0;
						}
					}
				}
			}
		}
	}
	@media screen and (min-width: 420px) and (max-width: 767px) {
		.opc-sidebar {
			.modal-inner-wrap {
				.modal-header {
					.action-close {
						z-index: 9;
						margin: 0;
					}
				}
			}
		}
	}
	@media screen and (max-width: 419px) {}
}