.comparison {
	table.table-comparison {
		tbody {
			td.product {
				.price-box {
					.old-price {}
					.special-price {
						color: #ed1b24;
					    display: inline-block;
					    margin-left: 10px;
					    .price {
				    	    font-size: 1.8rem;
    						font-weight: 700;
					    }
					}
				}
			}
		}
	}
	.product-item-photo {
		.label-sale {
			position: absolute;
			left: 0;
			top: 0;
			margin: 10px 0 0 0;
			background: @c-red;
			padding: 5px 7px;
			span {
				color: white;
			}
		}
	}
	button.action.primary {
		width: 100%;
		min-width: initial;
		max-width: 220px;
	}
}