// Merchant Dashboard

.merchant-account-login {
	.column main {
		padding-top: 80px;
		padding-bottom: 80px;
	}
	.page-title {
		text-align: center;
		margin-top: 30px;
	}
	.block-merchant-login {
		background: @c-grey;
		padding: 50px 30px;
		max-width: 600px;
		margin: 20px auto;
	}
}

.appointment-title {
	margin: 30px 0;
	padding-bottom: 6px;
	border-bottom: 2px solid @c-grey;
	span {
		display: inline-block;
		background: @c-grey-light;
		border: 1px solid @c-grey;
		font-weight: normal;
		font-size: 14px;
		color: @c-grey-dark;
		padding: 7px 15px;
		top: -4px;
		position: relative;
	}
}

.appointment-info-title {
	h4 {
		margin: 15px 0;
		padding-bottom: 6px;
		border-bottom: 1px solid @c-grey;
	}
}

.merchant-myappointment-index {
	.myappointment-search {
		margin-bottom: 30px;
		button.action.primary {
			display: inline-block;
			border-radius: 0 5px 5px 0;
			vertical-align: bottom;
			margin-left: -5px;
			min-width: 150px;
			font-size: 12px;
			height: 36px;
			span {
				font-weight: 500 !important;
			}
		}
		input {
			border-radius: 5px 0 0 5px;
		}
	}
	.tabledashboard {
		thead th {
			padding: 10px 20px;
			font-weight: 500;
		}
		tbody td {
			padding: 8px 20px;
			border-bottom: 1px solid @c-grey;
		}
	}
}

.product-appointment {
	.product.name a {
		font-weight: 500;
	}
	.price {
		color: @c-red;
	}
}

.label-appointment {
	background: @c-red;
	border-radius: 3px 0 0 3px;
	color: @c-white;
	font-weight: 500;
	display: inline-block;
	height: 26px;
	line-height: 26px;
	padding: 0 20px 0 23px;
	position: relative;
	margin: 0 10px 10px 0;
	text-decoration: none;
	-webkit-transition: color 0.2s;
	&:before {
		background: @c-white;
		border-radius: 10px;
		box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
		content: '';
		height: 6px;
		left: 10px;
		position: absolute;
		width: 6px;
		top: 10px;
	}
	&:after {
		background: @c-white;
		border-bottom: 13px solid transparent;
		border-left: 10px solid @c-red;
		border-top: 13px solid transparent;
		content: '';
		position: absolute;
		right: 0;
		top: 0;
	}
}

.merchant-myappointment-detail {
	.appointment-detail {
		margin-bottom: 30px;
		margin-top: 30px;
		.label {
			display: block;
			padding-left: 0;
			font-weight: normal;
			text-align: left;
			color: @c-grey-dark;
		}
	}
	.validate-voucher {
		margin-bottom: 30px;
		input {
			border-radius: 5px 0 0 5px;
		}
		button {
			display: inline-block;
			border-radius: 0 5px 5px 0;
			vertical-align: bottom;
			margin-left: -5px;
			min-width: 150px;
			font-size: 12px;
			height: 36px;
		}
		p {
			font-weight: 500;
		}
	}
}

.tabledashboard {
	margin-bottom: 50px;
	table {

	}
	thead {
		background: @c-red;
		color: @c-white ;
		th {
			padding: 10px 20px;
			font-weight: 500;
		}
		tr {
			&:hover {
				background: @c-red;
			}
		}
	}
	tr {
		.animatecss;
		&:hover {
			background: @c-grey-light;		
			.animatecss;	
		}		
		&:nth-child(even) {
			td {
				background: @c-grey;
			}
		}
	}
	tbody {
		tr {
			td {
				padding: 8px 20px;
				border-bottom: 1px solid @c-grey;
			}
		}
	}
}

.wrp-topaction {
	display: block;
	overflow: hidden;
	margin-bottom: 20px;
}
.addholiday {
	float: right;
}


.wrp-qtyslot {
	.qty-slot {
		display: inline-block;
		background: @c-grey;
		text-align: center;
		width: auto;
		padding: 7px 10px;
		vertical-align: top;
		cursor: pointer;
	}
	input[type="text"] {
		display: inline-block;
		width: 80px;
		text-align: center;
		margin-left: -1px;
		margin-right: -1px;
	}
}

.wrp-menudashboard {
	margin-top: 30px;
	position: relative;
	.account-nav {
		.content {
			padding: 0;
			background: none;
		}
		&.item {
			strong,a {
				padding: 12px 15px;
				.animatecss;
				&:hover {
					.animatecss;
					background: @c-red;										
				}
			}
		}
		li {
			margin: 3px 0;
			background: @c-grey;
			.animatecss;
			&:hover {
				color: @c-white;
				.animatecss;
				strong,a {
					padding-left: 20px;
					.animatecss;
					background: @c-red;		
					color: @c-white;			
				}
			}
		}				
	}
	@media (max-width: 767px) {
		.account-nav {
			width: 100%;
			background: @c-grey;
		}
	}
}

.menudashboard {
	position: relative;
	padding: 10px;
	border:@c-red solid 1px;
	color: @c-white;
	width: 100%;
	display: block;
	color: @c-red;
	margin-bottom: 10px;
	&.active {
		background: "";
	}
	span {

	}
}

.wrp-accountinfo {
	margin-top: 30px;
	.iteminfo {
		position: relative;
		padding-left: 160px;
		min-height: 30px;
		margin-bottom: 5px;
		label {
			position: absolute;
			left: 0;
			top: 3px;
		}
		.info-account {

		}
	}
}

.merchant-account-information {
	.page-title {
	}
}

.voucher-status {
	i {
		border-radius: 100%;
		margin: 10px;
		color: @c-white;
		width: 20px;
		height: 20px;
		line-height: 20px;
		text-align: center;
	}
	.fa-times {
		background: @c-red;
	}
	.fa-check {
		background: #41bd00;
	}
}

@media (max-width: 767px) {
	.merchant-account-information {
		.page-title {
			padding: 0 20px;
		}
	}
	.wrp-accountinfo {
		padding: 0 20px;
		margin-top: 0;
		.iteminfo {
			padding-left: 140px;
		}
	}
}

//responsive
@media only screen and ( max-width: @screen-sm-max ) {
    body{
		.wrp-menudashboard {
			margin: 0;
			.menudashboard {
				text-transform: uppercase;
				background: @c-red;
				font-weight: 700;
				font-size: 12px;
				padding: 10px 15px;
				color: @c-white;
				margin: 0;
				&:hover span {
					color: @c-white;
				}
				&:after {
				    content: '\f0d7';
				    font-family: 'FontAwesome';
				    position: absolute;
				    font-size: 19px;
				    right: 20px;
				    top: 3px;
				}

			}
			nav.account-nav {
				background: @c-grey-light;
				padding: 10px 0 0;
				.nav.item {
					background: @c-grey-light;
					border-bottom: 1px solid @c-grey;
					strong {
						border-width: 0;
						padding: 5px 18px 10px;
					}
					a {
						padding: 5px 18px 10px;
					}
				}
			}
			.block.account-nav {
				display: none;
			}
    	}
    	&.merchant-account-login {
			.page-title {
				font-size: 20px;
			} 
    	}
    	&.merchant-myappointment-index {
    		.myappointment-search {
    			input {
    				width: 100% !important;
    			}
    			.primary {
    				position: relative;
    				button {
    					position: absolute;
    					bottom: 0;
    					right: 0;
    				}
    			}
    		}
    		.appointment-title {
				margin: 10px 0 20px;
				font-size: 18px;
			}
    	}
    	&.merchant-holiday-index {
    		.btn-main {
    			color: #fff;
    		}
    	}
    	&.merchant-account-information {
    		.wrp-accountinfo .iteminfo {
    			position: relative;
    			padding-bottom: 40px;
    			.btn.primary{
    				position: absolute;
					bottom: -5px;
					width: 100%;
					right: 0;
    			}
    		}
    		button.action.primary {
    			width: 100%;
    		}
    		.appointment-title {
    			font-size: 18px;
    		}
    	}
        .tabledashboard {
			overflow-x: scroll;
		}  
    }
}
