header.page-header {
	.panel.wrapper {
		border-bottom-width: 0px;
	}
	.panel.header {
		background: transparent;
	}
	.header.content {
		background: @c-grey-light;
	}
}

.header-megamenu {
	min-height: 41px;
	background: @c-white !important;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	strong.logo {
		display: none;
	}
	.other-site {
		display: none;
	}
	&.nav-sections {
		margin-bottom: 0;
	}
	.navigation {
		background: @c-white;
	}
	.searchsparepart-link {
		display: inline-block;
		padding: 10px 15px;
		vertical-align: top;
	}
	.bulkaddcart-link {
		position: absolute;
		font-weight: normal;
		right: 15px;
		top: 0;
	}
	.hanging-logo {
		float: left;
		display: table;
		img {
			max-width: unset;
			max-height: 100%;
			height: 30px;
			width: 0;
			margin-top: 6px;
			margin-right: 10px;
		}
	}
	.menu > ul > li a {
		padding: 10px 15px;
		font-weight: 500;
		text-transform: uppercase;
		color: black;
		span:hover {
			background: transparent;
		}
	}
	.menu > ul > li > ul {
		padding: 5px 15px;
		z-index: 999999;
		&:not(.normal-sub){
			padding: 5px 15px 30px;
			> li {
				width: 20%;
				> a {
					padding: 5px 10px;
				}
			}
		}
		> li > ul > li {
			a {
				padding: 0 10px;
				font-weight: 100;
				line-height: 16px;
				text-transform: capitalize;
				letter-spacing: .5px;
			}
		}
	}
	.menu > ul > li > ul > li > ul > li {
		padding: 0;
	}
}

body {
	#om {
		> ul {
			> li {
				&:hover {
					> ul {
						display:block;
					}
				}
			}
		}
	}
	&.sticky-header {
		padding-top: 40px;
		.header-megamenu{
			z-index: 33;
			position: fixed;
			right: 0;
			left: 0;
			top: 0;
			.hanging-logo img{
				width: auto;
			}
		}
	}
	.breadcrumbs {
		padding: 0 15px;
	}
}

@media screen and (max-width: 991px) {
	body {
		.header-megamenu{

			.hanging-logo {
				display: none;
			}
			.bulkaddcart-link {
				position: relative;
				margin-top: 15px !important;
				float: right;
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.megamenu {
		position: relative;
		z-index: 999;
		.navigation {
			max-width: @max-width;
			> ul {
				background: @c-white;
			}
			.showall-wrapper {
				display: inline-block;
				position: relative;
				background: #ddd;
			}
		}
		&-level0,
		&-level1,
		&-level2 {
			position: relative;
			display: inline-block;
			a {
				padding: 10px 15px;
				font-size: 12px;
			}
			> .submenu {
				display: none;
				position: absolute;
				min-width: 180px;
				top: 100%;
				margin-top: 0;
				box-shadow: none;
				border-left: 0;
				border-right: 0;
				left: 0;
				background: @c-grey-light;
				> li {
					display: inline-block;
					margin-bottom: 0;
					> a {
						position: relative;
						color: @c-black;
						&:after {
							content: '\f107';
							font-family: 'FontAwesome';
							display: inline-block;
						    position: absolute;
						    bottom: -10px;
						    left: 46%;
						    font-size: 10px;
						}
						&:hover {
							background: transparent;
							&:after {
								content: '\f106';
							}
						}
					}

				}
			}
			&:hover {
				> .submenu {
					display: block !important;
				}
			}
		}
		&-level0 {
			a {
				padding: 10px 15px;
			}
			&:hover > a{
				box-shadow: 0px 3px 0px @c-red;
			}
		}
		&-level1,
		&-level2 {
			display: block;
			> .submenu {
				left: 90%;
			}
			&:hover {
				background: @c-white;
				> .submenu {
					top: 0;
				}
				.all-child a{
				    height: 40px;
					display: block;
				    padding: 0 15px;
				}
			}
		}
	}
}
