.catalog-product-view {
    .page-main {
        .product-info-main {
            padding-top: 80px;
            &.fixed {
                position: sticky;
                top: 0;
            }
            .page-title-wrapper {
                .page-title {
                    line-height: 1.2em;
                }
            }
            .product-info-price {
                .price-rating-container {
                    .price-rating-share-container {
                        .product-reviews-summary {
                            display: inline-block;
                        }
                        .action.mailto.friend {
                            float: right;
                            margin: 10px 0;
                        }
                    }
                    .price-box {
                        .price-label {
                            display: none;
                        }
                        .old-price {
                            .price {
                                font-size: 1.3em;
                                font-weight: 300;
                            }
                        }
                        .special-price {
                            color: @c-red;
                            display: inline-block;
                            margin-left: 10px;
                        }
                    }
                }
            }
            .prices-tier {
                .benefit {
                    color: @c-red;
                }
            }
            .product-add-form {
                .box-tocart {
                    .qty {
                        .control {
                            position: relative;
                            width: 100px;
                            .increment-qty {
                                position: absolute;
                                z-index: 1;
                                top: 0;
                                background: @c-border;
                                height: 32px;
                                width: 30px;
                                text-align: center;
                                line-height: 32px;
                                border: 1px solid #c2c2c2;
                                cursor: pointer;
                                &.left {
                                    left: 0;
                                }
                                &.right {
                                    right: 0;
                                }
                            }
                            input.qty {
                                padding: 0 30px;
                                text-align: center;
                                width: 100%;
                                height: 32px;
                            }
                        }
                    }
                    .actions {
                        padding: 0;
                        .tocart {
                            display: none;
                        }
                    }
                }
                .bundle-options-wrapper {
                    background: @c-grey-light;
                    padding: 15px;
                    .product-options-wrapper {
                        .fieldset {
                            margin: 0;
                            .option {
                                .label {
                                    font-size: 14px;
                                    font-weight: 300;
                                }
                                .control {
                                    select,
                                    .bundle-option-select {
                                        width: auto;
                                    }
                                    .nested {
                                        display: inline-block;
                                        .qty {
                                            .control {
                                                display: inline-block;
                                                input {
                                                    width: 50px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .appointment-book {
                    .appointment-book-qty {
                        margin-bottom: 30px;
                        ul {
                            list-style: none;
                            margin: 0;
                            padding: 0;
                            &.appointment-tab {
                                border-top: 1px solid black;
                                li {
                                    float: left;
                                    width: calc(100%/2);
                                    margin: 0;
                                    background: @c-grey;
                                    border-bottom: 1px solid black;
                                    &.active {
                                        background: white;
                                        border-bottom: 1px solid white;
                                        label {
                                            &:before {
                                                opacity: 1;
                                                color: blue;
                                            }
                                        }
                                    }
                                    &:first-child {
                                        border-right: 1px solid black;
                                        width: calc(~'100%/2 - 1px');
                                    }
                                    label {
                                        display: block;
                                        padding: 5px 10px;
                                        margin: 0;
                                        font-weight: 300;
                                        cursor: pointer;
                                        input[type=checkbox] {
                                            display: none;
                                        }
                                        &:before {
                                            content: '\f00c';
                                            font-family: 'FontAwesome';
                                            margin-right: 5px;
                                            opacity: .2;
                                        }
                                    }
                                }
                                &:before {
                                    content: '';
                                    clear: both;
                                }
                            }
                            &.appointment-form {
                                .select2-selection {
                                    border: 0;
                                    border-bottom: 1px solid @c-border;
                                }
                                li {
                                    margin-bottom: 0;
                                    &.appointment-timeslot {
                                        input[type=date] {
                                            width: 50%;
                                            display: block;
                                            float: left;
                                            border: 0;
                                            border-bottom: 1px solid @c-border;
                                            border-right: 1px solid @c-border;
                                            padding: 2px 5px;
                                        }
                                        select {
                                            float: left;
                                            display: block;
                                            width: 50%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .product-social-links {
                padding: 15px 0;
                border-top: 1px solid @c-border;
                .product-addto-links {
                    margin: 0;
                    .action {
                        background: transparent;
                        border: 0;
                        &:before {
                            margin-right: 5px;
                        }
                        &.towishlist {
                            &:before {
                                content: '\f004';
                                font-family: 'FontAwesome';
                            }
                        }
                        &.tocompare {
                            &:before {
                                content: '\f0ec';
                                font-family: 'FontAwesome';
                            }
                        }
                    }
                }
            }
        }
        .main {
            .product {
                &.media {
                    position: relative;
                }
                &.info {
                    &.detailed {
                        .title {
                            border-bottom: 1px solid @c-border;
                            margin: 20px 0;
                            a {
                                background: black;
                                display: inline-block;
                                padding: 10px 10px 10px 20px;
                                color: white;
                                font-size: 18px;
                                text-transform: uppercase;
                                position: relative;
                                &:after {
                                    content: '';
                                    width: 0;
                                	height: 0;
                                	border-bottom: 41px solid black;
                                	border-right: 30px solid transparent;
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    margin-right: -30px;
                                }
                            }
                        }
                        .description {
                            padding: 10px;
                        }
                        .review-items {
                            .review-item {
                                .review-details {
                                    margin-left: 110px;
                                    .review-title {
                                        margin-bottom: 10px;
                                        margin-top: 5px;
                                        font-size: 1.5em;
                                        font-weight: 500;
                                    }
                                    .review-content {
                                        line-height: 1.5em;
                                    }
                                    .review-date {
                                        color: @c-text-grey;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .related {
                .title {
                    text-align: center;
                    text-transform: uppercase;
                    strong {
                        font-weight: 500;
                        display: block;
                        margin: 0;
                    }
                    &:after {
                        content: '';
                        border-bottom: 1px solid black;
                        width: 100px;
                        display: inline-block;
                    }
                }
                .content {
                    .product-items {
                        .product-item {
                            width: calc(~'100%/3 - 15px');
                            margin-right: 15px;
                            .product-item-info {
                                width: 100%;
                                .product-item-photo {
                                    display: block;
                                }
                                .product-item-details {
                                    .product-item-name {
                                        a {
                                            font-weight: 300;
                                            font-size: 14px;
                                        }
                                    }
                                    .product-reviews-summary {
                                        margin: 0;
                                        .reviews-actions {
                                            display: none;
                                        }
                                    }
                                    .price-box {
                                        margin: 0;
                                        .price {
                                            font-size: 1em;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:@screen-sm-max) {
    .catalog-product-view {
        .page-main {
            .columns {
                .main {
                    .product-info-main {
                        .product-add-form {
                            .box-tocart {
                                .qty,
                                .actions {
                                    display: inline-block;
                                    vertical-align: top;
                                }
                            }
                        }
                    }
                    .product {
                        &.info {
                            &.detailed {
                                width: 100%;
                                .title {
                                    a {
                                        padding: 11px 10px 11px 20px;
                                    }
                                }
                                .review-list {
                                    .review-items {
                                        .review-item {
                                            .review-details {
                                                margin-left: 0;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
