body {
	.autoplay-carousel,
	.autoplay-hero {
		display: none;
		&.slick-slider {
			display: block;
		}
	}
	.widget-title {
		margin-bottom: 30px;
		.has-underline {
			position: relative;
			&:after {
				content: '';
				position: relative;
				display: table;
				margin: 10px auto;
				background: @c-grey;
				width: 100px;
				height: 3px
			}
		}
	}
	.box-widget{
		position: relative;
		height: 100%;
		padding: 15px 30px;
		.action.submit {
			position: absolute;
			bottom: 0;
		}
	}
	.box-trophy {
		padding: 15px;
		background: @c-grey-light;
		border:1px solid @c-border;
		i {
			color: #fff;
			background: @c-red;
			border-radius: 100%;
			margin-bottom: 15px;
			line-height: 60px;
			font-size: 24px;
			height: 60px;
			width: 60px;
		}
	}
	.box-testimony {
		&-images {
			margin-bottom: 20px;
		}
	}
	.has-product-box .product-item {
		background: @c-grey-light;
		border: 1px solid @c-grey;
		padding-bottom: 15px !important;
		text-align: center;
	}
	.widget-populer,
	.widget-emergency {
		.primary {
			font-weight: normal;
			text-align: center;
			line-height: 30px;
			font-size: 12px;
		}
	}
	.widget-populer {
		.product-item {
			padding: 0 !important;
		}
	}
	.widget-gellery {
		.product-item {
			padding: 0 !important;
		}
	}
	.widget-populer {
		.product-item {
			margin: 5px;
			.row {
				display: flex;
			}
		}
		.row-small > div {
			margin-bottom: 10px;
		}
		.flex-row {
			display: flex;
			.submit {
				position: absolute;
				left: 30px;
				bottom: 20px;
			}
			.price {
				color: @c-red;
				font-size: 18px;
				font-weight: 500;
				margin-bottom: 30px;
				text-align: left;
			}
			.has-underline {
				position: relative;
				&:after {
					content: '';
					position: relative;
					display: table;
					margin: 10px 0;
					background: @c-grey;
					width: 100px;
					height: 3px;
				}
			}
			img {
				margin: 0 10px;
				&.shift-left {
					margin-left: -10px;
				}
			}
			ul {
				padding-left: 20px;
				text-align: left;
			}
		}
	}
	.widget-product-service {
		.box-grey {
			background: @c-grey-light;
			&.product-item {
				padding: 5px;
				text-align: center;
				.price {
					color: @c-red;
					font-size: 18px;
					font-weight: 500
				}
				.product-name {
					margin-top: 20px;
				}
			}
			&:hover {
				.box-action {
					.submit {
						display: block;
						margin-top: 30px;
					}
					p {
						display: none;
					}
				}
			}
		}
		.box-action {
			min-height: 100px;
			padding: 10px;
			.submit {
				display: none;
				font-weight: normal;
			    text-align: center;
			    line-height: 30px;
			    font-size: 12px;
			}
		}
	}

	.widget-gallery {
		&.has-grey-img{
			background: #ffffff; 
			background: -moz-linear-gradient(top, #ffffff 33%, #fafafa 100%); 
			background: -webkit-linear-gradient(top, #ffffff 33%,#fafafa 100%);
			background: linear-gradient(to bottom, #ffffff 33%,#fafafa 100%); 
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fafafa',GradientType=0 );
			.banner-block {
				margin-bottom: 60px;
			}
		}
		&.has-red-img{
			background: #2e0604 url('/media/wysiwyg/Astra-home/ps22.jpg') no-repeat center center;
			background-size: 100%;
			.has-underline {
				text-transform: uppercase;
				margin: 40px auto 10px;
				color: @c-grey-light;
			}
			.product-block {
				background: @c-grey-light;
				margin-bottom: 40px;
				padding: 20px;
				.primary {
				    font-weight: normal;
				    text-align: center;
				    line-height: 30px;
				    font-size: 12px;
				}
			}
		}
	}

	.columns > .column.main {
		padding-bottom: 0;
	}
}