.checkout-onepage-success {
	.label-xs {display: none;}
	@media screen and (min-width: 1024px) {
		table.order-items {
			thead {
				tr {
					th {
						&:nth-child(1) {
							width: 12%;
						}
						&:nth-child(2) {
							width: 50%;
						}
						&:nth-child(4) {
							width: 5%;
						}
					}
				}
			}
		}
	}
	@media screen and (min-width: 768px) and (max-width: 991px) {}
	@media screen and (max-width: 767px) {
		.nav-toggle, .header-user {display: none !important;}
		.checkout-success {
			.success-section {
				padding: 0;
			}
		}
		.total-order-details {
			.actions-toolbar-success {
				.action {
					width: 100%;
					margin: 0 auto;
					max-width: 320px;
					overflow: hidden;
					float: none !important;
				}
			}
		}
		.page-footer {
			.page-footer-bottom {
				.footer-copy {
					> .content {
						padding: 10px 0;
					}
					.row {
						margin: 0 !important;
						> div {
						    line-height: 1;
						    padding: 3px 0;
						    font-size: 10px;
						    text-align: center;
						}
					}
					.powered {
						text-align: center;
					}
				}
			}
		}
	}
	@media screen and (min-width: 420px) and (max-width: 767px) {
		.checkout-success {
			.success-section {
				.success-section-content {
					.order-details {
						table.order-items {
							thead {
								tr {
									th {
										&:nth-child(4) {
											width: 10%;
											text-align: center;
										}
										&:nth-child(3), &:nth-child(5) {
											width: 20%;
											text-align: center;
										}
									}
								}
							}
							tbody {
								tr {
									td {
										padding: 5px;
										&:nth-child(3), &:nth-child(4), &:nth-child(5) {
											text-align: center;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
	@media screen and (max-width: 419px) {
		.label-xs {
			display: block;
			font-weight: 600;
		}
		.checkout-success {
			.success-section {
				.success-section-content {
					.order-details {
						table.order-items {
							display: inline-block;
							thead {display: none;}
							tbody {
								display: inline-block;
								tr.data-item {
									display: inline-block;
									padding-top: 10px;
									padding-bottom: 10px;
									border: 0 !important;
									td {
										display: inline-block;
										padding: 5px;
										&:nth-child(1), &:nth-child(2) {
											display: inline-block;
										}
										&:nth-child(1) {
											width: 100%/4;
										}
										&:nth-child(2) {
											width: 100% - (100%/4);
											float: right;
										}
										&.table-number {
											margin-top: 10px;
											width: 100%/3;
											float: right;
											text-align: center;
											border-top: 1px solid @c-border;
											border-bottom: 1px solid @c-border;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}