<?php /* @var $block \Acommerce\Doku\Block\Adminhtml\Sales\Order\View */?>
<br>
<?php if (isset($block->getOrderData()['channel_name']) && isset($block->getOrderData()['channel_id']) ):?>
<?php echo __('Using <span><b>%1 (%2)</b></span> as payment channel', [$block->getOrderData()['channel_name'], $block->getOrderData()['channel_id']])?>
<?php endif; ?>
