<div if="isPaymentMethodsAvailable()"
     class="items payment-methods">
    <div repeat="foreach: paymentGroupsList, item: '$group'"
         class="payment-group">
        <div if="isPaymentMethodsAvailable()"
             translate="getGroupTitle($group)"
             class="step-title"
             data-role="title">
        </div>
        <div if="acomPaymentGroupsList"
             class="psg-tabs">
            <div repeat="foreach: acomPaymentGroupsList, item: '$acomGroup'"
                 class="psg-tab-item" data-bind="'css' : $acomGroup().class_icon, attr: {id: $acomGroup().class_icon}">
                <div class="title" data-bind="text: $t($acomGroup().title)"></div>
            </div>
        </div>

        <div if="acomPaymentGroupsList"
             class="psg-tab-contents">
            <div repeat="foreach: acomPaymentGroupsList, item: '$acomGroup'"
                 class="psg-tab-content-item" data-bind="'css' : $acomGroup().class_icon">
                <each args="data: getRegion($group().displayArea + $acomGroup().group_id), as: 'method'" render=""/>
            </div>
        </div>
    </div>
</div>
<div ifnot="isPaymentMethodsAvailable()"
     class="no-payments-block"
     translate="'No Payment Methods'">
</div>