
<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()" />
        <label data-bind="attr: {'for': getCode()}" class="label"><span data-bind="text: getTitle()"></span></label>
    </div>

    <div class="payment-method-content rk1">

        <div class="payment-instruction">
            <div data-bind="html: getPaymentInstruction()"></div>
        </div>
        
        <div id="isntallment" data-bind="if: issActiveInstallment">
            <form id="installment-form" action="" method="post">
                <div class="field">
                    <label for="customer_bank" class="label" id="customer-bank-label"><span>Please select bank for installment</span></label>
                    <select class="select" id="customer_bank" name="customer_bank" data-bind="event: {change : getTennorList}">
                        <option value="" selected="selected">-- Select Bank --</option>
                        <!-- ko foreach: getInstallmentBankList() -->
                        <option data-bind="value: $data, text: $data"></option>
                        <!--/ko-->
                    </select>
                </div>
                <div class="field" id="tennor">
                    <label for="tennor_list" class="label" id="tennor-list-label"><span>Please select tennor</span></label>
                </div>
            </form>
        </div>
        
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="checkout-agreements-block">
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="click: placeOrder, enable: (getCode() == isChecked())">
                    <span data-bind="text: 'Place Order & Pay'">Place Order & Pay</span>
                </button>
            </div>
        </div>
    </div>
</div>
