<?php 
	$_voucher = $block->getVoucher(); 
	$_order = $block->getOrder($_voucher->getOrderId());
	//$_method = $_order->getPayment()->getAdditionalInformation();
	$_paymentMethod = $_order->getPayment()->getMethodInstance()->getTitle();
	$_appointment = $block->getAppointment($_voucher->getAppointmentId());	
	$_warehouse = $block->getWarehouse($_appointment->getWarehouseId());
	$_item = $_order->getItemById($_voucher->getOrderItemId());	

	$product = $_item->getProduct();
	$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
	$imageHelper  = $objectManager->get('\Magento\Catalog\Helper\Image');
    $_helper = $objectManager->get('Magento\Catalog\Helper\Output');

	$image_url = $imageHelper->init($product, 'product_page_image_medium')->setImageFile($product->getFile())->resize('200', '200')->getUrl();
?>
<div class="block block-order-details-view">
	<div class="row">
		<div class="col-md-3">
            <span class="voucher-image-wrapper">
				<img src="<?php /* @escapeNotVerified */ echo $image_url; ?>"/>
         	</span>
		</div>
		<div class="col-md-9">
            <div class="product-appointment">
                <strong class="product name product-item-name">
                    <a class="product-item-link"
                       href="<?php /* @escapeNotVerified */ echo $product->getProductUrl() ?>">
                        <?php /* @escapeNotVerified */ echo $_helper->productAttribute($product, $product->getName(), 'name'); ?>
                    </a>
                </strong>
                <?php /* @escapeNotVerified */ echo $block->getProductPrice($product) ?>
                <br/>
            </div>
			<div class="box-voucher">
				<div class="row">
					<div class="col-md-6 voucher-info">
						<span class="label"><?php /* @escapeNotVerified */ echo __('Voucher Code') ?></span>
						<span class="voucher-code"><?php /* @escapeNotVerified */ echo $_voucher->getVoucherCode(); ?></span>
					</div>
					<div class="col-md-6 voucher-info">
                        <?php $voucherExpiredAt = strtotime($_voucher->getExpiredAt()); ?>
						<?php /* @escapeNotVerified */ echo __('<span class="label">Valid Until</span> %1', '<date>' . $block->formatDate(date('Y-m-d', $voucherExpiredAt), \IntlDateFormatter::LONG) . '</date>') ?>
					</div>
				</div>
			</div>
            <div class="row">
    			<div class="box-voucher-detail">
    				<div class="row">
                        <?php if($_appointment->getMechanicComeToHome()): ?>
                            <div class="col-md-12">
                                <span class="label-appointment"><?php echo __('Home Service') ?></span>
                            </div>
                        <?php endif; ?>
    					<div class="col-md-6 voucher-info">
    						<span class="label"><?php /* @escapeNotVerified */ echo __('Location') ?></span>
    						<?php /* @escapeNotVerified */ echo $_warehouse->getTitle(); ?>
    						<?php /* @escapeNotVerified */ echo $_warehouse->getAddress(); ?>
    						<?php /* @escapeNotVerified */ echo $_warehouse->getCity(); ?>
    					</div>
    					<div class="col-md-6 voucher-info">
    						<?php /* @escapeNotVerified */ echo __('<span class="label">Schedule</span> %1', '<date>Tanggal: ' . $block->formatDate($_appointment->getAppointmentDate(), \IntlDateFormatter::LONG) . '</date>') ?>
                            <br>
                            <date>
                                Waktu: <?php echo $block->getSlotHour($_warehouse->getWarehouseId(), $_appointment->getSlotName()) ?>
                            </date>
    					</div>
    				</div>
                </div>
			</div>
		</div>
	</div>
    <div class="block-title">
        <strong><?php /* @escapeNotVerified */ echo __('Order Information') ?></strong>
    </div>
    <div class="block-content">
    <?php if (!$_order->getIsVirtual()): ?>
        <div class="box box-order-shipping-address no-display">
            <strong class="box-title"><span><?php /* @escapeNotVerified */ echo __('Shipping Address') ?></span></strong>
            <div class="box-content">
                <address><?php /* @escapeNotVerified */ echo $block->getFormattedAddress($_order->getShippingAddress()); ?></address>
            </div>
        </div>

        <div class="box box-order-shipping-method">
            <strong class="box-title">
                <span><?php /* @escapeNotVerified */ echo __('Shipping Method') ?></span>
            </strong>
            <div class="box-content">
            <?php if ($_order->getShippingDescription()): ?>
                <?php echo $block->escapeHtml($_order->getShippingDescription()) ?>
            <?php else: ?>
                <?php /* @escapeNotVerified */ echo __('No shipping information available'); ?>
            <?php endif; ?>
            </div>
        </div>
    <?php endif; ?>

        <div class="box box-order-billing-address">
            <strong class="box-title">
                <span><?php /* @escapeNotVerified */ echo __('Address') ?></span>
            </strong>
            <div class="box-content">
                <address><?php 
                /* @escapeNotVerified */ echo $block->getFormattedAddress($_order->getBillingAddress()); ?></address>
            </div>
        </div>

        <div class="box box-order-billing-address no-display">
            <strong class="box-title">
                <span><?php /* @escapeNotVerified */ echo __('Billing Address') ?></span>
            </strong>
            <div class="box-content">
                <address><?php 
                /* @escapeNotVerified */ echo $block->getFormattedAddress($_order->getBillingAddress()); ?></address>
            </div>
        </div>
        <div class="box box-order-billing-method">
            <strong class="box-title">
                <span><?php /* @escapeNotVerified */ echo __('Payment Method') ?></span>
            </strong>
            <div class="box-content">
                <?php echo $_paymentMethod; ?>
            </div>
        </div>
    </div>
</div>
