<?php 
    $_vouchers = $block->getVouchers();
?>
<?php echo $block->getChildHtml('info');?>
<?php if ($_vouchers && count($_vouchers)): ?>    
    <div class="table-wrapper vouchers-history">
        <table class="data table table-voucher-items history" id="my-vouchers-table">
            <caption class="table-caption"><?php /* @escapeNotVerified */ echo __('Vouchers') ?></caption>
            <thead>
                <tr>
                    <th scope="col" class="col id"><?php /* @escapeNotVerified */ echo __('Order #') ?></th>
                    <th scope="col" class="col code"><?php /* @escapeNotVerified */ echo __('Voucher Code') ?></th>
                    <th scope="col" class="col status"><?php /* @escapeNotVerified */ echo __('Status') ?></th>
                    <th scope="col" class="col date"><?php /* @escapeNotVerified */ echo __('Created Date') ?></th>
                    <th scope="col" class="col date"><?php /* @escapeNotVerified */ echo __('Expired Date') ?></th>
                    <th scope="col" class="col actions">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($_vouchers as $_voucher): ?>
                    <?php 
                        $om = \Magento\Framework\App\ObjectManager::getInstance(); 
                        $order = $om->create('\Magento\Sales\Model\Order')->load($_voucher->getOrderId());
                    ?>
                    <tr>
                        <td data-th="<?php echo $block->escapeHtml(__('Order #')) ?>" class="col id"><?php /* @escapeNotVerified */ echo $order->getIncrementId() ?></td>
                        <td data-th="<?php echo $block->escapeHtml(__('Voucher Code')) ?>" class="col id"><?php /* @escapeNotVerified */ echo $_voucher->getVoucherCode() ?></td>
                        <td data-th="<?php echo $block->escapeHtml(__('Status')) ?>" class="col status"><?php /* @escapeNotVerified */ echo $_voucher->getStatus() ?></td>
                        <td data-th="<?php echo $block->escapeHtml(__('Created Date')) ?>" class="col date"><?php /* @escapeNotVerified */ echo $_voucher->getCreatedAt() ?></td>
                        <td data-th="<?php echo $block->escapeHtml(__('Expired Date')) ?>" class="col date"><?php /* @escapeNotVerified */ echo $_voucher->getExpiredAt() ?></td>
                        <td data-th="<?php echo $block->escapeHtml(__('Actions')) ?>" class="col actions">
                            <a href="<?php /* @escapeNotVerified */ echo $block->getViewUrl($_voucher) ?>" class="action view">
                                <span><?php /* @escapeNotVerified */ echo __('View Detail') ?></span>
                            </a>
                        </td>
                    </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
    </div>
<?php else: ?>
    <div class="message info empty"><span><?php /* @escapeNotVerified */ echo __('You have no vouchers yet.'); ?></span></div>
<?php endif ?>
