<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
/** @var $block \Magento\Framework\View\Element\Html\Links */
?>
<div class="wrp-menudashboard">
    <a class="menu menudashboard visible-xs">
        <span>Navigation</span>
    </a>
    <div class="block account-nav">
        <div class="title">
            <strong><?php /* @escapeNotVerified */ echo __('My Merchant'); ?></strong>
        </div>
        <div class="content">
            <nav class="account-nav">
                <ul class="nav items">
                    <?php echo $block->getChildHtml();?>
                </ul>
            </nav>
        </div>
    </div>
</div>
