<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Account\Dashboard\Info $block */
?>
<div class="block block-dashboard-info">
    <div class="welcome-user">
        Hello <?php echo $block->escapeHtml($block->getName()) ?> ! <br/>
        <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('welcomecustomer')->toHtml();?>
    </div>

    <?php echo $block->getChildHtml('order-history');?>

    <div class="block-content">
        <div class="block-title">
            <strong><?php /* @escapeNotVerified */ echo __('Account Information') ?></strong>
        </div>
        <div class="wrp-blockborder">
            <div class="box box-information">
                <strong class="box-title">
                    <span><?php /* @escapeNotVerified */ echo __('Contact Information') ?></span>
                    <a class="action edit" href="<?php /* @escapeNotVerified */ echo $block->getUrl('customer/account/edit') ?>"></a> 
                </strong>
                <div class="box-content">
                    <p>
                        <?php echo $block->escapeHtml($block->getName()) ?><br>
                        <?php echo $block->escapeHtml($block->getCustomer()->getEmail()) ?><br>
                    </p>
                </div>
            </div>
            <?php if ($block->isNewsletterEnabled()): ?>
                <div class="box box-newsletter">
                    <strong class="box-title">
                        <span><?php /* @escapeNotVerified */ echo __('Newsletters') ?></span>
                        <a class="action edit" href="<?php /* @escapeNotVerified */ echo $block->getUrl('newsletter/manage') ?>"></a>
                    </strong>
                    <div class="box-content">
                        <p>
                            <?php if ($block->getIsSubscribed()): ?>
                                <?php /* @escapeNotVerified */ echo __('You subscribe to "General Subscription".') ?>
                            <?php else: ?>
                                <?php /* @escapeNotVerified */ echo __('You don\'t subscribe to our newsletter.') ?>
                            <?php endif; ?>
                        </p>
                        <?php /* Extensions placeholder */ ?>
                        <?php echo $block->getChildHtml('customer.account.dashboard.info.extra')?>
                    </div>
                </div>
            <?php endif; ?>
        </div>
    </div>
</div>
