<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('contact-us')->toHtml();?>
<form class="form contact"
      action="<?php /* @escapeNotVerified */ echo $block->getFormAction(); ?>"
      id="contact-form"
      method="post"
      data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>"
      data-mage-init='{"validation":{}}'>
        <fieldset class="fieldset">
            <!-- <div class="page-title-wrapper">
                <h1 class="page-title"><span class="base" data-ui-id="page-title-wrapper"><?php /* @escapeNotVerified */ //echo __('DROP US A MESSAGE') ?></span>    </h1>
            </div>    --> 

            <div class="row">
                <div class="row field-row">
                    <div class="col-md-6">
                        <div class="field name required input-field">
                            <label class="label" for="name"><span><?php /* @escapeNotVerified */ echo __('Nama') ?><span class="required-mark">*</span></span></span></label>
                            <div class="control">
                                <input name="name" id="name" title="<?php /* @escapeNotVerified */ echo __('Nama') ?>" value="<?php echo $block->escapeHtml($this->helper('Magento\Contact\Helper\Data')->getPostValue('name') ?: $this->helper('Magento\Contact\Helper\Data')->getUserName()) ?>" class="input-text" type="text" data-validate="{required:true}"/>
                            </div>
                        </div>                
                    </div>
                    <div class="col-md-6">
                        <div class="field email required input-field">
                            <label class="label" for="email"><span><?php /* @escapeNotVerified */ echo __('Email') ?><span class="required-mark">*</span></span></label>
                            <div class="control">
                                <input name="email" id="email" title="<?php /* @escapeNotVerified */ echo __('Email') ?>" value="<?php echo $block->escapeHtml($this->helper('Magento\Contact\Helper\Data')->getPostValue('email') ?: $this->helper('Magento\Contact\Helper\Data')->getUserEmail()) ?>" class="input-text" type="email" data-validate="{required:true, 'validate-email':true}"/>
                            </div>
                        </div>            
                    </div>
                </div>
                
                <div class="row field-row">
                    <div class="col-md-6">
                        <div class="field telephone required input-field">
                            <label class="label" for="email">
                            <span> <?php /* @escapeNotVerified */ echo __('No Handphone') ?></span>
                            <span class="required-mark">*</span>
                            </label>
                            <div class="control">
                                <input name="telephone" id="telephone" title="<?php /* @escapeNotVerified */ echo __('Phone Number') ?>" value="<?php echo $block->escapeHtml($this->helper('Magento\Contact\Helper\Data')->getPostValue('telephone')) ?>" class="input-text" type="text" data-validate="{required:true, 'validate-phone':true}"/>
                            </div>
                        </div>           
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="field comment required input-field">
                        <label class="label" for="comment"><span><?php /* @escapeNotVerified */ echo __('Komentar') ?></span>
                        <span class="required-mark">*</span>
                        </label>
                        <div class="control">
                            <textarea name="comment" id="comment" title="<?php /* @escapeNotVerified */ echo __('Komentar') ?>" class="input-text" cols="5" rows="3" data-validate="{required:true}"><?php echo $block->escapeHtml($this->helper('Magento\Contact\Helper\Data')->getPostValue('comment')) ?></textarea>
                        </div>
                    </div>
                    <?php echo $block->getChildHtml('form.additional.info'); ?>
                </div>

            </div>
        </fieldset>
        <div class="actions-toolbar">
            <div class="required-msg">
                <span>*Harus diisi</span>
            </div>
            <div class="primary">
                <input type="hidden" name="hideit" id="hideit" value="" />
                <button type="submit" title="<?php /* @escapeNotVerified */ echo __('KIRIM') ?>" class="action submit primary">
                    <span><?php /* @escapeNotVerified */ echo __('KIRIM') ?></span>
                </button>
            </div>
        </div>
</form>
