<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>

<script type="text/javascript">
	var products = [];
</script>

<?php
/**
 * Shopping cart template
 *
 * @var $block \Magento\Checkout\Block\Cart
 */

if ($block->getItemsCount()) {
    echo $block->getChildHtml('with-items');
} else {
    echo $block->getChildHtml('no-items');
}

?>

<script type="text/javascript">
	var removeClick = function(e, key){
		dataLayer.push({
			'event':'removeFromCart',
			'ecommerce': {
				'currencyCode':'IDR',
				'remove': {
					'products': [ products[key] ]
				}
			}
		});
	}
</script>
