/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
@font-face {
    font-family: 'Rubik';
    src: url('../fonts/rubik-regular-webfont.woff2') format('woff2'), 
       url('../fonts/rubik-regular-webfont.woff') format('woff'),
    font-weight: 400;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/rubik-bold-webfont.woff2') format('woff2'), 
       url('../fonts/rubik-bold-webfont.woff') format('woff'),
    font-weight: 700;
}

body { 
	background: #ed1c24; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #ed1c24 0%, #ed1c24 35%, #930b11 100%); 
	background: -webkit-radial-gradient(center, ellipse cover, #ed1c24 0%,#ed1c24 35%,#930b11 100%); 
	background: radial-gradient(ellipse at center, #ed1c24 0%,#ed1c24 35%,#930b11 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed1c24', endColorstr='#930b11',GradientType=1 );
	font: 12px Rubik, sans-serif; 
	text-align: center; 
	padding: 100px 0;
	display: block;
	color: #333; 
	margin: 0;
}

h1 { 
	font-size: 18px; 
	font-weight: 700;
}

article { 
	display: block; 
	text-align: left; 
	width: 650px; 
	margin: 0 auto; 
}

a { 
	color: #dc8100; 
	text-decoration: none; 
}

a:hover { 
	color: #333; 
	text-decoration: 
	none; 
}

img {
	max-width: 220px;
}

.down-wrapper {
    display: table;
    margin: 0 auto;
    animation: glowing 5000ms infinite;
    padding: 90px 40px 60px;
    border-radius: 100%;
    background: #fff;
    max-width: 240px;
    height: 140px;
}

@keyframes glowing {
	0% { box-shadow: 0 0 -20px #930b11; }
	40% { box-shadow: 0 0 30px #930b11; }
	60% { box-shadow: 0 0 30px #930b11; }
	100% { box-shadow: 0 0 -2px #930b11; }
}
