<!--@subject Astra Otodrive New Order  @-->
<!--@vars {
"var this.getUrl($store, 'admin')":"Warehouse Account URL",
"var customer.email":"Customer Email",
"var customer.name":"Customer Name"
} @-->

{{template config_path="design/email/header_template"}} <!-- pathe of template header-->

<table class="top-section">
    <tr>
        <td class="column-left">
            <h2>{{trans 'TERIMA KASIH'}}</h2>
        </td>
        <td class="column-right">
            <h2>{{trans 'Ada Pertanyaan?'}}</h2>
        </td>
    </tr>
    <tr>
        <td class="column-left">
          <p>{{trans "Telah berbelaja di %store_name." store_name=$store.getFrontendName()}} {{trans "Pesanan sudah berhasil dilakukan."}} {{trans" Berikut ini adalah kode voucher anda :"}}</p>
        </td>
        <td class="column-right">
            <span>{{trans 'Email : <a href="mailto:%store_email">%store_email</a>' store_email=$store_email |raw}}</span><br/>
            <!-- <span>{{trans 'Telepon : <a href="tel:%store_phone">%store_phone</a>' store_phone=$store_phone |raw}}</span> -->
        </td>
    </tr>
</table>

<table class="detail-order-table">
    <tr class="email-summary">
        <td>
            <h1>{{trans 'Your Order <span class="no-link">#%increment_id</span>' increment_id=$increment_id |raw}}</h1>
            <p>{{trans 'Placed on <span class="no-link">%created_at</span>' created_at=$created_at |raw}}</p>
        </td>
    </tr>

    <tr class="email-information">
        <td>
            <table class="order-details">
                <tr>
                    <td class="service-details">
                        <h3>{{trans "Nama Servis"}}</h3>
                        <p>{{var service_name|raw}}</p>
                    </td>
                </tr>
                <tr>
                    <td class="address-details">
                        <!-- <h3>{{trans "Kode Voucher"}}</h3>
                        <p><strong>{{var voucher_code|raw}}</strong></p>
                        <p><strong>{{trans 'Valid sampai'}}: {{var expired_at|raw}}</strong></p> -->
                        <h3>{{trans "Informasi Customer"}}</h3>
                        <p><strong>{{var customer_name|raw}}</strong></p>
                        <p>
                            {{var customer_address|raw}}<br />
                            {{var customer_city|raw}}, {{var customer_state|raw}}<br />
                            {{var customer_zip|raw}}<br />
                            {{var customer_phone|raw}}
                        </p>
                        {{if warehouse_id}}
                            <br />
                            <h3>{{trans "Voucher Detail"}}</h3>
                            <p><strong>{{var warehouse_name|raw}}</strong></p>
                            <p>
                                {{var warehouse_address|raw}}<br />
                                {{var warehouse_city|raw}}, {{var warehouse_state|raw}}<br />
                                {{var warehouse_zip|raw}}<br />
                                {{var warehouse_phone|raw}}
                            </p>
                            <br />
                            <h3>{{trans 'Appointment Detail'}}</h3>
                            <p>
                                {{trans 'Tanggal'}}: {{var appointment_date|raw}}<br />
                                {{trans 'Waktu'}}: {{var appointment_time_from|raw}} - {{var appointment_time_to|raw}}
                            </p>
                        {{else}}
                            <p>{{trans 'Untuk info lengkap, silakan hubungi layanan pelanggan kami di: <a href="mailto:%store_email">%store_email</a>' store_email=$store_email |raw}}}</p>
                        {{/if}}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}} <!--footer of template-->
