#block-rewards-form{
    .title{
        border-top: 0;

        &:after{
            top: 5px;
        }
    }
}

#reward-points-form{
    label{
        font-weight: normal;
    }

    .button{
        background: #000000;
        height: 32px;
        border-radius: 4px;
        border: 0;
        color: #fff;
    }

    .buttons-container{
        display: flex;

        .button{
            padding: 0;
            width: 50%;

            &:first-child{
                margin-right: 10px;
            }
        }
    }


    .checkbox-group{
        .checkbox{
            display: inline-block;
        }
    }
}