<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
?>
<div id="checkout" data-bind="scope:'checkout'" class="checkout-container">
    <div id="checkout-loader" data-role="checkout-loader" class="loading-mask" data-mage-init='{"checkoutLoader": {}}'>
        <div class="loader">
            <img src="<?php /* @escapeNotVerified */ echo $block->getViewFileUrl('images/loader-1.gif'); ?>"
                 alt="<?php /* @escapeNotVerified */ echo __('Loading...'); ?>"
                 style="position: absolute;">
        </div>
    </div>
    <!-- ko template: getTemplate() --><!-- /ko -->
    <script type="text/x-magento-init">
        {
            "#checkout": {
                "Magento_Ui/js/core/app": <?php /* @escapeNotVerified */ echo $block->getJsLayout();?>
            }
        }
    </script>
    <script>
        window.checkoutConfig = <?php /* @escapeNotVerified */ echo \Zend_Json::encode($block->getCheckoutConfig()); ?>;
        // Create aliases for customer.js model from customer module
        window.isCustomerLoggedIn = window.checkoutConfig.isCustomerLoggedIn;
        window.customerData = window.checkoutConfig.customerData;
    </script>
    <script>
        require([
            'mage/url',
            'Magento_Ui/js/block-loader'
        ], function(url, blockLoader) {
            blockLoader("<?php /* @escapeNotVerified */ echo $block->getViewFileUrl('images/loader-1.gif'); ?>");
            return url.setBaseUrl('<?php /* @escapeNotVerified */ echo $block->getBaseUrl();?>');
        })
    </script>
</div>

<?php

    $_objectManager = \Magento\Framework\App\ObjectManager::getInstance(); // Instance of Object Manager
    $_checkoutConfig = $block->getCheckoutConfig();
    $_quoteItems = $_checkoutConfig['quoteItemData'];
    $_productIds = [];
    $_products = [];
    $_categoryName = [];
    $_itemQty = [];

    foreach ($_quoteItems as $_quoteItem) {
        $_productIds[] = $_quoteItem['product']['entity_id'];
        $_itemQty[$_quoteItem['product']['entity_id']] = $_quoteItem['qty'];
    }

    foreach ($_productIds as $_productId) {
        $_products[] = $_objectManager->create('Magento\Catalog\Model\Product')->load( $_productId );
    }

    foreach($_products as $_product) {
        // var_dump( $_product->getData() ); exit();
        $_categoryIds = $_product->getCategoryIds();
        $_catName = [];
        foreach ($_categoryIds as $_categoryId) {
            $_catName[] = $_objectManager->create('Magento\Catalog\Model\Category')->load( $_categoryId )->getName();
        }
        $_categoryName[$_product->getId()] = implode( '/', $_catName );
    }

?>

<script type="text/javascript">
    var products = [];
    
    require(['jquery'], function($){

        <?php foreach($_products as $_product): ?>
            products.push({
                'name':'<?php echo $block->escapeHtml( $_product->getName() ) ?>',
                'id':'<?php echo $block->escapeHtml( $_product->getSku() ) ?>',
                <?php if($_product->getTypeId() == "simple"): ?>
                    <?php if($_product->getSpecialPrice()): ?>
                        'price':<?php echo $_product->getSpecialPrice() * 1; ?>,
                    <?php else:?>
                        'price':<?php echo $_product->getPrice() * 1; ?>,
                    <?php endif; ?>
                <?php elseif($_product->getTypeId() == "configurable"):?>
                    <?php 
                        $_children = $_product->getTypeInstance()->getUsedProducts($_product);
                        foreach ($_children as $child){
                            $tempCount = array($child->getPrice());
                        }
                    ?>
                    'price':<?php echo end($tempCount) * 1; ?>,
                <?php endif; ?>
                'brand':'<?php echo $block->escapeHtml( $_product->getAttributeText('brand') ) ?>',
                'category':'<?php echo $block->escapeHtml( $_categoryName[$_product->getId()] ) ?>',
                'variant':'',
                'quantity': <?php echo $_itemQty[$_product->getId()] * 1 ?>,
            })
        <?php endforeach; ?>

        dataLayer.push({
            'event':'checkout1',
            'ecommerce': {
                'currencyCode':'IDR',
                'checkout': {
                    'actionField': {'step':1},
                    'products': products
                }
            }
        });

        dataLayerStep2 = {
            'event':'checkout2',
            'ecommerce': {
                'currencyCode':'IDR',
                'checkout': {
                    'actionField': {'step':2, 'option': $('.shipping-options input[type="radio"]:checked').val() },
                    'products': products
                }
            }
        }

        $('body').on('click', '.shipping-options', function(){
            dataLayerStep2.ecommerce.checkout.actionField.option = $(this).find('input[type="radio"]').val();
        });

        $('body').on('click','#shipping-method-buttons-container button.button', function(){
            dataLayerStep2.ecommerce.checkout.actionField.option = $('.shipping-options input[type="radio"]:checked').val();
            dataLayer.push( dataLayerStep2 );
        });

        dataLayerStep3 = {
            'event':'checkout3',
            'ecommerce': {
                'currencyCode':'IDR',
                'checkout': {
                    'actionField': {'step':3, 'option': $('input[type="radio"][name="payment[method]"]:checked').val() },
                    'products': products
                }
            }
        }

        $('body').on('click', '.payment-method-title', function(){
            dataLayerStep3.ecommerce.checkout.actionField.option = $('input[type="radio"][name="payment[method]"]:checked').val();
        });

        $('body').on('click','.payment-methods button[type="submit"]', function(){
            dataLayer.push( dataLayerStep3 );
        });

    });

</script>
