<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>

<?php
$_product = $block->getProduct();
/*
$help = $this->helper('Acommerce\AppointmentFrontend\Helper\Data');
$productServices = $help->getProductAppointment($_product->getId());

$om = \Magento\Framework\App\ObjectManager::getInstance();
$regionsOption = '';
$cityOption = '';
$addressOption = '';
$regionNames = [];
$hoursOption = '';
$count = $productServices->count();
$qty = (int)$productServices->getFirstItem()->getAvailableQty();// total qty per-warehouse
foreach ($productServices as $val) {
    $regionNames[] = $om->create('Magento\Directory\Model\Region')->loadByName($val->getState(), $val->getCountry())->getDefaultName();
}
$regionNames = array_unique($regionNames);

foreach ($regionNames as $regionName) {
    if (empty($regionName)) continue;

    $regionsOption .= sprintf('<option value="%s">%s</option>', $regionName, $regionName);
}

foreach ($productServices as $productService) {
    if (empty($productService->getCity())) continue;
    if (empty($productService->getAddress())) continue;

    $cityOption .= sprintf('<option value="%s">%s</option>', $productService->getCity(), $productService->getCity());
    $addressOption .= sprintf('<option value="%s">%s</option>', $productService->getAddress(), $productService->getAddress());

    if (!empty($productService->getFromHour()) || empty(!$productService->getToHour())) {
        $hours = $productService->getFromHour().' - '.$productService->getToHour();
        $hoursOption .= sprintf('<option value="%s">%s</option>', $hours, $hours);
    }
}
*/
?>

<?php
/*
<div id="appointment-book" style="margin-bottom:30px;">
    <div class="appointment-book-qty" id="appointment-book-qty">
        <select name="region" class="ap-region" id="ap-region">
            <?php echo $regionsOption;?>
        </select>

        <select name="city" class="ap-city" id="ap-city">
            <?php //echo $cityOption;?>
            <option value="">---</option>
        </select>

        <select name="address" class="ap-address" id="ap-address">
            <option value="">---</option>
            <?php //echo $addressOption;?>
        </select>

        <input type="date" name="ap-date" class="ap-date" id="ap-date" value="">

        <select name="ap-hours" class="ap-hours" style="width:300px;">
            <?php //echo $hoursOption; ?>
        </select>
    </div>
</div>
*/
?>

<?php if ($_product->isSaleable() && $block->hasOptions()): ?>
<div id="bundleSummary"
     class="block-bundle-summary"
     data-mage-init='{"sticky":{"container": ".product-add-form"}}'>
    <div class="content">
        <div class="bundle-info">
            <div class="product-details">
                <?php echo $block->getChildHtml('', true);?>
            </div>
        </div>
    </div>
</div>
<script type="text/x-magento-init">
    {
        ".product-add-form": {
            "slide": {
                "slideSpeed": 1500,
                "slideSelector": "#bundle-slide",
                "slideBackSelector": ".action.customization.back",
                "bundleProductSelector": "#bundleProduct",
                "bundleOptionsContainer": ".product-add-form"
                <?php if ($block->isStartCustomization()): ?>
                ,"autostart": true
                <?php endif;?>
            }
        }
    }
</script>
<?php endif; ?>
