<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Footer"}} @-->
<!--@vars {
"var store.getFrontendName()":"Store Name"
} @-->

                    <!-- End Content -->
                    </td>
                </tr>
                <tr>
                    <td class="footer">  
                        <table class="footer-message">
                            <tr>
                                <td class="footer-left"><p class="closing">{{trans "Ini adalah email otomatis, Anda tidak perlu membalas email ini."}}</p></td>
                                <td class="footer-right"><p class="sm-follow" >{{trans "Ikuti kami"}} </p>
                                    <a class="sm-logo" href="https://www.facebook.com/PT-Astra-Otoparts-Tbk-142273909165498/"><img src="{{view url='img/facebook-logo.png'}}" width="18" height="18"></a>
                                    <!--<a class="sm-logo" href="#"><img src="{{view url='img/instagram-logo.png'}}" width="18" height="18"></a>
                                    <a class="sm-logo" href="#"><img src="{{view url='img/twitter-logo-button.png'}}" width="18" height="18"></a>-->
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!-- End wrapper table -->
</body>