<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
// @codingStandardsIgnoreFile
/**
 * @var \Magento\Theme\Block\Html\Header\Logo $block
 */
?>
<?php $storeName = $block->getThemeName() ? $block->getThemeName() : $block->getLogoAlt();?>
<span id="open-bar" data-action="toggle-navs" class="action nav-toggle"><span><?php /* @escapeNotVerified */ echo __('Menu') ?></span></span>
<?php if ($block->isHomePage()):?>
    <strong class="logo">
<?php else: ?>
    <a class="logo" href="<?php echo $block->getUrl(''); ?>" title="<?php /* @escapeNotVerified */ echo $storeName ?>">
<?php endif ?>
        <img src="<?php /* @escapeNotVerified */ echo $block->getLogoSrc() ?>"
             alt="<?php /* @escapeNotVerified */ echo $block->getLogoAlt() ?>"
             <?php echo $block->getLogoWidth() ? 'width="' . $block->getLogoWidth() . '"' : '' ?>
             <?php echo $block->getLogoHeight() ? 'height="' . $block->getLogoHeight() . '"' : '' ?>
        />
<?php if ($block->isHomePage()):?>
    </strong>
<?php else:?>
    </a>
<?php endif;?>
<?php 
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $customerSession = $objectManager->get('Magento\Customer\Model\Session');
    $storeManager = $objectManager->get('Magento\Store\Model\StoreManagerInterface'); 
    $currentStore = $storeManager->getStore();
    $baseUrl = $currentStore->getBaseUrl();
    $cart = $this->helper('\Magento\Checkout\Helper\Cart');
?>
<div class="hidden-lg hidden-md header-user">
    <div class="main-header-user user">
        <div class="user-wrapper">
            <?php if($customerSession->isLoggedIn()):?>
            <a href="<?php echo $baseUrl.'customer/account';?>" class="action showUserLink">
                <i class="fa fa-user-circle-o" aria-hidden="true">
                    <span class="mobile-user-online"></span>
                </i>
            </a>
            <?php else: ?>
                <a href="<?php echo $baseUrl.'customer/account/login';?>" class="actions">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </a>
            <?php endif; ?>
        </div>
    </div>
    <div class="main-header-user minicart">
        <div class="minicart-wrapper">
            <a class="action showcartitems mobile" href="<?php /* @escapeNotVerified */ echo $baseUrl.'checkout/cart/'; ?>">
               <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <?php if ($cart->getItemsCount()): ?>
                <span class="counter qty">
                    <span class="counter-number">
                        <?php echo $cart->getSummaryCount();?>
                    </span>
                </span>
                <?php endif; ?>
            </a>
        </div>
    </div>
</div>
