<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/* @var $block \Magento\Wishlist\Block\Customer\Wishlist\Item\Column\Cart */
/* @var \Magento\Wishlist\Model\Item $item */
$item = $block->getItem();
$product = $item->getProduct();
?>
<?php foreach ($block->getChildNames() as $childName): ?>
    <?php /* @escapeNotVerified */ echo $block->getLayout()->renderElement($childName, false); ?>
<?php endforeach;?>
<div class="box-tocart">
    <fieldset class="fieldset">
        <div class="product-item-actions">
            <div class="actions-primary text-center btn-wishlist">
                <a href="<?php /* @escapeNotVerified */ echo $block->getProductUrl($item) ?>" title="<?php /* @escapeNotVerified */ echo __('View Details') ?>" data-item-id="<?php /* @escapeNotVerified */ echo $item->getId()?>" class="action primary btn-main">
                    <span><?php /* @escapeNotVerified */ echo __('View Details') ?></span>
                </a>
            </div>
        </div>
    </fieldset>
</div>
